[Animation]
AnimEventVersion = 2

[AnimationMap]
Meshes/Hands/weapon-fists.cms		= "Fists"
Meshes/Hands/weapon-dagger.cms		= "Dagger"
Meshes/Hands/weapon-hatchet.cms		= "Hatchet"
Meshes/Hands/weapon-pickaxe.cms		= "Pickaxe"
Meshes/Hands/weapon-rock.cms		= "Rock"
Meshes/Hands/weapon-bottle.cms		= "Bottle"
Meshes/Hands/weapon-dynamite.cms	= "Dynamite"
Meshes/Hands/power-flare.cms		= "Flare"		# Deprecated
Meshes/Hands/power-generic.cms		= "Power"
Meshes/frogman.cms				= "Frogman"
Meshes/cultist.cms				= "Cultist"
Meshes/shoggoth.cms				= "Shoggoth"
Meshes/eye.cms					= "Eye"
Meshes/lizardman.cms			= "Lizardman"
Meshes/lizardman-shopkeeper.cms	= "Lizardman"
Meshes/mummy.cms				= "Mummy"
Meshes/squidman.cms				= "Squidman"
Meshes/squidman-shopkeeper.cms	= "Squidman"
Meshes/polyp.cms				= "Polyp"
Meshes/bug.cms					= "Bug"
Meshes/elder-thing.cms			= "ElderThing"
Meshes/mi-go.cms				= "Migo"
Meshes/penguin.cms				= "Penguin"

[Fists:Fire]
NumAnimEvents = &
@ AnimEvent
@@&Def		= "FistsFire"
@@^Frame	= 1
@@&Def		= "AllowRefire"
@@^Frame	= -2

	[FistsFire]
	Type = "EldExecuteAction"
	NumActions = &
	@ Action
	@@& = "FistsFireAction"

		# NOTE: Putting weapon extents in an animation config file is a bit messy!
		[FistsFireAction]
		ActionType	= "EldCheckCone"
		ConeAngle	= 90.0	# Just hit anything in front of us!
		ConeLength	= 1.5
		CheckTag	= "Melee"

	[AllowRefire]
	Type		= "EldSendEvent"
	EventName	= "ResetRefireTime"

[Dagger:Fire]
NumAnimEvents	= &
@ AnimEvent
@@&Def			= "DaggerFire"
@@^Frame		= 1
@@&Def			= "AllowRefire"
@@^Frame		= -2

	[DaggerFire]
	Type		= "EldExecuteAction"
	NumActions	= &
	@ Action
	@@&			= "DaggerFireAction"
	@@&			= "PlayDaggerWhiffSound"

		# NOTE: Putting weapon extents in an animation config file is a bit messy!
		[DaggerFireAction]
		ActionType	= "EldCheckCone"
		ConeAngle	= 90.0	# Just hit anything in front of us!
		ConeLength	= 1.75
		CheckTag	= "Dagger"

		[PlayDaggerWhiffSound]
		ActionType		= "SendEvent"
		EventName		= "PlaySound"
		Recipient		= "SelfPE"	# Player is self here; same reason player gets cone check callback
		NumParameters	= &
		@ Parameter
		@@&Name			= "Sound"
		@@^Value		= "PlayerDaggerWhiffSoundPE"

			[PlayerDaggerWhiffSoundPE]
			PEType		= "ConstantString"
			Value		= "PlayerDaggerWhiffSound"

[Hatchet:Fire]
NumAnimEvents	= &
@ AnimEvent
@@&Def			= "HatchetFire"
@@^Frame		= 21
@@&Def			= "AllowRefire"
@@^Frame		= -5

	[HatchetFire]
	Type		= "EldExecuteAction"
	NumActions	= &
	@ Action
	@@&			= "HatchetFireAction"
	@@&			= "PlayHatchetWhiffSound"

		# NOTE: Putting weapon extents in an animation config file is a bit messy!
		[HatchetFireAction]
		ActionType	= "EldCheckCone"
		ConeAngle	= 90.0	# Just hit anything in front of us!
		ConeLength	= 1.75
		CheckTag	= "Hatchet"

		[PlayHatchetWhiffSound]
		ActionType		= "SendEvent"
		EventName		= "PlaySound"
		Recipient		= "SelfPE"	# Player is self here; same reason player gets cone check callback
		NumParameters	= &
		@ Parameter
		@@&Name			= "Sound"
		@@^Value		= "PlayerHatchetWhiffSoundPE"

			[PlayerHatchetWhiffSoundPE]
			PEType		= "ConstantString"
			Value		= "PlayerHatchetWhiffSound"

[Pickaxe:Fire]
NumAnimEvents	= &
@ AnimEvent
@@&Def			= "PickaxeFire"
@@^Frame		= 13
@@&Def			= "AllowRefire"
@@^Frame		= -5

	[PickaxeFire]
	Type		= "EldExecuteAction"
	NumActions	= &
	@ Action
	@@&			= "PickaxeFireAction"
	@@&			= "PlayPickaxeWhiffSound"

		# NOTE: Putting weapon extents in an animation config file is a bit messy!
		[PickaxeFireAction]
		ActionType	= "EldCheckLine"
		LineLength	= 1.75
		CheckTag	= "Pickaxe"

		[PlayPickaxeWhiffSound]
		ActionType		= "SendEvent"
		EventName		= "PlaySound"
		Recipient		= "SelfPE"	# Player is self here; same reason player gets cone check callback
		NumParameters	= &
		@ Parameter
		@@&Name			= "Sound"
		@@^Value		= "PlayerPickaxeWhiffSoundPE"

			[PlayerPickaxeWhiffSoundPE]
			PEType		= "ConstantString"
			Value		= "PlayerPickaxeWhiffSound"

[Rock:Fire]
NumAnimEvents = &
@ AnimEvent
@@&Def		= "SendThrownEvent"
@@^Frame	= 1
@@&Def		= "ThrowAnimFinished"
@@^Frame	= -1

	[SendThrownEvent]
	Type		= "EldSendEvent"
	EventName	= "OnThrown"
	QueueEvent	= false

	[ThrowAnimFinished]
	Type		= "EldSendEvent"
	EventName	= "OnThrowAnimFinished"

[Bottle:Fire]
NumAnimEvents = &
@ AnimEvent
@@&Def		= "SendThrownEvent"
@@^Frame	= 1
@@&Def		= "ThrowAnimFinished"
@@^Frame	= -1

[Dynamite:Fire]
NumAnimEvents = &
@ AnimEvent
@@&Def		= "SendThrownEvent"
@@^Frame	= 1
@@&Def		= "ThrowAnimFinished"
@@^Frame	= -1

# Deprecated
[Flare:Fire]
NumAnimEvents = &
@ AnimEvent
@@&Def		= "FlareFiredEvent"
@@^Frame	= 6
@@&Def		= "AllowRefire"
@@^Frame	= -1

	# Deprecated
	[FlareFiredEvent]
	Type		= "EldSendEvent"
	EventName	= "OnFlareFired"
	QueueEvent	= false

[Power:Fire]
NumAnimEvents	= &
@ AnimEvent
@@&Def			= "AllowRefire"
@@^Frame		= -1

[Frogman:RangedAttack]
NumAnimEvents = &
@ AnimEvent
@@&Def		= "EnemyProjectileFireEvent"
@@^Frame	= 5

	[EnemyProjectileFireEvent]
	Type		= "EldSendEvent"
	EventName	= "OnProjectileFired"
	QueueEvent	= false

[Frogman:MeleeAttack]
NumAnimEvents = &
@ AnimEvent
@@&Def		= "EnemyMeleeFireEvent"
@@^Frame	= 5

	[EnemyMeleeFireEvent]
	Type		= "EldExecuteAction"
	NumActions	= &
	@ Action
	@@& = "EnemyMeleeFireAction"

		# NOTE: Putting weapon extents in an animation config file is a bit messy!
		[EnemyMeleeFireAction]
		ActionType	= "EldCheckCone"
		ConeAngle	= 45.0
		ConeLength	= 1.5
		CheckTag	= "Melee"

[Frogman:Walk]
NumAnimEvents = &
@ AnimEvent
@@&Def		= "FrogmanFootstepEvent"
@@^Frame	= 6

	[FrogmanFootstepEvent]
	Type			= "EldSendEvent"
	EventName		= "PlaySound"
	NumParameters	= &
	@ Parameter
	@@&Name			= "Sound"
	@@^Value		= "FrogFootstepSoundPE"

		[FrogFootstepSoundPE]
		PEType		= "ConstantString"
		Value		= "FrogFootstepSound"

[Frogman:Insane]
NumAnimEvents = &
@ AnimEvent
@@&Def		= "FrogmanHeadSlamEvent"
@@^Frame	= -3

	[FrogmanHeadSlamEvent]
	Type			= "EldSendEvent"
	EventName		= "PlaySound"
	NumParameters	= &
	@ Parameter
	@@&Name			= "Sound"
	@@^Value		= "FrogmanHeadSlamSoundPE"

		[FrogmanHeadSlamSoundPE]
		PEType		= "ConstantString"
		Value		= "FrogmanHeadSlamSound"

[Cultist:RangedAttack]
NumAnimEvents = &
@ AnimEvent
@@&Def		= "EnemyProjectileFireEvent"
@@^Frame	= 4

[Cultist:MeleeAttack]
NumAnimEvents = &
@ AnimEvent
@@&Def		= "EnemyMeleeFireEvent"
@@^Frame	= 4

[Cultist:Walk]
NumAnimEvents = &
@ AnimEvent
@@&Def		= "CultistFootstepEvent"
@@^Frame	= 3
@@&Def		= "CultistFootstepEvent"
@@^Frame	= 13

	[CultistFootstepEvent]
	Type			= "EldSendEvent"
	EventName		= "PlaySound"
	NumParameters	= &
	@ Parameter
	@@&Name			= "Sound"
	@@^Value		= "CultistFootstepSoundPE"

		[CultistFootstepSoundPE]
		PEType		= "ConstantString"
		Value		= "CultistFootstepSound"

[Lizardman:DodgeLeft]
VelocityX	= -3.0
VelocityY	= -2.0	# HACK: Move backward to counter walking motion
VelocityYaw	= -10.0

[Lizardman:DodgeRight]
VelocityX	= 3.0
VelocityY	= -2.0	# HACK: Move backward to counter walking motion
VelocityYaw	= 10.0

[Lizardman:RangedAttack]
NumAnimEvents = &
@ AnimEvent
@@&Def		= "EnemyProjectileFireEvent"
@@^Frame	= 5

[Lizardman:MeleeAttack]
NumAnimEvents = &
@ AnimEvent
@@&Def		= "EnemyBigMeleeFireEvent"
@@^Frame	= 5

	[EnemyBigMeleeFireEvent]
	Type		= "EldExecuteAction"
	NumActions	= &
	@ Action
	@@&			= "EnemyBigMeleeFireAction"

		# NOTE: Putting weapon extents in an animation config file is a bit messy!
		[EnemyBigMeleeFireAction]
		ActionType	= "EldCheckCone"
		ConeAngle	= 60.0
		ConeLength	= 2.0
		CheckTag	= "Melee"

[Lizardman:Walk]
NumAnimEvents = &
@ AnimEvent
@@&Def		= "LizardmanFootstepEvent"
@@^Frame	= 15
@@&Def		= "LizardmanFootstepEvent"
@@^Frame	= 31

	[LizardmanFootstepEvent]
	Type			= "EldSendEvent"
	EventName		= "PlaySound"
	NumParameters	= &
	@ Parameter
	@@&Name			= "Sound"
	@@^Value		= "LizardmanFootstepSoundPE"

		[LizardmanFootstepSoundPE]
		PEType		= "ConstantString"
		Value		= "CultistFootstepSound"	# TODO: Lizardman footfalls

[Squidman:RangedAttack]
NumAnimEvents = &
@ AnimEvent
@@&Def		= "EnemyProjectileFireEvent"
@@^Frame	= 2

[Squidman:MeleeAttack]
NumAnimEvents = &
@ AnimEvent
@@&Def		= "EnemyBigMeleeFireEvent"
@@^Frame	= 3

[Squidman:Walk]
NumAnimEvents = &
@ AnimEvent
@@&Def		= "SquidmanFootstepEvent"
@@^Frame	= 13
@@&Def		= "SquidmanFootstepEvent"
@@^Frame	= 28

	[SquidmanFootstepEvent]
	Type			= "EldSendEvent"
	EventName		= "PlaySound"
	NumParameters	= &
	@ Parameter
	@@&Name			= "Sound"
	@@^Value		= "SquidmanFootstepSoundPE"

		[SquidmanFootstepSoundPE]
		PEType		= "ConstantString"
		Value		= "CultistFootstepSound"	# TODO: Squidman footfalls

[Squidman:Rise]
NumAnimEvents	= &
@ AnimEvent
@@&Def			= "RiseAnimFinished"
@@^Frame		= -1

	[RiseAnimFinished]
	Type		= "EldSendEvent"
	EventName	= "OnRiseAnimFinished"

[Squidman:Sleeping]
NumAnimEvents	= &
@ AnimEvent
@@&Def			= "SendSnoreEvent"
@@^Frame		= 0

	[SendSnoreEvent]
	Type		= "EldSendEvent"
	EventName	= "OnSnore"

[Mummy:MeleeAttack]
NumAnimEvents	= &
@ AnimEvent
@@&Def			= "EnemyBigMeleeFireEvent"
@@^Frame		= 18

[Mummy:Revive]
NumAnimEvents	= &
@ AnimEvent
@@&Def			= "ReviveAnimFinished"
@@^Frame		= -1

	[ReviveAnimFinished]
	Type		= "EldSendEvent"
	EventName	= "OnReviveAnimFinished"

[Shoggoth:MeleeAttack]
NumAnimEvents	= &
@ AnimEvent
@@&Def			= "ShoggothMeleeFireEvent"
@@^Frame		= 26

	[ShoggothMeleeFireEvent]
	Type		= "EldExecuteAction"
	NumActions	= &
	@ Action
	@@&			= "ShoggothMeleeFireAction"

		[ShoggothMeleeFireAction]
		ActionType	= "EldCheckCone"
		ConeAngle	= 90.0
		ConeLength	= 3.0
		CheckTag	= "Melee"

[Eye:RangedAttack]
NumAnimEvents	= &
@ AnimEvent
@@&Def			= "EnemyProjectileFireEvent"
@@^Frame		= 0

[Polyp:RangedAttack]
NumAnimEvents	= &
@ AnimEvent
@@&Def			= "EnemyProjectileFireEvent"
@@^Frame		= 0

[Bug:MeleeAttack]
NumAnimEvents = &
@ AnimEvent
@@&Def		= "BugMeleeFireEvent"
@@^Frame	= 2

	[BugMeleeFireEvent]
	Type		= "EldExecuteAction"
	NumActions	= &
	@ Action
	@@&			= "BugMeleeFireAction"

		[BugMeleeFireAction]
		ActionType	= "EldCheckCone"
		ConeAngle	= 90.0				# Super wide cone to account for being so low to the ground (and cone/AABB bugs)
		ConeLength	= 0.8
		CheckTag	= "Melee"

[Bug:RangedAttack]
NumAnimEvents	= &
@ AnimEvent
@@&Def			= "EnemyProjectileFireEvent"
@@^Frame		= 2

[Bug:Walk]
NumAnimEvents = &
@ AnimEvent
@@&Def		= "BugFootstepEvent"
@@^Frame	= 0
@@&Def		= "BugFootstepEvent"
@@^Frame	= 3
@@&Def		= "BugFootstepEvent"
@@^Frame	= 6
@@&Def		= "BugFootstepEvent"
@@^Frame	= 9

	[BugFootstepEvent]
	Type			= "EldSendEvent"
	EventName		= "PlaySound"
	NumParameters	= &
	@ Parameter
	@@&Name			= "Sound"
	@@^Value		= "BugFootstepSoundPE"

		[BugFootstepSoundPE]
		PEType		= "ConstantString"
		Value		= "BugFootstepSound"

[ElderThing:RangedAttack]
NumAnimEvents = &
@ AnimEvent
@@&Def		= "EnemyProjectileFireEvent"
@@^Frame	= 3

[ElderThing:MeleeAttack]
NumAnimEvents = &
@ AnimEvent
@@&Def		= "EnemyBigMeleeFireEvent"
@@^Frame	= 3

[ElderThing:Walk]
NumAnimEvents = &
@ AnimEvent
@@&Def		= "ElderThingFootstepEvent"
@@^Frame	= 4
@@&Def		= "ElderThingFootstepEvent"
@@^Frame	= 10
@@&Def		= "ElderThingFootstepEvent"
@@^Frame	= 16
@@&Def		= "ElderThingFootstepEvent"
@@^Frame	= 22
@@&Def		= "ElderThingFootstepEvent"
@@^Frame	= 28

	[ElderThingFootstepEvent]
	Type			= "EldSendEvent"
	EventName		= "PlaySound"
	NumParameters	= &
	@ Parameter
	@@&Name			= "Sound"
	@@^Value		= "ElderThingFootstepSoundPE"

		[ElderThingFootstepSoundPE]
		PEType		= "ConstantString"
		Value		= "ElderThingFootstepSound"

[Migo:MeleeAttack]
VelocityY		= 6.0
NumAnimEvents	= &
@ AnimEvent
@@&Def			= "EnemyMeleeFireEvent"
@@^Frame		= 6
@@&Def			= "EnemyMeleeFireEvent"
@@^Frame		= 11
@@&Def			= "EnemyMeleeFireEvent"
@@^Frame		= 16
@@&Def			= "EnemyMeleeFireEvent"
@@^Frame		= 21

[Migo:Walk]
NumAnimEvents = &
@ AnimEvent
@@&Def		= "MigoFootstepEvent"
@@^Frame	= 6
@@&Def		= "MigoFootstepEvent"
@@^Frame	= 13
@@&Def		= "MigoFootstepEvent"
@@^Frame	= 21
@@&Def		= "MigoFootstepEvent"
@@^Frame	= 28

	[MigoFootstepEvent]
	Type			= "EldSendEvent"
	EventName		= "PlaySound"
	NumParameters	= &
	@ Parameter
	@@&Name			= "Sound"
	@@^Value		= "MigoFootstepSoundPE"

		[MigoFootstepSoundPE]
		PEType		= "ConstantString"
		Value		= "MigoFootstepSound"

[Penguin:MeleeAttack]
NumAnimEvents	= &
@ AnimEvent
@@&Def			= "EnemyBigMeleeFireEvent"
@@^Frame		= 4

[Penguin:Walk]
NumAnimEvents = &
@ AnimEvent
@@&Def		= "PenguinFootstepEvent"
@@^Frame	= 12
@@&Def		= "PenguinFootstepEvent"
@@^Frame	= 27

	[PenguinFootstepEvent]
	Type			= "EldSendEvent"
	EventName		= "PlaySound"
	NumParameters	= &
	@ Parameter
	@@&Name			= "Sound"
	@@^Value		= "PenguinFootstepSoundPE"

		[PenguinFootstepSoundPE]
		PEType		= "ConstantString"
		Value		= "PenguinFootstepSound"