[SelfPE]
PEType = "Self"

[LocationPE]
PEType	= "EldGetLocation"
Entity	= "SelfPE"

[FalsePE]
PEType	= "ConstantBool"
Value	= false

[TruePE]
PEType	= "ConstantBool"
Value	= true

[IntZeroPE]
PEType	= "ConstantInt"
Value	= 0

[IntOnePE]
PEType	= "ConstantInt"
Value	= 1

[IntTwoPE]
PEType	= "ConstantInt"
Value	= 2

[IntThreePE]
PEType	= "ConstantInt"
Value	= 3

[IntBigNumberPE]
PEType	= "ConstantInt"
Value	= 1000000

[FloatZeroPE]
PEType	= "ConstantFloat"
Value	= 0.0

[FloatOnePE]
PEType	= "ConstantFloat"
Value	= 1.0

[FloatHalfPE]
PEType	= "ConstantFloat"
Value	= 0.5

[FloatBigNumberPE]
PEType = "ConstantFloat"
Value = 1000000.0

[FloatRandomZeroToOnePE]
PEType	= "RandomFloat"
ValueA	= 0.0
ValueB	= 1.0

[VectorUpPE]
PEType	= "ConstantVector"
ValueZ	= 1.0

[NullPE]
PEType	= "Null"

[PlayerPE]
PEType	= "EldPlayer"

[PlayerLocationPE]
PEType	= "EldGetLocation"
Entity	= "PlayerPE"

[OwnerPE]
PEType = "Owner"

[TopmostOwnerPE]
PEType	= "Owner"
Topmost	= true

[VOPE]
PEType		= "ConstantString"
Value		= "VO"

# Don't use QueryActionStack/State; it will use old state for queued events!
[StatePE]
PEType		= "GetState"
EntityPE	= "SelfPE"

[EventOwnerPE]
PEType	= "QueryActionStack"
Key		= "EventOwner"

[FrobberPE]
PEType	= "QueryActionStack"
Key		= "Frobber"

[TouchedPE]
PEType	= "QueryActionStack"
Key		= "Touched"

[CheckedPE]
PEType	= "QueryActionStack"
Key		= "Checked"

[DamagerPE]
PEType	= "QueryActionStack"
Key		= "Damager"

[KillerPE]
PEType	= "QueryActionStack"
Key		= "Killer"

[GivenToPE]
PEType	= "QueryActionStack"
Key		= "GivenTo"

[VelocityPE]
PEType	= "QueryActionStack"
Key		= "Velocity"

[SpeedSqPE]
PEType	= "QueryActionStack"
Key		= "SpeedSq"