# Check for updates
CheckForUpdatesAgent = "Eldritch"

# Options
Language		= "English"
DisplayWidth	= 1280
DisplayHeight	= 720
Fullscreen		= false
OpenGL			= false
VSync			= true			# Not exposed in options, but saved in prefs
FOV				= 80.0
ForegroundFOV	= 50.0			# Not exposed
NearClip		= 0.01			# Not exposed
FarClip			= 100.0			# Not exposed
MouseSpeed		= 0.8			# My pref: 1.0
ControllerSpeed	= 1.0
ControllerSpeedX	= 8.0		# Not exposed
ControllerSpeedY	= 6.0		# Not exposed
ControllerPower		= 1.5		# Not exposed
InvertY			= false
Brightness		= 0.8			# My pref: 1.0
MasterVolume	= 0.8
MusicVolume		= 0.7

# These really belong somewhere else. Maybe update XInput config code.
LeftThumbDeadZone			= 0.240
RightThumbDeadZone			= 0.265
LeftThumbSaturationPoint	= 0.900
RightThumbSaturationPoint	= 0.900
TriggerDeadZone				= 0.117
TriggerSaturationPoint		= 0.900
LeftThumbBoolThreshold		= 0.900
RightThumbBoolThreshold		= 0.900
LeftTriggerBoolThreshold	= 0.800
RightTriggerBoolThreshold	= 0.800

# Config files
NumConfigFiles = &
@ ConfigFile
@@& = "Config/entities.ccf"
@@& = "Config/entities_inventory.ccf"
@@& = "Config/entities_world.ccf"
@@& = "Config/entities_books.ccf"
@@& = "Config/entities_ai.ccf"
@@& = "Config/spawners.ccf"
@@& = "Config/strings.ccf"
@@& = "Config/strings-brazilian-portuguese.ccf"
@@& = "Config/strings-danish.ccf"
@@& = "Config/strings-dutch.ccf"		# CUT
@@& = "Config/strings-finnish.ccf"
@@& = "Config/strings-french.ccf"
@@& = "Config/strings-german.ccf"
@@& = "Config/strings-hungarian.ccf"
@@& = "Config/strings-italian.ccf"
@@& = "Config/strings-polish.ccf"
@@& = "Config/strings-spanish.ccf"
@@& = "Config/strings-swedish.ccf"		# CUT
@@& = "Config/strings-russian.ccf"
@@& = "Config/strings-ukrainian.ccf"
@@& = "Config/world.ccf"
@@& = "Config/worldgen.ccf"
@@& = "Config/ui.ccf"
@@& = "Config/materials.ccf"
@@& = "Config/input.ccf"
@@& = "Config/bt.ccf"
@@& = "Config/particles.ccf"
@@& = "Config/tools.ccf"
@@& = "Config/animation.ccf"
@@& = "Config/audio.ccf"
@@& = "Config/common-pes.ccf"
@@&	= "Config/syncer.pcf"

NumPackages	= &
@ Package
@@&			= "eldritch.cpk"
@@&			= "eldritch-audio.cpk"
@@&			= "eldritch-world.cpk"
@@&			= "eldritch-textures.cpk"
@@&			= "eldritch-meshes.cpk"

NumDLC	= &
@ DLC
@@&		= "DLC1"

	[DLC1]
	PackageFilename	= "dlc1.cpk"
	NumConfigFiles	= &
	@ ConfigFile
	#@@&				= "Config/DLC1/default.ccf"

[]	
# For launching website from demo branch or whatever.
#WebSiteURL	= "http://www.eldritchgame.com/#buy"
WebSiteURL	= "http://steamcommunity.com/sharedfiles/filedetails/?id=166329180"

[Framework]
CheckForUpdates				= true
SendLogsOnQuit				= false
SplashImage					= "Misc/splash.bmp"	# 24-bit image used in all builds
IconImage					= "Misc/icon.bmp"	# 32-bit image used for SDL builds
ShowConsole					= false				# Use for beta, turn off for shipping build
#UseRandomSeed				= true				# Fixed random seed for testing
RandomSeed					= 1365995234
UseFixedFrameTime			= true
FixedFrameTime				= 0.016666666		# For normal gameplay
FramesLimit					= 5					# How many sim frames need to pile up before we just dump them
DoVideoCapture				= false
VideoCaptureFixedFrameTime	= 0.033333333

[Renderer]
TestCaps		= true	# Use for beta, turn off for shipping build
FrustumCulling	= true
DoMaterialSort	= true	# Sort tagged buckets by shader and base texture

[PrintManager]
# Print levels:
# -1 = get no output
# 0 = anything that should always be printed, such as major system alerts or specifically requested output
# 1 = non-spammy informational output
# 2 = spammy information output
NumPrintLevels = &
@ PrintLevel
@@Category& = ""
@@^ = 1
@@Category& = "Core"
@@^ = 1
@@Category& = "Render"
@@^ = 1
@@Category& = "UI"
@@^ = 1