[Guide]
EldTransform	= "."
EldMesh			= "GuideMesh"
EldFrobbable	= "GuideFrobbable"

	[GuideMesh]
	Mesh	= "Meshes/book-static.cms"

	[GuideFrobbable]
	UseMeshExtents	= true
	ExtentsFatten	= 0.05
	FriendlyName	= "Book"
	FrobVerb		= "Read"

[GuideArtifact]
Extends		= "Guide"
Reactions	= "GuideArtifactReactions"

	[GuideArtifactReactions]
	NumReactions	= &
	@ Reaction
	@@&				= "GuideArtifactOnFrobbedReaction"

		[GuideArtifactOnFrobbedReaction]
		Rule		= "OnFrobbedRule"
		NumActions	= &
		@ Action
		@@&			= "ShowArtifactBook"

[GuideJump]
Extends		= "Guide"
Reactions	= "GuideJumpReactions"

	[GuideJumpReactions]
	NumReactions	= &
	@ Reaction
	@@&				= "GuideJumpOnFrobbedReaction"

		[GuideJumpOnFrobbedReaction]
		Rule		= "OnFrobbedRule"
		NumActions	= &
		@ Action
		@@&			= "ShowJumpBook"

			[ShowJumpBook]
			ActionType	= "EldShowBook"
			BookString	= "Book_Jump"
			IsDynamic	= true

[GuideLean]
Extends		= "Guide"
Reactions	= "GuideLeanReactions"

	[GuideLeanReactions]
	NumReactions	= &
	@ Reaction
	@@&				= "GuideLeanOnFrobbedReaction"

		[GuideLeanOnFrobbedReaction]
		Rule		= "OnFrobbedRule"
		NumActions	= &
		@ Action
		@@&			= "ShowLeanBook"

			[ShowLeanBook]
			ActionType	= "EldShowBook"
			BookString	= "Book_Lean"
			IsDynamic	= true

[GuideCrouch]
Extends		= "Guide"
Reactions	= "GuideCrouchReactions"

	[GuideCrouchReactions]
	NumReactions	= &
	@ Reaction
	@@&				= "GuideCrouchOnFrobbedReaction"

		[GuideCrouchOnFrobbedReaction]
		Rule		= "OnFrobbedRule"
		NumActions	= &
		@ Action
		@@&			= "ShowCrouchBook"

			[ShowCrouchBook]
			ActionType	= "EldShowBook"
			BookString	= "Book_Crouch"
			IsDynamic	= true

[GuideSprint]
Extends		= "Guide"
Reactions	= "GuideSprintReactions"

	[GuideSprintReactions]
	NumReactions	= &
	@ Reaction
	@@&				= "GuideSprintOnFrobbedReaction"

		[GuideSprintOnFrobbedReaction]
		Rule		= "OnFrobbedRule"
		NumActions	= &
		@ Action
		@@&			= "ShowSprintBook"

			[ShowSprintBook]
			ActionType	= "EldShowBook"
			BookString	= "Book_Sprint"
			IsDynamic	= true

[GuideFood]
Extends		= "Guide"
Reactions	= "GuideFoodReactions"

	[GuideFoodReactions]
	NumReactions	= &
	@ Reaction
	@@&				= "GuideFoodOnFrobbedReaction"

		[GuideFoodOnFrobbedReaction]
		Rule		= "OnFrobbedRule"
		NumActions	= &
		@ Action
		@@&			= "ShowFoodBook"

			[ShowFoodBook]
			ActionType	= "EldShowBook"
			BookString	= "Book_Food"

[GuideFountain]
Extends		= "Guide"
Reactions	= "GuideFountainReactions"

	[GuideFountainReactions]
	NumReactions	= &
	@ Reaction
	@@&				= "GuideFountainOnFrobbedReaction"

		[GuideFountainOnFrobbedReaction]
		Rule		= "OnFrobbedRule"
		NumActions	= &
		@ Action
		@@&			= "ShowFountainBook"

			[ShowFountainBook]
			ActionType	= "EldShowBook"
			BookString	= "Book_Fountain"

[GuideStatue]
Extends		= "Guide"
Reactions	= "GuideStatueReactions"

	[GuideStatueReactions]
	NumReactions	= &
	@ Reaction
	@@&				= "GuideStatueOnFrobbedReaction"

		[GuideStatueOnFrobbedReaction]
		Rule		= "OnFrobbedRule"
		NumActions	= &
		@ Action
		@@&			= "ShowStatueBook"

			[ShowStatueBook]
			ActionType	= "EldShowBook"
			BookString	= "Book_Statue"

[GuideWeapons]
Extends		= "Guide"
Reactions	= "GuideWeaponsReactions"

	[GuideWeaponsReactions]
	NumReactions	= &
	@ Reaction
	@@&				= "GuideWeaponsOnFrobbedReaction"

		[GuideWeaponsOnFrobbedReaction]
		Rule		= "OnFrobbedRule"
		NumActions	= &
		@ Action
		@@&			= "ShowWeaponsBook"

			[ShowWeaponsBook]
			ActionType	= "EldShowBook"
			BookString	= "Book_Weapons"
			IsDynamic	= true

[GuideSoul]
Extends		= "Guide"
Reactions	= "GuideSoulReactions"

	[GuideSoulReactions]
	NumReactions	= &
	@ Reaction
	@@&				= "GuideSoulOnFrobbedReaction"

		[GuideSoulOnFrobbedReaction]
		Rule		= "OnFrobbedRule"
		NumActions	= &
		@ Action
		@@&			= "ShowSoulBook"

			[ShowSoulBook]
			ActionType	= "EldShowBook"
			BookString	= "Book_Soul"

[GuideDeath]
Extends		= "Guide"
Reactions	= "GuideDeathReactions"

	[GuideDeathReactions]
	NumReactions	= &
	@ Reaction
	@@&				= "GuideDeathOnFrobbedReaction"

		[GuideDeathOnFrobbedReaction]
		Rule		= "OnFrobbedRule"
		NumActions	= &
		@ Action
		@@&			= "ShowDeathBook"

			[ShowDeathBook]
			ActionType	= "EldShowBook"
			BookString	= "Book_Death"

[GuideChest]
Extends		= "Guide"
Reactions	= "GuideChestReactions"

	[GuideChestReactions]
	NumReactions	= &
	@ Reaction
	@@&				= "GuideChestOnFrobbedReaction"

		[GuideChestOnFrobbedReaction]
		Rule		= "OnFrobbedRule"
		NumActions	= &
		@ Action
		@@&			= "ShowChestBook"

			[ShowChestBook]
			ActionType	= "EldShowBook"
			BookString	= "Book_Chest"

[GuideShop]
Extends		= "Guide"
Reactions	= "GuideShopReactions"

	[GuideShopReactions]
	NumReactions	= &
	@ Reaction
	@@&				= "GuideShopOnFrobbedReaction"

		[GuideShopOnFrobbedReaction]
		Rule		= "OnFrobbedRule"
		NumActions	= &
		@ Action
		@@&			= "ShowShopBook"

			[ShowShopBook]
			ActionType	= "EldShowBook"
			BookString	= "Book_Shop"

[GuideGear]
Extends		= "Guide"
Reactions	= "GuideGearReactions"

	[GuideGearReactions]
	NumReactions	= &
	@ Reaction
	@@&				= "GuideGearOnFrobbedReaction"

		[GuideGearOnFrobbedReaction]
		Rule		= "OnFrobbedRule"
		NumActions	= &
		@ Action
		@@&			= "ShowGearBook"

			[ShowGearBook]
			ActionType	= "EldShowBook"
			BookString	= "Book_Gear"

[GuideKeys]
Extends		= "Guide"
Reactions	= "GuideKeysReactions"

	[GuideKeysReactions]
	NumReactions	= &
	@ Reaction
	@@&				= "GuideKeysOnFrobbedReaction"

		[GuideKeysOnFrobbedReaction]
		Rule		= "OnFrobbedRule"
		NumActions	= &
		@ Action
		@@&			= "ShowKeysBook"

			[ShowKeysBook]
			ActionType	= "EldShowBook"
			BookString	= "Book_Keys"

[GuideControls]
Extends		= "Guide"
Reactions	= "GuideControlsReactions"

	[GuideControlsReactions]
	NumReactions	= &
	@ Reaction
	@@&				= "GuideControlsOnFrobbedReaction"

		[GuideControlsOnFrobbedReaction]
		Rule		= "OnFrobbedRule"
		NumActions	= &
		@ Action
		@@&			= "ShowControlsBook"

			[ShowControlsBook]
			ActionType	= "EldShowBook"
			BookString	= "Book_Controls"

[GuideLoot]
Extends		= "Guide"
Reactions	= "GuideLootReactions"

	[GuideLootReactions]
	NumReactions	= &
	@ Reaction
	@@&				= "GuideLootOnFrobbedReaction"

		[GuideLootOnFrobbedReaction]
		Rule		= "OnFrobbedRule"
		NumActions	= &
		@ Action
		@@&			= "ShowLootBook"

			[ShowLootBook]
			ActionType	= "EldShowBook"
			BookString	= "Book_Loot"

[Ledger]
Extends		= "Guide"
Reactions	= "LedgerReactions"

	[LedgerReactions]
	NumReactions	= &
	@ Reaction
	@@&				= "LedgerOnFrobbedReaction"

		[LedgerOnFrobbedReaction]
		Rule		= "OnFrobbedRule"
		NumActions	= &
		@ Action
		@@&			= "ShowLedger"

			[ShowLedger]
			ActionType	= "EldShowBook"
			BookString	= "Book_Ledger"

[BookLore1]
Extends		= "Guide"
Reactions	= "BookLore1Reactions"

	[BookLore1Reactions]
	NumReactions	= &
	@ Reaction
	@@&				= "BookLore1OnFrobbedReaction"

		[BookLore1OnFrobbedReaction]
		Rule		= "OnFrobbedRule"
		NumActions	= &
		@ Action
		@@&			= "ShowBookLore1"

			[ShowBookLore1]
			ActionType	= "EldShowBook"
			BookString	= "Book_Lore1"

[BookLore2]
Extends		= "Guide"
Reactions	= "BookLore2Reactions"

	[BookLore2Reactions]
	NumReactions	= &
	@ Reaction
	@@&				= "BookLore2OnFrobbedReaction"

		[BookLore2OnFrobbedReaction]
		Rule		= "OnFrobbedRule"
		NumActions	= &
		@ Action
		@@&			= "ShowBookLore2"

			[ShowBookLore2]
			ActionType	= "EldShowBook"
			BookString	= "Book_Lore2"

[BookLore3]
Extends		= "Guide"
Reactions	= "BookLore3Reactions"

	[BookLore3Reactions]
	NumReactions	= &
	@ Reaction
	@@&				= "BookLore3OnFrobbedReaction"

		[BookLore3OnFrobbedReaction]
		Rule		= "OnFrobbedRule"
		NumActions	= &
		@ Action
		@@&			= "ShowBookLore3"

			[ShowBookLore3]
			ActionType	= "EldShowBook"
			BookString	= "Book_Lore3"

[BookLore4]
Extends		= "Guide"
Reactions	= "BookLore4Reactions"

	[BookLore4Reactions]
	NumReactions	= &
	@ Reaction
	@@&				= "BookLore4OnFrobbedReaction"

		[BookLore4OnFrobbedReaction]
		Rule		= "OnFrobbedRule"
		NumActions	= &
		@ Action
		@@&			= "ShowBookLore4"

			[ShowBookLore4]
			ActionType	= "EldShowBook"
			BookString	= "Book_Lore4"

[Journal]
EldTransform	= "."
EldMesh			= "JournalMesh"
EldFrobbable	= "JournalFrobbable"
Reactions		= "JournalReactions"

	[JournalMesh]
	Mesh	= "Meshes/book-static-closed.cms"

	[JournalFrobbable]
	UseMeshExtents	= true
	ExtentsFatten	= 0.05
	FriendlyName	= "Book"
	FrobVerb		= "Read"

	[JournalReactions]
	NumReactions	= &
	@ Reaction
	@@&				= "JournalOnFrobbedReaction"

		[JournalOnFrobbedReaction]
		Rule		= "OnFrobbedRule"
		NumActions	= &
		@ Action
		@@&			= "ShowJournal"

			[ShowJournal]
			ActionType	= "EldShowBook"
			BookString	= "Book_Journal"

[Journal2]
Extends			= "Journal"
Reactions		= "Journal2Reactions"

	[Journal2Reactions]
	NumReactions	= &
	@ Reaction
	@@&				= "Journal2OnFrobbedReaction"

		[Journal2OnFrobbedReaction]
		Rule		= "OnFrobbedRule"
		NumActions	= &
		@ Action
		@@&			= "ShowJournal2"

			[ShowJournal2]
			ActionType	= "EldShowBook"
			BookString	= "Book_Journal2"

[Journal3]
Extends			= "Journal"
Reactions		= "Journal3Reactions"

	[Journal3Reactions]
	NumReactions	= &
	@ Reaction
	@@&				= "Journal3OnFrobbedReaction"

		[Journal3OnFrobbedReaction]
		Rule		= "OnFrobbedRule"
		NumActions	= &
		@ Action
		@@&			= "ShowJournal3"

			[ShowJournal3]
			ActionType	= "EldShowBook"
			BookString	= "Book_Journal3"

[Journal4]
Extends			= "Journal"
Reactions		= "Journal4Reactions"

	[Journal4Reactions]
	NumReactions	= &
	@ Reaction
	@@&				= "Journal4OnFrobbedReaction"

		[Journal4OnFrobbedReaction]
		Rule		= "OnFrobbedRule"
		NumActions	= &
		@ Action
		@@&			= "ShowJournal4"

			[ShowJournal4]
			ActionType	= "EldShowBook"
			BookString	= "Book_Journal4"