# Defaults for components
[EldTransform]
Gravity = 38.4

[EldCollision]
FrictionTargetTime				= 0.4
FrictionTargetPercentVelocity	= 0.01

[EldMesh]
UseBlendedIrradiance	= true
BlendRate				= 10.0
CullDistance			= 30.0

[EldParticles]
CullDistance	= 30.0

[EldFrobbable]
HighlightR = 0.5
HighlightG = 0.4
HighlightB = 0.1

[EldPlayer_DamageDesc]
Player				= "RIPDmgPlayer"
Spikes				= "RIPDmgSpikes"
WallSpikes			= "RIPDmgSpikes"
BarnacleFloor		= "RIPDmgBarnacle"
BarnacleWall		= "RIPDmgBarnacle"
Fishman_Blunt		= "RIPDmgFishmanMelee"
Fishman_Burning		= "RIPDmgFishmanRanged"
NPCProxy_Blunt		= "RIPDmgFishmanMelee"
NPCProxy_Burning	= "RIPDmgFishmanRanged"
Shopkeeper			= "RIPDmgShopkeeper"
DCultist_Blunt		= "RIPDmgDCultistMelee"
DCultist_Burning	= "RIPDmgDCultistRanged"
NCultist_Blunt		= "RIPDmgNCultistMelee"
NCultist_Burning	= "RIPDmgNCultistRanged"
RCultist_Blunt		= "RIPDmgRCultistMelee"
RCultist_Burning	= "RIPDmgRCultistRanged"
Lizardman_Blunt		= "RIPDmgLizardmanMelee"
Lizardman_Burning	= "RIPDmgLizardmanRanged"
FlyingNPCProxy		= "RIPDmgEye"
Shoggoth			= "RIPDmgShoggoth"
SummonedShoggoth	= "RIPDmgShoggoth"
LizardWatson		= "RIPDmgLizardWatson"
Mummy				= "RIPDmgMummy"
Squidman_Blunt		= "RIPDmgSquidmanMelee"
Squidman_Burning	= "RIPDmgSquidmanRanged"
Polyp				= "RIPDmgPolyp"
Bug_Blunt			= "RIPDmgBugMelee"
Bug_Burning			= "RIPDmgBugRanged"
BadMeat				= "RIPDmgFoodPoisoning"
PlantToxic			= "RIPDmgFoodPoisoning"
TrapBolt			= "RIPDmgTrapBolt"
Icicles				= "RIPDmgIcicles"
ElderThing_Blunt	= "RIPDmgElderThingMelee"
ElderThing_Burning	= "RIPDmgElderThingRanged"
Migo_Blunt			= "RIPDmgMigo"
Migo_Poison			= "RIPDmgMigoExplode"
Penguin				= "RIPDmgPenguin"
YCultist_Blunt		= "RIPDmgYCultistMelee"
YCultist_Burning	= "RIPDmgYCultistRanged"

[EldritchFactions]
NumFactionCons = &
@ FactionCon
# Player cons
	@@&A = "Player"
	@@^B = "Dagon"
	@@^C = "Hostile"
	@@&A = "Player"
	@@^B = "Shoggoth"
	@@^C = "Hostile"
	@@&A = "Player"
	@@^B = "Shopkeeper"
	@@^C = "Neutral"
	@@&A = "Player"
	@@^B = "Bug"
	@@^C = "Hostile"
# Dagon cons
	@@&A = "Dagon"
	@@^B = "Player"
	@@^C = "Hostile"
	@@&A = "Dagon"
	@@^B = "Shoggoth"
	@@^C = "Neutral"
	@@&A = "Dagon"
	@@^B = "Shopkeeper"
	@@^C = "Neutral"
	@@&A = "Dagon"
	@@^B = "Bug"
	@@^C = "Hostile"
# Shoggoth cons
	@@&A = "Shoggoth"
	@@^B = "Player"
	@@^C = "Hostile"
	@@&A = "Shoggoth"
	@@^B = "Dagon"
	@@^C = "Hostile"
	@@&A = "Shoggoth"
	@@^B = "Shopkeeper"
	@@^C = "Hostile"
	@@&A = "Shoggoth"
	@@^B = "Bug"
	@@^C = "Hostile"
# Shopkeeper cons
	@@&A = "Shopkeeper"
	@@^B = "Player"
	@@^C = "Neutral"
	@@&A = "Shopkeeper"
	@@^B = "Shoggoth"
	@@^C = "Neutral"
	@@&A = "Shopkeeper"
	@@^B = "Dagon"
	@@^C = "Neutral"
	@@&A = "Shopkeeper"
	@@^B = "Bug"
	@@^C = "Hostile"
# Bug cons
	@@&A = "Bug"
	@@^B = "Player"
	@@^C = "Hostile"
	@@&A = "Bug"
	@@^B = "Shoggoth"
	@@^C = "Hostile"
	@@&A = "Bug"
	@@^B = "Dagon"
	@@^C = "Hostile"
	@@&A = "Bug"
	@@^B = "Shopkeeper"
	@@^C = "Hostile"

[EldMinimap]
MinimapRTWidth		= 192
MinimapRTHeight		= 144
MinimapViewDistance	= 5.5
MinimapViewPitch	= -60.0
MinimapViewFOV		= 50.0
MinimapViewNearClip	= 0.1
MinimapViewFarClip	= 10.0
RoomAtlasTexture	= "Textures/Minimap/room-atlas_NODXT.tga"
Material			= "Material_Minimap"

[PlayerMoM]
Extends			= "Player"
EldDamager		= "PlayerMoMDamager"
EldParticles	= "PlayerMoMParticles"

	[PlayerMoMDamager]
	DamagerName	= "Player"

	[PlayerMoMParticles]
	NumParticleSystems	= &
	@ ParticleSystem
	@@&					= "PS_MoMSnowstorm"

[Player]
#ShouldDebugRender = true
EldTransform		= "PlayerTransform"
EldPlayer			= "PlayerPlayer"
EldCollision		= "PlayerCollision"
EldHealth			= "PlayerHealth"
EldWallet			= "PlayerWallet"
EldKeyRing			= "PlayerKeyRing"
EldAmmoBag			= "PlayerAmmoBag"
EldCamera			= "PlayerCamera"
EldFrobber			= "PlayerFrobber"
EldInventory		= "PlayerInventory"
EldHands			= "."
EldCharacter		= "PlayerCharacter"
EldVisible			= "."
EldFaction			= "PlayerFaction"
EldFootsteps		= "PlayerFootsteps"
EldSound			= "."
EldParticles		= "."
EldMinimap			= "."
EldMapMarker		= "PlayerMapMarker"
EldEndgameCounter	= "."
EldHard				= "."
Reactions			= "PlayerReactions"
StatMod				= "PlayerStatMod"
PEMap				= "PlayerPEMap"
VariableMap			= "."

	[PlayerTransform]
	UseGravity	= true
	SpeedLimit	= 5.0

	[PlayerPlayer]
	UnlandedJumpWindow		= 0.2
	UnlandedLeanWindow		= 0.2
	LandAcceleration		= 30.0
	AirAcceleration			= 10.0
	TurnSpeed				= 0.5
	JumpImpulse				= 10.0
	UncrouchOnSprint		= true
	StandExtentsZ			= 0.8
	CrouchExtentsZ			= 0.4
	StandViewOffsetZ		= 0.6
	CrouchViewOffsetZ		= 0.3
	CrouchViewInterpTime	= 0.085
	PowerSlideDuration		= 0.7
	PowerSlideInputContext	= "Context_PowerSlide"
	PowerSlideReqVelocity	= 3.0
	PowerSlideRoll				= 5.0
	PowerSlideRollInterpTime	= 0.085
	ClimbInputContext		= "Context_Climb"
	ClimbOffImpulse			= 4.0
	ClimbFacingBiasAngle	= 25.0
	ClimbFacingBiasScale	= 2.0
	MantleVelocity			= 5.0
	MantleInputContext		= "Context_Mantle"
	DefaultDamageDesc		= "RIPDmgUnknown"

	[PlayerPEMap]
	NumPEs	= &
	@ PE
	@@&Key	= "MeleeImpulse"
	@@^Def	= "PlayerMeleeImpulsePE"

	[PlayerMeleeImpulsePE]
	PEType	= "EldHardSwitch"
	Normal	= "PlayerMeleeImpulseNormalPE"
	Hard	= "PlayerMeleeImpulseHardPE"

			[PlayerMeleeImpulseNormalPE]
			PEType	= "ConstantFloat"
			Value	= 5.0

			[PlayerMeleeImpulseHardPE]
			PEType	= "ConstantFloat"
			Value	= 3.0

	[PlayerStatMod]
	NumModifiers = &
	@ Modifier
	@@& = "PlayerRunning_Acceleration"
	@@& = "PlayerRunning_SpeedLimit"
	@@& = "PlayerCrouching_SpeedLimit"
	@@& = "PlayerPowerSliding_Acceleration"
	@@& = "PlayerPowerSliding_SpeedLimit"
	@@& = "PlayerClimbing_SpeedLimit"
	@@& = "PlayerRunning_FootstepRadius"
	@@& = "PlayerCrouching_FootstepRadius"
	@@& = "PlayerRunning_FootstepVolume"
	@@& = "PlayerCrouching_FootstepVolume"
	@@& = "PlayerPowerSliding_FootstepVolume"
	@@& = "HighJumpPerk_JumpImpulse"
	@@& = "SpeedPerk_Acceleration"
	@@& = "QuietPerk_FootstepRadius"
	@@& = "QuietPerk_FootstepVolume"
	@@&	= "ClimbingPerk_IgnoreIcicles"
	@@&	= "ClimbingPerk_ImmuneToFalling"
	@@&	= "CharmPerk_LootAmount"
	@@& = "AmuletPerk_DestroyVoxels"
	@@& = "AmuletPerk_DamageAmount"
	@@& = "TalismanPerk_PowerCost"
	@@&	= "SoapstonePerk_HasSoapstone"
	@@&	= "MedicalPerk_ShowMedicalScreen"
	@@&	= "TinningPerk_ShowTinningScreen"
	@@&	= "LocksmithPerk_CanUnlockDoors"
	@@&	= "LocksmithPerk_ShowLocksmithScreen"
	@@&	= "CampingPerk_CanStokeCampfire"
	@@& = "HolySymbolPerk_TrueEnding"
	@@& = "SandalsPerk_TrueEnding"
	@@& = "ConsecrationPerk_TrueEnding"

		[PlayerRunning_Acceleration]
		Event		= "Running"				# This needs to match an event name in code
		Stat		= "LandAcceleration"	# This needs to match a stat name in code
		Function	= "Multiply"
		Value		= 2.0

		[PlayerRunning_SpeedLimit]
		Event		= "Running"		# This needs to match an event name in code
		Stat		= "SpeedLimit"	# This needs to match a stat name in code
		Function	= "Multiply"
		Value		= 2.0

		[PlayerCrouching_SpeedLimit]
		Event		= "Crouching"
		Stat		= "SpeedLimit"
		Function	= "Multiply"
		Value		= 0.35

		# Cancel the crouching multiplier (x3) and move at full sprint speed (x2) while power sliding
		# (The actual sprint modifier gets turned off when power slide begins)
		
		[PlayerPowerSliding_Acceleration]
		Event		= "PowerSliding"
		Stat		= "LandAcceleration"
		Function	= "Multiply"
		Value		= 2.0

		[PlayerPowerSliding_SpeedLimit]
		Event		= "PowerSliding"
		Stat		= "SpeedLimit"
		Function	= "Multiply"
		Value		= 6.0

		[PlayerClimbing_SpeedLimit]
		Event		= "Climbing"
		Stat		= "SpeedLimit"
		Function	= "Multiply"
		Value		= 0.5

		[PlayerRunning_FootstepRadius]
		Event		= "Running"
		Stat		= "FootstepRadius"
		Function	= "Multiply"
		Value		= 2.0

		[PlayerCrouching_FootstepRadius]
		Event		= "Crouching"
		Stat		= "FootstepRadius"
		Function	= "Multiply"
		Value		= 0.0

		[PlayerRunning_FootstepVolume]
		Event		= "Running"
		Stat		= "FootstepVolume"
		Function	= "Multiply"
		Value		= 1.5

		[PlayerCrouching_FootstepVolume]
		Event		= "Crouching"
		Stat		= "FootstepVolume"
		Function	= "Multiply"
		Value		= 0.5

		[PlayerPowerSliding_FootstepVolume]
		Event		= "PowerSliding"
		Stat		= "FootstepVolume"
		Function	= "Multiply"
		Value		= 0.01	# Zero volume gets overridden :\

		[HighJumpPerk_JumpImpulse]
		Event		= "HighJumpPerk"
		Stat		= "JumpImpulse"
		Function	= "Multiply"
		Value		= 1.4
		
		[SpeedPerk_Acceleration]
		Event		= "SpeedPerk"
		Stat		= "LandAcceleration"
		Function	= "Multiply"
		Value		= 1.35

		[QuietPerk_FootstepRadius]
		Event		= "QuietPerk"
		Stat		= "FootstepRadius"
		Function	= "Multiply"
		Value		= 0.0

		[QuietPerk_FootstepVolume]
		Event		= "QuietPerk"
		Stat		= "FootstepVolume"
		Function	= "Multiply"
		Value		= 0.2

		[ClimbingPerk_IgnoreIcicles]
		Event		= "ClimbingPerk"
		Stat		= "IgnoreIcicles"
		Function	= "Add"
		Value		= 1.0

		[ClimbingPerk_ImmuneToFalling]
		Event		= "ClimbingPerk"
		Stat		= "ImmuneToFalling"
		Function	= "Add"
		Value		= 1.0

		[CharmPerk_LootAmount]
		Event		= "CharmPerk"
		Stat		= "LootAmount"
		Function	= "Add"
		Value		= 1.0

		[AmuletPerk_DestroyVoxels]
		Event		= "AmuletPerk"
		Stat		= "DestroyVoxels"
		Function	= "Add"
		Value		= 1.0

		[AmuletPerk_DamageAmount]
		Event		= "AmuletPerk"
		Stat		= "DamageAmount"
		Function	= "Add"
		Value		= 1.0

		# Power costs (as of 7/3):
		# Power		Cost	Talisman (floor(p*0.6))
		# Teleport	4		2 (2.4)
		# Build		1		0 (0.6)
		# Cloak		10		6 (6.0)
		# Hypnotize	7		4 (4.2)
		# Knock		4		2 (4.2)
		# Lift		1		0 (0.6)
		# Summon	7		4 (4.2)
		# Flare		1		0 (0.6)
		[TalismanPerk_PowerCost]
		Event		= "TalismanPerk"
		Stat		= "PowerCost"
		Function	= "Multiply"
		Value		= 0.6

		[SoapstonePerk_HasSoapstone]
		Event		= "SoapstonePerk"
		Stat		= "HasSoapstone"
		Function	= "Add"
		Value		= 1.0

		[MedicalPerk_ShowMedicalScreen]
		Event		= "MedicalPerk"
		Stat		= "ShowMedicalScreen"
		Function	= "Add"
		Value		= 1.0

		[TinningPerk_ShowTinningScreen]
		Event		= "TinningPerk"
		Stat		= "ShowTinningScreen"
		Function	= "Add"
		Value		= 1.0

		[LocksmithPerk_CanUnlockDoors]
		Event		= "LocksmithPerk"
		Stat		= "CanUnlockDoors"
		Function	= "Add"
		Value		= 1.0

		[LocksmithPerk_ShowLocksmithScreen]
		Event		= "LocksmithPerk"
		Stat		= "ShowLocksmithScreen"
		Function	= "Add"
		Value		= 1.0

		[CampingPerk_CanStokeCampfire]
		Event		= "CampingPerk"
		Stat		= "CanStokeCampfire"
		Function	= "Add"
		Value		= 1.0

		[HolySymbolPerk_TrueEnding]
		Event		= "HolySymbolPerk"
		Stat		= "TrueEnding"
		Function	= "Add"
		Value		= 1.0

		[SandalsPerk_TrueEnding]
		Event		= "SandalsPerk"
		Stat		= "TrueEnding"
		Function	= "Add"
		Value		= 1.0

		[ConsecrationPerk_TrueEnding]
		Event		= "ConsecrationPerk"
		Stat		= "TrueEnding"
		Function	= "Add"
		Value		= 1.0

	[PlayerCollision]
	HalfExtentsXY	= 0.3
	HalfExtentsZ	= 0.8
	BlocksTrace		= true

	[PlayerHealth]
	Health					= 3
	PublishToHUD			= true
	HidePickupScreenDelay	= 2.0
	DamageTimeout			= 0.5
	NumDamageTypeMods		= &
	@ DamageTypeMod
	@@&Type					= "Thrown"
	@@^Mul					= 0.8
	@@^Add					= 0.5	# So we round value instead of flooring

	[PlayerWallet]
	Limit					= 9999
	HidePickupScreenDelay	= 2.0

	[PlayerKeyRing]
	HidePickupScreenDelay	= 2.0

	[PlayerAmmoBag]
	DefaultAmmo				= "Bullets"	# For persistent (universal ammo) UI display
	HidePickupScreenDelay	= 2.0

	[PlayerCamera]
	ViewOffsetZ		= 0.6
	LeanVelocity	= 50.0	# Roll velocity in degrees per second
	LeanRollMax		= 4.0	# Maximum roll in either direction.
	LeanRadius		= 10.0	# Like a fretboard radius. Implicitly controls lean offset relative to angle.
	LeanExtent		= 0.2	# Adds some volume around the camera so you can't lean right up to walls. Should be less than collision bounds!

	[PlayerFrobber]
	FrobDistance = 2.0

	[PlayerInventory]
	NumInitialItems	= &
	@ InitialItem
	@@&				= "RightHand"
	@@&				= "LeftHand"
	@@&				= "Fists"
	@@&				= "PowerNone"

	[PlayerCharacter]
	NumHeadOptions	= &
	@ HeadOption
	@@&				= "Head_Woman1"
	@@&				= "Head_Woman2"
	@@&				= "Head_Woman3"
	@@&				= "Head_Woman4"
	@@&				= "Head_Man1"
	@@&				= "Head_Man2"
	@@&				= "Head_Man3"
	@@&				= "Head_Man4"
	NumBodyOptions	= &
	@ BodyOption
	@@&				= "Body_Woman1"
	@@&				= "Body_Woman2"
	@@&				= "Body_Woman3"
	@@&				= "Body_Woman4"
	@@&				= "Body_Man1"
	@@&				= "Body_Man2"
	@@&				= "Body_Man3"
	@@&				= "Body_Man4"

		[Head_Woman1]
		Mesh		= "Meshes/Character/woman-head-1.cms"
		VoiceSet	= "Voice_Woman"

		[Head_Woman2]
		Mesh		= "Meshes/Character/woman-head-1.cms"
		Texture		= "Textures/Character/woman-head-2_NODXT.tga"
		VoiceSet	= "Voice_Woman"

		[Head_Woman3]
		Mesh		= "Meshes/Character/woman-head-2.cms"
		Texture		= "Textures/Character/woman-head-3_NODXT.tga"
		VoiceSet	= "Voice_Woman"

		[Head_Woman4]
		Mesh		= "Meshes/Character/woman-head-2.cms"
		Texture		= "Textures/Character/woman-head-4_NODXT.tga"
		VoiceSet	= "Voice_Woman"

		[Head_Man1]
		Mesh		= "Meshes/Character/man-head-1.cms"
		VoiceSet	= "Voice_Man"

		[Head_Man2]
		Mesh		= "Meshes/Character/man-head-1.cms"
		Texture		= "Textures/Character/man-head-2_NODXT.tga"
		VoiceSet	= "Voice_Man"

		[Head_Man3]
		Mesh		= "Meshes/Character/man-head-2.cms"
		Texture		= "Textures/Character/man-head-3_NODXT.tga"
		VoiceSet	= "Voice_Man"

		[Head_Man4]
		Mesh		= "Meshes/Character/man-head-2.cms"
		Texture		= "Textures/Character/man-head-4_NODXT.tga"
		VoiceSet	= "Voice_Man"

		[Body_Woman1]
		Mesh			= "Meshes/Character/woman-body-1.cms"
		LeftHandMesh	= "Meshes/Character/shared-left-hand-1.cms"
		RightHandMesh	= "Meshes/Character/shared-right-hand-1.cms"

		[Body_Woman2]
		Mesh				= "Meshes/Character/woman-body-1.cms"
		Texture				= "Textures/Character/woman-body-2_NODXT.tga"
		LeftHandMesh		= "Meshes/Character/shared-left-hand-1.cms"
		LeftHandTexture		= "Textures/Character/woman-body-2_NODXT.tga"
		RightHandMesh		= "Meshes/Character/shared-right-hand-1.cms"
		RightHandTexture	= "Textures/Character/woman-body-2_NODXT.tga"

		[Body_Woman3]
		Mesh				= "Meshes/Character/woman-body-1.cms"
		Texture				= "Textures/Character/woman-body-3_NODXT.tga"
		LeftHandMesh		= "Meshes/Character/shared-left-hand-1.cms"
		LeftHandTexture		= "Textures/Character/woman-body-3_NODXT.tga"
		RightHandMesh		= "Meshes/Character/shared-right-hand-1.cms"
		RightHandTexture	= "Textures/Character/woman-body-3_NODXT.tga"

		[Body_Woman4]
		Mesh				= "Meshes/Character/woman-body-1.cms"
		Texture				= "Textures/Character/woman-body-4_NODXT.tga"
		LeftHandMesh		= "Meshes/Character/shared-left-hand-1.cms"
		LeftHandTexture		= "Textures/Character/woman-body-4_NODXT.tga"
		RightHandMesh		= "Meshes/Character/shared-right-hand-1.cms"
		RightHandTexture	= "Textures/Character/woman-body-4_NODXT.tga"

		[Body_Man1]
		Mesh				= "Meshes/Character/man-body-1.cms"
		LeftHandMesh		= "Meshes/Character/shared-left-hand-1.cms"
		LeftHandTexture		= "Textures/Character/man-body-1_NODXT.tga"
		RightHandMesh		= "Meshes/Character/shared-right-hand-1.cms"
		RightHandTexture	= "Textures/Character/man-body-1_NODXT.tga"

		[Body_Man2]
		Mesh				= "Meshes/Character/man-body-1.cms"
		Texture				= "Textures/Character/man-body-2_NODXT.tga"
		LeftHandMesh		= "Meshes/Character/shared-left-hand-1.cms"
		LeftHandTexture		= "Textures/Character/man-body-2_NODXT.tga"
		RightHandMesh		= "Meshes/Character/shared-right-hand-1.cms"
		RightHandTexture	= "Textures/Character/man-body-2_NODXT.tga"

		[Body_Man3]
		Mesh				= "Meshes/Character/man-body-1.cms"
		Texture				= "Textures/Character/man-body-3_NODXT.tga"
		LeftHandMesh		= "Meshes/Character/shared-left-hand-1.cms"
		LeftHandTexture		= "Textures/Character/man-body-3_NODXT.tga"
		RightHandMesh		= "Meshes/Character/shared-right-hand-1.cms"
		RightHandTexture	= "Textures/Character/man-body-3_NODXT.tga"

		[Body_Man4]
		Mesh				= "Meshes/Character/man-body-1.cms"
		Texture				= "Textures/Character/man-body-4_NODXT.tga"
		LeftHandMesh		= "Meshes/Character/shared-left-hand-1.cms"
		LeftHandTexture		= "Textures/Character/man-body-4_NODXT.tga"
		RightHandMesh		= "Meshes/Character/shared-right-hand-1.cms"
		RightHandTexture	= "Textures/Character/man-body-4_NODXT.tga"

		# Voice sets
		[Voice_Woman]
		DamagedVO	= "DamagedWomanSound"

		[Voice_Man]
		DamagedVO	= "DamagedManSound"

	[PlayerFaction]
	Faction = "Player"

	[PlayerFootsteps]
	FootstepDistance = 1.5

	[PlayerMapMarker]
	Texture	= "Textures/Minimap/player_NODXT.tga"

	[PlayerReactions]
	NumReactions = &
	@ Reaction
	@@& = "PlayerOnInitializedReaction"
	@@& = "PlayerOnDamagedReaction"
	@@&	= "PlayerEatReaction"
	@@&	= "PlayerOnKeyUsedReaction"
	@@& = "PlayerReviveReaction"
	@@& = "PlayerDeathReaction"
	@@&	= "PlayerShowDeathBookReaction"
	@@&	= "PlayerEndingReaction"
	@@&	= "PlayerRollEndCreditsReaction"
	@@& = "PlayerMeleeConeCheckReaction"
	@@& = "PlayerDaggerConeCheckReaction"
	@@& = "PlayerHatchetConeCheckReaction"
	@@& = "PlayerPickaxeLineCheckReaction"
	@@& = "PlayerPickaxeLineCheckMissedReaction"
	@@& = "PlayerFootstepReaction"
	@@&	= "OnLandedHardReaction"

		[OnLandedHardReaction]
		Rule		= "OnLandedHardRule"
		NumActions	= &
		@ Action
		@@&			= "TakeFallingDamage"

			[OnLandedHardRule]
			Event			= "OnLanded"
			NumConditions	= &
			@ Condition
			@@&				= "LandedHardConditionPE"
			@@&				= "IsNotImmuneToFallingPE"

				[IsNotImmuneToFallingPE]
				PEType		= "NOT"
				Input		= "IsImmuneToFallingPE"

					[IsImmuneToFallingPE]
					PEType		= "StatMod"
					EntityPE	= "SelfPE"
					StatName	= "ImmuneToFalling"
					Input		= "FloatZeroPE"

				[LandedHardConditionPE]
				PEType	= "Conditional"
				Op		= "GTE"
				InputA	= "LandedMagnitudePE"
				InputB	= "LandedHardMinPE"

					[LandedMagnitudePE]
					PEType	= "QueryActionStack"
					Key		= "LandedMagnitude"

					[LandedHardMinPE]
					PEType	= "ConstantFloat"
					Value	= 24.0

			[TakeFallingDamage]
			ActionType		= "SendEvent"
			EventName		= "TakeDamage"
			Recipient		= "SelfPE"
			NumParameters	= &
			@ Parameter
			@@&Name			= "DamageAmount"
			@@^Value		= "FallingDamagePE"
			@@&Name			= "Damager"
			@@^Value		= "SelfPE"
			@@&Name			= "DamageType"
			@@^Value		= "BluntDamageTypePE"

				[FallingDamagePE]
				PEType	= "Add"
				InputA	= "FallingDamageScalePE"
				InputB	= "FloatOnePE"

					[FallingDamageScalePE]
					PEType	= "Div"
					InputA	= "LandedMagnitudeLessMinPE"
					InputB	= "FallingDamageDivisorPE"

						[LandedMagnitudeLessMinPE]
						PEType	= "Sub"
						InputA	= "LandedMagnitudePE"
						InputB	= "LandedHardMinPE"

						# I.e., for every 5m/s above the min (24m/s) that the
						# player is falling, take 1 extra damage.
						[FallingDamageDivisorPE]
						PEType	= "ConstantFloat"
						Value	= 5.0

		[PlayerOnInitializedReaction]
		Rule = "OnInitializedRule"
		NumActions = &
		@ Action
		@@&	= "HideExitHUD"
		@@& = "HideWaterSoulHUD"
		@@& = "HideSandSoulHUD"
		@@& = "HideSwampSoulHUD"
		@@&	= "HideHardSoulHUD"
		@@& = "HideToolHUD"
		@@& = "HideKitHUD"
		@@& = "HideBootsHUD"
		@@&	= "HideAirplaneKeysHUD"
		@@&	= "HidePowerHUD"
		@@&	= "HideWeaponHUD"
		@@&	= "HideWeaponAltHUD"
		@@&	= "HideFrobHUD"

			[OnInitializedRule]
			Event	= "OnInitialized"

			[HideExitHUD]
			ActionType	= "UIShowHideWidget"
			Screen		= "HUD"
			Widget		= "ExitImage"
			Hidden		= true

			[HideWaterSoulHUD]
			ActionType	= "UIShowHideWidget"
			Screen		= "PauseScreen"
			Widget		= "SoulWaterImg"
			Hidden		= true

			[HideSandSoulHUD]
			ActionType	= "UIShowHideWidget"
			Screen		= "PauseScreen"
			Widget		= "SoulSandImg"
			Hidden		= true
			
			[HideSwampSoulHUD]
			ActionType	= "UIShowHideWidget"
			Screen		= "PauseScreen"
			Widget		= "SoulSwampImg"
			Hidden		= true

			[HideHardSoulHUD]
			ActionType	= "UIShowHideWidget"
			Screen		= "PauseScreen"
			Widget		= "SoulHardImg"
			Hidden		= true

			[HideToolHUD]
			ActionType	= "UIShowHideWidget"
			Screen		= "PauseScreen"
			Widget		= "ToolImg"
			Hidden		= true
			SetDisabled	= true

			[HideKitHUD]
			ActionType	= "UIShowHideWidget"
			Screen		= "PauseScreen"
			Widget		= "KitImg"
			Hidden		= true
			SetDisabled	= true

			[HideBootsHUD]
			ActionType	= "UIShowHideWidget"
			Screen		= "PauseScreen"
			Widget		= "BootsImg"
			Hidden		= true
			SetDisabled	= true

			[HideAirplaneKeysHUD]
			ActionType	= "UIShowHideWidget"
			Screen		= "PauseScreen"
			Widget		= "AirplaneKeysImg"
			Hidden		= true

			[HidePowerHUD]
			ActionType	= "UIShowHideWidget"
			Screen		= "HUD"
			#Widget		= "PowerLabel"
			Widget		= "PowerIcon"
			Hidden		= true

			[HideWeaponHUD]
			ActionType	= "UIShowHideWidget"
			Screen		= "HUD"
			Widget		= "WeaponIcon"
			Hidden		= true

			[HideWeaponAltHUD]
			ActionType	= "UIShowHideWidget"
			Screen		= "HUD"
			Widget		= "WeaponAltIcon"
			Hidden		= true

			[HideFrobHUD]
			ActionType	= "Composite"
			NumActions	= &
			@ Action
			@@&			= "HideFrobName"
			@@&			= "HideFrobVerb"
			@@&			= "HideFrobHold"

				[HideFrobName]
				ActionType	= "UIShowHideWidget"
				Screen		= "HUD"
				Widget		= "FrobName"
				Hidden		= true

				[HideFrobVerb]
				ActionType	= "UIShowHideWidget"
				Screen		= "HUD"
				Widget		= "FrobVerb"
				Hidden		= true

				[HideFrobHold]
				ActionType	= "UIShowHideWidget"
				Screen		= "HUD"
				Widget		= "FrobHold"
				Hidden		= true

		[PlayerOnDamagedReaction]
		Rule = "OnDamagedRule"
		NumActions = &
		@ Action
		@@& = "PlayerPlayDamagedVO"
		@@& = "PlayerPlayDamagedFX"
	
			[OnDamagedRule]
			Event		= "OnDamaged"
			NumCriteria	= &
			@ Criterion
			@@&Name		= "IsAlive"
			@@^Min		= "TruePE"

			[PlayerPlayDamagedVO]
			ActionType		= "SendEvent"
			EventName		= "PlaySound"
			Recipient		= "SelfPE"
			NumParameters	= &
			@ Parameter
			@@&Name			= "Sound"
			@@^Value		= "DamagedSoundPE"

				[DamagedSoundPE]
				PEType		= "EldGetCharacterVO"
				EntityPE	= "SelfPE"
				VO			= "DamagedVO"

			[PlayerPlayDamagedFX]
			ActionType		= "SendEvent"
			EventName		= "PlayParticleSystem"
			Recipient		= "SelfPE"
			NumParameters	= &
			@ Parameter
			@@&Name			= "ParticleSystem"
			@@^Value		= "DamagedFXPE"

				[DamagedFXPE]
				PEType		= "ConstantString"
				Value		= "PS_Blood"

		[PlayerEatReaction]
		Rule		= "OnEatRule"
		NumActions	= &
		@ Action
		@@&			= "RemoveEatMoney"
		@@&			= "GiveEatHealth"

			[OnEatRule]
			Event	= "OnEat"

			[RemoveEatMoney]
			ActionType		= "SendEvent"
			EventName		= "RemoveMoney"
			Recipient		= "SelfPE"
			NumParameters	= &
			@ Parameter
			@@&Name			= "Money"
			@@^Value		= "TinningKitCostPE"

			[GiveEatHealth]
			ActionType		= "SendEvent"
			EventName		= "GiveHealth"
			Recipient		= "SelfPE"
			QueueEvent		= true
			NumParameters	= &
			@ Parameter
			@@&Name			= "HealthAmount"
			@@^Value		= "EatHealthValuePE"

				[EatHealthValuePE]
				PEType	= "ConstantInt"
				Value	= 1

		[PlayerOnKeyUsedReaction]
		Rule		= "OnKeyUsedRule"
		NumActions	= &
		@ Action
		@@&			= "RemoveKeyAction"

			[OnKeyUsedRule]
			Event	= "OnKeyUsed"

			[RemoveKeyAction]
			ActionType	= "SendEvent"
			EventName	= "RemoveKey"
			Recipient	= "SelfPE"

		[PlayerReviveReaction]
		Rule		= "OnRevivedRule"
		NumActions	= &
		@ Action
		@@&			= "OnRevivedRemoveMoney"	# NOTE: I'm assuming medkits are the only way to ever revive
		@@&			= "RestoreDefaultHealth"
		@@&			= "StartTouchingAction"
		@@&			= "BecomeVisibleAction"
		@@&			= "EnableFrobAction"
		@@&			= "PopDeathContext"
		@@&			= "PopNullContext"
		@@&			= "ResetViewOffset"
		@@&			= "ShowHandsAction"

			[OnRevivedRule]
			Event	= "OnRevived"

			[OnRevivedRemoveMoney]
			ActionType		= "SendEvent"
			EventName		= "RemoveMoney"
			Recipient		= "SelfPE"
			NumParameters	= &
			@ Parameter
			@@&Name			= "Money"
			@@^Value		= "MedicalKitCostPE"

			[RestoreDefaultHealth]
			ActionType	= "SendEvent"
			EventName	= "RestoreHealth"
			Recipient	= "SelfPE"

			[StartTouchingAction]
			ActionType	= "SendEvent"
			EventName	= "StartTouching"
			Recipient	= "SelfPE"

			[BecomeVisibleAction]
			ActionType	= "SendEvent"
			EventName	= "SetVisible"
			Recipient	= "SelfPE"

			[EnableFrobAction]
			ActionType	= "SendEvent"
			EventName	= "EnableFrob"
			Recipient	= "SelfPE"

			[PopDeathContext]
			ActionType		= "SendEvent"
			EventName		= "PopInputContext"
			Recipient		= "SelfPE"
			NumParameters	= &
			@ Parameter
			@@&Name			= "InputContext"
			@@^Value		= "DeathContextPE"

			[PopNullContext]
			ActionType		= "SendEvent"
			EventName		= "PopInputContext"
			Recipient		= "SelfPE"
			NumParameters	= &
			@ Parameter
			@@&Name			= "InputContext"
			@@^Value		= "NullContextPE"

			[ResetViewOffset]
			ActionType		= "SendEvent"
			EventName		= "ResetViewOffsetZ"
			Recipient		= "SelfPE"

			[ShowHandsAction]
			ActionType	= "SendEvent"
			EventName	= "ShowHands"
			Recipient	= "SelfPE"

		[PlayerShowDeathBookReaction]
		Rule		= "OnShowDeathBookRule"
		NumActions	= &
		@ Action
		@@&			= "ConditionalShowDeathBook"

			[OnShowDeathBookRule]
			Event	= "OnShowDeathBook"

			[ConditionalShowDeathBook]
			ActionType		= "Selector"
			NumSelections	= &
			@ Selection
			@@&Condition	= "HasNotReadDeathBook"
			@@^Action		= "TeachDeathBook"

				[HasNotReadDeathBook]
				PEType	= "NOT"
				Input	= "HasReadDeathBook"

					[HasReadDeathBook]
					PEType	= "EldGetPersistentVar"
					Key		= "HasReadDeathBook"

				[TeachDeathBook]
				ActionType	= "Composite"
				NumActions	= &
				@ Action
				@@&			= "ShowDeathBook"
				@@&			= "MarkDeathBookRead"

					[MarkDeathBookRead]
					ActionType	= "EldSetPersistentVar"
					Key			= "HasReadDeathBook"
					ValuePE		= "TruePE"

		[PlayerEndingReaction]
		Rule		= "OnEndingRule"
		NumActions	= &
		@ Action
		@@&			= "DisablePauseAction"
		@@&			= "BecomeInvulnerableAction"
		@@&			= "DisableFrobAction"
		@@&			= "SetHasFinishedGameAction"
		@@&			= "PushEndingContext"
		@@&			= "EndingFadeOutAction"
		@@&			= "QueueEndCreditsAction"

			[OnEndingRule]
			Event = "OnEnding"

			[DisablePauseAction]
			ActionType	= "SendEvent"
			EventName	= "DisablePause"
			Recipient	= "SelfPE"

			[BecomeInvulnerableAction]
			ActionType	= "SendEvent"
			EventName	= "SetInvulnerable"
			Recipient	= "SelfPE"

			[SetHasFinishedGameAction]
			ActionType	= "EldSetPersistentVar"
			Key			= "HasFinishedGame"
			ValuePE		= "TruePE"

			[PushEndingContext]
			ActionType		= "SendEvent"
			EventName		= "PushInputContext"
			Recipient		= "SelfPE"
			NumParameters	= &
			@ Parameter
			@@&Name			= "InputContext"
			@@^Value		= "EndingContextPE"

				[EndingContextPE]
				PEType	= "ConstantString"
				Value	= "Context_Ending"

			[EndingFadeOutAction]
			ActionType		= "Selector"
			NumSelections	= &
			@ Selection
			@@&Condition	= "TrueEndingConditionPE"
			@@^Action		= "EndingFadeToWhiteAction"
			@@&Condition	= "TruePE"
			@@^Action		= "EndingFadeToBlackAction"

				[EndingFadeToWhiteAction]
				ActionType		= "SendEvent"
				EventName		= "FadeOut"
				NumParameters	= &
				@ Parameter
				@@&Name			= "Duration"
				@@^Value		= "EndingFadeOutDurationPE"
				@@&Name			= "FadeColorR"
				@@^Value		= "FloatOnePE"
				@@&Name			= "FadeColorG"
				@@^Value		= "FloatOnePE"
				@@&Name			= "FadeColorB"
				@@^Value		= "FloatOnePE"

					[EndingFadeOutDurationPE]
					PEType	= "ConstantFloat"
					Value	= 1.5

				[EndingFadeToBlackAction]
				ActionType		= "SendEvent"
				EventName		= "FadeOut"
				NumParameters	= &
				@ Parameter
				@@&Name			= "Duration"
				@@^Value		= "EndingFadeOutDurationPE"

			[QueueEndCreditsAction]
			ActionType		= "SendEvent"
			EventName		= "RollEndCredits"
			Recipient		= "SelfPE"
			QueueEvent		= true
			DispatchDelay	= 1.5

		[PlayerRollEndCreditsReaction]
		Rule		= "RollEndCreditsRule"
		NumActions	= &
		@ Action
		@@&			= "PushEndCreditsScreenAction"
		@@&			= "EndingFadeInAction"
		# TODO ENDING: Credits music (or silence)?

			[RollEndCreditsRule]
			Event	= "RollEndCredits"

			[PushEndCreditsScreenAction]
			ActionType		= "SendEvent"
			EventName		= "PushUIScreen"
			NumParameters	= &
			@ Parameter
			@@&Name			= "Screen"
			@@^Value		= "EndCreditsScreenPE"

				[EndCreditsScreenPE]
				PEType	= "ConstantString"
				Value	= "EndCreditsScreen"

			[EndingFadeInAction]
			ActionType		= "Selector"
			NumSelections	= &
			@ Selection
			@@&Condition	= "TrueEndingConditionPE"
			@@^Action		= "EndingFadeFromWhiteAction"
			@@&Condition	= "TruePE"
			@@^Action		= "EndingFadeFromBlackAction"

				[EndingFadeFromWhiteAction]
				ActionType		= "SendEvent"
				EventName		= "FadeIn"
				NumParameters	= &
				@ Parameter
				@@&Name			= "Duration"
				@@^Value		= "EndingFadeInDurationPE"
				@@&Name			= "FadeColorR"
				@@^Value		= "FloatOnePE"
				@@&Name			= "FadeColorG"
				@@^Value		= "FloatOnePE"
				@@&Name			= "FadeColorB"
				@@^Value		= "FloatOnePE"

					[EndingFadeInDurationPE]
					PEType	= "ConstantFloat"
					Value	= 1.5

				[EndingFadeFromBlackAction]
				ActionType		= "SendEvent"
				EventName		= "FadeIn"
				NumParameters	= &
				@ Parameter
				@@&Name			= "Duration"
				@@^Value		= "EndingFadeInDurationPE"

		[PlayerDeathReaction]
		Rule = "OnDiedRule"
		NumActions = &
		@ Action
		@@&	= "QueueConditionalShowDeathBook"
		@@& = "StopTouchingAction"
		@@& = "BecomeInvisibleAction"
		@@&	= "DisableFrobAction"
		@@& = "PushDeathContext"
		@@& = "SetDeathViewOffset"
		@@& = "HideHandsAction"
		@@&	= "QueueDeathScreenSelector"

			[OnDiedRule]
			Event = "OnDied"

			[QueueConditionalShowDeathBook]
			ActionType		= "SendEvent"
			EventName		= "OnShowDeathBook"
			Recipient		= "SelfPE"
			QueueEvent		= true
			DispatchDelayPE	= "OnShowDeathBookDelayPE"

				[OnShowDeathBookDelayPE]
				PEType			= "Selector"
				NumSelections	= &
				@ Selection
				@@&Condition	= "ShouldShowMedicalScreen"
				@@^Value		= "ShowDeathBookDelayQuickPE"
				@@&Condition	= "TruePE"
				@@^Value		= "ShowDeathBookDelaySlowPE"

					# NOTE: Keep in sync with delays below!
					[ShowDeathBookDelayQuickPE]
					PEType	= "ConstantFloat"
					Value	= 0.4

					[ShowDeathBookDelaySlowPE]
					PEType	= "ConstantFloat"
					Value	= 2.9

			[StopTouchingAction]
			ActionType	= "SendEvent"
			EventName	= "StopTouching"
			Recipient	= "SelfPE"

			[BecomeInvisibleAction]
			ActionType	= "SendEvent"
			EventName	= "SetInvisible"
			Recipient	= "SelfPE"

			[DisableFrobAction]
			ActionType	= "SendEvent"
			EventName	= "DisableFrob"
			Recipient	= "SelfPE"

			[PushDeathContext]
			ActionType		= "SendEvent"
			EventName		= "PushInputContext"
			Recipient		= "SelfPE"
			NumParameters	= &
			@ Parameter
			@@&Name			= "InputContext"
			@@^Value		= "DeathContextPE"

				[DeathContextPE]
				PEType	= "ConstantString"
				Value	= "Context_Death"

			[SetDeathViewOffset]
			ActionType		= "SendEvent"
			EventName		= "SetViewOffsetZ"
			Recipient		= "SelfPE"
			NumParameters	= &
			@ Parameter
			@@&Name			= "ViewOffsetZ"
			@@^Value		= "DeathViewOffsetZPE"

				[DeathViewOffsetZPE]
				PEType	= "ConstantFloat"
				Value	= -0.1

			[HideHandsAction]
			ActionType	= "SendEvent"
			EventName	= "HideHands"
			Recipient	= "SelfPE"

			[QueueDeathScreenSelector]
			ActionType		= "Selector"
			NumSelections	= &
			@ Selection
			@@&Condition	= "ShouldShowMedicalScreen"
			@@^Action		= "QueueMedicalScreenComposite"
			@@&Condition	= "TruePE"
			@@^Action		= "QueueDeathScreen"

				[ShouldShowMedicalScreen]
				PEType		= "StatMod"
				EntityPE	= "SelfPE"
				StatName	= "ShowMedicalScreen"
				Input		= "FloatZeroPE"

				[QueueMedicalScreenComposite]
				ActionType	= "Composite"
				NumActions	= &
				@ Action
				@@&			= "SetReviveButtonStatus"
				@@&			= "QueueMedicalScreen"

					[SetReviveButtonStatus]
					ActionType		= "SendEvent"
					EventName		= "SetWidgetDisabled"
					NumParameters	= &
					@ Parameter
					@@&Name			= "Screen"
					@@^Value		= "MedicalScreenPE"
					@@&Name			= "Widget"
					@@^Value		= "ReviveButtonPE"
					@@&Name			= "Disabled"
					@@^Value		= "CannotAffordRevivePE"

						[CannotAffordRevivePE]
						PEType	= "Conditional"
						Op		= "LT"
						InputA	= "MoneyPE"
						InputB	= "MedicalKitCostPE"

							[MedicalKitCostPE]
							PEType	= "ConstantInt"
							Value	= 50

							# Also satisfy the UI string lookup.
							[MedicalKit]
							RevivePriceTag	= 50

						[ReviveButtonPE]
						PEType	= "ConstantString"
						Value	= "MedicalKitReviveButton"

					[QueueMedicalScreen]
					ActionType		= "SendEvent"
					EventName		= "PushUIScreen"
					QueueEvent		= true
					DispatchDelay	= 0.5	# NOTE: Keep in sync with DeathBook stuff above
					NumParameters	= &
					@ Parameter
					@@&Name			= "Screen"
					@@^Value		= "MedicalScreenPE"

						[MedicalScreenPE]
						PEType	= "ConstantString"
						Value	= "MedicalKitScreen"

				[QueueDeathScreen]
				ActionType		= "SendEvent"
				EventName		= "PushUIScreen"
				QueueEvent		= true
				DispatchDelay	= 3.0	# NOTE: Keep in sync with DeathBook stuff above
				NumParameters	= &
				@ Parameter
				@@&Name			= "Screen"
				@@^Value		= "DeathScreenPE"

					[DeathScreenPE]
					PEType	= "ConstantString"
					Value	= "DeathScreen"

			[DestroySelfAction]
			ActionType = "Destroy"
			DestroyPE = "SelfPE"

		[PlayerMeleeConeCheckReaction]
		Rule		= "PlayerMeleeConeCheckRule"
		NumActions	= &
		@ Action
		@@&			= "PlayerPlayMeleeSFX"
		@@&			= "PlayerPlayMeleeVFX"
		@@&			= "PlayerMeleeDealDamage"
		@@&			= "MeleeApplyImpulse"

			[PlayerPlayMeleeSFX]
			ActionType		= "SendEvent"
			EventName		= "PlaySound"
			Recipient		= "SelfPE"
			NumParameters	= &
			@ Parameter
			@@&Name			= "Sound"
			@@^Value		= "PlayerPunchSoundPE"

				[PlayerPunchSoundPE]
				PEType		= "ConstantString"
				Value		= "PlayerPunchSound"

			[PlayerPlayMeleeVFX]
			ActionType		= "SendEvent"
			EventName		= "PlayParticleSystem"
			Recipient		= "SelfPE"
			NumParameters	= &
			@ Parameter
			@@&Name			= "ParticleSystem"
			@@^Value		= "SmallDustFXPE"
			@@&Name			= "UseLocationOverride"
			@@^Value		= "TruePE"
			@@&Name			= "LocationOverride"
			@@^Value		= "HitLocationPE"

				[SmallDustFXPE]
				PEType	= "ConstantString"
				Value	= "PS_SmallDust"

			[PlayerMeleeConeCheckRule]
			Event = "OnConeCheck"
			NumCriteria = &
			@ Criterion
			@@&Name = "CheckTag"
			@@^Min = "MeleeTagPE"

			[MeleeApplyImpulse]
			ActionType		= "SendEvent"
			EventName		= "ApplyImpulse"
			Recipient		= "CheckedPE"
			NumParameters	= &
			@ Parameter
			@@&Name			= "Impulse"
			@@^Value		= "MeleeImpulsePE"

				[MeleeImpulsePE]
				PEType	= "Mul"
				InputA	= "MeleeDirectionPE"
				InputB	= "MeleeImpulseScalarPE"

					[MeleeDirectionPE]
					PEType	= "Normal"
					Input	= "MeleeOffsetPE"

						[MeleeOffsetPE]
						PEType	= "Sub"
						InputA	= "CheckedLocationPE"
						InputB	= "LocationPE"

							[CheckedLocationPE]
							PEType	= "EldGetLocation"
							Entity	= "CheckedPE"

					[MeleeImpulseScalarPE]
					PEType	= "Lookup"
					Key		= "MeleeImpulse"

			[PlayerMeleeDealDamage]
			ActionType		= "SendEvent"
			EventName		= "TakeDamage"
			Recipient		= "CheckedPE"
			NumParameters	= &
			@ Parameter
			@@&Name			= "DamageAmount"
			@@^Value		= "PlayerMeleeDamagePE"
			@@&Name			= "Damager"
			@@^Value		= "SelfPE"
			@@&Name			= "DamageType"
			@@^Value		= "BluntDamageTypePE"

				[PlayerMeleeDamagePE]
				PEType		= "StatMod"
				EntityPE	= "SelfPE"
				StatName	= "DamageAmount"
				Input		= "PlayerMeleeDamageBasePE"

					[PlayerMeleeDamageBasePE]
					PEType	= "ConstantInt"
					Value	= 1

				[BluntDamageTypePE]
				PEType	= "ConstantString"
				Value	= "Blunt"

		# Putting this in player instead of weapon is messy. But whatever.
		# I'm nearly done with this game.
		[PlayerDaggerConeCheckReaction]
		Rule		= "PlayerDaggerConeCheckRule"
		NumActions	= &
		@ Action
		@@&			= "PlayerPlayDaggerSFX"
		@@&			= "PlayerPlayDaggerVFX"
		@@&			= "PlayerDaggerDealDamage"
		@@&			= "MeleeApplyImpulse"

			[PlayerDaggerConeCheckRule]
			Event		= "OnConeCheck"
			NumCriteria	= &
			@ Criterion
			@@&Name		= "CheckTag"
			@@^Min		= "DaggerTagPE"

				[DaggerTagPE]
				PEType	= "ConstantString"
				Value	= "Dagger"

			[PlayerPlayDaggerSFX]
			ActionType		= "SendEvent"
			EventName		= "PlaySound"
			Recipient		= "SelfPE"
			NumParameters	= &
			@ Parameter
			@@&Name			= "Sound"
			@@^Value		= "PlayerDaggerSoundPE"

				[PlayerDaggerSoundPE]
				PEType		= "ConstantString"
				Value		= "PlayerDaggerSound"

			[PlayerPlayDaggerVFX]
			ActionType		= "SendEvent"
			EventName		= "PlayParticleSystem"
			Recipient		= "SelfPE"
			NumParameters	= &
			@ Parameter
			@@&Name			= "ParticleSystem"
			@@^Value		= "DaggerHitspangFXPE"
			@@&Name			= "UseLocationOverride"
			@@^Value		= "TruePE"
			@@&Name			= "LocationOverride"
			@@^Value		= "HitLocationPE"

				[DaggerHitspangFXPE]
				PEType	= "ConstantString"
				Value	= "PS_DaggerHitspang"

			[PlayerDaggerDealDamage]
			ActionType		= "SendEvent"
			EventName		= "TakeDamage"
			Recipient		= "CheckedPE"
			NumParameters	= &
			@ Parameter
			@@&Name			= "DamageAmount"
			@@^Value		= "PlayerDaggerDamagePE"
			@@&Name			= "Damager"
			@@^Value		= "SelfPE"
			@@&Name			= "DamageType"
			@@^Value		= "SlashingDamageTypePE"

				[PlayerDaggerDamagePE]
				PEType		= "StatMod"
				EntityPE	= "SelfPE"
				StatName	= "DamageAmount"
				Input		= "PlayerDaggerDamageBasePE"

					[PlayerDaggerDamageBasePE]
					PEType	= "EldHardSwitch"
					Normal	= "PlayerDaggerDamageBaseNormalPE"
					Hard	= "PlayerDaggerDamageBaseHardPE"

						[PlayerDaggerDamageBaseNormalPE]
						PEType	= "ConstantInt"
						Value	= 2

						[PlayerDaggerDamageBaseHardPE]
						PEType	= "ConstantInt"
						Value	= 1

				[SlashingDamageTypePE]
				PEType	= "ConstantString"
				Value	= "Slashing"

		[PlayerHatchetConeCheckReaction]
		Rule		= "PlayerHatchetConeCheckRule"
		NumActions	= &
		@ Action
		@@&			= "PlayerPlayHatchetSFX"
		@@&			= "PlayerPlayHatchetVFX"
		@@&			= "PlayerHatchetDealDamage"
		@@&			= "MeleeApplyImpulse"

			[PlayerHatchetConeCheckRule]
			Event		= "OnConeCheck"
			NumCriteria	= &
			@ Criterion
			@@&Name		= "CheckTag"
			@@^Min		= "HatchetTagPE"

				[HatchetTagPE]
				PEType	= "ConstantString"
				Value	= "Hatchet"

			[PlayerPlayHatchetSFX]
			ActionType		= "SendEvent"
			EventName		= "PlaySound"
			Recipient		= "SelfPE"
			NumParameters	= &
			@ Parameter
			@@&Name			= "Sound"
			@@^Value		= "PlayerHatchetSoundPE"

				[PlayerHatchetSoundPE]
				PEType		= "ConstantString"
				Value		= "PlayerHatchetSound"

			[PlayerPlayHatchetVFX]
			ActionType		= "SendEvent"
			EventName		= "PlayParticleSystem"
			Recipient		= "SelfPE"
			NumParameters	= &
			@ Parameter
			@@&Name			= "ParticleSystem"
			@@^Value		= "HatchetHitspangFXPE"
			@@&Name			= "UseLocationOverride"
			@@^Value		= "TruePE"
			@@&Name			= "LocationOverride"
			@@^Value		= "HitLocationPE"

				[HatchetHitspangFXPE]
				PEType	= "ConstantString"
				Value	= "PS_HatchetHitspang"

			[PlayerHatchetDealDamage]
			ActionType		= "SendEvent"
			EventName		= "TakeDamage"
			Recipient		= "CheckedPE"
			NumParameters	= &
			@ Parameter
			@@&Name			= "DamageAmount"
			@@^Value		= "PlayerHatchetDamagePE"
			@@&Name			= "Damager"
			@@^Value		= "SelfPE"
			@@&Name			= "DamageType"
			@@^Value		= "HackingDamageTypePE"

				[PlayerHatchetDamagePE]
				PEType		= "StatMod"
				EntityPE	= "SelfPE"
				StatName	= "DamageAmount"
				Input		= "PlayerHatchetDamageBasePE"

					[PlayerHatchetDamageBasePE]
					PEType	= "EldHardSwitch"
					Normal	= "PlayerHatchetDamageBaseNormalPE"
					Hard	= "PlayerHatchetDamageBaseHardPE"

						[PlayerHatchetDamageBaseNormalPE]
						PEType	= "ConstantInt"
						Value	= 3

						[PlayerHatchetDamageBaseHardPE]
						PEType	= "ConstantInt"
						Value	= 2

				[HackingDamageTypePE]
				PEType	= "ConstantString"
				Value	= "Hacking"

		[PlayerPickaxeLineCheckReaction]
		Rule		= "PlayerPickaxeLineCheckRule"
		NumActions	= &
		@ Action
		@@&			= "PlayerPlayPickaxeSFX"
		@@&			= "PlayerPlayPickaxeVFX"
		@@&			= "PlayerPickaxeDealDamage"
		@@&			= "MeleeApplyImpulse"

			[PlayerPickaxeLineCheckRule]
			Event		= "OnLineCheck"
			NumCriteria	= &
			@ Criterion
			@@&Name		= "CheckTag"
			@@^Min		= "PickaxeTagPE"

				[PickaxeTagPE]
				PEType	= "ConstantString"
				Value	= "Pickaxe"

			[PlayerPlayPickaxeSFX]
			ActionType		= "SendEvent"
			EventName		= "PlaySound"
			Recipient		= "SelfPE"
			NumParameters	= &
			@ Parameter
			@@&Name			= "Sound"
			@@^Value		= "PlayerPickaxeSoundPE"

				[PlayerPickaxeSoundPE]
				PEType		= "ConstantString"
				Value		= "PlayerPickaxeSound"

			[PlayerPlayPickaxeVFX]
			ActionType		= "SendEvent"
			EventName		= "PlayParticleSystem"
			Recipient		= "SelfPE"
			NumParameters	= &
			@ Parameter
			@@&Name			= "ParticleSystem"
			@@^Value		= "PickaxeHitspangFXPE"
			@@&Name			= "UseLocationOverride"
			@@^Value		= "TruePE"
			@@&Name			= "LocationOverride"
			@@^Value		= "HitLocationPE"

				[PickaxeHitspangFXPE]
				PEType	= "ConstantString"
				Value	= "PS_PickaxeHitspang"

			[PlayerPickaxeDealDamage]
			ActionType		= "SendEvent"
			EventName		= "TakeDamage"
			Recipient		= "CheckedPE"
			NumParameters	= &
			@ Parameter
			@@&Name			= "DamageAmount"
			@@^Value		= "PlayerPickaxeDamagePE"
			@@&Name			= "Damager"
			@@^Value		= "SelfPE"
			@@&Name			= "DamageType"
			@@^Value		= "HackingDamageTypePE"

				[PlayerPickaxeDamagePE]
				PEType		= "StatMod"
				EntityPE	= "SelfPE"
				StatName	= "DamageAmount"
				Input		= "PlayerPickaxeDamagePE"

					[PlayerPickaxeDamagePE]
					PEType	= "ConstantInt"
					Value	= 1

		[PlayerPickaxeLineCheckMissedReaction]
		Rule		= "PlayerPickaxeLineCheckMissedRule"
		NumActions	= &
		@ Action
		@@&			= "PlayerPlayPickaxeSFX"
		@@&			= "PlayerPlayPickaxeVFX"
		@@&			= "DestroyCheckedVoxel"
		@@&			= "NotifyPickaxeUsed"

			[PlayerPickaxeLineCheckMissedRule]
			Event		= "OnLineCheckMissed"
			NumCriteria	= &
			@ Criterion
			@@&Name		= "CheckTag"
			@@^Min		= "PickaxeTagPE"

			[NotifyPickaxeUsed]
			ActionType	= "SendEvent"
			EventName	= "PickaxeUsed"
			Recipient	= "WeaponPE"
			EventOwner	= "WeaponPE"

				[WeaponPE]
				PEType		= "EldGetItem"
				EntityPE	= "SelfPE"
				SlotPE		= "WeaponSlotPE"
				
					[WeaponSlotPE]
					PEType	= "ConstantString"
					Value	= "Weapon"

		[PlayerFootstepReaction]
		Rule = "PlayerFootstepRule"
		NumActions = &
		@ Action
		@@& = "PlayerFootstepPlayAINoise"
		@@& = "PlayerFootstepPlaySound"

			[PlayerFootstepRule]
			Event = "OnFootstep"

			[PlayerFootstepPlayAINoise]
			ActionType		= "SendEvent"
			EventName		= "OnAINoise"
			NumParameters	= &
			@ Parameter
			@@&Name			= "NoiseLocation"
			@@^Value		= "LocationPE"
			@@&Name			= "NoiseRadius"
			@@^Value		= "PlayerFootstepNoiseRadiusPE"

				[PlayerFootstepNoiseRadiusPE]
				PEType		= "StatMod"
				EntityPE	= "SelfPE"
				StatName	= "FootstepRadius"
				Input		= "PlayerFootstepNoiseBaseRadiusPE"
				
					[PlayerFootstepNoiseBaseRadiusPE]
					PEType	= "ConstantFloat"
					Value	= 5.0

			[PlayerFootstepPlaySound]
			ActionType		= "SendEvent"
			EventName		= "PlaySound"
			Recipient		= "SelfPE"
			NumParameters	= &
			@ Parameter
			@@&Name			= "Sound"
			@@^Value		= "FootstepSoundPE"
			@@&Name			= "Volume"
			@@^Value		= "FootstepVolumePE"

				[FootstepSoundPE]
				PEType		= "ConstantString"
				Value		= "TestFootstepSound"

				[FootstepVolumePE]
				PEType		= "StatMod"
				EntityPE	= "SelfPE"
				StatName	= "FootstepVolume"
				Input		= "FootstepBaseVolumePE"
				
					[FootstepBaseVolumePE]
					PEType	= "ConstantFloat"
					Value	= 0.6

[Sphere]
EldTransform	= "."
EldMesh			= "SphereMesh"
EldDropShadow	= "SphereDropShadow"
EldParticles	= "SphereParticles"

	[SphereMesh]
	Mesh = "Meshes/sphere.cms"
	IrradianceOffsetZ = 0.0

	[SphereDropShadow]
	Radius = 0.5
	VoxelCheckOffsetZ = 0.0
	Alpha = 0.5
	ShadowFloatZ = 0.01

	[SphereParticles]
	Particles = "TestSystem"

[LitSphere]
Extends			= "Sphere"
EldLight		= "LitSphereLight"
EldMesh			= "LitSphereMesh"
EldDropShadow	= ""
EldParticles	= ""

	[LitSphereMesh]
	Mesh = "Meshes/litsphere.cms"
	IrradianceOffsetZ = 0.0
	UseBlendedIrradiance = false

	[LitSphereLight]
	Radius = 6.0
	ColorR = 1.0
	ColorG = 1.0
	ColorB = 1.0

[RedLitSphere]
Extends = "LitSphere"
EldLight = "RedLitSphereLight"

	[RedLitSphereLight]
	Extends = "LitSphereLight"
	ColorR = 1.25
	ColorG = 0.75
	ColorB = 0.25

[BlueLitSphere]
Extends = "LitSphere"
EldLight = "BlueLitSphereLight"

	[BlueLitSphereLight]
	Extends = "LitSphereLight"
	ColorR = 0.5
	ColorG = 0.5
	ColorB = 1.5

[ClimbableBase]
EldTransform	= "ClimbableTransform"
EldClimbable	= "."

	[ClimbableTransform]
	CanMove	= false

[GenerationsCounter]
EldTransform	= "."
Reactions		= "GenerationsCounterReactions"

	[GenerationsCounterReactions]
	NumReactions	= &
	@ Reaction
	@@&				= "GenerationsCounterOnSpawnedReaction"
	@@&				= "GenerationsCounterOnSpawnedReaction"

		[GenerationsCounterOnSpawnedReaction]
		Rule		= "OnSpawnedRule"
		NumActions	= &
		@ Action
		@@&			= "IncrementGenerationsCounterAction"

			[IncrementGenerationsCounterAction]
			ActionType	= "EldSetPersistentVar"
			Key			= "GenerationsCounter"
			ValuePE		= "GenerationsCounterPlusOnePE"

				[GenerationsCounterPlusOnePE]
				PEType	= "Add"
				InputA	= "GenerationsCounterPE"
				InputB	= "IntOnePE"

					[GenerationsCounterPE]
					PEType	= "EldGetPersistentVar"
					Key		= "GenerationsCounter"