[EldritchInput]
KeyboardBindings	= "EldritchKeyboard"
MouseBindings		= "EldritchMouse"
ControllerBindings	= "EldritchController"

HoldTime			= 0.25

# These aren't used internally, but represent what will be visible
# to the player, e.g. on the binds screen.
NumExposedInputs = &
@ ExposedInput
@@& = "Forward"
@@& = "Back"
@@& = "Left"
@@& = "Right"
@@& = "Jump"
@@& = "Frob"
@@& = "LeanLeft"
@@& = "LeanRight"
@@& = "Run"
@@& = "Crouch"
@@& = "UseWeapon"
@@& = "UsePower"
@@& = "DropWeapon"
@@&	= "CycleUp"
@@&	= "CycleDown"

NumInputs = &
@ Input
@@& = "Forward"
@@& = "Back"
@@& = "Left"
@@& = "Right"
@@& = "Jump"
@@& = "Frob"
@@& = "LeanLeft"
@@& = "LeanRight"
@@& = "Run"
@@& = "Crouch"
@@& = "ClimbForward"
@@& = "ClimbBack"
@@&	= "ClimbDown"
@@& = "ClimbJump"
@@& = "Mantle"
@@& = "UseWeapon"
@@& = "UsePower"
@@& = "DropWeapon"
@@&	= "CycleUp"
@@&	= "CycleDown"

NumAnalogInputs = &
@ AnalogInput
@@&			= "MoveX"
@@^Clamp	= true
@@^ClampMin	= -1.0
@@^ClampMax	= 1.0
@@&			= "MoveY"
@@^Clamp	= true
@@^ClampMin	= -1.0
@@^ClampMax	= 1.0
@@&			= "ClimbY"
@@^Clamp	= true
@@^ClampMin	= -1.0
@@^ClampMax	= 1.0
@@&			= "TurnX"
@@^Clamp	= false
@@&			= "TurnY"
@@^Clamp	= false

NumInputContexts = &
@ InputContext
@@& = "Context_PowerSlide"
@@& = "Context_Climb"
@@& = "Context_Mantle"
@@& = "Context_Death"
@@& = "Context_Null"
@@& = "Context_Ending"

[EldritchKeyboard]
Forward		= "W"
Back		= "S"
Left		= "A"
Right		= "D"
Jump		= "Space"
Frob		= "F"
LeanLeft	= "Q"
LeanRight	= "E"
Run			= "LShft"
Crouch		= "C"
DropWeapon	= "Z"
CycleUp		= "X"

[EldritchMouse]
TurnX			= "MouseX"
TurnY			= "MouseY"
UseWeapon		= "LMB"
UsePower		= "RMB"
CycleUp			= "WheelUp"
CycleDown		= "WheelDown"

[EldritchController]
MoveX		= "xLeftX"
MoveY		= "xLeftY"
TurnX		= "xRightX"
TurnY		= "xRightY"
Jump		= "xA"
Frob		= "xX"
DropWeapon	= "xY"
CycleUp		= "RB"
LeanLeft	= "xLeft"
LeanRight	= "xRight"
UseWeapon	= "RT"
UsePower	= "LT"
Run			= "LB"		# Run is more conventionally on LS; but for a toggle, not a hold.
Crouch		= "xB"		# Used to be RS, then LS. Far Cry 3 and Dishonored use B, though.
NumUnbindableInputs = &
@ UnbindableInput
@@& = "Forward"
@@& = "Back"
@@& = "Left"
@@& = "Right"
NumGearConfigs	= &
@ GearConfig
@@&Input			= "TurnX"
@@^HighScalar		= 1.0
@@^HighThreshold	= 0.75
@@^HighShiftTime	= 0.1
@@^LowScalar		= 0.5
@@^LowThreshold		= 0.2
@@^LowShiftTime		= 0.2
@@&Input			= "TurnY"
@@^HighScalar		= 1.0
@@^HighThreshold	= 0.75
@@^HighShiftTime	= 0.1
@@^LowScalar		= 0.5
@@^LowThreshold		= 0.2
@@^LowShiftTime		= 0.2

[Context_PowerSlide]
Suppress	= false
Forward		= ""
Back		= ""
Left		= ""
Right		= ""
MoveX		= ""
MoveY		= ""
#Run		= ""	# Removed because code now disables the running stat mod while crouched

[Context_Climb]
Suppress = true
Jump	= "ClimbJump"
Forward	= "ClimbForward"
Back	= "ClimbBack"
Crouch	= "ClimbDown"
MoveY	= "ClimbY"
TurnX	= "TurnX"
TurnY	= "TurnY"

[Context_Mantle]
Suppress = true
Jump	= "Mantle"
TurnX	= "TurnX"
TurnY	= "TurnY"

[Context_Death]
Suppress	= true
TurnX		= "TurnX"
TurnY		= "TurnY"

[Context_Null]
Suppress	= true

[Context_Ending]
Suppress	= true