# ********************************
# Materials

[Material_Min]
VertexShader	= "VS_Min"
PixelShader		= "PS_Min"

[Material_World]
SDP				= "EldWorld"
VertexShader	= "VS_World"
PixelShader		= "PS_World"
NumSamplers		= &
@ Sampler
@@&				= "PointSampler"
@@&				= "FogSampler"

[Material_EntityStatic]
SDP				= "EldLit"
VertexShader	= "VS_PosUVNormal"
PixelShader		= "PS_Entity"
NumSamplers		= &
@ Sampler
@@&				= "PointSampler"
@@&				= "FogSampler"

[Material_EntityStaticAlphaTest]
SDP				= "EldLit"
VertexShader	= "VS_PosUVNormal"
PixelShader		= "PS_EntityAlphaTest"
NumSamplers		= &
@ Sampler
@@&				= "PointSampler"
@@&				= "FogSampler"

[Material_EntityAnimated]
SDP				= "EldLit"
VertexShader	= "VS_PosUVNormalAnimated"
PixelShader		= "PS_Entity"
NumSamplers		= &
@ Sampler
@@&				= "PointSampler"
@@&				= "FogSampler"

[Material_EntityAnimatedAlphaTest]
SDP				= "EldLit"
VertexShader	= "VS_PosUVNormalAnimated"
PixelShader		= "PS_EntityAlphaTest"
NumSamplers		= &
@ Sampler
@@&				= "PointSampler"
@@&				= "FogSampler"

[Material_Post]
SDP				= "EldPost"
VertexShader	= "VS_PosUV"
PixelShader		= "PS_Post"
ZEnable			= false
ZWriteEnable	= false
NumSamplers	= &
@ Sampler
@@&				= "MinSampler"
@@&				= "ColorGradingSampler"

[Material_HUD]
SDP					= "EldHUD"
VertexShader		= "VS_PosUV"
PixelShader			= "PS_HUD"
ZEnable				= false
ZWriteEnable		= false
AlphaBlendEnable	= true
SrcBlend			= "SrcAlpha"
DestBlend			= "InvSrcAlpha"
NumSamplers			= &
@ Sampler
@@&					= "HUDSampler"

[Material_HUDNoFilter]
SDP					= "EldHUD"
VertexShader		= "VS_PosUV"
PixelShader			= "PS_HUD"
ZEnable				= false
ZWriteEnable		= false
AlphaBlendEnable	= true
SrcBlend			= "SrcAlpha"
DestBlend			= "InvSrcAlpha"
NumSamplers			= &
@ Sampler
@@&					= "PointSampler"

[Material_HUDNoFilterCalibration]
SDP					= "EldHUDCalibration"
VertexShader		= "VS_PosUV"
PixelShader			= "PS_HUDCalibration"
ZEnable				= false
ZWriteEnable		= false
AlphaBlendEnable	= true
SrcBlend			= "SrcAlpha"
DestBlend			= "InvSrcAlpha"
NumSamplers			= &
@ Sampler
@@&					= "PointSampler"

[Material_HUDMirror]
SDP					= "EldHUD"
VertexShader		= "VS_PosUV"
PixelShader			= "PS_HUDMirror"
ZEnable				= false
ZWriteEnable		= false
AlphaBlendEnable	= true
SrcBlend			= "SrcAlpha"
DestBlend			= "InvSrcAlpha"
NumSamplers			= &
@ Sampler
@@&					= "PointSampler"

[Material_HUDMinimap]
SDP					= "EldHUD"
VertexShader		= "VS_PosUV"
PixelShader			= "PS_HUDMinimap"
ZEnable				= false
ZWriteEnable		= false
AlphaBlendEnable	= true
SrcBlend			= "SrcAlpha"
DestBlend			= "InvSrcAlpha"
NumSamplers			= &
@ Sampler
@@&					= "PointSampler"

[Material_DropShadow]
SDP					= "EldDropShadow"
ZWriteEnable		= false
AlphaBlendEnable	= true
DestBlend			= "InvSrcAlpha"
SrcBlend			= "SrcAlpha"
VertexShader		= "VS_DropShadow"
PixelShader			= "PS_DropShadow"
NumSamplers			= &
@ Sampler
@@&					= "PointSampler"
@@&					= "FogSampler"

[Material_ParticlesAdditive]
SDP					= "EldLit"
ZWriteEnable		= false
AlphaBlendEnable	= true
DestBlend			= "One"
SrcBlend			= "SrcAlpha"
VertexShader		= "VS_Particles"
PixelShader			= "PS_ParticlesAdditive"
NumSamplers			= &
@ Sampler
@@&					= "PointSampler"
@@&					= "FogSampler"

[Material_ParticlesAlpha]
SDP					= "EldLit"
ZWriteEnable		= false
AlphaBlendEnable	= true
DestBlend			= "InvSrcAlpha"
SrcBlend			= "SrcAlpha"
VertexShader		= "VS_Particles"
PixelShader			= "PS_ParticlesAlpha"
NumSamplers			= &
@ Sampler
@@&					= "PointSampler"
@@&					= "FogSampler"

[Material_ParticlesAlphaTest]
SDP					= "EldLit"
VertexShader		= "VS_Particles"
PixelShader			= "PS_ParticlesAlphaTest"
NumSamplers			= &
@ Sampler
@@&					= "PointSampler"
@@&					= "FogSampler"

[Material_WorldTools]
SDP					= "Base"
VertexShader		= "VS_WorldTools"
PixelShader			= "PS_WorldTools"
NumSamplers			= &
@ Sampler
@@&					= "PointSampler"

[Material_Minimap]
SDP					= "Base"
ZEnable				= false
ZWriteEnable		= false
AlphaBlendEnable	= true
DestBlend			= "InvSrcAlpha"
SrcBlend			= "SrcAlpha"
VertexShader		= "VS_PosUV"
PixelShader			= "PS_Minimap"
NumSamplers			= &
@ Sampler
@@&					= "PointSampler"

# ********************************
# Shaders

[VS_Min]
HLSL	= "Shaders/HLSL/min.chv2"
GLSL	= "Shaders/GLSL/min.gv12"

# TODO: Rename to describe what these *do*, not what they're used for
[VS_World]
HLSL	= "Shaders/HLSL/world.chv2"
GLSL	= "Shaders/GLSL/world.gv12"

[VS_PosUV]
HLSL	= "Shaders/HLSL/pos-uv.chv2"
GLSL	= "Shaders/GLSL/pos-uv.gv12"

[VS_PosUVNormal]
HLSL	= "Shaders/HLSL/pos-uv-normal.chv2"
GLSL	= "Shaders/GLSL/pos-uv-normal.gv12"

[VS_PosUVNormalAnimated]
HLSL	= "Shaders/HLSL/pos-uv-normal-animated.chv2"
GLSL	= "Shaders/GLSL/pos-uv-normal-animated.gv12"

[VS_DropShadow]
HLSL	= "Shaders/HLSL/drop-shadow.chv2"
GLSL	= "Shaders/GLSL/drop-shadow.gv12"

[VS_Particles]
HLSL	= "Shaders/HLSL/particles.chv2"
GLSL	= "Shaders/GLSL/particles.gv12"

[VS_WorldTools]
HLSL	= "Shaders/HLSL/world-tools.chv2"
GLSL	= "Shaders/GLSL/world-tools.gv12"

[PS_Min]
HLSL	= "Shaders/HLSL/min.chp2"
GLSL	= "Shaders/GLSL/min.gf12"

[PS_World]
HLSL	= "Shaders/HLSL/world.chp2"
GLSL	= "Shaders/GLSL/world.gf12"

[PS_Entity]
HLSL	= "Shaders/HLSL/entity.chp2"
GLSL	= "Shaders/GLSL/entity.gf12"

[PS_EntityAlphaTest]
HLSL	= "Shaders/HLSL/entity-alphatest.chp2"
GLSL	= "Shaders/GLSL/entity-alphatest.gf12"

[PS_HUD]
HLSL	= "Shaders/HLSL/hud.chp2"
GLSL	= "Shaders/GLSL/hud.gf12"

[PS_HUDCalibration]
HLSL	= "Shaders/HLSL/hud-calibration.chp2"
GLSL	= "Shaders/GLSL/hud-calibration.gf12"

[PS_HUDMirror]
HLSL	= "Shaders/HLSL/hud.chp2"	# Don't need anything special for HLSL
GLSL	= "Shaders/GLSL/hud-mirror.gf12"

[PS_HUDMinimap]
HLSL	= "Shaders/HLSL/hud-minimap.chp2"
GLSL	= "Shaders/GLSL/hud-minimap.gf12"

[PS_Post]
HLSL	= "Shaders/HLSL/post.chp2"
GLSL	= "Shaders/GLSL/post.gf12"

[PS_DropShadow]
HLSL	= "Shaders/HLSL/drop-shadow.chp2"
GLSL	= "Shaders/GLSL/drop-shadow.gf12"

[PS_ParticlesAdditive]
HLSL	= "Shaders/HLSL/particles-additive.chp2"
GLSL	= "Shaders/GLSL/particles-additive.gf12"

[PS_ParticlesAlpha]
HLSL	= "Shaders/HLSL/particles-alpha.chp2"
GLSL	= "Shaders/GLSL/particles-alpha.gf12"

[PS_ParticlesAlphaTest]
HLSL	= "Shaders/HLSL/particles-alphatest.chp2"
GLSL	= "Shaders/GLSL/particles-alphatest.gf12"

[PS_WorldTools]
HLSL	= "Shaders/HLSL/world-tools.chp2"
GLSL	= "Shaders/GLSL/world-tools.gf12"

[PS_Minimap]
HLSL	= "Shaders/HLSL/minimap.chp2"
GLSL	= "Shaders/GLSL/minimap.gf12"

# ********************************
# Samplers

[PointSampler]
Texture		= 0
AddressU	= "Wrap"
AddressV	= "Wrap"
MinFilter	= "Point"
MagFilter	= "Point"
MipFilter	= "None"

[FogSampler]
Texture		= 1
MinFilter	= "Linear"
MagFilter	= "Linear"
MipFilter	= "None"

[HUDSampler]
Texture		= 0
MinFilter	= "Linear"
MagFilter	= "Linear"
MipFilter	= "None"
AddressU	= "Clamp"
AddressV	= "Clamp"

[MinSampler]
Texture		= 0

[ColorGradingSampler]
Texture		= 1
AddressU	= "Wrap"
AddressV	= "Wrap"
MinFilter	= "Linear"
MagFilter	= "Linear"
MipFilter	= "None"