[TestSystem]
SpawnRate = 1.0
LifetimeMin = 2.0
LifetimeMax = 3.0
MaxParticles = 3	# Should be at least SpawnRate * LifetimeMax
TextureMap = "Textures/FX/smoke_NODXT.tga"
AlphaTestDraw = true
#AdditiveDraw = true
Collision = false
SpawnExtentsX = 0.5
SpawnExtentsY = 0.5
SpawnExtentsZ = 0.5
InitialVelocityOSMinX = -0.3
InitialVelocityOSMaxX = 0.3
InitialVelocityOSMinY = -0.3
InitialVelocityOSMaxY = 0.3
InitialVelocityOSMinZ = 0.1
InitialVelocityOSMaxZ = 0.5
AccelerationWSX = 0.15
AccelerationWSY = 0.15
AccelerationWSZ = 0.4
ViewBoundRadius = 4.0
InitialSizeMin = 0.5
InitialSizeMax = 1.0
SizeVelocityMin = 0.1	# Linear growth in meters per second
SizeVelocityMax = 0.2
ColorMinA = 0.6
ColorMaxA = 0.75
ColorMinR = 0.45
ColorMaxR = 0.5
ColorMinG = 0.45
ColorMaxG = 0.5
ColorMinB = 0.45
ColorMaxB = 0.5

[PS_Bubbles]
SpawnRate = 2.0
LifetimeMin = 2.0
LifetimeMax = 3.0
MaxParticles = 6	# Should be at least SpawnRate * LifetimeMax
TextureMap = "Textures/FX/bubbles_NODXT.tga"
AlphaTestDraw = true
SpawnExtentsX = 1.0
SpawnExtentsY = 1.0
SpawnExtentsZ = 1.5
InitialVelocityOSMinZ = 0.1
InitialVelocityOSMaxZ = 0.5
ViewBoundRadius = 4.0
InitialSizeMin = 0.8
InitialSizeMax = 1.2
ColorMinR = 0.6
ColorMaxR = 1.0
LinkedRGB = true

[PS_Projectile]
SpawnRate				= 12.0
LifetimeMin				= 1.0
LifetimeMax				= 1.0
MaxParticles			= 12	# Should be at least SpawnRate * LifetimeMax
TextureMap				= "Textures/FX/smoke_NODXT.tga"
AlphaTestDraw			= true
SpawnExtentsX			= 0.2
SpawnExtentsY			= 0.2
SpawnExtentsZ			= 0.2
InitialVelocityOSMinX	= -0.1
InitialVelocityOSMaxX	= 0.1
InitialVelocityOSMinY	= -0.1
InitialVelocityOSMaxY	= 0.1
InitialVelocityOSMinZ	= -0.1
InitialVelocityOSMaxZ	= 0.1
AccelerationWSZ			= 1.0
ViewBoundRadius			= 4.0
InitialSizeMin			= 0.2
InitialSizeMax			= 0.3
SizeVelocityMin			= 1.0
SizeVelocityMax			= 1.5
ColorMinR				= 0.6
ColorMaxR				= 1.0
LinkedRGB				= true

[PS_Smoke]
SpawnRate = 4.0
LifetimeMin = 2.0
LifetimeMax = 3.0
MaxParticles = 12	# Should be at least SpawnRate * LifetimeMax
TextureMap = "Textures/FX/smoke_NODXT.tga"
AlphaTestDraw = true
SpawnOffsetOSY = 0.1875
SpawnOffsetOSZ = 0.45
SpawnExtentsX = 0.1
SpawnExtentsY = 0.1
SpawnExtentsZ = 0.1
InitialVelocityOSMinX = -0.1
InitialVelocityOSMaxX = 0.1
InitialVelocityOSMinY = -0.1
InitialVelocityOSMaxY = 0.1
InitialVelocityOSMinZ = 0.0
InitialVelocityOSMaxZ = 0.1
AccelerationWSZ = 0.1
ViewBoundRadius = 4.0
InitialSizeMin = 0.1
InitialSizeMax = 0.2
SizeVelocityMin = 0.1	# Linear growth in meters per second
SizeVelocityMax = 0.2
ColorMinR = 0.4
ColorMaxR = 0.5
LinkedRGB = true

[PS_Torch]
SpawnRate = 4.0
LifetimeMin = 0.5
LifetimeMax = 1.0
MaxParticles = 4	# Should be at least SpawnRate * LifetimeMax
TextureMap = "Textures/FX/flame_NODXT.tga"
AdditiveDraw = true
SpawnOffsetOSZ = 0.35
SpawnExtentsX = 0.05
SpawnExtentsY = 0.05
SpawnExtentsZ = 0.05
InitialVelocityOSMinX = -0.02
InitialVelocityOSMaxX = 0.02
InitialVelocityOSMinY = -0.02
InitialVelocityOSMaxY = 0.02
InitialVelocityOSMinZ = 0.04
InitialVelocityOSMaxZ = 0.08
ViewBoundRadius = 1.0
InitialSizeMin = 0.2
InitialSizeMax = 0.3
SizeVelocityMin = -0.1	# Linear growth in meters per second
SizeVelocityMax = -0.05

[PS_Blood]
ImmediateSpawnMax = true
LifetimeMin = 0.8
LifetimeMax = 1.0
MaxParticles = 10
TextureMap = "Textures/FX/blood_NODXT.tga"
ForegroundDraw = true
AlphaTestDraw = true
SpawnExtentsX = 0.5
SpawnExtentsY = 0.5
SpawnExtentsZ = 0.5
SpawnOffsetOSY = 0.5
SpawnOffsetOSZ = 0.4
InitialVelocityOSMinX = -0.1
InitialVelocityOSMaxX = 0.1
InitialVelocityOSMinY = -0.1
InitialVelocityOSMaxY = 0.1
InitialVelocityOSMinZ = 0.6
InitialVelocityOSMaxZ = 1.2
AccelerationWSZ = -15.0
ViewBoundRadius = 2.0
InitialSizeMin = 0.3
InitialSizeMax = 0.6

[PS_NPCBlood]
ImmediateSpawnMax		= true
LifetimeMin				= 0.4
LifetimeMax				= 0.8
MaxParticles			= 8
TextureMap				= "Textures/FX/blood_NODXT.tga"
AlphaTestDraw			= true
SpawnExtentsX			= 0.2
SpawnExtentsY			= 0.2
SpawnExtentsZ			= 0.5
SpawnOffsetOSZ			= 0.5
InitialVelocityOSMinX	= -2.0
InitialVelocityOSMaxX	= 2.0
InitialVelocityOSMinY	= -2.0
InitialVelocityOSMaxY	= 2.0
InitialVelocityOSMinZ	= 1.5
InitialVelocityOSMaxZ	= 2.5
AccelerationWSZ			= -10.0
ViewBoundRadius			= 2.0
InitialSizeMin			= 0.6
InitialSizeMax			= 0.8
ColorMinR				= 1.5
ColorMaxR				= 1.5
LinkedRGB				= true

[PS_Dust]
ImmediateSpawnMax = true
LifetimeMin = 0.5
LifetimeMax = 1.0
MaxParticles = 3
TextureMap = "Textures/FX/dust_NODXT.tga"
SpawnExtentsX = 0.1
SpawnExtentsY = 0.1
SpawnExtentsZ = 0.1
InitialVelocityOSMinX = -0.5
InitialVelocityOSMaxX = 0.5
InitialVelocityOSMinY = -0.5
InitialVelocityOSMaxY = 0.5
InitialVelocityOSMinZ = -0.5
InitialVelocityOSMaxZ = 0.5
ViewBoundRadius = 2.0
InitialSizeMin = 0.25
InitialSizeMax = 0.5
SizeVelocityMin = 0.8
SizeVelocityMax = 1.0
ColorMinA = 0.4
ColorMaxA = 0.8

[PS_SmallDust]
Extends = "PS_Dust"
InitialVelocityOSMinX = -0.2
InitialVelocityOSMaxX = 0.2
InitialVelocityOSMinY = -0.2
InitialVelocityOSMaxY = 0.2
InitialVelocityOSMinZ = -0.2
InitialVelocityOSMaxZ = 0.2
InitialSizeMin = 0.1
InitialSizeMax = 0.2
SizeVelocityMin = 0.4
SizeVelocityMax = 0.5

[PS_Hitspang]
AdditiveDraw = true
ImmediateSpawnMax = true
LifetimeMin = 0.15
LifetimeMax = 0.3
MaxParticles = 5
TextureMap = "Textures/FX/dust_NODXT.tga"
InitialVelocityOSMinX = -2.0
InitialVelocityOSMaxX = 2.0
InitialVelocityOSMinY = -2.0
InitialVelocityOSMaxY = 2.0
InitialVelocityOSMinZ = -1.0
InitialVelocityOSMaxZ = 3.0
AccelerationWSZ = -10.0
ViewBoundRadius = 3.0
InitialSizeMin = 0.25
InitialSizeMax = 0.5
SizeVelocityMin = 1.0
SizeVelocityMax = 1.5
ColorMinR = 1.2
ColorMaxR = 1.2
ColorMinG = 0.9
ColorMaxG = 0.9
ColorMinB = 0.3
ColorMaxB = 0.3

[PS_DaggerHitspang]
Extends					= "PS_Hitspang"
MaxParticles			= 3
InitialVelocityOSMinX	= -1.0
InitialVelocityOSMaxX	= 1.0
InitialVelocityOSMinY	= -1.0
InitialVelocityOSMaxY	= 1.0
InitialVelocityOSMinZ	= -0.5
InitialVelocityOSMaxZ	= 1.5
InitialSizeMin			= 0.1
InitialSizeMax			= 0.2

[PS_HatchetHitspang]
Extends					= "PS_Hitspang"
MaxParticles			= 4
InitialVelocityOSMinX	= -1.25
InitialVelocityOSMaxX	= 1.25
InitialVelocityOSMinY	= -1.25
InitialVelocityOSMaxY	= 1.25
InitialVelocityOSMinZ	= -0.625
InitialVelocityOSMaxZ	= 1.875
InitialSizeMin			= 0.1
InitialSizeMax			= 0.2

[PS_PickaxeHitspang]
Extends					= "PS_DaggerHitspang"

[PS_MuzzleFlash]
Extends = "PS_Hitspang"
MaxParticles = 3
ForegroundDraw = true
SpawnOffsetOSX			= 0.11
SpawnOffsetOSY			= 0.73
SpawnOffsetOSZ			= 0.06
InitialVelocityOSMinX	= -0.5
InitialVelocityOSMaxX	= 0.5
InitialVelocityOSMinY	= 1.0
InitialVelocityOSMaxY	= 2.0
InitialVelocityOSMinZ	= -0.5
InitialVelocityOSMaxZ	= 0.5
AccelerationWSZ			= 0.0
InitialSizeMin			= 0.1
InitialSizeMax			= 0.2
SizeVelocityMin			= 1.0
SizeVelocityMax			= 1.0

[PS_PowerProxy]
SpawnRate				= 5.0
LifetimeMin				= 0.5
LifetimeMax				= 1.0
MaxParticles			= 5		# Should be at least SpawnRate * LifetimeMax
TextureMap				= "Textures/FX/bubbles_NODXT.tga"
ForegroundDraw			= true
AdditiveDraw			= true
SpawnExtentsX			= 0.01
SpawnExtentsY			= 0.01
SpawnExtentsZ			= 0.01
InitialVelocityOSMinX	= -0.02
InitialVelocityOSMaxX	= 0.02
InitialVelocityOSMinY	= -0.02
InitialVelocityOSMaxY	= 0.02
InitialVelocityOSMinZ	= 0.05
InitialVelocityOSMaxZ	= 0.1
ViewBoundRadius			= 1.0
InitialSizeMin			= 0.12
InitialSizeMax			= 0.16
SizeVelocityMin			= -0.1	# Linear growth in meters per second
SizeVelocityMax			= -0.08
SpawnOffsetOSX			= -0.1
SpawnOffsetOSY			= 0.5
ColorMinR				= 0.5
ColorMaxR				= 1.0
LinkedRGB				= true

[PS_PowerProxyFlash]
Extends		= "PS_MuzzleFlash"
TextureMap	= "Textures/FX/bubbles_NODXT.tga"
ColorMinR	= 1.0
ColorMaxR	= 1.0
ColorMinG	= 1.0
ColorMaxG	= 1.0
ColorMinB	= 1.0
ColorMaxB	= 1.0
ColorMinR	= 0.5
ColorMaxR	= 1.0
LinkedRGB	= true

[PS_PowerProxyStatue]
SpawnRate				= 2.0
LifetimeMin				= 2.0
LifetimeMax				= 3.0
MaxParticles			= 6		# Should be at least SpawnRate * LifetimeMax
TextureMap				= "Textures/FX/bubbles_NODXT.tga"
AdditiveDraw			= true
SpawnExtentsX			= 1.0
SpawnExtentsY			= 1.0
SpawnExtentsZ			= 1.5
InitialVelocityOSMinZ	= 0.1
InitialVelocityOSMaxZ	= 0.5
ViewBoundRadius			= 4.0
InitialSizeMin			= 0.8
InitialSizeMax			= 1.2
ColorMinR				= 0.5
ColorMaxR				= 1.0
LinkedRGB				= true

[PS_HypnotizeStatue]
Extends		= "PS_PowerProxyStatue"
TextureMap	= "Textures/FX/hypnotize_NODXT.tga"

[PS_PowerHypnotize]
Extends		= "PS_PowerProxy"
TextureMap	= "Textures/FX/hypnotize_NODXT.tga"

[PS_HypnotizeFlash]
Extends		= "PS_PowerProxyFlash"
TextureMap	= "Textures/FX/hypnotize_NODXT.tga"

[PS_Hypnotized]
SpawnRate		= 3.0
LifetimeMin		= 2.0
LifetimeMax		= 3.0
MaxParticles	= 9		# Should be at least SpawnRate * LifetimeMax
TextureMap		= "Textures/FX/hypnotize_NODXT.tga"
AlphaTestDraw	= true
SpawnExtentsX	= 0.5
SpawnExtentsY	= 0.5
SpawnExtentsZ	= 0.5
AccelerationWSZ	= 0.25
ViewBoundRadius	= 2.0
InitialSizeMin	= 0.5
InitialSizeMax	= 1.5

[PS_CloakStatue]
Extends		= "PS_PowerProxyStatue"
TextureMap	= "Textures/FX/cloak_NODXT.tga"

[PS_PowerCloak]
Extends		= "PS_PowerProxy"
TextureMap	= "Textures/FX/cloak_NODXT.tga"

[PS_CloakFlash]
Extends		= "PS_PowerProxyFlash"
TextureMap	= "Textures/FX/cloak_NODXT.tga"

[PS_Cloaked]
SpawnRate		= 10.0
LifetimeMin		= 0.2
LifetimeMax		= 0.2
MaxParticles	= 3		# Should be at least SpawnRate * LifetimeMax
TextureMap		= "Textures/FX/fx-player-cloak_NODXT.tga"
AdditiveDraw	= true
ForegroundDraw	= true
SpawnOffsetOSY	= 1.5
SpawnExtentsX	= 0.2
SpawnExtentsY	= 0.0
SpawnExtentsZ	= 0.2
InitialSizeMin	= 4.5
InitialSizeMax	= 4.5
SizeVelocityMin	= 0.0
SizeVelocityMax	= 0.0

[PS_BuildStatue]
Extends		= "PS_PowerProxyStatue"
TextureMap	= "Textures/FX/build_NODXT.tga"

[PS_PowerBuild]
Extends		= "PS_PowerProxy"
TextureMap	= "Textures/FX/build_NODXT.tga"

[PS_BuildFlash]
Extends		= "PS_PowerProxyFlash"
TextureMap	= "Textures/FX/build_NODXT.tga"

[PS_BuildBurst]
AdditiveDraw			= true
ImmediateSpawnMax		= true
LifetimeMin				= 0.2
LifetimeMax				= 0.4
MaxParticles			= 6
TextureMap				= "Textures/FX/build_NODXT.tga"
InitialVelocityOSMinX	= -3.0
InitialVelocityOSMaxX	= 3.0
InitialVelocityOSMinY	= -3.0
InitialVelocityOSMaxY	= 3.0
InitialVelocityOSMinZ	= -3.0
InitialVelocityOSMaxZ	= 3.0
InitialSizeMin			= 1.0
InitialSizeMax			= 1.0

[PS_SummonBurst]
Extends					= "PS_BuildBurst"
LifetimeMin				= 0.5
LifetimeMax				= 1.0
MaxParticles			= 8
TextureMap				= "Textures/FX/summon_NODXT.tga"
InitialSizeMin			= 1.5
InitialSizeMax			= 1.5

[PS_SummonStatue]
Extends		= "PS_PowerProxyStatue"
TextureMap	= "Textures/FX/summon_NODXT.tga"

[PS_PowerSummon]
Extends		= "PS_PowerProxy"
TextureMap	= "Textures/FX/summon_NODXT.tga"

[PS_SummonFlash]
Extends		= "PS_PowerProxyFlash"
TextureMap	= "Textures/FX/summon_NODXT.tga"

[PS_LiftStatue]
Extends		= "PS_PowerProxyStatue"
TextureMap	= "Textures/FX/jump_NODXT.tga"

[PS_PowerLift]
Extends		= "PS_PowerProxy"
TextureMap	= "Textures/FX/jump_NODXT.tga"

[PS_LiftFlash]
Extends		= "PS_PowerProxyFlash"
TextureMap	= "Textures/FX/jump_NODXT.tga"

[PS_KnockStatue]
Extends		= "PS_PowerProxyStatue"
TextureMap	= "Textures/FX/knock_NODXT.tga"

[PS_PowerKnock]
Extends		= "PS_PowerProxy"
TextureMap	= "Textures/FX/knock_NODXT.tga"

[PS_KnockFlash]
Extends		= "PS_PowerProxyFlash"
TextureMap	= "Textures/FX/knock_NODXT.tga"

[PS_KnockBurst]
AdditiveDraw			= true
ImmediateSpawnMax		= true
LifetimeMin				= 0.2
LifetimeMax				= 0.4
MaxParticles			= 6
TextureMap				= "Textures/FX/knock_NODXT.tga"
InitialVelocityOSMinX	= -3.0
InitialVelocityOSMaxX	= 3.0
InitialVelocityOSMinY	= -3.0
InitialVelocityOSMaxY	= 3.0
InitialVelocityOSMinZ	= -3.0
InitialVelocityOSMaxZ	= 3.0
InitialSizeMin			= 1.0
InitialSizeMax			= 1.0

[PS_TeleportStatue]
Extends		= "PS_PowerProxyStatue"
TextureMap	= "Textures/FX/teleport_NODXT.tga"

[PS_TeleportBeacon]
SpawnRate				= 15.0
LifetimeMin				= 0.3
LifetimeMax				= 0.5
MaxParticles			= 8		# Should be at least SpawnRate * LifetimeMax
TextureMap				= "Textures/FX/teleport_NODXT.tga"
AdditiveDraw			= true
SpawnExtentsX			= 0.1
SpawnExtentsY			= 0.1
SpawnExtentsZ			= 0.1
InitialVelocityOSMinZ	= 0.2
InitialVelocityOSMaxZ	= 0.4
ViewBoundRadius			= 50.0
InitialSizeMin			= 0.1
InitialSizeMax			= 0.2
SizeVelocityMin			= 0.8
SizeVelocityMax			= 1.0
ColorMinR				= 0.25
ColorMaxR				= 0.75
LinkedRGB				= true

[PS_PowerTeleport]
Extends		= "PS_PowerProxy"
TextureMap	= "Textures/FX/teleport_NODXT.tga"

[PS_TeleportFlash]
Extends		= "PS_PowerProxyFlash"
TextureMap	= "Textures/FX/teleport_NODXT.tga"

[PS_FlareStatue]
Extends		= "PS_PowerProxyStatue"
TextureMap	= "Textures/FX/flare_NODXT.tga"

[PS_Flare]
Extends		= "PS_TeleportBeacon"
TextureMap	= "Textures/FX/flare_NODXT.tga"

[PS_PowerFlare]
Extends		= "PS_PowerProxy"
TextureMap	= "Textures/FX/flare_NODXT.tga"

[PS_FlareFlash]
Extends		= "PS_PowerProxyFlash"
TextureMap	= "Textures/FX/flare_NODXT.tga"

[PS_Explosion]
AdditiveDraw			= true
ImmediateSpawnMax		= true
LifetimeMin				= 0.2
LifetimeMax				= 0.4
MaxParticles			= 8
TextureMap				= "Textures/FX/explosion_NODXT.tga"
SpawnExtentsX			= 0.25
SpawnExtentsY			= 0.25
SpawnExtentsZ			= 0.25
InitialVelocityOSMinX	= -2.0
InitialVelocityOSMaxX	= 2.0
InitialVelocityOSMinY	= -2.0
InitialVelocityOSMaxY	= 2.0
InitialVelocityOSMinZ	= -2.0
InitialVelocityOSMaxZ	= 2.0
ViewBoundRadius			= 4.0
InitialSizeMin			= 0.5
InitialSizeMax			= 1.0
SizeVelocityMin			= 1.0
SizeVelocityMax			= 2.0
ColorMinR				= 1.0
ColorMaxR				= 1.5
ColorMinG				= 0.8
ColorMaxG				= 1.0
ColorMinB				= 0.3
ColorMaxB				= 0.5

[PS_GlassBreak]
ImmediateSpawnMax		= true
LifetimeMin				= 0.4
LifetimeMax				= 0.8
MaxParticles			= 4
TextureMap				= "Textures/FX/glass-fx_NODXT.tga"
InitialVelocityOSMinX	= -2.0
InitialVelocityOSMaxX	= 2.0
InitialVelocityOSMinY	= -2.0
InitialVelocityOSMaxY	= 2.0
InitialVelocityOSMinZ	= -1.0
InitialVelocityOSMaxZ	= 3.0
AccelerationWSZ			= -10.0
ViewBoundRadius			= 3.0
InitialSizeMin			= 0.5
InitialSizeMax			= 0.5
ColorMinA				= 0.4
ColorMaxA				= 0.4

[PS_WoodSplintersBreak]
Extends			= "PS_GlassBreak"
TextureMap		= "Textures/FX/wood-splinters-fx_NODXT.tga"
AlphaTestDraw	= true
SpawnExtentsX	= 0.5
SpawnExtentsY	= 0.5
SpawnExtentsZ	= 0.5
InitialSizeMin	= 0.6
InitialSizeMax	= 0.8
ColorMinA		= 1.0
ColorMaxA		= 1.0

[PS_Shoggoth]
SpawnRate				= 4.0
LifetimeMin				= 2.0
LifetimeMax				= 3.0
MaxParticles			= 12	# Should be at least SpawnRate * LifetimeMax
TextureMap				= "Textures/FX/smoke_NODXT.tga"
AlphaTestDraw			= true
SpawnOffsetOSY			= 0.25
SpawnOffsetOSZ			= 0.5
SpawnExtentsX			= 1.5
SpawnExtentsY			= 1.5
SpawnExtentsZ			= 1.0
InitialVelocityOSMinX	= -0.1
InitialVelocityOSMaxX	= 0.1
InitialVelocityOSMinY	= -0.1
InitialVelocityOSMaxY	= 0.1
InitialVelocityOSMinZ	= 0.0
InitialVelocityOSMaxZ	= 0.1
AccelerationWSZ			= 0.2
ViewBoundRadius			= 4.0
InitialSizeMin			= 1.0
InitialSizeMax			= 1.5
SizeVelocityMin			= 0.25
SizeVelocityMax			= 0.5
ColorMinR				= 0.2
ColorMaxR				= 0.5
LinkedRGB				= true

[PS_GraveyardMist]
SpawnRate				= 3.0
LifetimeMin				= 6.0
LifetimeMax				= 6.0
MaxParticles			= 18	# Should be at least SpawnRate * LifetimeMax
TextureMap				= "Textures/FX/gas_NODXT.tga"
SpawnExtentsX			= 4.0
SpawnExtentsY			= 4.0
SpawnExtentsZ			= 0.5
SpawnOffsetWSZ			= 1.0
InitialVelocityOSMinX	= -0.5
InitialVelocityOSMaxX	= 0.5
InitialVelocityOSMinY	= -0.5
InitialVelocityOSMaxY	= 0.5
ViewBoundRadius			= 5.0
InitialSizeMin			= 2.5
InitialSizeMax			= 3.0
ColorMinR				= 0.1
ColorMaxR				= 0.2
ColorMinG				= 1.0
ColorMaxG				= 1.1
ColorMinB				= 0.4
ColorMaxB				= 0.5
ColorMinA				= 0.5
ColorMaxA				= 0.8

[PS_GraveyardMistFloaters]
SpawnRate				= 12.0
LifetimeMin				= 1.5
LifetimeMax				= 2.0
MaxParticles			= 24	# Should be at least SpawnRate * LifetimeMax
TextureMap				= "Textures/FX/smoke_NODXT.tga"
AlphaTestDraw			= true
SpawnExtentsX			= 4.0
SpawnExtentsY			= 4.0
SpawnExtentsZ			= 1.5
SpawnOffsetWSZ			= 1.0
InitialVelocityOSMinZ	= 0.5
InitialVelocityOSMaxZ	= 1.0
ViewBoundRadius			= 5.0
InitialSizeMin			= 0.5
InitialSizeMax			= 1.0
ColorMinR				= 0.5
ColorMaxR				= 0.6
ColorMinG				= 1.1
ColorMaxG				= 1.2
ColorMinB				= 0.8
ColorMaxB				= 0.9

[PS_CryptDust]
Extends		= "PS_GraveyardMist"
ColorMinR	= 0.7
ColorMaxR	= 0.8
ColorMinG	= 0.5
ColorMaxG	= 0.6
ColorMinB	= 0.3
ColorMaxB	= 0.4
ColorMinA	= 0.3
ColorMaxA	= 0.6

[PS_HangingDust]
SpawnRate				= 8.0
LifetimeMin				= 2.0
LifetimeMax				= 3.0
MaxParticles			= 24	# Should be at least SpawnRate * LifetimeMax
TextureMap				= "Textures/FX/dust_NODXT.tga"
AlphaTestDraw			= true
SpawnExtentsX			= 2.5
SpawnExtentsY			= 2.5
SpawnExtentsZ			= 1.5
SpawnOffsetWSZ			= 1.0
InitialVelocityOSMinX	= -0.2
InitialVelocityOSMaxX	= 0.2
InitialVelocityOSMinY	= -0.2
InitialVelocityOSMaxY	= 0.2
InitialVelocityOSMinZ	= -0.1
InitialVelocityOSMaxZ	= 0.1
ViewBoundRadius			= 5.0
InitialSizeMin			= 0.4
InitialSizeMax			= 1.2
ColorMinR				= 0.7
ColorMaxR				= 0.8
ColorMinG				= 0.7
ColorMaxG				= 0.8
ColorMinB				= 0.7
ColorMaxB				= 0.8

[PS_LooseTileDust]
ImmediateSpawnMax		= true
LifetimeMin				= 0.5
LifetimeMax				= 1.0
MaxParticles			= 12
TextureMap				= "Textures/FX/dust_NODXT.tga"
SpawnExtentsX			= 0.75
SpawnExtentsY			= 0.75
InitialVelocityOSMinZ	= 2.0
InitialVelocityOSMaxZ	= 3.0
ViewBoundRadius			= 2.0
InitialSizeMin			= 0.8
InitialSizeMax			= 1.0
SizeVelocityMin			= 0.3
SizeVelocityMax			= 0.5
ColorMinA				= 0.4
ColorMaxA				= 0.8

[PS_LizardWatsonDust]
ImmediateSpawnMax		= true
LifetimeMin				= 1.0
LifetimeMax				= 1.5
MaxParticles			= 12
TextureMap				= "Textures/FX/dust_NODXT.tga"
SpawnExtentsX			= 0.5
SpawnExtentsY			= 0.5
SpawnExtentsZ			= 0.75
InitialVelocityOSMinZ	= -1.0
InitialVelocityOSMaxZ	= 0.0
AccelerationWSZ			= -1.0
ViewBoundRadius			= 2.0
InitialSizeMin			= 0.8
InitialSizeMax			= 1.0
SizeVelocityMin			= 0.3
SizeVelocityMax			= 0.5
ColorMinA				= 0.4
ColorMaxA				= 0.8

[PS_FuseSparks]
SpawnRate				= 20.0
LifetimeMin				= 0.25
LifetimeMax				= 0.5
MaxParticles			= 10	# Should be at least SpawnRate * LifetimeMax
AdditiveDraw			= true
TextureMap				= "Textures/FX/spark_NODXT.tga"
SpawnOffsetOSZ			= 0.3
InitialVelocityOSMinX	= -1.0
InitialVelocityOSMaxX	= 1.0
InitialVelocityOSMinY	= -1.0
InitialVelocityOSMaxY	= 1.0
InitialVelocityOSMinZ	= 1.0
InitialVelocityOSMaxZ	= 3.0
AccelerationWSZ			= -10.0
ViewBoundRadius			= 1.0
InitialSizeMin			= 0.1
InitialSizeMax			= 0.1
SizeVelocityMin			= -0.1
SizeVelocityMax			= -0.05

# Basically a giant hitspang
[PS_Shrapnel]
ImmediateSpawnMax		= true
LifetimeMin				= 0.25
LifetimeMax				= 0.3
MaxParticles			= 15
AdditiveDraw			= true
TextureMap				= "Textures/FX/dust_NODXT.tga"
InitialVelocityOSMinX	= -10.0
InitialVelocityOSMaxX	= 10.0
InitialVelocityOSMinY	= -10.0
InitialVelocityOSMaxY	= 10.0
InitialVelocityOSMinZ	= -7.0
InitialVelocityOSMaxZ	= 7.0
ViewBoundRadius			= 100.0
InitialSizeMin			= 0.5
InitialSizeMax			= 1.0
SizeVelocityMin			= 1.0
SizeVelocityMax			= 1.0
ColorMinR				= 1.2
ColorMaxR				= 1.2
ColorMinG				= 0.9
ColorMaxG				= 0.9
ColorMinB				= 0.3
ColorMaxB				= 0.3

[PS_BigDarkSmoke]
ImmediateSpawnMax		= true
LifetimeMin				= 3.0
LifetimeMax				= 4.0
MaxParticles			= 5
TextureMap				= "Textures/FX/gas_NODXT.tga"
SpawnExtentsX			= 0.5
SpawnExtentsY			= 0.5
SpawnExtentsZ			= 0.5
InitialVelocityOSMinX	= -0.5
InitialVelocityOSMaxX	= 0.5
InitialVelocityOSMinY	= -0.5
InitialVelocityOSMaxY	= 0.5
AccelerationWSZ			= 0.3
ViewBoundRadius			= 5.0
InitialSizeMin			= 3.0
InitialSizeMax			= 3.0
SizeVelocityMin			= 0.4
SizeVelocityMax			= 0.6
ColorMinR				= 0.2
ColorMaxR				= 0.4
LinkedRGB				= true

[PS_BarnacleDirt]
ImmediateSpawnMax		= true
LifetimeMin				= 1.0
LifetimeMax				= 3.0
MaxParticles			= 4
TextureMap				= "Textures/FX/gas_NODXT.tga"
SpawnOffsetOSZ			= -0.25
SpawnExtentsX			= 0.25
SpawnExtentsY			= 0.25
SpawnExtentsZ			= 0.25
InitialVelocityOSMinX	= -0.25
InitialVelocityOSMaxX	= 0.25
InitialVelocityOSMinY	= -0.25
InitialVelocityOSMaxY	= 0.25
AccelerationWSZ			= 0.2
ViewBoundRadius			= 5.0
InitialSizeMin			= 1.0
InitialSizeMax			= 1.0
SizeVelocityMin			= 0.2
SizeVelocityMax			= 0.3
ColorMinR				= 0.3
ColorMaxR				= 0.5
ColorMinG				= 0.1
ColorMaxG				= 0.3
ColorMinB				= 0.1
ColorMaxB				= 0.1
ColorMinA				= 0.5
ColorMaxA				= 1.0

[PS_BarnacleGas]
ImmediateSpawnMax		= true
LifetimeMin				= 3.0
LifetimeMax				= 4.0
MaxParticles			= 5
TextureMap				= "Textures/FX/gas_NODXT.tga"
SpawnOffsetOSZ			= 0.25
SpawnExtentsX			= 0.25
SpawnExtentsY			= 0.25
SpawnExtentsZ			= 0.25
InitialVelocityOSMinX	= -0.2
InitialVelocityOSMaxX	= 0.2
InitialVelocityOSMinY	= -0.2
InitialVelocityOSMaxY	= 0.2
AccelerationWSZ			= 0.25
ViewBoundRadius			= 5.0
InitialSizeMin			= 0.5
InitialSizeMax			= 1.0
SizeVelocityMin			= 0.3
SizeVelocityMax			= 0.5
ColorMinR				= 0.2
ColorMaxR				= 0.4
ColorMinG				= 0.6
ColorMaxG				= 0.8
ColorMinB				= 0.1
ColorMaxB				= 0.2
ColorMinA				= 0.4
ColorMaxA				= 0.8

[PS_SnaregunFire]
ImmediateSpawnMax		= true
LifetimeMin				= 0.2
LifetimeMax				= 0.4
MaxParticles			= 4
ForegroundDraw			= true
TextureMap				= "Textures/FX/gas_NODXT.tga"
SpawnOffsetOSX			= 0.1
SpawnOffsetOSY			= 0.72
SpawnOffsetOSZ			= 0.06
InitialVelocityOSMinX	= -0.5
InitialVelocityOSMaxX	= 0.5
InitialVelocityOSMinY	= 1.0
InitialVelocityOSMaxY	= 2.0
InitialVelocityOSMinZ	= -0.5
InitialVelocityOSMaxZ	= 0.5
ViewBoundRadius			= 3.0
InitialSizeMin			= 0.1
InitialSizeMax			= 0.2
SizeVelocityMin			= 1.0
SizeVelocityMax			= 1.0
ColorMinR				= 0.6
ColorMaxR				= 0.8
ColorMinA				= 0.3
ColorMaxA				= 0.3
LinkedRGB				= true

[PS_RopegunFire]
Extends	= "PS_SnaregunFire"

[PS_BookSparklesBase]
SpawnRate				= 3.0
LifetimeMin				= 1.0
LifetimeMax				= 2.0
MaxParticles			= 6		# Should be at least SpawnRate * LifetimeMax
TextureMap				= "Textures/FX/sparkles_NODXT.tga"
AdditiveDraw			= true
SpawnExtentsX			= 0.25
SpawnExtentsY			= 0.25
SpawnExtentsZ			= 0.25
InitialVelocityOSMinZ	= 0.2
InitialVelocityOSMaxZ	= 0.4
ViewBoundRadius			= 3.0
InitialSizeMin			= 0.3
InitialSizeMax			= 0.6

[PS_BookSparklesWater]
Extends		= "PS_BookSparklesBase"
TextureMap	= "Textures/FX/sparkles-water_NODXT.tga"

[PS_BookSparklesSand]
Extends		= "PS_BookSparklesBase"
TextureMap	= "Textures/FX/sparkles-sand_NODXT.tga"

[PS_BookSparklesSwamp]
Extends		= "PS_BookSparklesBase"
TextureMap	= "Textures/FX/sparkles-swamp_NODXT.tga"

[PS_BookSparklesReturn]
Extends		= "PS_BookSparklesBase"
TextureMap	= "Textures/FX/sparkles-return_NODXT.tga"

[PS_BookSparklesRitual]
Extends		= "PS_BookSparklesBase"
TextureMap	= "Textures/FX/sparkles-ritual_NODXT.tga"

[PS_BookSparklesMoM]
Extends		= "PS_BookSparklesBase"
TextureMap	= "Textures/FX/sparkles-mom_NODXT.tga"

[PS_BookSparklesLockedBase]
SpawnRate				= 2.0
LifetimeMin				= 1.0
LifetimeMax				= 2.0
MaxParticles			= 4		# Should be at least SpawnRate * LifetimeMax
TextureMap				= "Textures/FX/sparkles_NODXT.tga"
AdditiveDraw			= true
SpawnExtentsX			= 0.15
SpawnExtentsY			= 0.15
SpawnExtentsZ			= 0.15
SpawnOffsetOSZ			= -0.25
InitialVelocityOSMinZ	= 0.1
InitialVelocityOSMaxZ	= 0.3
ViewBoundRadius			= 3.0
InitialSizeMin			= 0.2
InitialSizeMax			= 0.4

[PS_BookSparklesSandLocked]
Extends		= "PS_BookSparklesLockedBase"
TextureMap	= "Textures/FX/sparkles-sand_NODXT.tga"

[PS_BookSparklesSwampLocked]
Extends		= "PS_BookSparklesLockedBase"
TextureMap	= "Textures/FX/sparkles-swamp_NODXT.tga"

[PS_SoulSparklesBase]
SpawnRate				= 3.0
LifetimeMin				= 0.8
LifetimeMax				= 1.6
MaxParticles			= 5		# Should be at least SpawnRate * LifetimeMax
TextureMap				= "Textures/FX/sparkles_NODXT.tga"
AdditiveDraw			= true
SpawnExtentsX			= 0.1
SpawnExtentsY			= 0.1
SpawnExtentsZ			= 0.1
InitialVelocityOSMinZ	= 0.2
InitialVelocityOSMaxZ	= 0.4
ViewBoundRadius			= 3.0
InitialSizeMin			= 0.3
InitialSizeMax			= 0.6

[PS_SoulSparklesWater]
Extends		= "PS_SoulSparklesBase"
TextureMap	= "Textures/FX/sparkles-water_NODXT.tga"

[PS_SoulSparklesSand]
Extends		= "PS_SoulSparklesBase"
TextureMap	= "Textures/FX/sparkles-sand_NODXT.tga"

[PS_SoulSparklesSwamp]
Extends		= "PS_SoulSparklesBase"
TextureMap	= "Textures/FX/sparkles-swamp_NODXT.tga"

[PS_SoulSparklesHard]
Extends		= "PS_SoulSparklesBase"
TextureMap	= "Textures/FX/sparkles-hard_NODXT.tga"

[PS_AirplaneKeysSparkles]
Extends			= "PS_SoulSparklesBase"
TextureMap		= "Textures/FX/sparkles-keys_NODXT.tga"
InitialSizeMin	= 0.15
InitialSizeMax	= 0.3

[PS_Candle]
Extends				= "PS_Torch"
ImmediateSpawnMax	= true
SpawnRate			= 5.0
LifetimeMin			= 0.75
LifetimeMax			= 1.25
MaxParticles		= 7		# Should be at least SpawnRate * LifetimeMax
SpawnOffsetOSZ		= 0.3
InitialSizeMin		= 0.15
InitialSizeMax		= 0.25

[PS_Fountain]
SpawnRate				= 3.0
LifetimeMin				= 0.5
LifetimeMax				= 1.0
MaxParticles			= 3		# Should be at least SpawnRate * LifetimeMax
TextureMap				= "Textures/FX/bubbles_NODXT.tga"
AdditiveDraw			= true
SpawnExtentsX			= 0.25
SpawnExtentsY			= 0.25
SpawnOffsetOSZ			= 0.5625
InitialVelocityOSMinZ	= 0.1
InitialVelocityOSMaxZ	= 0.2
ViewBoundRadius			= 2.0
InitialSizeMin			= 0.15
InitialSizeMax			= 0.3
ColorMinR				= 0.15
ColorMaxR				= 0.2
ColorMinG				= 0.45
ColorMaxG				= 0.6
ColorMinB				= 0.75
ColorMaxB				= 1.0

[PS_SinkFaucet]
SpawnRate				= 16.0
LifetimeMin				= 0.2
LifetimeMax				= 0.3
MaxParticles			= 5		# Should be at least SpawnRate * LifetimeMax
TextureMap				= "Textures/FX/faucet_NODXT.tga"
SpawnExtentsX			= 0.015625
SpawnExtentsY			= 0.015625
SpawnOffsetOSY			= -0.015625
SpawnOffsetOSZ			= 0.171875
InitialVelocityOSMinZ	= -1.0
InitialVelocityOSMaxZ	= -1.0
ViewBoundRadius			= 1.0
InitialSizeMin			= 0.03125
InitialSizeMax			= 0.0625
ColorMinA				= 0.4
ColorMaxA				= 0.8
ColorMinR				= 0.15
ColorMaxR				= 0.2
ColorMinG				= 0.45
ColorMaxG				= 0.6
ColorMinB				= 0.75
ColorMaxB				= 1.0

[PS_Campfire]
SpawnRate				= 8.0
LifetimeMin				= 0.75
LifetimeMax				= 1.25
MaxParticles			= 10	# Should be at least SpawnRate * LifetimeMax
TextureMap				= "Textures/FX/flame_NODXT.tga"
AdditiveDraw			= true
SpawnOffsetOSZ			= -0.125
SpawnExtentsX			= 0.25
SpawnExtentsY			= 0.25
SpawnExtentsZ			= 0.25
InitialVelocityOSMinX	= -0.1
InitialVelocityOSMaxX	= 0.1
InitialVelocityOSMinY	= -0.1
InitialVelocityOSMaxY	= 0.1
InitialVelocityOSMinZ	= 0.3
InitialVelocityOSMaxZ	= 0.4
ViewBoundRadius			= 2.0
InitialSizeMin			= 0.6
InitialSizeMax			= 0.8
SizeVelocityMin			= -0.4	# Linear growth in meters per second
SizeVelocityMax			= -0.2

[PS_Campfire_Stoked]
Extends	= "PS_Campfire"
SpawnExtentsX			= 0.35
SpawnExtentsY			= 0.35
InitialVelocityOSMinZ	= 0.5
InitialVelocityOSMaxZ	= 0.7
InitialSizeMin			= 1.0
InitialSizeMax			= 1.2

[PS_IciclesDrop]
ImmediateSpawnMax		= true
LifetimeMin				= 0.6
LifetimeMax				= 1.2
MaxParticles			= 4
TextureMap				= "Textures/FX/gas_NODXT.tga"
SpawnExtentsX			= 0.25
SpawnExtentsY			= 0.25
SpawnExtentsZ			= 0.25
InitialVelocityOSMinX	= -0.1
InitialVelocityOSMaxX	= 0.1
InitialVelocityOSMinY	= -0.1
InitialVelocityOSMaxY	= 0.1
AccelerationWSZ			= -0.2
ViewBoundRadius			= 2.0
InitialSizeMin			= 0.6
InitialSizeMax			= 0.8
SizeVelocityMin			= 0.1
SizeVelocityMax			= 0.2
ColorMinR				= 0.6
ColorMaxR				= 0.8
ColorMinG				= 0.6
ColorMaxG				= 0.8
ColorMinB				= 0.8
ColorMaxB				= 1.0
ColorMinA				= 0.4
ColorMaxA				= 0.8

[PS_IciclesBreak]
ImmediateSpawnMax		= true
LifetimeMin				= 0.4
LifetimeMax				= 0.8
MaxParticles			= 4
TextureMap				= "Textures/FX/icicles-fx_NODXT.tga"
InitialVelocityOSMinX	= -2.0
InitialVelocityOSMaxX	= 2.0
InitialVelocityOSMinY	= -2.0
InitialVelocityOSMaxY	= 2.0
InitialVelocityOSMinZ	= -1.0
InitialVelocityOSMaxZ	= 3.0
AccelerationWSZ			= -10.0
ViewBoundRadius			= 3.0
InitialSizeMin			= 0.5
InitialSizeMax			= 0.5
ColorMinA				= 0.4
ColorMaxA				= 0.4

[PS_HangingIceMist]
Extends			= "PS_GraveyardMist"
SpawnExtentsX	= 3.0
SpawnExtentsY	= 3.0
SpawnOffsetWSZ	= 0.0
ColorMinR		= 0.3
ColorMaxR		= 0.3
ColorMinG		= 0.7
ColorMaxG		= 0.7
ColorMinB		= 0.8
ColorMaxB		= 0.8
ColorMinA		= 0.1
ColorMaxA		= 0.3

[PS_HangingIce]
Extends			= "PS_HangingDust"
AdditiveDraw	= true
SpawnOffsetWSZ	= 0.0
ColorMinR		= 0.3
ColorMaxR		= 0.3
ColorMinG		= 0.7
ColorMaxG		= 0.7
ColorMinB		= 0.8
ColorMaxB		= 0.8

[PS_VaseShards]
Extends			= "PS_GlassBreak"
TextureMap		= "Textures/FX/vase-fx_NODXT.tga"
AlphaTestDraw	= true
ColorMinA		= 1.0
ColorMaxA		= 1.0

[PS_VaseDust]
ImmediateSpawnMax		= true
LifetimeMin				= 0.8
LifetimeMax				= 1.2
MaxParticles			= 4
TextureMap				= "Textures/FX/gas_NODXT.tga"
SpawnExtentsX			= 0.1
SpawnExtentsY			= 0.1
SpawnExtentsZ			= 0.2
InitialVelocityOSMinX	= -0.1
InitialVelocityOSMaxX	= 0.1
InitialVelocityOSMinY	= -0.1
InitialVelocityOSMaxY	= 0.1
ViewBoundRadius			= 2.0
InitialSizeMin			= 0.3
InitialSizeMax			= 0.5
SizeVelocityMin			= 0.1
SizeVelocityMax			= 0.2
ColorMinR				= 0.3
ColorMaxR				= 0.5
ColorMinG				= 0.1
ColorMaxG				= 0.3
ColorMinB				= 0.1
ColorMaxB				= 0.1
ColorMinA				= 0.4
ColorMaxA				= 0.6

[PS_MigoExplode]
Extends					= "PS_BarnacleGas"
SpawnOffsetOSZ			= -0.25
InitialVelocityOSMinX	= -0.5
InitialVelocityOSMaxX	= 0.5
InitialVelocityOSMinY	= -0.5
InitialVelocityOSMaxY	= 0.5
AccelerationWSZ			= 0.2
InitialSizeMin			= 0.6
InitialSizeMax			= 1.2
SizeVelocityMin			= 0.4
SizeVelocityMax			= 0.6
ColorMinR				= 0.4
ColorMaxR				= 0.6
ColorMinG				= 0.4
ColorMaxG				= 0.6
ColorMinB				= 0.1
ColorMaxB				= 0.2
ColorMinA				= 0.4
ColorMaxA				= 0.8

# Opaque spheres
[PS_Yog1]
SpawnRate				= 6.0
LifetimeMin				= 3.0
LifetimeMax				= 4.0
MaxParticles			= 24	# Should be at least SpawnRate * LifetimeMax
TextureMap				= "Textures/FX/yog-1_NODXT.tga"
AlphaTestDraw			= true
SpawnExtentsX			= 1.5
SpawnExtentsY			= 1.5
SpawnExtentsZ			= 0.75
InitialVelocityOSMinX	= -0.375
InitialVelocityOSMaxX	= 0.375
InitialVelocityOSMinY	= -0.375
InitialVelocityOSMaxY	= 0.375
InitialVelocityOSMinZ	= -0.1875
InitialVelocityOSMaxZ	= 0.1875
ViewBoundRadius			= 50.0
InitialSizeMin			= 0.5
InitialSizeMax			= 1.0
SizeVelocityMin			= 0.25
SizeVelocityMax			= 0.25
ColorMinR				= 0.5
ColorMaxR				= 1.0
LinkedRGB				= true

# Smaller opaque spheres
[PS_Yog1b]
Extends					= "PS_Yog1"
SpawnRate				= 16.0
LifetimeMin				= 0.5
LifetimeMax				= 1.5
MaxParticles			= 24	# Should be at least SpawnRate * LifetimeMax
InitialSizeMin			= 0.05
InitialSizeMax			= 0.05
SizeVelocityMin			= 0.333
SizeVelocityMax			= 0.666

# Opaque dust
[PS_Yog2]
SpawnRate				= 8.0
LifetimeMin				= 1.5
LifetimeMax				= 2.0
MaxParticles			= 16	# Should be at least SpawnRate * LifetimeMax
TextureMap				= "Textures/FX/yog-2_NODXT.tga"
AlphaTestDraw			= true
SpawnExtentsX			= 3.0
SpawnExtentsY			= 3.0
SpawnExtentsZ			= 1.5
InitialVelocityOSMinX	= -0.25
InitialVelocityOSMaxX	= 0.25
InitialVelocityOSMinY	= -0.25
InitialVelocityOSMaxY	= 0.25
InitialVelocityOSMinZ	= -0.125
InitialVelocityOSMaxZ	= 0.125
ViewBoundRadius			= 50.0
InitialSizeMin			= 1.0
InitialSizeMax			= 2.0

# Eyes
[PS_Yog3]
SpawnRate				= 1.0
LifetimeMin				= 6.0
LifetimeMax				= 8.0
MaxParticles			= 8		# Should be at least SpawnRate * LifetimeMax
TextureMap				= "Textures/FX/yog-3_NODXT.tga"
AlphaTestDraw			= true
SpawnExtentsX			= 1.5
SpawnExtentsY			= 1.5
SpawnExtentsZ			= 0.75
InitialVelocityOSMinX	= -0.25
InitialVelocityOSMaxX	= 0.25
InitialVelocityOSMinY	= -0.25
InitialVelocityOSMaxY	= 0.25
InitialVelocityOSMinZ	= -0.125
InitialVelocityOSMaxZ	= 0.125
ViewBoundRadius			= 50.0
InitialSizeMin			= 0.25
InitialSizeMax			= 0.5
ColorMinR				= 0.25
ColorMaxR				= 1.0
ColorMinG				= 0.25
ColorMaxG				= 1.0
ColorMinB				= 1.0
ColorMaxB				= 1.0

# Gas
[PS_Yog4]
SpawnRate				= 2.0
LifetimeMin				= 3.0
LifetimeMax				= 4.0
MaxParticles			= 8		# Should be at least SpawnRate * LifetimeMax
TextureMap				= "Textures/FX/yog-4_NODXT.tga"
SpawnExtentsX			= 2.0
SpawnExtentsY			= 2.0
SpawnExtentsZ			= 1.0
InitialVelocityOSMinX	= -0.25
InitialVelocityOSMaxX	= 0.25
InitialVelocityOSMinY	= -0.25
InitialVelocityOSMaxY	= 0.25
InitialVelocityOSMinZ	= -0.125
InitialVelocityOSMaxZ	= 0.125
ViewBoundRadius			= 50.0
InitialSizeMin			= 1.5
InitialSizeMax			= 3.0
SizeVelocityMin			= 0.15
SizeVelocityMax			= 0.3
ColorMinA				= 0.5
ColorMaxA				= 1.0

[PS_MoMSnowstorm]
SpawnRate				= 400.0
LifetimeMin				= 1.5
LifetimeMax				= 1.5
MaxParticles			= 600		# Should be at least SpawnRate * LifetimeMax
TextureMap				= "Textures/FX/snowflake_NODXT.tga"
AlphaTestDraw			= true
SpawnExtentsX			= 5.0
SpawnExtentsY			= 5.0
SpawnExtentsZ			= 3.0
InitialVelocityOSMinX	= 0.0
InitialVelocityOSMaxX	= 0.4
InitialVelocityOSMinY	= 0.0
InitialVelocityOSMaxY	= 0.4
InitialVelocityOSMinZ	= -0.4
InitialVelocityOSMaxZ	= -0.1
ViewBoundRadius			= 50.0
InitialSizeMin			= 0.1
InitialSizeMax			= 0.2