[Spawner_Player]
Entity	= "Player"
OffsetZ	= 0.3078125

[Spawner_PlayerMoM]
Entity	= "PlayerMoM"
OffsetZ	= 0.3078125

[Spawner_LibraryChest]
Entity	= "LibraryChest"
OffsetZ	= -0.125

[Spawner_Chest]
Entity	= "Chest"
OffsetZ	= -0.125

[Spawner_Mirror]
Entity = "Mirror"
OffsetZ = 0.5

[Spawner_ColumnWater]
Entity	= "ColumnWater"
OffsetX	= -0.5

[Spawner_ColumnSand]
Entity	= "ColumnSand"
OffsetX	= -0.5

[Spawner_ColumnSwamp]
Entity	= "ColumnSwamp"
OffsetX	= -0.5

[Spawner_ColumnHard]
Entity	= "ColumnHard"
OffsetX	= -0.5
OffsetY	= -0.5

[Spawner_LibraryExitDoor]
Entity = "LibraryExitDoor"
OffsetX = -0.5
OffsetZ = 1.0

[Spawner_ExitDoorDown]
Entity = "ExitDoorDown"

[Spawner_ExitDoorUp]
Entity = "ExitDoorUp"

[Spawner_ExitDoorUpMoMBoss]
Entity = "ExitDoorUp_MoMBoss"

[Spawner_ReturnBook]
Entity = "ReturnBook"

[Spawner_ReturnEntranceBook]
Entity = "ReturnEntranceBook"

[Spawner_WebSiteBook]
Entity = "WebSiteBook"

[Spawner_SubspaceEnterBook1]
Entity	= "SubspaceEnterBook1"
OffsetX	= -0.5

[Spawner_SubspaceEnterBook2]
Entity	= "SubspaceEnterBook2"
OffsetX	= -0.5

[Spawner_SubspaceEnterBook3]
Entity	= "SubspaceEnterBook3"
OffsetX	= -0.5

[Spawner_SubspaceExitBook]
Entity = "SubspaceExitBook"

[Spawner_LibraryReturnDoor]
Entity	= "LibraryReturnDoor"
OffsetX = -0.5
OffsetZ = 1.0

[Spawner_WaterBook]
Entity = "WaterBook"

[Spawner_SandBook]
Entity = "SandBook"

[Spawner_SwampBook]
Entity = "SwampBook"

[Spawner_MoMEntrance]
Entity = "MoMEntrance"

[Spawner_WaterSoul]
Entity = "WaterSoulPickup"

[Spawner_SandSoul]
Entity = "SandSoulPickup"

[Spawner_SwampSoul]
Entity = "SwampSoulPickup"

[Spawner_AirplaneKeys]
Entity	= "AirplaneKeysPickup"
OffsetZ	= -0.5

[Spawner_Torch_50]
Entity	= "SmallTorch"
Chance	= 0.5
OffsetY	= -0.3125
OffsetZ	= -0.25

[Spawner_Torch_100]
Entity	= "SmallTorch"
Chance	= 1.0
OffsetY	= -0.3125
OffsetZ	= -0.25

[Spawner_Torch_Unlit]
Entity	= "SmallTorchUnlit"
OffsetY	= -0.3125
OffsetZ	= -0.25

[Spawner_Lamp_100]
Entity = "SmallLamp"
OffsetY	= -0.25
OffsetZ	= -0.17

[Spawner_ControlRoomLight]
Entity	= "ControlRoomLight"

[Spawner_Mushrooms_50]
Entity			= "Mushrooms"
Chance			= 0.5
OffsetYawRange	= 360.0

[Spawner_Mushrooms_100]
Entity			= "Mushrooms"
OffsetYawRange	= 360.0

[Spawner_Key]
Entity			= "Key"
OffsetXYRange	= 0.3
OrientOffset	= false
OffsetZ			= -0.45
OffsetYawRange	= 360.0

[Spawner_BankArtifacts]
HardSpawner		= "Spawner_BankArtifacts_Hard"
Chance			= 0.75
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Artifact"
@@^Weight		= 2.0
@@&				= "Spawner_Artifact5"
@@^Weight		= 3.0

[Spawner_BankArtifacts_Hard]
Chance			= 0.5
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Artifact"
@@^Weight		= 2.0
@@&				= "Spawner_Artifact5"
@@^Weight		= 1.0

[Spawner_Loot_100]
HardSpawner		= "Spawner_Loot_100_Hard"
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Revolver"
@@^Weight		= 0.9
@@&				= "Spawner_Bottle"
@@&				= "Spawner_Rock"
@@&				= "Spawner_Dagger"
@@&				= "Spawner_Dynamite"
@@^Weight		= 0.6
@@&				= "Spawner_Artifact"
@@^Weight		= 3.0
@@&				= "Spawner_Artifact5"
@@^Weight		= 0.5
@@&				= "Spawner_BadMeat"
@@&				= "Spawner_Meat"
@@^Weight		= 0.5
@@&				= "Spawner_Key"
@@^Weight		= 0.5

[Spawner_Loot_100_Hard]
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Revolver"
@@^Weight		= 0.666
@@&				= "Spawner_Bottle"
@@&				= "Spawner_Rock"
@@&				= "Spawner_Dagger"
@@^Weight		= 0.833
@@&				= "Spawner_Dynamite"
@@^Weight		= 0.5
@@&				= "Spawner_Artifact"
@@^Weight		= 3.25
@@&				= "Spawner_Artifact5"
@@^Weight		= 0.25
@@&				= "Spawner_BadMeat"
@@^Weight		= 1.666
@@&				= "Spawner_Meat"
@@^Weight		= 0.333
@@&				= "Spawner_Key"
@@^Weight		= 0.5

# Keep in sync with Spawner_Loot_100 and Spawner_Loot_50_Start
[Spawner_Loot_50]
HardSpawner		= "Spawner_Loot_50_Hard"
Chance			= 0.5
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Revolver"
@@^Weight		= 0.75
@@&				= "Spawner_Bottle"
@@&				= "Spawner_Rock"
@@&				= "Spawner_Dagger"
@@&				= "Spawner_Dynamite"
@@^Weight		= 0.75
@@&				= "Spawner_Artifact"
@@^Weight		= 3.0
@@&				= "Spawner_Artifact5"
@@^Weight		= 0.5
@@&				= "Spawner_BadMeat"
@@&				= "Spawner_Meat"
@@^Weight		= 0.5
@@&				= "Spawner_Key"
@@^Weight		= 0.5

[Spawner_Loot_50_Hard]
Chance			= 0.25
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Revolver"
@@^Weight		= 0.666
@@&				= "Spawner_Bottle"
@@&				= "Spawner_Rock"
@@&				= "Spawner_Dagger"
@@^Weight		= 0.833
@@&				= "Spawner_Dynamite"
@@^Weight		= 0.75
@@&				= "Spawner_Artifact"
@@^Weight		= 3.25
@@&				= "Spawner_Artifact5"
@@^Weight		= 0.25
@@&				= "Spawner_BadMeat"
@@^Weight		= 1.5
@@&				= "Spawner_Meat"
@@^Weight		= 0.25
@@&				= "Spawner_Key"
@@^Weight		= 0.5

	[Spawner_Revolver]
	Entity = "RevolverPickup"
	OffsetZ = -0.35

	[Spawner_Rock]
	Entity			= "Rock"
	OffsetXYRange	= 0.3
	OrientOffset	= false
	OffsetZ			= -0.2
	OffsetYawRange	= 360.0

	[Spawner_Dagger]
	Entity			= "DaggerPickup"
	OffsetXYRange	= 0.3
	OrientOffset	= false
	OffsetZ			= -0.45
	OffsetYawRange	= 360.0

	[Spawner_Dagger_ForSale]
	Entity			= "DaggerPickupForSale"
	OffsetZ			= -0.45

	[Spawner_Dynamite]
	Entity			= "Dynamite"
	OffsetXYRange	= 0.35
	OrientOffset	= false
	OffsetZ			= -0.2
	OffsetYawRange	= 360.0

	[Spawner_Dynamite_ForSale]
	Entity			= "DynamiteForSale"
	OffsetZ			= -0.2

	[Spawner_Bottle]
	Entity			= "Bottle"
	OffsetXYRange	= 0.3
	OrientOffset	= false
	OffsetZ			= -0.2
	OffsetYawRange	= 360.0

	[Spawner_Artifact]
	Entity			= "Artifact"
	OffsetXYRange	= 0.2
	OrientOffset	= false
	OffsetZ			= -0.45
	OffsetYawRange	= 360.0

	[Spawner_Artifact5]
	Entity			= "Artifact5"
	OffsetZ			= -0.45

	[Spawner_BadMeat]
	Entity			= "BadMeat"
	OffsetZ			= -0.2

[Spawner_Hatchet]
Entity			= "HatchetPickup"
OffsetXYRange	= 0.125
OrientOffset	= false
OffsetZ			= -0.45
OffsetYawRange	= 360.0

[Spawner_Hatchet_ForSale]
Entity			= "HatchetPickupForSale"
OffsetZ			= -0.45

[Spawner_Pickaxe]
Entity			= "PickaxePickup"
OffsetXYRange	= 0.2
OrientOffset	= false
OffsetZ			= -0.45
OffsetYawRange	= 360.0

[Spawner_Pickaxe_ForSale]
Entity			= "PickaxePickupForSale"
OffsetZ			= -0.45

# Currently, the weights here sum to the same as Spawner_Loot_50,
# so equal weights means the same thing for either one.
[Spawner_Loot_50_Start]
HardSpawner		= "Spawner_Loot_50_Hard"	# Don't do anything special for 1-1 in NG+
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Revolver"
@@^Weight		= 0.9
@@&				= "Spawner_Bottle"
@@&				= "Spawner_Rock"
@@&				= "Spawner_Dagger"
@@&				= "Spawner_Dynamite"
@@^Weight		= 0.6
@@&				= "Spawner_Artifact"
@@^Weight		= 3.0
@@&				= "Spawner_Artifact5"
@@^Weight		= 0.5
@@&				= "Spawner_Meat"
@@&				= "Spawner_Key"

	[Spawner_Meat]
	Entity			= "Meat"
	OffsetZ			= -0.2

	[Spawner_Meat_ForSale]
	Entity			= "MeatForSale"
	OffsetZ			= -0.2

[Spawner_Loot_50_SandStart]
HardSpawner		= "Spawner_Loot_50_Hard"	# Don't do anything special for 2-1 in NG+
Chance			= 0.75
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Revolver"
@@^Weight		= 0.9
@@&				= "Spawner_Bottle"
@@&				= "Spawner_Rock"
@@&				= "Spawner_Dagger"
@@&				= "Spawner_Dynamite"
@@^Weight		= 0.6
@@&				= "Spawner_Artifact"
@@^Weight		= 3.0
@@&				= "Spawner_Artifact5"
@@^Weight		= 0.5
@@&				= "Spawner_BadMeat"
@@^Weight		= 0.5
@@&				= "Spawner_Meat"
@@^Weight		= 0.75
@@&				= "Spawner_Key"
@@^Weight		= 0.75

[Spawner_Loot_50_SandStart_Hard]
Chance			= 0.5
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Revolver"
@@^Weight		= 0.666
@@&				= "Spawner_Bottle"
@@&				= "Spawner_Rock"
@@&				= "Spawner_Dagger"
@@^Weight		= 0.833
@@&				= "Spawner_Dynamite"
@@^Weight		= 0.5
@@&				= "Spawner_Artifact"
@@^Weight		= 3.25
@@&				= "Spawner_Artifact5"
@@^Weight		= 0.25
@@&				= "Spawner_BadMeat"
@@^Weight		= 1.25
@@&				= "Spawner_Meat"
@@^Weight		= 0.5
@@&				= "Spawner_Key"
@@^Weight		= 0.75

[Spawner_GoodLoot]
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Revolver"
@@&				= "Spawner_Dagger"
@@&				= "Spawner_Artifact5"
@@^Weight		= 1.5
@@&				= "Spawner_Meat"
@@&				= "Spawner_Key"
@@^Weight		= 0.5

[Spawner_GoodLoot_Sand]
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Revolver"
@@&				= "Spawner_Dagger"
@@&				= "Spawner_Snaregun"
@@&				= "Spawner_Artifact5"
@@^Weight		= 1.5
@@&				= "Spawner_Meat"
@@&				= "Spawner_Key"
@@^Weight		= 0.5

[Spawner_Snaregun]
Entity = "SnaregunPickup"
OffsetZ = -0.35

[Spawner_Snaregun_ForSale]
Entity = "SnaregunPickupForSale"
OffsetZ = -0.35

[Spawner_Ropegun]
Entity = "RopegunPickup"
OffsetZ = -0.45

[Spawner_Ropegun_ForSale]
Entity = "RopegunPickupForSale"
OffsetZ = -0.45

[Spawner_GearLoot]
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_JumpBoots"
@@&				= "Spawner_SpeedBoots"
@@&				= "Spawner_QuietBoots"
@@&				= "Spawner_ClimbingBoots"
@@&				= "Spawner_LocksmithKit"
@@&				= "Spawner_MedicalKit"
@@&				= "Spawner_TinningKit"
@@&				= "Spawner_Compass"
@@&				= "Spawner_Charm"
@@&				= "Spawner_Amulet"
@@&				= "Spawner_Talisman"

[Spawner_JumpBoots]
Entity	= "JumpBootsPickup"
OffsetZ	= -0.2

[Spawner_JumpBoots_ForSale]
Entity	= "JumpBootsPickupForSale"
OffsetZ	= -0.2

[Spawner_SpeedBoots]
Entity	= "SpeedBootsPickup"
OffsetZ	= -0.3

[Spawner_SpeedBoots_ForSale]
Entity	= "SpeedBootsPickupForSale"
OffsetZ	= -0.3

[Spawner_QuietBoots]
Entity	= "QuietBootsPickup"
OffsetZ	= -0.3

[Spawner_QuietBoots_ForSale]
Entity	= "QuietBootsPickupForSale"
OffsetZ	= -0.3

[Spawner_ClimbingBoots]
Entity	= "ClimbingBootsPickup"
OffsetZ	= -0.2

[Spawner_ClimbingBoots_ForSale]
Entity	= "ClimbingBootsPickupForSale"
OffsetZ	= -0.2

[Spawner_LocksmithKit]
Entity	= "LocksmithKitPickup"
OffsetZ	= -0.2

[Spawner_LocksmithKit_ForSale]
Entity	= "LocksmithKitPickupForSale"
OffsetZ	= -0.2

[Spawner_MedicalKit]
Entity	= "MedicalKitPickup"
OffsetZ	= -0.2

[Spawner_MedicalKit_ForSale]
Entity	= "MedicalKitPickupForSale"
OffsetZ	= -0.2

[Spawner_TinningKit]
Entity	= "TinningKitPickup"
OffsetZ	= -0.2

[Spawner_TinningKit_ForSale]
Entity	= "TinningKitPickupForSale"
OffsetZ	= -0.2

[Spawner_CampingKit]
Entity	= "CampingKitPickup"
OffsetZ	= -0.2

[Spawner_CampingKit_ForSale]
Entity	= "CampingKitPickupForSale"
OffsetZ	= -0.2

[Spawner_Compass]
Entity	= "CompassPickup"
OffsetZ	= -0.45

[Spawner_Compass_Start]
HardChance	= 0.0
Entity		= "CompassPickup"
OffsetZ		= -0.45

[Spawner_Compass_ForSale]
Entity	= "CompassPickupForSale"
OffsetZ	= -0.45

[Spawner_Charm]
Entity	= "CharmPickup"
OffsetZ	= -0.45

[Spawner_Charm_ForSale]
Entity	= "CharmPickupForSale"
OffsetZ	= -0.45

[Spawner_Amulet]
Entity	= "AmuletPickup"
OffsetZ	= -0.45

[Spawner_Amulet_ForSale]
Entity	= "AmuletPickupForSale"
OffsetZ	= -0.45

[Spawner_Talisman]
Entity	= "TalismanPickup"
OffsetZ	= -0.45

[Spawner_Talisman_ForSale]
Entity	= "TalismanPickupForSale"
OffsetZ	= -0.45

[Spawner_Soapstone]
Entity	= "SoapstonePickup"
OffsetZ	= -0.45

[Spawner_HolySymbol]
Entity	= "HolySymbolPickup"
OffsetX	= -0.5
OffsetY	= -0.5
OffsetZ	= -0.45

[Spawner_ConsecrationKit]
Entity	= "ConsecrationKitPickup"
OffsetX	= -0.5
OffsetY	= -0.5
OffsetZ	= -0.2

[Spawner_Sandals]
Entity	= "SandalsPickup"
OffsetX	= -0.5
OffsetY	= -0.5
OffsetZ	= -0.4

[Spawner_Gear_ForSale_1]
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_LocksmithKit_ForSale"
@@&				= "Spawner_TinningKit_ForSale"
@@&				= "Spawner_QuietBoots_ForSale"

[Spawner_Gear_ForSale_2]
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_JumpBoots_ForSale"
@@&				= "Spawner_SpeedBoots_ForSale"
@@&				= "Spawner_MedicalKit_ForSale"

[Spawner_Gear_ForSale_3]
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Amulet_ForSale"
@@&				= "Spawner_Talisman_ForSale"
@@&				= "Spawner_Dynamite_ForSale"
@@^Weight		= 0.5

[Spawner_Gear_ForSale_4]
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Compass_ForSale"
@@&				= "Spawner_Charm_ForSale"
@@&				= "Spawner_Dynamite_ForSale"
@@^Weight		= 0.5

# No compass in first level because one is given.
[Spawner_Gear_ForSale_4_Start]
HardSpawner		= "Spawner_Gear_ForSale_4"	# In hard mode, compass is available
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Charm_ForSale"
@@&				= "Spawner_Dynamite_ForSale"
@@^Weight		= 0.5

[Spawner_Revolver_ForSale]
Entity = "RevolverPickupForSale"
OffsetZ = -0.35

[Spawner_Bottle_ForSale]
Entity = "BottleForSale"
OffsetZ = -0.2

[Spawner_Key_ForSale]
Entity			= "KeyForSale"
OffsetZ			= -0.45

[Spawner_Spikes_50]
Chance		= 0.5
HardChance	= 0.75
Entity		= "Spikes"
OffsetZ		= -0.125

[Spawner_Spikes_100]
Entity	= "Spikes"
OffsetZ	= -0.125

[Spawner_WallSpikes_50]
Entity		= "WallSpikes"
Chance		= 0.5
HardChance	= 0.75
OffsetY		= -0.25
OffsetZ		= 0.5

[Spawner_WallSpikes_100]
Entity	= "WallSpikes"
OffsetY	= -0.25
OffsetZ	= 0.5

[Spawner_BarnacleFloor_50]
Chance		= 0.5
HardChance	= 0.75
Entity		= "BarnacleFloor"
OffsetZ		= -0.4

[Spawner_BarnacleFloor_100]
Entity	= "BarnacleFloor"
OffsetZ	= -0.4

[Spawner_BarnacleWall_50]
Chance		= 0.5
HardChance	= 0.75
Entity		= "BarnacleWall"
OffsetY		= -0.4

[Spawner_BarnacleWall_100]
Entity	= "BarnacleWall"
OffsetY	= -0.4

[Spawner_Snare_33]
Chance		= 0.333
HardChance	= 0.5
Entity		= "TrapBolt"

[Spawner_Snare_50]
Chance		= 0.5
HardChance	= 0.65
Entity		= "TrapBolt"

[Spawner_Snare_66]
Chance		= 0.666
HardChance	= 0.8
Entity		= "TrapBolt"

[Spawner_Snare_100]
Entity	= "TrapBolt"

[Spawner_Icicles_50]
Chance			= 0.5
HardChance		= 0.75
Entity			= "Icicles"
OffsetYawRange	= 360.0

[Spawner_Icicles_100]
Entity			= "Icicles"
OffsetYawRange	= 360.0

[Spawner_PatrolPoint]
Deprecated	= true
Entity		= "PatrolPoint"

[Spawner_Frogman]
Entity = "Fishman"
OffsetZ = 0.5

[Spawner_Shoggoth]
Entity = "Shoggoth"
OffsetZ = 0.5

[Spawner_Eye]
Entity = "FlyingNPCProxy"
OffsetZ = 0.5

[Spawner_AnyAI]
HardSpawner		= "Spawner_AnyAI_Hard"
ResolveGroup	= "AI"
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Frogman"
@@&				= "Spawner_CultistWater"
@@&				= "Spawner_HearWorm"
@@^Weight		= 0.5
@@&				= "Spawner_Eye"
@@&				= "Spawner_Bug"

	[Spawner_CultistWater]
	Entity = "CultistWater"
	OffsetZ = 0.5

	[Spawner_HearWorm]
	Entity = "HearWorm"

[Spawner_AnyAI_Hard]
ResolveGroup	= "AI"
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Frogman"
@@&				= "Spawner_CultistWater"
@@&				= "Spawner_HearWorm"
@@^Weight		= 0.25
@@&				= "Spawner_Eye"
@@^Weight		= 0.75
@@&				= "Spawner_Bug"
@@^Weight		= 0.75
@@&				= "Spawner_Shoggoth"
@@^Weight		= 0.75

[Spawner_AnyShortAI]
HardSpawner		= "Spawner_AnyShortAI_Hard"
ResolveGroup	= "AI"
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Frogman"
@@&				= "Spawner_CultistWater"
@@&				= "Spawner_HearWorm"
@@^Weight		= 0.5
@@&				= "Spawner_Eye"
@@&				= "Spawner_Bug"

[Spawner_AnyShortAI_Hard]
ResolveGroup	= "AI"
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Frogman"
@@&				= "Spawner_CultistWater"
@@&				= "Spawner_HearWorm"
@@^Weight		= 0.25
@@&				= "Spawner_Eye"
@@^Weight		= 0.75
@@&				= "Spawner_Bug"
@@^Weight		= 0.75
@@&				= "Spawner_Shoggoth"
@@^Weight		= 0.75

[Spawner_AnyAI_WaterStart]
HardSpawner		= "Spawner_AnyAI_Hard"	# For hard mode, eyes and shoggoths are on the table immediately!
ResolveGroup	= "AI"
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Frogman"
@@&				= "Spawner_CultistWater"
@@&				= "Spawner_HearWorm"
@@^Weight		= 0.5
@@&				= "Spawner_Bug"

[Spawner_AnyAI_WaterFinal]
HardSpawner		= "Spawner_AnyAI_WaterFinal_Hard"
ResolveGroup	= "AI"
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Frogman"
@@&				= "Spawner_CultistWater"
@@&				= "Spawner_HearWorm"
@@^Weight		= 0.5
@@&				= "Spawner_Shoggoth"
@@^Weight		= 0.5
@@&				= "Spawner_Eye"
@@&				= "Spawner_Bug"

[Spawner_AnyAI_WaterFinal_Hard]
ResolveGroup	= "AI"
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Frogman"
@@&				= "Spawner_CultistWater"
@@&				= "Spawner_HearWorm"
@@^Weight		= 0.25
@@&				= "Spawner_Shoggoth"
@@&				= "Spawner_Eye"
@@^Weight		= 0.75
@@&				= "Spawner_Bug"

[Spawner_AnyAI_SandStart]
ResolveGroup	= "AI"
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Eye"
@@^Weight		= 1.0
@@&				= "Spawner_Cultist"
@@^Weight		= 3.0
@@&				= "Spawner_Lizardman"
@@^Weight		= 2.0
@@&				= "Spawner_LizardWatson"
@@^Weight		= 2.0
@@&				= "Spawner_Mummy"
@@^Weight		= 2.0
@@&				= "Spawner_RedBug"
@@^Weight		= 0.5

[Spawner_AnyAI_Sand]
ResolveGroup	= "AI"
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Eye"
@@^Weight		= 1.0
@@&				= "Spawner_Cultist"
@@^Weight		= 2.0
@@&				= "Spawner_Lizardman"
@@^Weight		= 3.0
@@&				= "Spawner_LizardWatson"
@@^Weight		= 2.0
@@&				= "Spawner_Mummy"
@@^Weight		= 2.0
@@&				= "Spawner_RedBug"
@@^Weight		= 0.5

[Spawner_AnyAI_SandFinal]
ResolveGroup	= "AI"
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Eye"
@@^Weight		= 1.0
@@&				= "Spawner_Cultist"
@@^Weight		= 1.0
@@&				= "Spawner_Lizardman"
@@^Weight		= 4.0
@@&				= "Spawner_LizardWatson"
@@^Weight		= 1.0
@@&				= "Spawner_Mummy"
@@^Weight		= 3.0
@@&				= "Spawner_RedBug"
@@^Weight		= 0.5

[Spawner_AnyShortAI_SandStart]
ResolveGroup	= "AI"
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Eye"
@@^Weight		= 1.0
@@&				= "Spawner_Cultist"
@@^Weight		= 3.0
@@&				= "Spawner_Lizardman"
@@^Weight		= 2.0
@@&				= "Spawner_LizardWatson"
@@^Weight		= 2.0
@@&				= "Spawner_RedBug"
@@^Weight		= 0.5

[Spawner_AnyShortAI_Sand]
ResolveGroup	= "AI"
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Eye"
@@^Weight		= 1.0
@@&				= "Spawner_Cultist"
@@^Weight		= 2.0
@@&				= "Spawner_Lizardman"
@@^Weight		= 3.0
@@&				= "Spawner_LizardWatson"
@@^Weight		= 2.0
@@&				= "Spawner_RedBug"
@@^Weight		= 0.5

[Spawner_AnyShortAI_SandFinal]
ResolveGroup	= "AI"
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Eye"
@@^Weight		= 1.0
@@&				= "Spawner_Cultist"
@@^Weight		= 1.0
@@&				= "Spawner_Lizardman"
@@^Weight		= 4.0
@@&				= "Spawner_LizardWatson"
@@^Weight		= 1.0
@@&				= "Spawner_RedBug"
@@^Weight		= 0.5

[Spawner_AnyAI_SwampStart]
HardSpawner		= "Spawner_AnyAI_SwampStart_Hard"
ResolveGroup	= "AI"
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_CultistSwamp"
@@^Weight		= 3.0
@@&				= "Spawner_Squidman"
@@^Weight		= 2.0
@@&				= "Spawner_SleepingSquidman"
@@^Weight		= 4.0
@@&				= "Spawner_Polyp"
@@^Weight		= 1.0
@@&				= "Spawner_RedBug"
@@^Weight		= 1.0

[Spawner_AnyAI_SwampStart_Hard]
ResolveGroup	= "AI"
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_CultistSwamp"
@@^Weight		= 3.0
@@&				= "Spawner_Squidman"
@@^Weight		= 3.5
@@&				= "Spawner_SleepingSquidman"
@@^Weight		= 2.5
@@&				= "Spawner_Polyp"
@@^Weight		= 1.0
@@&				= "Spawner_RedBug"
@@^Weight		= 1.0

[Spawner_AnyAI_Swamp]
HardSpawner		= "Spawner_AnyAI_Swamp_Hard"
ResolveGroup	= "AI"
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_CultistSwamp"
@@^Weight		= 2.5
@@&				= "Spawner_Squidman"
@@^Weight		= 2.5
@@&				= "Spawner_SleepingSquidman"
@@^Weight		= 3.5
@@&				= "Spawner_Polyp"
@@^Weight		= 1.5
@@&				= "Spawner_RedBug"
@@^Weight		= 1.0

[Spawner_AnyAI_Swamp_Hard]
ResolveGroup	= "AI"
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_CultistSwamp"
@@^Weight		= 2.5
@@&				= "Spawner_Squidman"
@@^Weight		= 4.0
@@&				= "Spawner_SleepingSquidman"
@@^Weight		= 2.0
@@&				= "Spawner_Polyp"
@@^Weight		= 1.5
@@&				= "Spawner_RedBug"
@@^Weight		= 1.0

[Spawner_AnyAI_SwampFinal]
HardSpawner		= "Spawner_AnyAI_SwampFinal_Hard"
ResolveGroup	= "AI"
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_CultistSwamp"
@@^Weight		= 2.0
@@&				= "Spawner_Squidman"
@@^Weight		= 3.0
@@&				= "Spawner_SleepingSquidman"
@@^Weight		= 3.0
@@&				= "Spawner_Polyp"
@@^Weight		= 2.0
@@&				= "Spawner_RedBug"
@@^Weight		= 1.0

[Spawner_AnyAI_SwampFinal_Hard]
ResolveGroup	= "AI"
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_CultistSwamp"
@@^Weight		= 2.0
@@&				= "Spawner_Squidman"
@@^Weight		= 4.5
@@&				= "Spawner_SleepingSquidman"
@@^Weight		= 1.5
@@&				= "Spawner_Polyp"
@@^Weight		= 2.0
@@&				= "Spawner_RedBug"
@@^Weight		= 1.0

[Spawner_AnyShortAI_SwampStart]
ResolveGroup	= "AI"
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_CultistSwamp"
@@&				= "Spawner_Polyp"
@@&				= "Spawner_RedBug"
@@^Weight		= 0.5

[Spawner_AnyShortAI_Swamp]
ResolveGroup	= "AI"
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_CultistSwamp"
@@&				= "Spawner_Polyp"
@@&				= "Spawner_RedBug"
@@^Weight		= 0.5

[Spawner_AnyShortAI_SwampFinal]
ResolveGroup	= "AI"
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_CultistSwamp"
@@&				= "Spawner_Polyp"
@@&				= "Spawner_RedBug"
@@^Weight		= 0.5

[Spawner_AnyAI_EndgameStart]
ResolveGroup	= "AI"
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Frogman"
@@^Weight		= 1.2
@@&				= "Spawner_Lizardman"
@@^Weight		= 2.4
@@&				= "Spawner_Squidman"
@@^Weight		= 2.4
@@&				= "Spawner_CultistWater"
@@&				= "Spawner_Cultist"
@@&				= "Spawner_CultistSwamp"
@@&				= "Spawner_Bug"
@@&				= "Spawner_RedBug"
@@^Weight		= 2.0
@@&				= "Spawner_Eye"
@@^Weight		= 2.0
@@&				= "Spawner_Polyp"
@@^Weight		= 4.0
@@&				= "Spawner_HearWorm"
@@&				= "Spawner_Mummy"
@@^Weight		= 2.0
@@&				= "Spawner_SleepingSquidman"
@@^Weight		= 3.0

[Spawner_AnyAI_Endgame]
ResolveGroup	= "AI"
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Frogman"
@@^Weight		= 1.2
@@&				= "Spawner_Lizardman"
@@^Weight		= 2.4
@@&				= "Spawner_Squidman"
@@^Weight		= 2.4
@@&				= "Spawner_CultistWater"
@@&				= "Spawner_Cultist"
@@&				= "Spawner_CultistSwamp"
@@&				= "Spawner_Bug"
@@&				= "Spawner_RedBug"
@@^Weight		= 2.0
@@&				= "Spawner_Eye"
@@^Weight		= 2.0
@@&				= "Spawner_Polyp"
@@^Weight		= 4.0
@@&				= "Spawner_HearWorm"
@@&				= "Spawner_Mummy"
@@^Weight		= 2.0
@@&				= "Spawner_LizardWatson"
@@^Weight		= 3.0

[Spawner_AnyAI_EndgameFinal]
ResolveGroup	= "AI"
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Frogman"
@@^Weight		= 1.2
@@&				= "Spawner_Lizardman"
@@^Weight		= 2.4
@@&				= "Spawner_Squidman"
@@^Weight		= 2.4
@@&				= "Spawner_CultistWater"
@@&				= "Spawner_Cultist"
@@&				= "Spawner_CultistSwamp"
@@&				= "Spawner_Bug"
@@&				= "Spawner_RedBug"
@@^Weight		= 2.0
@@&				= "Spawner_Eye"
@@^Weight		= 2.0
@@&				= "Spawner_Polyp"
@@^Weight		= 4.0
@@&				= "Spawner_HearWorm"
@@&				= "Spawner_Mummy"
@@^Weight		= 2.0
@@&				= "Spawner_Shoggoth"
@@^Weight		= 3.0

[Spawner_AnyShortAI_Endgame]
ResolveGroup	= "AI"
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Frogman"
@@^Weight		= 2.0
@@&				= "Spawner_Lizardman"
@@^Weight		= 4.0
@@&				= "Spawner_CultistWater"
@@&				= "Spawner_Cultist"
@@&				= "Spawner_CultistSwamp"
@@&				= "Spawner_Bug"
@@&				= "Spawner_RedBug"
@@^Weight		= 2.0
@@&				= "Spawner_Eye"
@@^Weight		= 2.0
@@&				= "Spawner_Polyp"
@@^Weight		= 4.0
@@&				= "Spawner_HearWorm"
@@^Weight		= 3.0

[Spawner_CultistSwamp]
Entity	= "CultistSwamp"
OffsetZ	= 0.5

[Spawner_Bug]
Entity	= "Bug"
OffsetZ	= -0.3

[Spawner_RedBug]
Entity	= "RedBug"
OffsetZ	= -0.3

[Spawner_MoMBug]
Entity	= "MoMBug"
OffsetZ	= -0.3

[Spawner_Polyp]
Entity	= "Polyp"
OffsetZ	= 0.5

[Spawner_Cultist]
Entity	= "Cultist"
OffsetZ	= 0.5

[Spawner_Lizardman]
Entity = "Lizardman"
OffsetZ = 0.5

[Spawner_LizardWatson]
Entity = "LizardWatson"
OffsetZ = 0.5

[Spawner_FrogmanShopkeeper]
Entity = "FrogmanShopkeeper"
OffsetZ = 0.5

[Spawner_LizardmanShopkeeper]
Entity = "LizardmanShopkeeper"
OffsetZ = 0.5

[Spawner_SquidmanShopkeeper]
Entity = "SquidmanShopkeeper"
OffsetZ = 1.0

[Spawner_ShoggothShopkeeper]
Entity = "ShoggothShopkeeper"
OffsetZ = 0.5

[Spawner_Mummy]
Entity = "Mummy"
OffsetZ = 1.0

[Spawner_Squidman]
Entity	= "Squidman"
OffsetZ	= 1.0

[Spawner_SleepingSquidman]
Entity	= "SleepingSquidman"
OffsetZ	= 1.0

[Spawner_InsaneFrogman_100]
Entity	= "InsaneFrogman"
OffsetZ	= 0.5

[Spawner_InsaneFrogman_50]
Chance		= 0.5
HardChance	= 0.333
Entity		= "InsaneFrogman"
OffsetZ		= 0.5

[Spawner_ElderThing]
Entity	= "ElderThing"
OffsetZ	= 1.0

[Spawner_Migo]
Entity = "Migo"
OffsetZ = 0.5

[Spawner_Penguin]
Entity	= "Penguin"
OffsetZ	= 1.0

[Spawner_Penguin_Albino]
Entity	= "Penguin_Albino"
OffsetZ	= 1.0

[Spawner_Yog]
Entity	= "Yog"
OffsetX	= 0.5
OffsetY	= 0.5
OffsetZ	= 0.5

[Spawner_YogSpawner]
Entity	= "YogSpawner"

[Spawner_CultistYog1]
Entity	= "CultistYog1"
OffsetZ	= 0.5

[Spawner_CultistYog2]
Entity	= "CultistYog2"
OffsetZ	= 0.5

[Spawner_Statue]
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_StatueHypnotize"
@@&				= "Spawner_StatueCloak"
@@&				= "Spawner_StatueLift"
@@&				= "Spawner_StatueBuild"
@@&				= "Spawner_StatueKnock"
@@&				= "Spawner_StatueTeleport"

	[Spawner_StatueHypnotize]
	Entity	= "StatueHypnotize"
	OffsetZ	= 1.0

	[Spawner_StatueCloak]
	Entity	= "StatueCloak"
	OffsetZ	= 1.0

	[Spawner_StatueSummon]
	Entity	= "StatueSummon"
	OffsetZ	= 1.0

	[Spawner_StatueLift]
	Entity	= "StatueLift"
	OffsetZ	= 1.0

	[Spawner_StatueBuild]
	Entity	= "StatueBuild"
	OffsetZ	= 1.0

	[Spawner_StatueKnock]
	Entity	= "StatueKnock"
	OffsetZ	= 1.0

	[Spawner_StatueTeleport]
	Entity	= "StatueTeleport"
	OffsetZ	= 1.0

	[Spawner_StatueFlare]
	Entity	= "StatueFlare"
	OffsetZ	= 1.0

[Spawner_StatueA]
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_StatueHypnotize"
@@&				= "Spawner_StatueCloak"
@@&				= "Spawner_StatueTeleport"

[Spawner_StatueB]
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_StatueLift"
@@&				= "Spawner_StatueBuild"
@@&				= "Spawner_StatueKnock"

[Spawner_Door]
Entity = "Door"
OffsetY = -0.4375
OffsetZ = 0.5

[Spawner_LockedDoor]
Entity	= "LockedDoor"
OffsetY	= -0.4375
OffsetZ	= 0.5

[Spawner_GateDoor]
Entity	= "GateDoor"
OffsetY	= -0.4375
OffsetZ	= 0.5

[Spawner_Ladder5]
Entity	= "Ladder5"
OffsetY	= -0.4375

[Spawner_Ladder4]
Entity	= "Ladder4"
OffsetY	= -0.4375
OffsetZ = 0.5

[Spawner_Ladder3]
Entity	= "Ladder3"
OffsetY	= -0.4375

[Spawner_Fountain]
Entity	= "Fountain"
OffsetZ	= 0.0625

[Spawner_EmptyFountain]
Entity	= "EmptyFountain"
OffsetZ	= 0.0625

[Spawner_Plant]
Entity			= "Plant"
OffsetYawRange	= 360.0

[Spawner_PlantToxic]
Entity			= "PlantToxic"
OffsetYawRange	= 360.0

[Spawner_PlantEmpty]
Entity			= "PlantEmpty"
OffsetYawRange	= 360.0

[Spawner_PlantEmpty50]
Chance			= 0.5
Entity			= "PlantEmpty"
OffsetYawRange	= 360.0

[Spawner_LibraryPlant]
Chance			= 0.75
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Plant"
@@^Weight		= 1.0
@@&				= "Spawner_PlantEmpty"
@@^Weight		= 2.0

[Spawner_Campfire]
Entity	= "Campfire"
OffsetZ	= -0.125

[Spawner_Throne]
Entity	= "Throne"
OffsetZ	= 0.5

[Spawner_Web]
Entity	= "Web"

[Spawner_WebTop]
Entity	= "WebTop"

[Spawner_Candle]
Entity	= "Candle"
OffsetZ	= -0.3125

[Spawner_RitualBook]
Entity	= "RitualBook"
OffsetZ	= -0.2

[Spawner_Table]
OffsetX	= 0.5
OffsetY	= 0.5
Entity	= "Table"

[Spawner_Chair]
OffsetZ	= 0.125
Entity	= "Chair"

[Spawner_ChairAtTable]
OffsetX	= 0.5
OffsetZ	= 0.125
Entity	= "Chair"

[Spawner_Toilet]
OffsetZ	= 0.0625
Entity	= "Toilet"

[Spawner_Sink]
OffsetY	= -0.1875
OffsetZ	= 0.25
Entity	= "Sink"

[Spawner_DeskLamp]
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_DeskLampOn"
@@&				= "Spawner_DeskLampOff"

[Spawner_DeskLampOn]
OffsetY		= -0.25
OffsetZ		= -0.125
Entity		= "DeskLamp"

[Spawner_DeskLampOff]
OffsetY		= -0.25
OffsetZ		= -0.125
Entity		= "DeskLampOff"

[Spawner_Tombstone]
OffsetZ	= 0.5
Entity	= "Tombstone"

[Spawner_Corpse]
OffsetX	= -0.5
OffsetY	= 0.5
OffsetZ	= -0.5
Entity	= "Corpse"

[Spawner_Vase]
Entity	= "Vase"

[Spawner_Airplane]
Entity	= "Airplane"
OffsetZ	= 1.0

[Spawner_RandomDeco]
HardSpawner		= "Spawner_RandomDeco_Hard"
ResolveGroup	= "Deco"
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Fountain"
@@^Weight		= 0.75
@@&				= "Spawner_EmptyFountain"
@@^Weight		= 0.75
@@&				= "Spawner_Plant"
@@^Weight		= 1.0
@@&				= "Spawner_PlantToxic"
@@^Weight		= 2.0
@@&				= "Spawner_PlantEmpty"
@@^Weight		= 0.5

[Spawner_RandomDeco_Hard]
ResolveGroup	= "Deco"
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Fountain"
@@^Weight		= 0.25
@@&				= "Spawner_EmptyFountain"
@@^Weight		= 0.75
@@&				= "Spawner_Plant"
@@^Weight		= 1.0
@@&				= "Spawner_PlantToxic"
@@^Weight		= 2.25
@@&				= "Spawner_PlantEmpty"
@@^Weight		= 0.75

[Spawner_RandomDeco_WaterStart]
HardSpawner		= "Spawner_RandomDeco_Hard"	# Nothing special for 1-1 in NG+
ResolveGroup	= "Deco"
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Fountain"
@@^Weight		= 1.0
@@&				= "Spawner_EmptyFountain"
@@^Weight		= 0.5
@@&				= "Spawner_Plant"
@@^Weight		= 2.0
@@&				= "Spawner_PlantEmpty"
@@^Weight		= 1.5

[Spawner_RandomDeco_Endgame]
ResolveGroup	= "Deco"
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Plant"
@@^Weight		= 1.0
@@&				= "Spawner_PlantToxic"
@@^Weight		= 2.0
@@&				= "Spawner_PlantEmpty"
@@^Weight		= 0.5

[Spawner_Mist]
Entity	= "MistDeco"

[Spawner_Dust]
Entity	= "DustDeco"

[Spawner_HangingDust]
Entity	= "HangingDustDeco"

[Spawner_HangingIce]
Entity	= "HangingIceDeco"

[Spawner_Fence3x3]
Entity	= "Fence3x3"
OffsetY	= -0.4375
OffsetZ	= 1.0

[Spawner_Fence1x1]
Entity	= "Fence1x1"
OffsetY	= -0.4375

[Spawner_LooseTile_66]
Chance	= 0.666
Entity	= "LooseTile"
OffsetZ	= 0.375

[Spawner_LooseTile_100]
Entity	= "LooseTile"
OffsetZ	= 0.375

[Spawner_ShopMarkup]
Entity	= "ShopMarkup"

[Spawner_GenerationsCounter]
Entity	= "GenerationsCounter"

[Spawner_GuideArtifact]
Entity	= "GuideArtifact"
OffsetZ	= -0.2

[Spawner_GuideJump]
Entity	= "GuideJump"
OffsetZ	= -0.2

[Spawner_GuideLean]
Entity	= "GuideLean"
OffsetZ	= -0.2

[Spawner_GuideCrouch]
Entity	= "GuideCrouch"
OffsetZ	= -0.2

[Spawner_GuideSprint]
Entity	= "GuideSprint"
OffsetZ	= -0.2

[Spawner_GuideFood]
Entity	= "GuideFood"
OffsetZ	= -0.2

[Spawner_GuideFountain]
Entity	= "GuideFountain"
OffsetZ	= -0.2

[Spawner_GuideStatue]
Entity	= "GuideStatue"
OffsetZ	= -0.2

[Spawner_GuideWeapons]
Entity	= "GuideWeapons"
OffsetZ	= -0.2

[Spawner_GuideSoul]
Entity	= "GuideSoul"
OffsetZ	= -0.2

[Spawner_GuideDeath]
Entity	= "GuideDeath"
OffsetZ	= -0.2

[Spawner_GuideChest]
Entity	= "GuideChest"
OffsetZ	= -0.2

[Spawner_GuideShop]
Entity	= "GuideShop"
OffsetZ	= -0.2

[Spawner_GuideGear]
Entity	= "GuideGear"
OffsetZ	= -0.2

[Spawner_GuideKeys]
Entity	= "GuideKeys"
OffsetZ	= -0.2

[Spawner_GuideControls]
Entity	= "GuideControls"
OffsetZ	= -0.2

[Spawner_GuideLoot]
Entity	= "GuideLoot"
OffsetZ	= -0.2

[Spawner_Ledger]
Entity	= "Ledger"
OffsetZ	= -0.2

[Spawner_BookLoreRandom]
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_BookLore1"
@@&				= "Spawner_BookLore2"
@@&				= "Spawner_BookLore3"
@@&				= "Spawner_BookLore4"

[Spawner_BookLore1]
Entity	= "BookLore1"
OffsetZ	= -0.2

[Spawner_BookLore2]
Entity	= "BookLore2"
OffsetZ	= -0.2

[Spawner_BookLore3]
Entity	= "BookLore3"
OffsetZ	= -0.2

[Spawner_BookLore4]
Entity	= "BookLore4"
OffsetZ	= -0.2

[Spawner_Journal]
Entity			= "Journal"
OffsetZ			= -0.45
OffsetXYRange	= 0.125
OrientOffset	= false
OffsetYawRange	= 90.0

[Spawner_Journal2]
Entity			= "Journal2"
OffsetZ			= -0.45
OffsetXYRange	= 0.125
OrientOffset	= false
OffsetYawRange	= 90.0

[Spawner_Journal3]
Entity			= "Journal3"
OffsetZ			= -0.45
OffsetXYRange	= 0.125
OrientOffset	= false
OffsetYawRange	= 90.0

[Spawner_Journal4]
Entity			= "Journal4"
OffsetZ			= -0.45
OffsetXYRange	= 0.125
OrientOffset	= false
OffsetYawRange	= 90.0

# ****************************************************************
# Mountains of madness AI spawners
# ****************************************************************

[Spawner_AnyAI_MoM_Snow]
ResolveGroup	= "AI"
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_ElderThing"
@@&				= "Spawner_Penguin"
@@^Weight		= 2.0

[Spawner_AnyShortAI_MoM_Snow]
ResolveGroup	= "AI"
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_MoMBug"
@@&				= "Spawner_Eye"

[Spawner_AnyAI_MoM_City]
ResolveGroup	= "AI"
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Shoggoth"
@@&				= "Spawner_ElderThing"
@@^Weight		= 4.0
@@&				= "Spawner_MoMBug"
@@&				= "Spawner_Polyp"

[Spawner_AnyShortAI_MoM_City]
ResolveGroup	= "AI"
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Shoggoth"
@@&				= "Spawner_MoMBug"
@@^Weight		= 2.0
@@&				= "Spawner_Polyp"

[Spawner_AnyAI_MoM_Caves]
ResolveGroup	= "AI"
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_MoMBug"
@@&				= "Spawner_Migo"
@@^Weight		= 3.0
@@&				= "Spawner_Penguin_Albino"
@@^Weight		= 2.0
@@&				= "Spawner_CultistYog1"
@@&				= "Spawner_CultistYog2"

[Spawner_AnyShortAI_MoM_Caves]
ResolveGroup	= "AI"
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_MoMBug"
@@&				= "Spawner_Migo"
@@^Weight		= 3.0
@@&				= "Spawner_CultistYog1"
@@&				= "Spawner_CultistYog2"

# ****************************************************************
# Mountains of madness deco spawners
# ****************************************************************

[Spawner_RandomDeco_MoM_Snow]
HardSpawner		= "Spawner_RandomDeco_MoM_Snow_Hard"
ResolveGroup	= "Deco"
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Campfire"
@@&				= "Spawner_Vase"
@@^Weight		= 2.0

[Spawner_RandomDeco_MoM_Snow_Hard]
ResolveGroup	= "Deco"
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Campfire"
@@&				= "Spawner_Vase"
@@^Weight		= 3.0

[Spawner_RandomDeco_MoM_City]
HardSpawner		= "Spawner_RandomDeco_MoM_City_Hard"
ResolveGroup	= "Deco"
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Fountain"
@@&				= "Spawner_EmptyFountain"
@@&				= "Spawner_Campfire"
@@&				= "Spawner_Vase"
@@^Weight		= 2.0

[Spawner_RandomDeco_MoM_City_Hard]
ResolveGroup	= "Deco"
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Fountain"
@@&				= "Spawner_EmptyFountain"
@@^Weight		= 2.0
@@&				= "Spawner_Campfire"
@@&				= "Spawner_Vase"
@@^Weight		= 3.0

[Spawner_RandomDeco_MoM_Caves]
HardSpawner		= "Spawner_RandomDeco_MoM_Caves_Hard"
ResolveGroup	= "Deco"
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Fountain"
@@&				= "Spawner_EmptyFountain"
@@&				= "Spawner_Campfire"
@@&				= "Spawner_Vase"
@@^Weight		= 2.0
@@&				= "Spawner_PlantToxic"

[Spawner_RandomDeco_MoM_Caves_Hard]
ResolveGroup	= "Deco"
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Fountain"
@@&				= "Spawner_EmptyFountain"
@@^Weight		= 2.0
@@&				= "Spawner_Campfire"
@@&				= "Spawner_Vase"
@@^Weight		= 3.0
@@&				= "Spawner_PlantToxic"

# ****************************************************************
# Mountains of madness loot spawners
# ****************************************************************

[Spawner_Loot_50_MoM]
HardSpawner		= "Spawner_Loot_50_MoM_Hard"
Chance			= 0.5
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Rock"
@@^Weight		= 2.0
@@&				= "Spawner_Revolver"
@@^Weight		= 0.5
@@&				= "Spawner_Dagger"
@@&				= "Spawner_Hatchet"
@@&				= "Spawner_Dynamite"
@@&				= "Spawner_Pickaxe"
@@&				= "Spawner_Ropegun"
@@^Weight		= 0.5
@@&				= "Spawner_Artifact"
@@^Weight		= 5.0
@@&				= "Spawner_Artifact5"
@@&				= "Spawner_Key"
@@^Weight		= 0.5

[Spawner_Loot_50_MoM_Hard]
Chance			= 0.25
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Rock"
@@^Weight		= 2.0
@@&				= "Spawner_Revolver"
@@^Weight		= 0.5
@@&				= "Spawner_Dagger"
@@&				= "Spawner_Hatchet"
@@&				= "Spawner_Dynamite"
@@&				= "Spawner_Pickaxe"
@@^Weight		= 0.5
@@&				= "Spawner_Ropegun"
@@^Weight		= 0.5
@@&				= "Spawner_Artifact"
@@^Weight		= 5.0
@@&				= "Spawner_Artifact5"
@@^Weight		= 0.5
@@&				= "Spawner_Key"
@@^Weight		= 0.5

[Spawner_Loot_100_MoM]
HardSpawner		= "Spawner_Loot_100_MoM_Hard"
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Rock"
@@^Weight		= 2.0
@@&				= "Spawner_Revolver"
@@^Weight		= 0.5
@@&				= "Spawner_Dagger"
@@&				= "Spawner_Hatchet"
@@&				= "Spawner_Dynamite"
@@&				= "Spawner_Pickaxe"
@@&				= "Spawner_Ropegun"
@@^Weight		= 0.5
@@&				= "Spawner_Artifact"
@@^Weight		= 5.0
@@&				= "Spawner_Artifact5"
@@&				= "Spawner_Key"
@@^Weight		= 0.5

[Spawner_Loot_100_MoM_Hard]
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Rock"
@@^Weight		= 2.0
@@&				= "Spawner_Revolver"
@@^Weight		= 0.5
@@&				= "Spawner_Dagger"
@@&				= "Spawner_Hatchet"
@@&				= "Spawner_Dynamite"
@@&				= "Spawner_Pickaxe"
@@^Weight		= 0.5
@@&				= "Spawner_Ropegun"
@@^Weight		= 0.5
@@&				= "Spawner_Artifact"
@@^Weight		= 5.0
@@&				= "Spawner_Artifact5"
@@^Weight		= 0.5
@@&				= "Spawner_Key"
@@^Weight		= 0.5

[Spawner_GoodLoot_MoM]
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_Revolver"
@@&				= "Spawner_Dagger"
@@&				= "Spawner_Hatchet"
@@&				= "Spawner_Dynamite"
@@&				= "Spawner_Pickaxe"
@@&				= "Spawner_Ropegun"
@@&				= "Spawner_Artifact5"
@@^Weight		= 2.0
@@&				= "Spawner_Key"

[Spawner_GearLoot_MoM]
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_JumpBoots"
@@&				= "Spawner_SpeedBoots"
@@&				= "Spawner_QuietBoots"
@@&				= "Spawner_ClimbingBoots"
@@&				= "Spawner_LocksmithKit"
@@&				= "Spawner_MedicalKit"
@@&				= "Spawner_TinningKit"
@@&				= "Spawner_CampingKit"
@@&				= "Spawner_Compass"
@@&				= "Spawner_Charm"
@@&				= "Spawner_Amulet"
@@&				= "Spawner_Talisman"
@@&				= "Spawner_Soapstone"

# ****************************************************************
# Mountains of madness gear spawners
# ****************************************************************

[Spawner_Gear_ForSale_MoM_1]
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_LocksmithKit_ForSale"
@@&				= "Spawner_TinningKit_ForSale"
@@&				= "Spawner_QuietBoots_ForSale"
@@&				= "Spawner_CampingKit_ForSale"
@@^Weight		= 2.0

[Spawner_Gear_ForSale_MoM_2]
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_JumpBoots_ForSale"
@@&				= "Spawner_SpeedBoots_ForSale"
@@&				= "Spawner_MedicalKit_ForSale"
@@&				= "Spawner_ClimbingBoots_ForSale"
@@^Weight		= 2.0

# ****************************************************************
# Mountains of madness statue spawners
# ****************************************************************

[Spawner_Statue_MoM]
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_StatueHypnotize"
@@&				= "Spawner_StatueCloak"
@@&				= "Spawner_StatueLift"
@@&				= "Spawner_StatueBuild"
@@&				= "Spawner_StatueKnock"
@@&				= "Spawner_StatueTeleport"
@@&				= "Spawner_StatueFlare"
@@&				= "Spawner_StatueSummon"

[Spawner_Statue_MoM_Snow]
NumSubSpawners	= &
@ SubSpawner
@@&				= "Spawner_StatueHypnotize"
@@&				= "Spawner_StatueCloak"
@@&				= "Spawner_StatueLift"
@@&				= "Spawner_StatueBuild"
@@&				= "Spawner_StatueKnock"
@@&				= "Spawner_StatueTeleport"
@@&				= "Spawner_StatueFlare"
@@^Weight		= 2.0
@@&				= "Spawner_StatueSummon"
@@^Weight		= 2.0