[Finnish]
True = "Päällä"
False = "Pois"
OK = "OK"
Yes = "Kyllä"
No = "Ei"
Play = "Pelaa"
Options = "Asetukset"
Quit = "Poistu"
PressStart = "Paina Enter"
ConfirmQuit = "Poistutaanko?"
ConfirmSaveAndQuit = "Tallenna ja poistu?"
Version = "Versio #{s:ContentSyncer:Version}"
BindControls = "Määrittele kontrollit"
Controls = "Kontrollit"
MouseSpeed = "Hiiren nopeus:"
InvertY = "Käänteinen Y:          #{b:InvertY}"
Resolution = "Resoluutio:         #{i:DisplayWidth} × #{i:DisplayHeight}"
SetRes = "Resoluutio"
Fullscreen = "Koko näyttö:        #{b:Fullscreen}"
Brightness = "Kirkkaus"
FOV = "Näkökenttä:"
Volume = "Äänenvoimakkuus:"
MusicVolume = "Musiikin voimakkuus:"
Back = "Takaisin"
BindForward = "Liiku eteenpäin:"
BindBack = "Liiku taaksepäin:"
BindLeft = "Liiku vasemmalle:"
BindRight = "Liiku oikealle:"
BindJump = "Hyppää:"
BindFrob = "Käytä:"
BindLeanLeft = "Kurottaudu vasemmalle:"
BindLeanRight = "Kurottaudu oikealle:"
BindRun = "Juokse:"
BindCrouch = "Kyyristy:"
BindUseWeapon = "Ammu:"
BindUsePower = "Käytä erikoisvoimaa:"
BindDropWeapon = "Pudota ase."
BindCycleUp = "Edellinen ase:"
BindCycleDown = "Seuraava ase:"
BindDialog = "Paina toimintoa, jonka tahdot muuttaa.\nPeruuta painamalla Esc.\nPyyhi asetus askelpalauttimella."
Paused = "Pause"
Resume = "Jatka"
ReturnToHub = "Palaa kirjastoon"
Resurrect = "Synny uudelleen"
SaveAndQuit = "Tallenna ja poistu"
Death = "Kuolit..."
ConfirmResurrect = "Synny uudelleen? (Menetät edistymisesi.)"
Souls = "Sielut"
Gear = "Varusteet"
PowerHypnotize = "Hypnoosi"
PowerBuild = "Materialisointi"
PowerLift = "Nosto"
PowerKnock = "Kolkuttaminen"
PowerTeleport = "Etäsiirto"
PowerCloak = "Verhoaminen"
BankPlayer = "Pelaaja"
BankBank = "Pankki"
Price = "Hinta:"
Buy = "Osta"
Steal = "Varasta"
Cancel = "Peruuta"
Dying = "Kuolet pian..."
Revive = "Elvytä"
FrobHold = "Paina pitkään #{s:EldritchKeyboard:Frob}#{l:EldritchMouse:Frob}#{l:EldritchController:Frob} #{c:HUD:HoldVerb}"
RIPFormat = "|RIP| %s %s."
RIPURL = "http://www.eldritchgame.com"
RIPHashtags = "eldritch"
RIPTwitter = "https://twitter.com/intent/tweet?text=%s&hashtags=%s&url=%s"
RIPDmgUnknown = "Kuolin"
RIPDmgResurrect = "Luovutin"
RIPDmgPlayer = "Tein suuren virheen"
RIPDmgSpikes = "Putosin piikkiansaan"
RIPDmgBarnacle = "Suututin jättisiimajalkaisen"
RIPDmgFishmanMelee = "Kalaolento löi minut"
RIPDmgFishmanRanged = "Kalaolento ampui minut"
RIPDmgDCultistMelee = "Vetinen kultisti löi minut"
RIPDmgDCultistRanged = "Vetinen kultisti ampui minut"
RIPDmgNCultistMelee = "Hiekkainen kultisti löi minut"
RIPDmgNCultistRanged = "Hiekkainen kultisti ampui minut"
RIPDmgRCultistMelee = "Niljainen kultisti löi minut"
RIPDmgRCultistRanged = "Niljainen kultisti ampui minut"
RIPDmgLizardmanMelee = "Liskomies löi minut"
RIPDmgLizardmanRanged = "Liskomies ampui minut"
RIPDmgEye = "Lentävä silmämuna ampui minut"
RIPDmgShoggoth = "Jäin pysäyttämättömän shoggothin jalkoihin"
RIPDmgLizardWatson = "Käänsin selkäni karmivalle patsaalle"
RIPDmgMummy = "Kammottava muumio söi minut"
RIPDmgSquidmanMelee = "Tähdensikiö löi minut"
RIPDmgSquidmanRanged = "Tähdensikiö ampui minut"
RIPDmgPolyp = "Lentävä polyyppi ampui minut"
RIPDmgBugMelee = "Ötökkä puri minua"
RIPDmgBugRanged = "Ötökkä ampui minut"
RIPDmgFoodPoisoning = "Kuolin ruokamyrkytykseen"
RIPDmgShopkeeper = "Aliarvioin kauppiasta"
RIPDmgTrapBolt = "Kompastuin ansalankaan"
RIPLvlUnknown = "syrjäisessä paikassa"
RIPLvlLibrary = "mystisessä kirjastossa"
RIPLvlEndgame = "yliluonnollisen suuressa kirjastossa"
RIPLvlWater = "synkissä dagonilaisraunioissa"
RIPLvlSand = "Nyarlathotepin pölyisessä temppelissä"
RIPLvlSwamp = "R'lyehin kadonneessa kaupungissa"
RIPLvlSubspace = "oudossa, synkässä paikassa"
JumpBoots = "Hyppysaappaat"
JumpBootsDesc = "Näillä saappailla voi\nhypätä korkeammalle."
SpeedBoots = "Vauhtisaappaat"
SpeedBootsDesc = "Nämä saappaat\nnopeuttavat juoksuasi."
QuietBoots = "Hiippailusaappaat"
QuietBootsDesc = "Nämä saappaat\nvaientavat askeleesi."
LocksmithKit = "Lukkosepän pakkaus"
LocksmithKitDesc = "Avaa lukitut ovet \nja lukitsee ovia\nlisämaksusta."
MedicalKit = "Lääkepakkaus"
MedicalKitDesc = "Tällä voit elvyttää itsesi\nkuoleman jälkeen\nlisämaksusta."
TinningKit = "Säilömispakkaus"
TinningKitDesc = "Tämän avulla voit syödä\njoidenkin otusten ruumiita\nilman lisähintaa."
Bottle = "Pullo"
BottleDesc = "Heittäminen saa\naikaan ääntä tai\nvahingoittaa vihollisia."
Revolver = "Revolveri"
RevolverDesc = "Luotettava ase.\nKäyttää ammuksia.\nHintaan sisältyy 3 luotia."
Snaregun = "Ansa-ase"
SnaregunDesc = "Ampuu ansalangan\nmihin tahansa pintaan.\nHintaan sisältyy 3 luotia."
Compass = "Kompassi"
CompassDesc = "Näyttää uloskäynnin\nsuunnan."
Charm = "Onnenkalu"
CharmDesc = "Tämän ollessa käytössä\nruumiiden luota löytyy\nenemmän saalista."
Amulet = "Tuhoamuletti"
AmuletDesc = "Lisää aseidesi tekemää\nvahinkoa ja saa luodit\ntuhoamaan maastoa."
Talisman = "Taikurin talismaani"
TalismanDesc = "Vähentää erikoisvoimien\nkäytön artefaktihintaa."
Key = "Avain"
KeyDesc = "Avaa oven.\nKertakäyttöinen."
Dagger = "Tikari"
DaggerDesc = "2-teräinen taisteluveitsi.\nNyrkkejäsi ulottuvampi\nja vaarallisempi."
Dynamite = "Dynamiitti"
DynamiteDesc = "Nippu nitroglyseriinissä\nliotettuja pötköjä.\nVaarallinen ja epävakaa!"
MeatDesc = "Palauttaa terveyttä."
Corpse = "Ruumis"
Shopkeeper = "Kauppias"
WaterSoul = "Dagonin sielu"
SandSoul = "Nyarlathotepin sielu"
SwampSoul = "Cthulhun sielu"
HardSoul = "Kirjastonhoitajan sielu"
Rock = "Kivi"
Chest = "Pankkikirstu"
ExitDoor = "Uloskäynti"
ExitDoorUp = "Sisäänkäynti"
Book = "Kirja"
WorldBook = "Outo kirja"
SubspaceBook = "Pölyinen kirja"
Door = "Ovi"
LockedDoor = "Lukittu ovi"
GateDoor = "Lukittu rautaovi"
UnlockedGateDoor = "Rautaovi"
Mirror = "Peili"
DeskLamp = "Pöytälamppu"
Toilet = "Vessanpönttö"
Sink = "Pesuallas"
Artifact = "Artefakti"
Artifact5 = "Artefaktikasa"
StatueHypnotize = "Hypnoottinen patsas"
StatueCloak = "Verhottu patsas"
StatueBuild = "Lujarakenteinen patsas"
StatueLift = "Kimmoisa patsas"
StatueKnock = "Kajahteleva patsas"
StatueTeleport = "Epävakaa patsas"
Meat = "Paistettua lihaa"
BadMeat = "Mätää lihaa"
Fountain = "Lähde"
Pedestal = "Jalusta"
Plant = "Hedelmä"
PlantToxic = "Myrkyllinen hedelmä"
HolySymbol = "Pyhä symboli"
ConsecrationKit = "Vihkipakkaus"
Sandals = "Sandaalit"
Candle = "Kynttilä"
RitualBook = "Sitomisrituaali"
FullGame = "Koko peli"
PickUp = "Ota"
Examine = "Tutki"
Loot = "Ryöstä"
Read = "Lue"
Eat = "Syö"
EatUnsure = "...Syö?"
EatCorpse = "Syö (\ue0f1 × #{i:TinningKit:TinPriceTag})"
LockDoor = "Lukitse (\ue0f1 × #{i:LocksmithKit:LockPriceTag})"
Go = "Mene"
Return = "Palaa"
Pray = "Rukoile"
Open = "Avaa"
Close = "Sulje"
Quaff = "Juo"
Disarm = "Pura"
Light = "Sytytä"
Switch = "Sytytä"
Flush = "Huuhtele"
Use = "Käytä"
Talk = "Puhu"
World = "Maailma"
WorldName = "#{l:HUD:WorldName}"
Level_Library = "Kirjasto"
Level_Water-1 = "Dagon-1"
Level_Water-2 = "Dagon-2"
Level_Water-3 = "Dagon-3"
Level_Sand-1 = "Nyarlathotep-1"
Level_Sand-2 = "Nyarlathotep-2"
Level_Sand-3 = "Nyarlathotep-3"
Level_Swamp-1 = "R'lyeh-1"
Level_Swamp-2 = "R'lyeh-2"
Level_Swamp-3 = "R'lyeh-3"
Level_Endgame-1 = "Kirjasto-1"
Level_Endgame-2 = "Kirjasto-2"
Level_Endgame-3 = "Kirjasto-3"
Level_Subspace = "???????"
Credits = "Tekijätiedot"
Book_Controls = "Kontrollit\n\nJos oletuskontrollit eivät tunnu luontevilta, voit muuttaa niitä Asetuksissa."
Book_Keys = "Avaimet\n\nAvaimilla avataan ovia. Kutakin avainta voi käyttää vain kerran."
Book_Statue = "Patsaat\n\nNämä valtavat kivi-idolit esittävät kamalaa hirviötä, jollaista ei ole maan päällä nähty. Patsaan luona rukoilu täyttää sinut erityisellä voimalla, joka on peräisin Suurilta Muinaisilta."
Book_Food = "Ruoka\n\nSyöminen palauttaa osan terveydestäsi. Mutta varo! Pilaantuneen tai myrkyllisen ruoan syöminen on haitallista."
Book_Fountain = "Lähteet\n\nLähteestä juominen palauttaa osan terveydestä ja lisää maksimiterveyttä. Lähteet kuivuvat yhden käytön jälkeen."
Book_Ledger = "Elder Ridgen kirjasto\nLainaajalista\n\nNimikenumero | Lainaajan nimi | Pvm\n----------------------------------------\n  9713   | J. K. Pippen      | 10/12/26\n  5576   | Kim Putnam        | 10/15/26\n  4185   | Herra Ken Thudson | 12/ 3/26\n  6287   | Kynan Wales       |  1/29/27\n  0451   | F. B. Gaynor      |  2/ 4/27\n  2934   | Stuart Jameson    |  2/15/27\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /"
Book_Journal = "Tutkimusmatkaajan päiväkirja, sivu 2\n\nKirjasto tuntuu jatkuvan ja jatkuvan. En ole enää varma, että täältä pääsee pois. Ikään kuin eläisin samat kokemukset joka päivä aina uudestaan, vailla loppua.\n\nJos tästä hulluudesta on löydettävissä ulospääsy, uskon ainoan toivoni olevan niissä törkeissä, hehkuvissa kirjoissa. Niiden sivuilla on käsittämätöntä voimaa, ja käsittämätöntä kauhua...\n\nIkään kuin muinaisten jumalten henget lepäisivät niissä kirjoissa, vaikken tiedä, miksi. Mutta niiden koottu voima on varmasti avaimeni ulos tästä labyrintista..."
Book_Journal2 = "Tutkimusmatkaajan päiväkirja, sivu 1\n\nJotain eriskummallista tapahtui. Koin tarvetta kirjoittaa sen muistiin siltä varalta, etten palaa.\n\nViimeinen muistoni on se, että tutkin kirjastossa erästä outoa kirjaa... Nyt olen päätynyt vaaralliseen maailmaan, joka on täynnä väijyviä hirviöitä ja petollisia ansoja.\n\nJos tutkimukseni on oikeassa, olen muinaisen Dagon-jumalan kadonneessa temppelissä. On huhuttu, että tämän maailman syvyyksissä pidetään voimallista reliikkiä. Ehkä se on pakoni avain..."
Book_Journal3 = "Tutkimusmatkaajan päiväkirja, sivu 3\n\nHyvä Jumala, ei. En tiennyt, mitä tein. Olen löytänyt ulospääsyn kirjastosta, mutta ymmärrän sen todellisen luonteen vasta nyt. Pakoni myötä olen avannut Pandoran lippaan.\n\nKirjasto on ulottuvuuksien välinen vankila, joka on luotu vuosituhansia sitten pitämään Suuret Muinaiset kurissa. En tiedä, kuinka päädyin itse vangiksi tänne, mutta on selvää, ettei uloskäyntiä olisi pitänyt koskaan avata.\n\nKäsittämättömät kauhut leviävät maan päälle tekojeni vuoksi. Oliko tekoni peruuttamaton?"
Book_Journal4 = "Tutkimusmatkaajan päiväkirja, sivu 4\n\nOlen saattanut löytää ratkaisun pahuuteen, jonka vapautin tietämättäni maailmaan. Tutkimuksissani olen saanut tietää \"Sitomisrituaalista\", jonka mystikot suorittivat pitääkseen Suuret Muinaiset kurissa, kun ne viimeksi uhkasivat maailmaa.\n\nSitomisrituaali suoritetaan lukemalla ääneen muinaiset sanat, mikä sulkee tunkeilijat ikuiseen vankilaan tuntemattomissa ulottuvuuksissa, ja luovuttamalla sen jälkeen yksi henkilö vankilan ikuiseksi vartijaksi.\n\nRituaalia voi vahvistaa sytyttämällä kolme kynttilää. Kynttilät houkuttelevat kohteet vankilan ytimeen ja tuudittavat ne uneen.\n\nMuinaiset kirjoitukset mainitsevat ylimääräisen vaiheen, jossa vartijan palvelus siirretään sopivalle sijaiselle, mutta tarkemmat yksityiskohdat ovat häipyneet ajan mukana."
Book_Sprint = "Juokseminen\n\nPaina pitkään #{s:EldritchKeyboard:Run}#{l:EldritchMouse:Run}#{l:EldritchController:Run} juostaksesi.\n\nJuostessasi voit painaa kyyristymis-näppäintä(#{s:EldritchKeyboard:Crouch}#{l:EldritchMouse:Crouch}#{l:EldritchController:Crouch})\nliukuaksesi."
Book_Crouch = "Kyyristyminen\n\nPaina #{s:EldritchKeyboard:Crouch}#{l:EldritchMouse:Crouch}#{l:EldritchController:Crouch} kyyristyäksesi.\n\nKyyristyneenä mahdut mataliin paikkoihin ja askeleesi ovat hiljaisempia.\n\nKyyristyminen juoksun aikana (#{s:EldritchKeyboard:Run}#{l:EldritchMouse:Run}#{l:EldritchController:Run})\nsuorittaa liu'un."
Book_Jump = "Hyppääminen\n\nPaina #{s:EldritchKeyboard:Jump}#{l:EldritchMouse:Jump}#{l:EldritchController:Jump} hyppääksesi.\n\nPaina pitkään hypätessäsi kohti reunaa\ntarttuaksesi siihen ja noustaksesi sen päälle."
Book_Lean = "Kurottaminen\n\nPaina #{s:EldritchKeyboard:LeanLeft}#{l:EldritchMouse:LeanLeft}#{l:EldritchController:LeanLeft} kurottaaksesi vasemmalle.\nPaina #{s:EldritchKeyboard:LeanRight}#{l:EldritchMouse:LeanRight}#{l:EldritchController:LeanRight} kurottaaksesi oikealle.\n\nKurottaminen ei tee sinua näkyvämmäksi vihollisille, joten siten  voit kurkata turvallisesti kulman takaa."
Book_Artifact = "Artefaktit\n\nNämä muista maailmoista tulleet kivikaiverrukset ovat maksuvälineesi tässä maailmassa.\n\nNiillä voit ostaa tavaroita tai maksaa erikoisvoimien ja työkalujen aktivointeja."
Book_Hypnotize = "Hypnoosi (voima)\n\nTähtää olentoa ja paina #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower}\nhypnotisoidaksesi sen.\n\nHypnotisoidut olennot taistelevat puolestasi.\n\nVaro! Vahvatahtoiset olennot voivat vapautua hypnoosivaikutuksesta ajan kanssa.\n\nHypnoosin käyttäminen maksaa \ue0f1 × #{i:PowerHypnotize:PowerCost}."
Book_Build = "Materialisointi (voima)\n\nPaina #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} loihtiaksesi mystisen esteen.\n\nKäytä esteitä tukkiaksesi vihollisen kulkureittejä tai päästäksesi itse vaikeisiin paikkoihin.\n\nVaro! Tällä voimalla voit saada itsesi ansaan.\n\nMaterialisoinnin käyttö maksaa \ue0f1 × #{i:PowerBuild:PowerCost}."
Book_Lift = "Nosto (voima)\n\nPaina #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} singotaksesi itsesi ylöspäin.\n\nNostoa voi käyttää myös ilmasta käsin, joten sillä voi päästä äärettömän korkeisiin paikkoihin.\n\nNoston käyttö maksaa \ue0f1 × #{i:PowerLift:PowerCost}."
Book_Knock = "Kolkuttaminen (voima)\n\nPaina #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} käyttääksesi Kolkuttamista.\n\nTähtää lukittuun oveen avataksesi sen, tai tähtää mihin tahansa muuhun pintaan aiheuttaaksesi äänen, joka harhauttaa partioivia vihollisia.\n\nKolkuttamisen käyttö maksaa \ue0f1 × #{i:PowerKnock:PowerCost}."
Book_Teleport = "Etäsiirto (voima)\n\nPaina #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} kerran jättääksesi merkkitulen. Paina #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} uudestaan siirtyäksesi sen luokse.\n\nPaina pitkään #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} poistaaksesi merkkitulen, ja päästä napista irti jättääksesi sen uudelleen.\n\nMerkkitulen jättäminen ja poistaminen ei maksa. Etäsiirron käyttö maksaa \ue0f1 × #{i:PowerTeleport:PowerCost}."
Book_Cloak = "Verhoaminen (voima)\n\nPaina #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} verhotaksesi itsesi.\n\nVerhottuna olet vihollisille näkymätön. Vaikutus lakkaa varsin nopeasti.\n\nVaro! Viholliset kuulevat sinut Verhoamisesta huolimatta.\n\nVerhoamisen käyttäminen maksaa \ue0f1 × #{i:PowerCloak:PowerCost}."
Book_PowerBroke = "Voimien käytön hinta\n\nErikoisvoimien käyttäminen kuluttaa artefakteja. Sinulla ei ole niitä kylliksi käyttääksesi tätä voimaa.\n\nEtsi maailmasta lisää artefakteja!"
#Book_Direction = "Varo! Olet tullut vaaralliseen maailmaan, joka on täynnä hirviöitä ja petollisia ansoja.\n\nMaailman syövereissä säilytetään voimallista reliikkiä. Laskeudu maailman syvyyksiin ja etsi reliikki voidaksesi jatkaa matkaasi."
Book_Weapons = "Aseet ja tavarat\n\nPaina #{s:EldritchKeyboard:UseWeapon}#{l:EldritchMouse:UseWeapon}#{l:EldritchController:UseWeapon} lyödäksesi, viskataksesi esineen tai ampuaksesi aseella.\n\nPaina #{s:EldritchKeyboard:DropWeapon}#{l:EldritchMouse:DropWeapon}#{l:EldritchController:DropWeapon} tiputtaaksesi oikeassa kädessäsi olevan esineen.\n\nVoit kantaa kahta asetta tai tavaraa kerrallaan. Paina #{s:EldritchKeyboard:CycleUp}#{l:EldritchMouse:CycleUp}#{l:EldritchController:CycleUp}/#{s:EldritchKeyboard:CycleDown}#{l:EldritchMouse:CycleDown}#{l:EldritchController:CycleDown} vaihtaaksesi niiden välillä."
Book_Water = "Kirja on kirjoitettu kielellä, jota et tunnista.\n\nTutkiessasi kirjaa oudot kirjoitusmerkit tuntuvat nousevan kirjan sivuilta ja ottavan kuvailemiensa maailmojen ja hirviöiden eriskummallisia ja yliluonnollisia muotoja.\n\nMaailmat ympäröivät sinut häivyttäen kirjaston ja täyttäen mielesi ihmiskuntaa vanhemman kielen sietämättömällä sorinalla.\n\nYrität järkyttyneenä sulkea kirjan, mutta huomaatkin siirtyneesi siinä kuvailtuun vieraaseen maailmaan..."
Book_SandLocked = "Tuntematon voima sitoo kirjaa. Sen kannessa on kirjoitus:\n\nTässä paikassa ei ole kunniaa. Hirvittävä voima asuu tässä nidoksessa. Se on sinetöity Dagonin sielulla, ja vain Dagonin sielulla sen voi avata."
Book_Sand = "Nostat Dagonin sielun sinetöidyn kirjan edessä. Pallo painaa sormiasi vasten ja yrittää tuntuvasti kurotella kohti nahkakantta.\n\nEtäinen tuuli alkaa ulvoa, ja vangittu sielu raivoaa käsissäsi.  Dagonin raivon yltyessä kirjaa pidättelevä voima häilyy.\n\nHuoneen täyttää korviahuumaava jyrähdys sinetin murtuessa, minkä jälkeen Dagonin sielu rauhoittuu ja vaikenee jälleen.\n\nKirja putoaa aukinaisena paljastaen pölyiset sivunsa täynnä eldritch-kirjoitusmerkkejä. Sanoinkuvaamaton pelko täyttää sinut.\n\nSeuraavassa maailmassa sinua odottaa..."
Book_WorldUnlock = "Olet avannut kirjan, joka vie seuraavaan maailmaan. Kirjat pysyvät auki, vaikka kuolisit ja syntyisit uudelleen."
Book_SwampLocked = "Tuntematon voima sitoo kirjaa. Sen kannessa on kirjoitus:\n\nTässä paikassa ei ole kunniaa. Hirvittävä voima asuu tässä nidoksessa. Se on sinetöity Nyarlathotepin sielulla, ja vain Nyarlathotepin sielulla sen voi avata."
Book_Swamp = "Esität Nyarlathotepin sielun, ja kirjan sinetti rikkoutuu. Syvä pelko kytee mielessäsi.\n\nSeuraavassa maailmassa sinua odottaa..."
Book_ExitLibrary = "Asetat Suurten Muinaisten sielun oven eteen. Ne surisevat ja vellovat innostuksesta.\n\nKirjasto vavahtelee voimakkaasti. Kirjat putoilevat hyllyiltä, ja ovi narisee valtavien vastakkaisten voimien puristuksessa. Suurten muinaisten yliluonnolliset äänet yltyvät korviahuumaaviksi, ja viimein ovi lävähtää auki.\n\nMielessäsi alat ymmärtää jotain kuvottavaa. \n\nAinoa uloskäynti on nyt avattu."
Book_EndgameEnter = "Alat kiivetä kirjaston syvyyksistä, mutta epämääräinen kauhu sydämessäsi on selkiytynyt.\n\nOlet käyttänyt Suuria Muinaisia paetaksesi kirjastosta, mutta samalla ne ovat käyttäneet sinua vapautuakseen vankilastaan.\n\nKäsittämättömiä kauhuja leviää nyt maan päälle tekojesi vuoksi. Oliko tekosi peruuttamaton?"
Book_BadEnd = "Luet sitomisrituaalin muinaiset sanat ääneen.\n\nKirjastossa yhä olevat Suuret Muinaiset pysyvät nyt sen vankeina, eikä niistä ole enää vaaraa maan päällä. Mutta suurin osa oli jo paennut ja riehuu yhä kirjaston ulkopuolella.\n\nTehtyäsi kaiken voitavasi viet rituaalin loppuun suorittamalla viimeisen vaiheen: sitoudut itse pysymään kirjastossa ja vartioimaan sitä ikuisesti.\n\n\n\n                Loppu\n\n\n\nPelattuja sukupolvia: #{i:HUD:GenerationsCounter}"
Book_GoodEnd = "Luet sitomisrituaalin muinaiset sanat ääneen.\n\nSytyttämiesi kynttilöiden houkuttelemana Suuret Muinaiset lopettavat riehumisensa, vaikenevat ja vaeltavat uneliaasti kohti kirjaston ydintä.\n\nKun ne ovat taas turvallisesti vankilassaan, viet rituaalin loppuun suorittamalla viimeisen vaiheen: sitoudut itse pysymään kirjastossa ja vartioimaan sitä ikuisesti.\n\n\n\n                Loppu\n\n\n\nPelattuja sukupolvia: #{i:HUD:GenerationsCounter}"
Book_TrueEnd = "Luet sitomisrituaalin muinaiset sanat ääneen.\n\nSytyttämiesi kynttilöiden houkuttelemana Suuret Muinaiset lopettavat riehumisensa, vaikenevat ja vaeltavat uneliaasti kohti kirjaston ydintä.\n\nKun ne ovat taas turvallisesti vankilassaan, viet rituaalin loppuun suorittamalla viimeisen vaiheen: asetat siunatun symbolin vartioimaan Suuria Muinaisia puolestasi.\n\nViimeinkin pääset vapaaksi kirjastosta. Ja Vanhat nukkuvat, ajan loppuun saakka...\n\n\n\n                Loppu\n\n\n\nPelattuja sukupolvia: #{i:HUD:GenerationsCounter}"
Book_WaterSoul = "Tartut tiukasti outoon siniseen palloon. Se reagoi kosketukseesi humisemalla ja tärisee ikään kuin se yrittäisi paeta otteestasi.\n\nPuristaessasi sitä yhä kovemmin koet äkillisen ja tahattoman ymmärryksen hetken: tämän yliluonnollisen pallon sisällä heräilee muinainen Dagon-jumala.\n\nMielesi lävitse kulkee näky, joka on kuin unohtunut muisto kauhusta ja estelemättömästä tuhosta sekä salaisesta rituaalista ja levottomasta rauhasta.\n\nNäky häipyy jättäen jälkeensä sairaalloisen tyhjyyden tunteen. Dagonin sielu heräilee hiljaisuudessa.\n\nVoit nyt avata kirjaston seuraavan kirjan."
Book_SandSoul = "Otat oudon punaisen pallon. Se humisee ja vapisee Nyarlathotepin herätessä. Kauhun aalto ryöppyää lävitsesi.\n\nVoit nyt avata kirjaston seuraavan kirjan."
Book_SwampSoul = "Otat oudon vihreän pallon. Se huojuu öljymäisesti ja vapisee Cthulhun herätessä. Horjut ymmärtäessäsi tilanteen kauheuden.\n\nKoska hallussasi on kaikki kolme sielua, voit avata kirjaston oven."
Book_HardSoul = "Tervetuloa Uusi peli+:aan!\n\nTämän sielun poimiminen on aktivoinut haastavamman version Eldritchistä.\n\nVaikutus päättyy kuoltuasi."
Book_Soul = "Sielut\n\nSielu on lepäävä Suuri Muinainen, joka on sidottu fyysiseen olomuotoon. Sieluja löytyy kunkin maailman syvyyksistä.\n\nSieluilla voi avata kirjoja kirjastossa.\n\nTuskin Suurten Muinaisten sielujen vieminen maan päälle aiheuttaa mitään erityistä vaaraa..."
Book_Death = "Kuolema\n\nKuolet terveytesi loppuessa.\n\nKuoleman jälkeen heräät kirjastossa.\n\nMenetät omaisuutesi, mutta pankkikirstussasi olevat artefaktit säilyvät; myös avaamasi kirjat pysyvät avattuina.\n\nVoit myös koska tahansa aloittaa uuden elämän valitsemalla Pause-valikossa Synny uudelleen."
Book_Chest = "Pankkikirstu\n\nVoit tallettaa artefaktisi turvaan pankkikirstuihin. Kirstuihin jätetyt artefaktit voi nostaa myöhemmin mistä tahansa kirstusta.\n\nKuoltuasi menetät omaisuutesi, mutta pankkiin jätetyt artefaktit säilyvät."
Book_Shop = "Ostokset\n\nKaupat myyvät hyödyllisiä varusteita.\n\nJos hinta on liian korkea, voit yrittää varastaa esineen, mutta se suututtaa kauppiaan."
Book_Gear = "Varusteet\n\nVarusteet ovat puettavia tai mukana kannettavia esineitä, jotka parantavat kykyjäsi tai avaavat uusia taitoja.\n\nVarusteita on kolmessa kategoriassa: Saappaat, pakkaukset ja vekottimet.\n\nVoit kantaa yhden varusteen kerrallaan kustakin kategoriasta."
Book_Lore1 = "Kirjaston historia, osa 1 / 4\n\nLegendat kertovat vuosituhansien takaisesta katastrofista, jolloin maa joutui kohtaamaan Suurten Muinaisten vihan. Harvat henkiinjääneet löysivät muinaisen riitin, jonka avulla he saivat vangittua kauhistuttavat hirviöt labyrinttimäiseen vankilaan. Elämä maan päällä kukoisti jälleen, ja henkiinjääneet perustivat vartijaluostarin suojelemaan salaista sitomisrituaalia."
Book_Lore2 = "Kirjaston historia, osa 2 / 4\n\nTuhansien vuosien ajan Suuret Muinaiset nukkuivat vankilassaan. 1800-luvun loppupuolella arkeologit kaivoivat Arabiassa esiin paikan, jossa sitomisrituaali oli suoritettu. Häiriö kiiri läpi kaikkeuden kudoksen ja herätti ikivanhat hirviöt. Unohtuneet kauhut tulvivat esiin, ja maailma oli jälleen vaarassa."
Book_Lore3 = "Kirjaston historia, osa 3 / 4\n\n1900-luvun alussa Suurten Muinaisten uhatessa maailmaa toistamiseen vartijat kokoontuivat Uudessa-Englannissa suorittaakseen sitomisrituaalin uudelleen. Rituaalin paikaksi valittiin vaatimaton kirjasto, ja vartijat valitsivat keskuudestaan Kirjastonhoitajan, joka pysyisi vankilassa ja suojelisi sitä uusilta häiriöiltä."
Book_Lore4 = "Kirjaston historia, osa 4 / 4\n\n\n\nPienessä uusienglantilaisessa kirjastossa vartijat suorittivat salaisen sitomisrituaalin vangitakseen Suuret Muinaiset. Kirjastonhoitaja, paikkaa suojelemaan valittu yksittäinen vartija, lukittiin sisään hirviöiden kanssa. Mutta rituaalin aikana vahingossa lipsahtanut sana tuhosi muiden vartijoiden tietämättä Kirjastonhoitajan mielen ja muistot..."
Book_Column = "Jalustassa on pieni lovi, johon on kaiverrettu outo kuvio.\n\nTässä näyttää olevan paikka pallomaiselle esineelle."
Book_Loot = "Ryöstely\n\nTutki ruumiit ammusten, artefaktien tai muiden esineiden varalta.\n\nRyöstettyäsi vihollisruumiin vihollinen voi syntyä uudelleen toisaalla samassa kentässä."
Book_Sandals = "Sandaalit\n\nVaatimattomat sandaalit. Näistä sandaaleista ei vaikuta olevan mitään erityistä hyötyä."
Book_ConsecrationKit = "Vihkipakkaus\n\nPieni puinen laatikko, jossa on tarvikkeita henkilön tai esineen siunaamiseen tai vihkimiseen."
Book_HolySymbol = "Pyhä symboli\n\nPieni kivi, jossa on uskonnollisia merkintöjä. Sillä ei vaikuta olevan hyötykäyttöä."
Book_JumpBoots = "Hyppysaappaat\n\nKestävät saappaat, joiden pohjissa on jouset.\n\nNämä saappaat mahdollistavat normaalia korkeammat hypyt."
Book_SpeedBoots = "Vauhtisaappaat\n\nRäikeät saappaat sulkakoristein.\n\nNämä saappaat mahdollistavat normaalia nopeamman juoksuvauhdin."
Book_QuietBoots = "Hiippailusaappaat\n\nVaatimattomat saappaat, joissa on pehmustetut pohjat.\n\nNämä saappaat vaientavat askeleesi."
Book_LocksmithKit = "Lukkosepän pakkaus\n\nRaskas kangaspussi täynnä teräksisiä tiirikoita ja muita välineitä.\n\nKantaessasi pakkausta voit avata lukittuja ovia kuluttamatta avaimia. Näin avatut ovet pysyvät lukittuina muille seikkailijoille.\n\nPakkauksen avulla voit myös asentaa avattuihin oviin lukon. Oven lukitseminen maksaa \ue0f1 × #{i:LocksmithKit:LockPriceTag}."
Book_MedicalKit = "Lääkepakkaus\n\nJäreä muovilipas, joka sisältää monenlaisia lääkinnällisiä tarvikkeita.\n\nPakkauksen kantaminen mahdollistaa parantumisen kuolettavista vammoista. Kuolleista elvyttäminen maksaa \ue0f1 × #{i:MedicalKit:RevivePriceTag}, mutta pakkausta voi käyttää rajattoman monta kertaa.\n\nLääkepakkauksen käyttö palauttaa terveydeksesi 3."
Book_TinningKit = "Säilömispakkaus\n\nKulunut metallilaatikko, jossa on tarvikkeita ruoan säilömiseen.\n\nPakkausta kantamalla voi syödä ei-ihmisruumiita palauttaaksesi terveyttäsi.\n\nOlennon säilöminen ja syöminen maksaa \ue0f1 × #{i:TinningKit:TinPriceTag}."
Book_Compass = "Kompassi\n\nYksinkertainen magneettinen kompassi.\n\nKompassin kantaminen paljastaa avainten sijainnin pikkukartassa. Kompassi myös osoittaa kentän ulospääsyä kohti."
Book_Amulet = "Tuhoamuletti\n\nPunaisella tähdellä koristeltu pieni kivi.\n\nAmuletin kantaminen tehostaa hyökkäyksiäsi ja saa luotisi tuhoamaan maastoa."
Book_Charm = "Onnenkalu\n\nNeliapilalla koristeltu pieni kivi.\n\nOnnenkalun kantaminen lisää ryöstösaalista, joita vihollisruumiiden luota löytyy."
Book_Talisman = "Taikurin talismaani\n\nSinisellä pyörteellä koristeltu pieni kivi.\n\nTalismaanin kantaminen vähentää erikoisvoimien käyttämisen artefaktihintaa."
FishmanShopkeeperTalk = "Kalaolento hymyilee sinulle itkuisesti.\n\n\"Tervetuloa, muukalainen! Osta jotain, glup glup! Kaupassani on paljon hyviä tuotteita.\""
LizardmanShopkeeperTalk = "Liskomies katselee sinua välinpitämättömästi.\n\n\"Kaikki ovat tänne tervetulleita, muukalainen. Et löydä parempia tarjouksia näin laadukkaisssta tuotteisssta.\""
SquidmanShopkeeperTalk = "Tähdensikiö silmäilee sinua epäilevästi.\n\n\"Ostahan jotain.\""
CouldNotConnect = "Serveriin ei saatu yhteyttä."
CouldNotReceive = "Serveriltä ei voitu vastaanottaa dataa."
ShouldUpdate = "Päivitys on tarjolla.\nTahdotko päivittää heti?"
UpToDate = "Peli on ajan tasalla."
Connecting = "Yhdistetään serveriin..."
CouldNotRunContentSyncer = "ContentSynceriä ei voitu ajaa."
CurrentLanguage = "Kieli: #{l:Language}"
Language = "Kieli"
Display = "Kuva"
Audio = "Ääni"
ControllerSpeed = "Analogitatin herkkyys:"
Level_MoM-Start = "Vuoret"
Level_MoM-1 = "Vuoret-1"
Level_MoM-2 = "Vuoret-2"
Level_MoM-3 = "Vuoret-3"
Level_MoM-4 = "Vuoret-4"
Level_MoM-5 = "Vuoret-5"
Level_MoM-6 = "Vuoret-6"
Level_MoM-7 = "Vuoret-7"
Level_MoM-8 = "Vuoret-8"
Level_MoM-9 = "Vuoret-9"
Level_MoM-Boss = "Vuoret-10"
Rest = "Lepää"
StokeCampfire = "Kohenna (\ue0f1 × #{i:CampingKit:StokePriceTag})"
Campfire = "Nuotio"
CampfireStoked = "Nuotio (kohennettu)"
CampingKit = "Retkipakkaus"
CampingKitDesc = "Mahdollistaa nuotion kohentamisen, mikä lisää nuotion parantavaa vaikutusta."
Soapstone = "Saippuakivi"
Hatchet = "Piilukirves"
HatchetDesc = "Painava ase, jolla on hyvä murtaa ovia."
Pickaxe = "Hakku"
PickaxeDesc = "Huonolaatuinen työkalu, jolla rikotaan kiviä ja jäätä. Hajoaa käytön myötä."
Ropegun = "Ammuttava iskuhaka"
RopegunDesc = "Ampuu koukun, joka jättää kiivettävän köyden mihin tahansa tukevaan pintaan."
ClimbingBoots = "Kiipeilysaappaat"
ClimbingBootsDesc = "Nämä saappaat suojelevat putoamisvammoilta, ja ne jalassa et laukaise jääpuikkoansoja."
PowerSummon = "Kutsuminen"
StatueSummon = "Öljyinen patsas"
PowerFlare = "Leimahdus"
StatueFlare = "Hehkuva patsas"
PlaneKeys = "Lentokoneen avaimet"
Book_MoM = "...Oliko tämä kirja täällä aiemmin?\n\nKirjan sivut lepattavat villisti pyörteilevässä jäisessä tuulessa.\n\nHulluuden vuoret odottavat..."
Book_PlaneNoKeys = "Lentokoneen avaimet ovat hukassa. Et voi lähteä ilman niitä."
Book_PlaneWithKeys = "Lentokoneen moottori yskii, kun käännät avainta virtalukossa.\n\nYrität välttää ajattelemasta kohtaamiasi mahdottoman muinaisia olentoja. Koneen noustessa ilmaan vilkaiset taaksepäin outoja vuoria ja niiden yliluonnollisia, suorakaiteen muotoisia monoliitteja, ja selkäpiitäsi karmii.\n\nOlet paennut henkikultasi kanssa, mutta onko järjestäsi mitään jäljellä?"
Book_CampingKit = "Retkipakkaus\n\nKestävä kangassäkki, jossa on monenlaisia retkivarusteita.\n\nTämän pakkauksen kantaminen mahdollistaa nuotioiden kohentamisen. Kohennetun nuotion luona lepääminen antaa tavallista enemmän terveyttä.\n\nNuotion kohentaminen maksaa \ue0f1 × #{i:CampingKit:StokePriceTag}."
Book_ClimbingBoots = "Kiipeilysaappaat\n\nTyylikkäät vaellussaappaat, joiden pohjissa on piikit.\n\nPitämällä nämä saappaat jalassa voit pudota turvallisesti korkealta, eikä jääpuikkojen alta käveleminen saa niitä putoamaan."
Book_Soapstone = "Saippuakivi\n\nVihertävä, tähdenmuotoinen vuolukiven pala. Sillä ei ole vaikutusta."
Book_Summon = "Kutsuminen (voima)\n\nPaina #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} kutsuaksesi pysäyttämättömän shoggothin.\n\nShoggoth hyökkää kaikkien havaitsemiensa olentojen kimppuun, sinunkin!\n\nKutsumisen käyttö maksaa \ue0f1 × #{i:PowerSummon:PowerCost}."
Book_Flare = "Leimahdus (voima)\n\nPaina #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} heittääksesi mystisen Leimahduksen.\n\nLeimahdus valaisee tietäsi lyhyen aikaa ja harhauttaa vihollisia.\n\nLeimahduksen käyttö maksaa \ue0f1 × #{i:PowerFlare:PowerCost}."
ShoggothShopkeeperTalk = "Shoggoth pulputtaa sinulle käsittämättömästi."
SquidmanFriendlyShopkeeperTalk = "Tähdensikiö tervehtii sinua lämpimästi.\n\n\"Tervetuloa, ystävä! Etkö ostaisi jotain kaupastani?\""
Airplane = "Lentokone"
RIPDmgIcicles = "Minut lävisti putoava jääpuikko"
RIPDmgElderThingMelee = "Muinainen löi minut"
RIPDmgElderThingRanged = "Vanha olento ampui minut"
RIPDmgMigo = "Mi-go löi minut"
RIPDmgMigoExplode = "Sain myrkytyksen Mi-gon ruumiista"
RIPDmgYCultistMelee = "Yog-Sothothin kultisti löi minut"
RIPDmgYCultistRanged = "Yog-Sothothin kultisti ampui minut"
RIPLvlMoM = "hulluuden vuorilla"