[Hungarian]
True = "Be"
False = "Ki"
OK = "Rendben"
Yes = "Igen"
No = "Nem"
Play = "Indítás"
Options = "Beállítások"
Quit = "Kilépés"
PressStart = "Nyomj Entert"
ConfirmQuit = "Kilépsz?"
ConfirmSaveAndQuit = "Mentesz és kilépsz?"
Version = "#{s:ContentSyncer:Version} verzió"
BindControls = "Irányítás hozzárendelése"
Controls = "Irányítás"
MouseSpeed = "Egér sebessége:"
InvertY = "Y tengely megfordítása: #{b:InvertY}"
Resolution = "Felbontás:          #{i:DisplayWidth} × #{i:DisplayHeight}"
SetRes = "Felbontás"
Fullscreen = "Teljes képernyő:    #{b:Fullscreen}"
Brightness = "Fényerő"
FOV = "Látószög"
Volume = "Hangerő:"
MusicVolume = "Zene hangereje:"
Back = "Vissza"
BindForward = "Mozgás előrefelé:"
BindBack = "Mozgás hátrafelé:"
BindLeft = "Mozgás balra:"
BindRight = "Mozgás jobbra:"
BindJump = "Ugrás:"
BindFrob = "Használat:"
BindLeanLeft = "Kitekintés balra:"
BindLeanRight = "Kitekintés jobbra:"
BindRun = "Futás:"
BindCrouch = "Guggolás:"
BindUseWeapon = "Tüzelés:"
BindUsePower = "Erő használata:"
BindDropWeapon = "Fegyver eldobása:"
BindCycleUp = "Előző fegyver:"
BindCycleDown = "Következő fegyver:"
BindDialog = "Nyomj meg egy gombot a hozzárendeléshez.\nNyomj Esc-et a visszalépéshez.\nNyomj Backspace-t a hozzárendelés törléséhez."
Paused = "Szüneteltetve"
Resume = "Folytatás"
ReturnToHub = "Vissza a könyvtárba"
Resurrect = "Feltámadás"
SaveAndQuit = "Mentés és kilépés"
Death = "Meghaltál..."
ConfirmResurrect = "Feltámadsz? (Elveszíted\na jelenlegi előrehaladásodat.)"
Souls = "Lelkek"
Gear = "Felszerelés"
HUDHealth = " × #{i:HUD:Health} / #{i:HUD:MaxHealth}"
HUDArtifacts = " × #{i:HUD:Money}"
HUDKeys = " × #{i:HUD:Keys}"
HUDAmmo = " × #{i:HUD:Ammo}"
HUDEndgame = " × #{i:HUD:EndgameCount}"
HUDPowerLabel = "#{l:HUD:PowerLabel}"
PowerHypnotize = "Hipnotizálás"
PowerBuild = "Építés"
PowerLift = "Dupla ugrás"
PowerKnock = "Koppantás"
PowerTeleport = "Teleport"
PowerCloak = "Álca"
BankWalletMoney = "#{i:Bank:WalletMoney}"
BankBankMoney = "#{i:Bank:BankMoney}"
BankPlayer = "Játékos"
BankBank = "Bank"
AmmoPickup = " × #{i:AmmoPickup:Ammo}"
MoneyPickup = " × #{i:MoneyPickup:Money}"
KeyPickup = " × #{i:KeyPickup:Keys}"
HealthPickup = " × #{i:HealthPickup:Health}"
Price = "Ár:"
NameTag = "#{l:Purchase:NameTag}"
ItemDesc = "#{l:Purchase:ItemDesc}"
PriceTag = " × #{i:Purchase:PriceTag}"
Buy = "Vásárlás"
Steal = "Lopás"
Cancel = "Mégse"
Dying = "Haldoklasz..."
RevivePriceTag = " × #{i:MedicalKit:RevivePriceTag}"
Revive = "Revive"
FrobName = "#{l:HUD:FrobName}"
FrobVerb = "#{s:EldritchKeyboard:Frob}#{l:EldritchMouse:Frob}#{l:EldritchController:Frob} #{c:HUD:FrobVerb}"
FrobHold = "Tartsd nyomva: #{s:EldritchKeyboard:Frob}#{l:EldritchMouse:Frob}#{l:EldritchController:Frob} #{c:HUD:HoldVerb}"
RIPFormat = "|RIP| %s %s."
RIPURL = "http://www.eldritchgame.com"
RIPHashtags = "eldritch"
RIPTwitter = "https://twitter.com/intent/tweet?text=%s&hashtags=%s&url=%s"
RIPDmgUnknown = "Meghaltam"
RIPDmgResurrect = "Feladtam"
RIPDmgPlayer = "Hatalmas hibát követtem el"
RIPDmgSpikes = "Egy tüskék csapdába tévedtem"
RIPDmgBarnacle = "Feldühítettem egy óriáskagylót"
RIPDmgFishmanMelee = "Agyonvert egy halember"
RIPDmgFishmanRanged = "Lelőtt egy halember"
RIPDmgDCultistMelee = "Agyonvert egy átázott szektatag"
RIPDmgDCultistRanged = "Lelőtt egy átázott szektatag"
RIPDmgNCultistMelee = "Agyonvert egy homokos szektatag"
RIPDmgNCultistRanged = "Lelőtt egy homokos szektatag"
RIPDmgRCultistMelee = "Agyonvert egy nyálkás szektatag"
RIPDmgRCultistRanged = "Lelőtt egy nyálkás szektatag"
RIPDmgLizardmanMelee = "Agyonvert egy gyíkember"
RIPDmgLizardmanRanged = "Lelőtt egy gyíkember"
RIPDmgEye = "Lelőtt egy lebegő szemgolyó"
RIPDmgShoggoth = "Eltaposott egy megállíthatatlan shoggoth"
RIPDmgLizardWatson = "Hátat fordítottam egy kísérteties szobornak"
RIPDmgMummy = "Felfalt egy hátborzongató múmia"
RIPDmgSquidmanMelee = "Agyonvert egy csillagszülött"
RIPDmgSquidmanRanged = "Lelőtt egy csillagszülött"
RIPDmgPolyp = "Lelőtt egy lebegő polip"
RIPDmgBugMelee = "Megharapott egy bogár"
RIPDmgBugRanged = "Lelőtt egy bogár"
RIPDmgFoodPoisoning = "Ételmérgezésbe haltam bele"
RIPDmgShopkeeper = "Alábecsültem egy boltost"
RIPDmgTrapBolt = "Átestem egy dróton"
RIPLvlUnknown = "egy magányos helyen"
RIPLvlLibrary = "egy rejtélyes könyvtárban"
RIPLvlEndgame = "egy hihetetlenül hatalmas könyvtárban"
RIPLvlWater = "egy mocsaras dagon romban"
RIPLvlSand = "Nyarlathotep poros templomában"
RIPLvlSwamp = "R'lyeh elveszett városában"
RIPLvlSubspace = "egy furcsa, sötét helyen"
JumpBoots = "Ugró csizmák"
JumpBootsDesc = "Ezekkel a csizmákkal\nmagasabbra ugorhatsz."
SpeedBoots = "Gyorsító csizmák"
SpeedBootsDesc = "Ezekkel a csizmákkal\ngyorsabban futhatsz."
QuietBoots = "Lopakodó csizmák"
QuietBootsDesc = "Ezek a csizmák csökkentik\na lépteid zaját."
LocksmithKit = "Zárnyitó készlet"
LocksmithKitDesc = "Lehetővé teszi zárt ajtók kinyitását\nés lakatok ajtókra helyezését\negy csekély árért cserébe."
MedicalKit = "Orvosi készlet"
MedicalKitDesc = "Lehetővé teszi, hogy\nfeltámaszd magad a halál után,\nnémi díjért cserébe."
TinningKit = "Csomagoló készlet"
TinningKitDesc = "Lehetővé teszi bizonyos\nlények holttestének elfogyasztását,\nnémi díjért cserébe."
Bottle = "Üveg"
BottleDesc = "Az eldobása zajt kelt vagy\nmegsebzi az ellenfeleket."
Revolver = "Revolver"
RevolverDesc = "Egy megbízható tűzfegyver.\nLőszert használ.\nAz ár tartalmaz 3 töltényt."
Snaregun = "Botlódrót puska"
SnaregunDesc = "Olyan töltényt lő ki, ami\nbotlódrótot ágyaz bármilyen felszínbe.\nAz ár tartalmaz 3 töltényt."
Compass = "Iránytű"
CompassDesc = "A kijárat irányát\nmutatja."
Charm = "Szerencse talizmán"
CharmDesc = "Ha ez nálad van, több\nzsákmányt találsz az ellenfelek\nholttestén."
Amulet = "Pusztító amulett"
AmuletDesc = "Megnöveli a fegyvereid\nsebzését és a lövedékeid\nelpusztítják a környezetet."
Talisman = "A varázsló talizmánja"
TalismanDesc = "Csökkenti az ereklyék speciális\nerőinek költségét."
Key = "Kulcs"
KeyDesc = "Kinyit egy ajtót.\nCsak egyszer használható."
Dagger = "Tőr"
DaggerDesc = "Dupla pengéjű\nharci kés. Nagyobb hatótáv és\nhalálosabb, mint az ökleid."
Dynamite = "Dinamit"
DynamiteDesc = "Egy adag nitroglicerinbe\náztatott rúd. Robbanékony\nés igen labilis."
MeatDesc = "Helyreállít némi\néleterőt."
Corpse = "Holttest"
Shopkeeper = "Kereskedő"
WaterSoul = "Dagon lelke"
SandSoul = "Nyarlathotep lelke"
SwampSoul = "Cthulhu lelke"
HardSoul = "A könyvtáros lelke"
Rock = "Kő"
Chest = "Tárolóláda"
ExitDoor = "Kijárat"
ExitDoorUp = "Bejárat"
Book = "Könyv"
WorldBook = "Különös könyv"
SubspaceBook = "Poros könyv"
Door = "Ajtó"
LockedDoor = "Zárt ajtó"
GateDoor = "Zárt vasajtó"
UnlockedGateDoor = "Vasajtó"
Mirror = "Tükör"
DeskLamp = "Asztali lámpa"
Toilet = "Vécé"
Sink = "Mosogató"
Artifact = "Ereklye"
Artifact5 = "Ereklyehalom"
StatueHypnotize = "Hipnotikus szobor"
StatueCloak = "Beburkoló szobor"
StatueBuild = "Szilárd szobor"
StatueLift = "Rugalmas szobor"
StatueKnock = "Zengő szobor"
StatueTeleport = "Labilis szobor"
Meat = "Főtt hús"
BadMeat = "Rothadt hús"
Fountain = "Forrás"
Pedestal = "Piedesztál"
Plant = "Gyümölcs"
PlantToxic = "Mérgező gyümölcs"
HolySymbol = "Szent szimbólum"
ConsecrationKit = "Felszentelő készlet"
Sandals = "Szandál"
Candle = "Gyertya"
RitualBook = "A megkötés rítusa"
FullGame = "Teljes játék"
PickUp = "Felvétel"
Examine = "Megvizsgálás"
Loot = "Zsákmányolás"
Read = "Olvasás"
Eat = "Megevés"
EatUnsure = "...Megeszed?"
EatCorpse = "(\ue0f1 × #{i:TinningKit:TinPriceTag}) megevése"
LockDoor = "(\ue0f1 × #{i:LocksmithKit:LockPriceTag}) bezárása"
Go = "Mozgás"
Return = "Vissza"
Pray = "Imádkozás"
Open = "Kinyitás"
Close = "Bezárás"
Quaff = "Megivás"
Disarm = "Hatástalanítás"
Light = "Meggyújtás"
Switch = "Kapcsolás"
Flush = "Leöblítés"
Use = "Használat"
Talk = "Beszélgetés"
TODO = "// TODO"
World = "Világ"
WorldName = "#{l:HUD:WorldName}"
Level_Library = "A könyvtár"
Level_Water-1 = "Dagon-1"
Level_Water-2 = "Dagon-2"
Level_Water-3 = "Dagon-3"
Level_Sand-1 = "Nyarlathotep-1"
Level_Sand-2 = "Nyarlathotep-2"
Level_Sand-3 = "Nyarlathotep-3"
Level_Swamp-1 = "R'lyeh-1"
Level_Swamp-2 = "R'lyeh-2"
Level_Swamp-3 = "R'lyeh-3"
Level_Endgame-1 = "Könyvtár-1"
Level_Endgame-2 = "Könyvtár-2"
Level_Endgame-3 = "Könyvtár-3"
Level_Subspace = "???????"
Credits = "Készítők"
Book_Controls = "Irányítás\n\nHa az alapértelmezett irányítás számodra\nnem kényelmes, a Beállítások menüben\nmegváltoztathatod."
Book_Keys = "Kulcsok\n\nA kulcsok ajtók kinyitására használhatók.\n\nMinden egyes kulcs csak egyszer használható."
Book_Statue = "Szobrok\n\nEzek a hatalmas kőidolok bemutatják\na Földön sohasem látott szörnyű lényeket.\n\nEzek egyikénél imádkozva az Ősök különleges\nerejével ruház fel."
Book_Food = "Étel\n\nAz ehető ennivalók elfogyasztása helyreállít némi\néleterőt.\n\nLégy óvatos! Romlott vagy mérgező ételek\ngyógyítás helyett árthatnak."
Book_Fountain = "Források\n\nEgy forrásból kortyolva helyreállíthatsz\nnémi életerőt és megnövelheted\na maximális életerődet.\n\nMiután ittál belőlük, a források kiszáradnak."
Book_Ledger = "Elder Ridge könyvtár\nKölcsönzési napló\n\nTárgy száma | Kölcsönző neve | Dátum\n---------------------------------------\n  9713   | J. K. Pippen      | 10/12/26\n  5576   | Kim Putnam        | 10/15/26\n  4185   | Ken Thudson, Esq. | 12/ 3/26\n  6287   | Kynan Wales       |  1/29/27\n  0451   | F. B. Gaynor      |  2/ 4/27\n  2934   | Stuart Jameson    |  2/15/27\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /"
Book_Journal = "Felfedező naplója, 2. oldal\n\nEz a könyvtár szinte végtelennek tűnik. Már attól félek, hogy számomra nincs innen kiút. Olyan érzésem van, mintha nap nap után ugyanazt élném át, végtelenül.\n\nHa valaha is kitalálok erről az őrületes helyről, azt azokon az obszcén, világító köteteken keresztül tehetem meg. Elképzelhetetlen hatalom lakozik a lapjaik között, de kimondhatatlan szörnyűség is...\n\nAz ősi létformák szellemei csendben a lapokon nyugszanak, habár fogalmam sincs, mi okból. Egyesített erejük jelentheti a kulcsot a megmenekülésemhez ebből a labirintusból..."
Book_Journal2 = "Felfedező naplója, 1. oldal\n\nValami igen furcsa történt velem. Úy érzem ezt fel kell jegyeznem arra az esetre, ha nem térnék vissza.\n\nAz utolsó dolog, amire emlékszem, azt a különös könyvet vizsgálgattam a könyvtárban... Mostanra pedig egy leselkedő szörnyekkel és alattomos csapdákkal teli veszélyes világban találtam magam.\n\nHa a kutatásom igaznak bizonyul, akkor Dagon, egy ősi isten eltűnt templomában lehetek. Hatalmas erejű ereklyét sejtenek ennek a világnak a mélyén. Talán ez jelenti a kiutat számomra..."
Book_Journal3 = "Felfedező naplója, 3. oldal\n\nÓ, édes istenem, ne. Nem tudtam mit teszek.\n\nMegtaláltam a kiutat a könyvtárból, de csak mostanra értettem meg valódi természetét. Menekülésem során kinyitottam felnyitottam Pandóra szelencéjét.\n\nA könyvtár egy interdimenzionális börtön, amelyet az Ősök hoztak létre évezredekkel ezelőtt. Hogy miként kerültem ott csapdába, az rejtély, de annyi bizonyos, hogy a kijáratot nem használatra szánták.\n\nAz én tetteim miatt elképzelhetetlen szörnyűségek özönlik el a Földet. Egyáltalán lehetséges az újra bebörtönzésük?"
Book_Journal4 = "Felfedező naplója, 4. oldal\n\nLehetséges, hogy megtaláltam a megoldást az általam, akaratlanul a világra szabadított gonoszra. Kutatásaim során tudomást szereztem egy \"megkötés\" nevű szertartásról, amelyet a titokzatos lények hajtottak végre a legutóbbi alkalommal, amikor az Ősök a Földet fenyegették.\n\nA megkötés szertartás az ősi szavak hangos felolvasásával hajtható végre, amely átívelő ismeretlen dimenziókban, egy végtelen börtönbe zárja a megszállókat; egy személyt pedig a börtön örökkévaló őrének állítja.\n\nA szertartás három gyertya meggyújtásával felerősíthető. A gyertyák a célpontokat a börtön szívébe vonzzák és álomba szenderítik őket.\n\nAz ősi írások egy további lépésről is szólnak, amely felmenti az őrt feladata alól egy szent helyettesítő felajánlásával, de ennek részletei az idő enyészetévé váltak."
Book_Sprint = "Sprintelés\n\nTartsd lenyomva a(z) #{s:EldritchKeyboard:Run}#{l:EldritchMouse:Run}#{l:EldritchController:Run}-t a sprinteléshez.\n\nSprintelés közben guggolj le (#{s:EldritchKeyboard:Crouch}#{l:EldritchMouse:Crouch}#{l:EldritchController:Crouch})\negy becsúszás végrehajtásához."
Book_Crouch = "Guggolás\n\nNyomj #{s:EldritchKeyboard:Crouch}#{l:EldritchMouse:Crouch}#{l:EldritchController:Crouch}-t a guggoláshoz.\n\nGuggolás közben kisebb méretű\nátjárókba is beférkőzhetsz és a lépteid is kevesebb zajt okoznak.\n\nSprintelés közben leguggolva (#{s:EldritchKeyboard:Run}#{l:EldritchMouse:Run}#{l:EldritchController:Run})\negy becsúszást hajthatsz végre."
Book_Jump = "Ugrás\n\nNyomj #{s:EldritchKeyboard:Jump}#{l:EldritchMouse:Jump}#{l:EldritchController:Jump}-t az ugráshoz.\n\nTartsd lenyomva az ugrás gombot\negy szegély elkapásához, ahonnan felhúzhatod magad."
Book_Lean = "Kihajlás\n\nNyomj #{s:EldritchKeyboard:LeanLeft}#{l:EldritchMouse:LeanLeft}#{l:EldritchController:LeanLeft}-t a balra kihajláshoz.\nNyomj #{s:EldritchKeyboard:LeanRight}#{l:EldritchMouse:LeanRight}#{l:EldritchController:LeanRight}-t a jobbra kihajláshoz.\n\nA láthatóságodra nincs hatással a kihajlás, ezért biztonságban használhatod a sarkok mögül, miközben rejtve maradsz."
Book_Artifact = "Ereklyék\n\nEzek a földönkívüli kőfaragványok jelentik\na fő nyersanyagot ebben a világban.\n\nKereskedőknél költheted el vagy\nspeciális erők és eszközök aktiválására\nhasználhatod őket."
Book_Hypnotize = "Hipnotizálás erő\n\nCélozz egy lényre és nyomj #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower}-t\na hipnotizálásához.\n\nA hipnotizált lények melletted harcolnak.\n\nLégy óvatos! Az erős akaratú lények rövid idő\nalatt lerázhatják a hatást.\n\nHasználatának költsége \ue0f1 × #{i:PowerHypnotize:PowerCost} hipnotizálásonként."
Book_Build = "Építés erő\n\nNyomj #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower}-t egy misztikus\nakadály megidézéséhez.\n\nEzeket az akadályokat az ellenfelek útjának elzárásához\nvagy a nehezen elérhető helyek eléréséhez használhatod.\n\nLégy óvatos! Lehetséges csapdába ejteni\nezzel saját magad.\n\nHasználatának költsége \ue0f1 × #{i:PowerBuild:PowerCost} építésenként."
Book_Lift = "Dupla ugrás erő\n\nNyomj #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower}-t a felugráshoz.\n\nA dupla ugrás még a levegőben is használható,\nígy szinte bármilyen magasságot elérhetsz.\n\nHasználatának költsége \ue0f1 × #{i:PowerLift:PowerCost}."
Book_Knock = "Koppantás erő\n\nNyomj #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower}-t a koppantás megidézéséhez.\n\nCélozz egy zárt ajtóra annak kinyitásához vagy\nbármilyen felszínre némi zajkeltéshez\na járőröző ellenfelek figyelmének eltereléséhez.\n\nHasználatának költsége \ue0f1 × #{i:PowerKnock:PowerCost} koppantásonként."
Book_Teleport = "Teleport erő\n\nNyomj #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower}-t egyszer egy jelzőfény eldobásához.\nNyomj #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower}-t újra, hogy odateleportálj.\n\nTartsd nyomva a(z) #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower}-t a jelzőfény\nfelvételéhez, majd engedd el az újbóli eldobáshoz.\n\nA jelzőfény eldobása és felvétele ingyenes.\nHasználatának költsége \ue0f1 × #{i:PowerTeleport:PowerCost} teleportálásonként."
Book_Cloak = "Álca erő\n\nNyomj #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower}-t saját magad álcázásához.\n\nÁlcázás közben az ellenfelek\nnem látnak téged. A hatás egy rövid idő után\nmegszűnik.\n\nLégy óvatos! Az ellenfelek ettől függetlenül még\nhallanak álcázás közben.\n\nHasználatának költsége \ue0f1 × #{i:PowerCloak:PowerCost}."
Book_PowerBroke = "Erő költség\n\nAz erők megidézése fogyasztja az ereklyéid mennyiségét.\nNem maradt elegendő ereklyéd ennek az erőnek\na megidézéséhez.\n\nFedezd fel a világot, hogy további ereklyékre bukkanj!"
#Book_Direction = "Légy óvatos! Egy leselkedő szörnyekkel és aljas csapdákkal teli\nveszélyes világba léptél.\n\nEgy hatalmas erejű ereklye található a\nvilág mélyén. Juss át a szintjein, hogy\nmegszerezd az ereklyét és folytasd az utazásodat."
Book_Weapons = "Fegyverek és tárgyak\n\nNyomj #{s:EldritchKeyboard:UseWeapon}#{l:EldritchMouse:UseWeapon}#{l:EldritchController:UseWeapon}-t az ütéshez, lövedék\nkilövéséhez vagy fegyver elsütéséhez.\n\nNyomj #{s:EldritchKeyboard:DropWeapon}#{l:EldritchMouse:DropWeapon}#{l:EldritchController:DropWeapon}-t a jobb kezedben tartott tárgy\neldobásához.\n\nEgyszerre két fegyver vagy tárgyat\ntarthatsz magadnál. Nyomj #{s:EldritchKeyboard:CycleUp}#{l:EldritchMouse:CycleUp}#{l:EldritchController:CycleUp}/#{s:EldritchKeyboard:CycleDown}#{l:EldritchMouse:CycleDown}#{l:EldritchController:CycleDown}-t a váltáshoz\nközöttük."
Book_Water = "Ezt a könyvet egy számodra ismeretlen nyelven írták.\n\nMiközben a furcsa szimbólumokat nézed,\núgy tűnnek, mintha felemelkednének a lapokról és\nfelvennék a világok és lények bizarr és földöntúli alakjait,\namelyekről szólnak.\n\nKörbevesznek a szavak, szétfolyva\na könyvtárban és megtöltve az elmédet az\nember előtti nyelv elviselhetetlen zümmögésével.\n\nFelkavarva megpróbáld bezárni a könyvet, de\narra eszmélsz, hogy a lapjain leírt idegen világba repített..."
Book_SandLocked = "Ezt a könyvet soha nem látott erő fogja össze.\nA fedelén a következő írás olvasható:\n\nEz a hely nem a becsület otthona.\nBorzalmas erőt börtönöztek ebbe a\nkötetbe. Dagon lelkével pecsételték le\nés csakis Dagon lelke oldhatja fel."
Book_Sand = "Felemeled Dagon lelkét a\nlezárt könyv előtt. A gömb az ujjbegyeidhez nyomódik,\nérezhetően erőlködik, hogy elérje a\nbőrszerű felszínt.\n\nTávoli szél hangját hallani,\namint a bezárt lélek dühösen rázkódik a kezedben.\nAhogyan Dagon haragja egyre fokozódik, a könyvet\ntartó erő gyengül.\n\nFültépő reccsenés hasít keresztül a szobán,\namikor a pecsét megtörik és Dagon lelke\nismét megnyugszik és elcsendesül.\n\nA könyv kinyílik, felfedve az eldritch szimbólumokkal\nborított porlepte lapokat. \nNévtelen félelem tölt el.\n\nA következő világ vár rád..."
Book_WorldUnlock = "Kinyitottad a következő világba vezető\nkönyvet. A könyvek még a halálod és feltámadásod után\nnyitva maradnak."
Book_SwampLocked = "Ezt a könyvet soha nem látott erő fogja össze.\nA fedelén a következő írás olvasható:\n\nEz a hely nem a becsület otthona.\nBorzalmas erőt börtönöztek ebbe a\nkötetbe. Nyarlathotep lelkével pecsételték le és csakis Nyarlathotep lelke oldhatja fel."
Book_Swamp = "Felkínálod Nyarlathotep lelkét és\na könyv pecsétje megtörik. Mély félelem\nférkőzik az elmédbe.\n\nA következő világ vár rád..."
Book_ExitLibrary = "Elhelyezed az Ősök lelkeit az ajtó előtt\nA várakozástól zümmögni és kavarogni kezdenek.\n\nA könyvtár erősen megrázkódik. Könyvek\nzuhannak le a polcokról és az ajtó\nmegroppan a hatalmas ellenkező erők súlyától. Az Ősök földöntúli hangja\nfülsiketítő mértékűre duzzad és\naz ajtó végül kitárul.\n\nBeteges valóság körvonala kezd formálódni\naz elmédben.\n\nA kiút nyitva áll előtted."
Book_EndgameEnter = "Megkezded az alászállást a könyvtár mélyére,\nde az alaktalan szörnyűség\na szívedben már kikristályosodott.\n\nMivel te az Ősök segítségével menekültél el\na könyvtárból, ők rajtad keresztül szabadultak ki\na börtönükből.\n\nElképzelhetetlen szörnyűségek ömlenek a Földre\na tetteid miatt. Lehetséges\negyáltalán újra foglyul ejteni őket?"
Book_BadEnd = "Hangosan kimondod a megkötés rítusának\nősi szavait.\n\nAz Ősök még mindig a könyvtár határain belül maradnak bebörtönözve\nés többé már nem jelentenek veszélyt a Földre.\nMégis sokuknak sikerült megszökni\nés jelenleg is a könyvtár falain túl pusztítanak.\n\nMiután megtettél mindent, ami tőled tellett,\na rítust a végső lépés elvégzésével fejezed be:\nfelajánlod magad, mint a könyvtár\nörökkévaló őre.\n\n\n\n                Vége\n\n\n\nVégigjátszott generációk: #{i:HUD:GenerationsCounter}"
Book_GoodEnd = "Hangosan kimondod a megkötés rítusának\nősi szavait.\n\nAz Ősök abbahagyják pusztításukat és a meggyújtott gyertyák köré gyűlnek,\nelcsendesednek és\nletargikusan a könyvtár\nmélye felé lebegnek.\n\nMiután biztonságosan a börtönükbe kerültek,\na rítust a végső lépés elvégzésével\nfejezed be:\nfelajánlod magad, mint a könyvtár\nörökkévaló őre.\n\n\n\n                Vége\n\n\n\nVégigjátszott generációk: #{i:HUD:GenerationsCounter}"
Book_TrueEnd = "Hangosan kimondod a megkötés rítusának\nősi szavait.\n\nAz Ősök abbahagyják pusztításukat és a meggyújtott gyertyák köré gyűlnek,\nelcsendesednek és\nletargikusan a könyvtár\nmélye felé lebegnek.\n\nMiután biztonságosan a börtönükbe kerültek,\na rítust a végső lépés elvégzésével\nfejezed be:\negy megszentelt szimbólumot helyezel el\naz Ősök őrzésére.\n\nVégre szabadon távozhatsz a könyvtárból,\naz ősök pedig örökös álomba merülne...\n\n\n\n                Vége\n\n\n\nVégigjátszott generációk: #{i:HUD:GenerationsCounter}"
Book_WaterSoul = "Megragadod a furcsa kék gömböt. Az érintésedre\nzümmögni és vibrálni kezd, mintha\nmenekülni próbálna.\n\nAhogy az ujjaid szorosan köré fonódnak,\nhirtelen kéretlen betekintést nyersz\na földöntúli gömbbe,\namelyben egy ősi istenség, Dagon lelke ébredezik.\n\nEgy látomás hasít át az elméden, mint\negy rég elfeledett emlék a félelemről,\nellenállás nélküli pusztításról, majd\na rejtett rítus után kényelmetlen nyugalom lesz úrrá rajtad.\n\nA látomás elenyészik, utat engedve\naz üresség beteges érzésének. Dagon lelke\nkavarja fel a csendet.\n\nKinyithatod a következő könyvet a\nkönyvtárban."
Book_SandSoul = "Felveszel egy furcsa vörös gömböt. Zümmög\nés megremeg, miközben Nyarlathotep felébred. A\nrettegés hulláma söpör végig rajtad.\n\nKinyithatod a könyvtár következő könyvét."
Book_SwampSoul = "Felveszel egy furcsa zöld gömböt.\nSíkosan ide-oda csúszkál, miközben Cthulhu felébred. \nMegroggyannak a térdeid, ahogy erre ráébredsz.\n\nMiután mindhárom lélek a birtokodban van,\nkinyithatod a könyvtár ajtaját."
Book_HardSoul = "Üdvözlünk az Új játék+-ban!\n\nEnnek a léleknek a begyűjtése megnyitotta\naz Eldritch még nagyobb kihívást jelentő változatát.\n\nA hatás a halálod után elmúlik."
Book_Soul = "Lelkek\n\nA lélek egy Ős alvó\nesszenciája, amely fizikai alakban ragadt. A lelkek\nminden egyes világ mélyén találhatók.\n\nEzek a könyvtárban található könyvek\nfeloldására szolgálnak.\n\nNyilvánvalóan semmi baj nem történhet, ha egy\nŐs lelkét a Földre hozod..."
Book_Death = "Halál\n\nAmikor az életerőd nullára csökken, meghalsz.\n\nHalál után a könyvtárban támadsz fel.\n\nA tulajdonaid elvesznek, de az\nereklyék a tárolóládádban nem,\nvalamint minden feloldott könyv is\nérintetlenül marad.\n\nÚj életet bármikor kezdhetsz a\nFeltámasztás lehetőséget választva\na szünet menüben."
Book_Chest = "Tárolóláda\n\nAz ereklyéidet tárolóládában helyezheted biztonságba. Azokat az ereklyéket,\namelyeket idehelyezel, később ebből\nvagy bármelyik másik ládából kiveheted.\n\nHalálod esetén minden tulajdonod elveszik, azonban\na tárolóládákba helyezett ereklyék megmaradnak."
Book_Shop = "Vásárlás\n\nMinden egyes bolt változatos értékes\nfelszerelést kínál eladásra.\n\nHa nem telik valamire, megpróbálhatod ellopni\na tárgyat, ezzel viszont feldühíted a kereskedőt."
Book_Gear = "Felszerelés\n\nA felszerelés hordható tárgyak összessége, amely javítja\na képességeidet vagy újakat old fel.\n\nA felszerelés három kategóriába sorolható:\ncsizmák, készletek és szerkentyűk.\n\nMinden egyes kategóriából egyetlen darabot\ntarthatsz magadnál."
Book_Lore1 = "A könyvtár története, 1. kötet a 4-ből\n\nLegendák mesélnek egy katasztrofális eseményről, amely évezredekkel ezelőtt történt, amikor a Földre az Ősök haragja zúdult.\nNéhány túlélő felfedezett egy ősi rítust, amellyel elzárták ezeket a szörnyűséges lényeket egy labirintusszerű börtönbe. Az élet a Földön is felvirágzott, a túlélők pedig megalakítottak egy őrzőkből álló szövetséget, ami megvédi a megkötés rítusának titkát."
Book_Lore2 = "A könyvtár története, 2. kötet a 4-ből\n\nTöbb ezer év telt el és az Ősök\na börtönükben szunnyadtak. A késő \n19. században régészek Arábiában\nfelfedezték a helyet, ahol a megkötési\nrítust végrehajtották. Alkalmatlankodásuk áttépte az univerzum\nszövetét és felébresztette az ősi lényeket.\nElfeledett szörnyűségek ömlöttek ki\nés a Föld ismét a pusztulás szélére került."
Book_Lore3 = "A könyvtár története, 3. kötet a 4-ből\n\nA 20. század korai időszakában, amikor az Ősök másodszorra fenyegették a Földet, az Őrzők Új-Angliában gyűltek össze,\nhogy ismét végrehajtsák a megkötés rítusát.\nEgy szerény könyvtár mellett döntöttek,\nés az Őrzők kiválasztottak maguk közül egyet, a Könyvtárost, aki a börtönben marad és megvédi azt a további\nháborgatástól."
Book_Lore4 = "A könyvtár története, 4. kötet a 4-ből\n\nÚj-Anglia egy kisebb könyvtárában\nhajtották végre az Őrzők az Ősök megkötésének misztikus rítusát. A Könyvtáros, az egyik megválasztott Őrző\nvédi a helyet, akit bezártak a\nszörnyűséges lények közé. De a többi Őrző előtt ismeretlen, hogy a rítus során egy kóbor kiejtett szó összetörte a Könyvtáros elméjét és emlékeit..."
Book_Column = "A piedesztálon egy felszínes bemélyedés található, amelyet furcsa véset díszít.\n\nÚgy tűnik egy gömb alakú tárgy behelyezhető ide."
Book_Loot = "Zsákmány\n\nKutasd át a holttesteket lőszer, ereklyék vagy\ntárgyak után.\n\nMiután átkutattál egy ellenfelet, azok\nújra feltámadhatnak a szint valamelyik részén."
Book_Sandals = "Szandálok\n\nEgy pár szerény, poros szandál. Ezek\na szandálok nem bírnak semmilyen különlegesebb\nképességgel."
Book_ConsecrationKit = "Felszentelő készlet\n\nEgy kisméretű fadoboz, amely változatos\neszközöket tartalmaz egy személy vagy tárgy megáldásához\nvagy felszenteléséhez."
Book_HolySymbol = "Szent szimbólum\n\nEgy kisméretű kőtábla, amelyet egy vallásos jel díszít. Nincs különösebb haszna."
Book_JumpBoots = "Ugró csizmák\n\nEgy pár nyers kinézetű csizma, melyeknek talpára\nrugókat erősítettek.\n\nEzeket hordva az átlagosnál magasabbra\nugorhatsz."
Book_SpeedBoots = "Gyorsító csizmák\n\nEgy pár rikító színű csizma, amelyet tollak\ndíszítenek.\n\nEzeket hordva az átlagosnál gyorsabban\nközlekedhetsz."
Book_QuietBoots = "Lopakodó csizmák\n\nEgy pár szerény csizma, bélelt\ntalppal.\n\nEzeket hordva a lépteid\nnem okoznak zajt."
Book_LocksmithKit = "Zárnyitó készlet\n\nEgy nehéz vászonzacskó mindenféle\nacél tolvajkulccsal és egyéb eszközökkel.\n\nMagadnál tartva ezt a készletet kulcsok felhasználása\nnélkül nyithatsz ki zárt ajtókat. Az így\nkinyitott ajtók más utazók előtt zárva maradnak.\n\nEmellett lehetőséged adódik lelakatolni bármely\nnyitott ajtót. Használatának ára \ue0f1 × #{i:LocksmithKit:LockPriceTag}r."
Book_MedicalKit = "Orvosi készlet\n\nEgy tartós műanyag doboz, amely mindenféle\norvosi felszerelést tartalmaz.\n\nMagadnál tartva ezt a készletet, megmenekülhetsz\na halálos sérülésektől. \ue0f1 × #{i:MedicalKit:RevivePriceTag} az ára\na feltámasztásnak, de a készlet\nvégtelen alkalommal használható.\n\nAz orvosi készlet használata 3 életerővel\ntámaszt fel."
Book_TinningKit = "Csomagoló készlet\n\nEgy viseltes fémdoboz, amely élelem tartósítására való\nfelszerelést tartalmaz.\n\nMagadnál tartva ezt a készletet, elfogyaszthatod\na nem emberi ellenfelek holttestét az életerőd\nhelyreállításához.\n\n \ue0f1 × #{i:TinningKit:TinPriceTag} az ára egy lény becsomagolásának és\nelfogyasztásának."
Book_Compass = "Iránytű\n\nEgy egyszerű mágneses iránytű.\n\nMagadnál tartva az iránytűt, felfedi előtted a fontos\nhelyeket a minitérképeden. Az iránytű emellett mutatja\naz aktuális szint kijáratát is."
Book_Amulet = "Pusztító amulett\n\nEgy apró kövecske, amit vörös\ncsillag díszít.\n\nHa magadnál tartod ezt a talizmánt, a támadásaid\nnagyobbat sebeznek és a lövedékeid\nelpusztítják a környezetet."
Book_Charm = "Szerencse talizmán\n\nEgy apró kövecske, amit négylevelű lóhere\ndíszít.\n\nHa magadnál tartod ezt a talizmánt, több\nzsákmányt találsz az ellenfelek holttestén."
Book_Talisman = "A varázsló talizmánja\n\nEgy apró kövecske, amelyet kék\nörvény vesz körbe.\n\nHa magadnál tartod ezt a talizmánt, csökkenti\na különleges erőid használatának\nereklye költségét."
FishmanShopkeeperTalk = "A halember felpuffadt szájával rád mosolyog.\n\n\"Üdvözöllek, idegen! Nyugodtan vásárolj\nvalamit, glup glup! Rengeteg jó dolgot találsz a boltomban.\""
LizardmanShopkeeperTalk = "A gyíkember közömbösen köszönt.\n\n\"Mindenkit ssssszívesen látok itt, idegen. \nMáshol nem találsssz ennél jobb árú\nminőségi árut.\""
SquidmanShopkeeperTalk = "A csillagszülött gyanúsan méreget.\n\n\"Vegyél már valamit, rendben?\""
CouldNotConnect = "Nem sikerült csatlakozni a szerverhez."
CouldNotReceive = "Nem sikerült adatokat lekérni a szerverről."
ShouldUpdate = "Egy frissítés érhető el.\nSzeretnél most frissíteni?"
UpToDate = "Ez a játék a legfrissebb verzió."
Connecting = "Kapcsolódás a szerverhez..."
CouldNotRunContentSyncer = "Nem sikerült futtatni a ContentSyncert."
CurrentLanguage = "Nyelv: #{l:Language}"
Language = "Nyelv"
Display = "Megjelenítés"
Audio = "Hang"
ControllerSpeed = "Kar érzékenysége:"
Level_MoM-Start = "Hegyvidék"
Level_MoM-1 = "Hegyvidék-1"
Level_MoM-2 = "Hegyvidék-2"
Level_MoM-3 = "Hegyvidék-3"
Level_MoM-4 = "Hegyvidék-4"
Level_MoM-5 = "Hegyvidék-5"
Level_MoM-6 = "Hegyvidék-6"
Level_MoM-7 = "Hegyvidék-7"
Level_MoM-8 = "Hegyvidék-8"
Level_MoM-9 = "Hegyvidék-9"
Level_MoM-Boss = "Hegyvidék-10"
Rest = "Pihenés"
StokeCampfire = "Felszítás (\ue0f1 × #{i:CampingKit:StokePriceTag})"
Campfire = "Tábortűz"
CampfireStoked = "Felszított tábortűz"
CampingKit = "Táborozó készlet"
CampingKitDesc = "Lehetővé teszi egy tábortűz felszítását, hogy több életerőhöz juss."
Soapstone = "Szappankő"
Hatchet = "Szekerce"
HatchetDesc = "Egy nehézfegyver, amely ajtók ledöntésére használható."
Pickaxe = "Csákány"
PickaxeDesc = "Egy bóvli eszköz, amely sziklák és jég áttöréséhez használható. Némi használat után darabokra hullik."
Ropegun = "Mászópuska"
RopegunDesc = "Egy kampót lő ki, amely megmászható kötelet erősít bármilyen szilárd felülethez."
ClimbingBoots = "Mászó csizmák"
ClimbingBootsDesc = "Ezek a csizmák megakadályozzák, hogy leesésből származó sebzést szenvedj le és nem aktiválják a jégcsap csapdákat sem."
PowerSummon = "Megidézés"
StatueSummon = "Olajos szobor"
PowerFlare = "Jelzőfény"
StatueFlare = "Izzó szobor"
PlaneKeys = "Repülőgép kulcs"
Book_MoM = "...Itt volt ez a könyv korábban?\n\nA lapok vadul csapkodnak, miközben jeges szél vesz téged hirtelen körbe.\n\nAz őrület hegyei rád várnak..."
Book_PlaneNoKeys = "A repülőgép kulcsai hiányoznak. Nélkülük nem távozhatsz."
Book_PlaneWithKeys = "A repülőgép motorja köhögni kezd, miután elfordítod a kulcsot a gyújtásban.\n\nAzon igyekszel, hogy ne merengj el a lehetetlenül ősi dolgokon, melyeknek tanúja voltál. Mialatt a repülőgép elhagyja a talajt, visszatekintesz a furcsa hegyekre misztikus, téglalap alakú monolitjaikkal és végigfut a hideg a hátadon.\n\nMegszöktél az életed elől, de vajon a józan eszednek sikerült-e?"
Book_CampingKit = "Táborozó készlet\n\nEgy tartós vászonzsák, amely változatos táborozáshoz szükséges felszerelést tartalmaz.\n\nLehetővé teszi felszított tábortüzek gyújtását. A pihenés egy felszított tábortűznél extra életerővel jutalmaz meg.\n\nHasználatának költsége \ue0f1 × #{i:CampingKit:StokePriceTag}."
Book_ClimbingBoots = "Mászó csizmák\n\nStílusos túrabakancsok tüskék talppal.\n\nMialatt ezeket viseled, biztonságban érezheted magad a leesésből következő sebzéstől és jégcsapok alatt azok nem szakadnak rád."
Book_Soapstone = "Szappankő\n\nZöldes, csillag alakú szappankő szilánk. Nincs hatása."
Book_Summon = "Megidézés erő\n\nNyomj #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower}-t egy megállíthatatlan shoggoth megidézéséhez.\n\nA shoggoth bármit megtámad, amit észrevesz, beleértve téged is!\n\nMegidézésének költsége \ue0f1 × #{i:PowerSummon:PowerCost}."
Book_Flare = "Jelzőfény erő\n\nNyomj #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower}-t egy misztikus jelzőfény elhajításához.\n\nA jelzőfény egy ideig megvilágítja az utadat és eltereli az ellenfeleid figyelmét.\n\nHasználatának költsége \ue0f1 × #{i:PowerFlare:PowerCost}."
ShoggothShopkeeperTalk = "A shoggoth érthetetlenül mormog neked."
SquidmanFriendlyShopkeeperTalk = "A csillagszülött barátságosan köszönt.\n\n\"Üdvözöllek, barátom! Szeretnél valamit vásárolni szerény boltomban?\""
Airplane = "Repülőgép"
RIPDmgIcicles = "-t leszúrta egy leeső jégcsap"
RIPDmgElderThingMelee = "-t agyonverte egy ősdolog"
RIPDmgElderThingRanged = "-t lelőtte egy ősdolog"
RIPDmgMigo = "-t agyonverte egy mi-go"
RIPDmgMigoExplode = "-t megmérgezte egy mi-go holttest"
RIPDmgYCultistMelee = "-t agyonverte egy Yog-Sothoth szektatag"
RIPDmgYCultistRanged = "-t lelőtte egy Yog-Sothoth szektatag"
RIPLvlMoM = "az őrület hegyei"