[Swedish]
True = "På"
False = "Av"
OK = "OK"
Yes = "Ja"
No = "Nej"
Play = "Spela"
Options = "Inställningar"
Quit = "Avsluta"
PressStart = "Tryck på Enter"
ConfirmQuit = "Avsluta?"
ConfirmSaveAndQuit = "Spara och avsluta?"
MouseSpeed = "Mushastighet"
InvertY = "Invertera Y: #{b:InvertY}"
Resolution = "Upplösning: #{i:DisplayWidth} × #{i:DisplayHeight}"
SetRes = "Upplösning"
Fullscreen = "Fullskärm: #{b:Fullscreen}"
Brightness = "Ljusstyrka"
FOV = "FOV:"
Volume = "Volym:"
MusicVolume = "Musikvolym:"
Back = "Tillbaka:"
BindForward = "Gå framåt:"
BindBack = "Gå bakåt:"
BindLeft = "Gå vänster:"
BindRight = "Gå höger:"
BindJump = "Hoppa:"
BindFrob = "Använda:"
BindRun = "Springa:"
BindCrouch = "Huka sig:"
BindUseWeapon = "Avfyra vapen:"
BindUsePower = "Använda kraft:"
BindDropWeapon = "Släppa vapen:"
BindCycleUp = "Förra vapnet:"
BindCycleDown = "Nästa vapen:"
BindDialog = "Tryck på knappen för att binda den.\nTryck på Esc för att avbryta.\nTryck på Backspace för att ta bort bindning."
Paused = "Pausat"
Resume = "Återuppta"
ReturnToHub = "Återvänd till biblioteket"
Resurrect = "Återliva"
SaveAndQuit = "Spara och avsluta"
Death = "Du dog..."
ConfirmResurrect = "Återliva? (Du kommer förlora din nuvarande ...)"
Souls = "Själar"
Gear = "Utrustning"
BankPlayer = "Spelare"
BankBank = "Bank"
Price = "Pris:"
Buy = "Köp"
Steal = "Stjäl"
Cancel = "Avbryt"
Revive = "Återuppliva"
RIPFormat = "|RIP| I %s in %s."
RIPURL = "http://www.eldritchgame.com"
RIPHashtags = "eldritch"
RIPTwitter = "https://twitter.com/intent/tweet?text=%s&hashtags=%s&url=%s"
RIPDmgUnknown = "dog"
RIPDmgResurrect = "gav upp"
RIPDmgPlayer = "gjorde ett stort misstag"
RIPDmgSpikes = "steg på en spikfälla"
RIPDmgFishmanMelee = "blev nerslagen av en fiskman"
RIPDmgFishmanRanged = "skjöts av en fiskman"
RIPDmgDCultistMelee = "blev nerslagen av en blöt kultmedlem"
RIPDmgDCultistRanged = "skjöts av en blöt kultmedlem"
RIPDmgNCultistMelee = "blev nerslagen av en sandig kultmedlem"
RIPDmgNCultistRanged = "skjöts av en sandig kultmedlem"
RIPDmgRCultistMelee = "blev nerslagen av en slemmig kultmedlem"
RIPDmgRCultistRanged = "skjöts av en slemmig kultmedlem"
RIPDmgLizardmanMelee = "blev nerslagen av en ödleman"
RIPDmgLizardmanRanged = "skjöts av en ödleman"
RIPDmgEye = "skjöts av ett flygande öga"
RIPDmgShoggoth = "mosades av en ostoppbar shoggoth"
RIPDmgLizardWatson = "vände ryggen åt en läskig staty"
RIPDmgBugMelee = "blev biten av en insekt"
RIPDmgBugRanged = "skjöts av en insekt"
RIPDmgFoodPoisoning = "dog av matförgiftning"
RIPDmgShopkeeper = "underskattade"
RIPLvlUnknown = "ett ensamt ställe"
RIPLvlLibrary = "ett mysteriskt bibliotek"
RIPLvlEndgame = "ett omöjligt stort bibliotek"
RIPLvlWater = "en unken Dagonite-ruin"
RIPLvlSand = "ett dammigt Nyarlathotep-tempel"
RIPLvlSwamp = "den försvunna staden R'lyeh"
RIPLvlSubspace = "ett konstigt, mörkt ställe"
JumpBoots = "Hopp-skor"
JumpBootsDesc = "Dessa skor låter dig hoppa\nhögre."
SpeedBoots = "Snabbhets-skor"
SpeedBootsDesc = "Dessa skor gör så att du\nspringer fortare."
QuietBoots = "Smyg-skor"
Bottle = "Flaska"
BottleDesc = "Kasta för att orsaka oljud\neller skada fiender."
Revolver = "Revolver"
RevolverDesc = "Ett pålitligt vapen.\nFörbrukar ammunition.\nPriset inkluderar 3 kulor."
Compass = "Kompass"
Key = "Nyckel"
KeyDesc = "Låser upp en dörr.\nKan bara användas en gång."
Dagger = "Kniv"
Dynamite = "Dynamit"
MeatDesc = "Återställer lite av din hälsa."
Corpse = "Lik"
WaterSoul = "Dagons själ"
SandSoul = "Nyarlathoteps själ"
SwampSoul = "Cthulus själ"
HardSoul = "Bibliotikariens själ"
Rock = "Sten"
ExitDoor = "Utgång"
ExitDoorUp = "Ingång"
Book = "Bok"
WorldBook = "Konstig bok"
SubspaceBook = "Dammig bok"
Door = "Dörr"
LockedDoor = "Låst dörr"
GateDoor = "Låst järndörr"
UnlockedGateDoor = "Järndörr"
Mirror = "Spegel"
DeskLamp = "Skrivbordslampa"
Toilet = "Toalett"
Sink = "Handfat"
Artifact = "Artifakt"
Artifact5 = "Hög med artifakter"
StatueHypnotize = "Hypnotisk staty"
StatueTeleport = "Ostabil staty"
Meat = "Tillagat kött"
BadMeat = "Ruttet kött"
Fountain = "Fontän"
Pedestal = "Pedestal"
Plant = "Frukt"
PlantToxic = "Giftig frukt"
HolySymbol = "Helig symbol"
Sandals = "Sandaler"
Candle = "Ljus"
FullGame = "Hela Spelet"
PickUp = "Plocka upp"
Examine = "Undersöka"
Loot = "Plundra"
Read = "Läsa"
Eat = "Äta"
EatUnsure = "...Äta?"
EatCorpse = "Ät (\ue0f1 × #{i:TinningKit:TinPriceTag})"
LockDoor = "Lås (\ue0f1 × #{i:LocksmithKit:LockPriceTag})"
Go = "Gå"
Return = "Återvänd"
Pray = "Be"
Open = "Öppna"
Close = "Stäng"
Quaff = "Drick"
Disarm = "Desarmera"
Light = "Ljus"
Flush = "Spola"
Use = "Använd"
Talk = "Prata"
World = "Värld"
WorldName = "#{l:HUD:WorldName}"
Level_Library = "Biblioteket"
Level_Water-1 = "Dagon-1"
Level_Water-2 = "Dagon-2"
Level_Water-3 = "Dagon-3"
Level_Sand-1 = "Nyarlathotep-1"
Level_Sand-2 = "Nyarlathotep-2"
Level_Sand-3 = "Nyarlathotep-3"
Level_Swamp-1 = "R'lyeh-1"
Level_Swamp-2 = "R'lyeh-2"
Level_Swamp-3 = "R'lyeh-3"
Level_Subspace = "???????"
Book_SandLocked = "Denna bok är bunden av en osynlig kraft. En inristning på omslaget lyder:\n\nDen här platsen är inte en plats med heder. En hemsk kraft hålls fast i denna volym."
Book_Shop = "Varje affär har ett utbud av värdefull utrustning till salu. Om du inte har råd med priset så kan du försöka stjäla föremålet, men du kommer förarga butiksbiträdet."
CouldNotConnect = "Anslutning till servern misslyckades."
CouldNotReceive = "Kunde inte ta emot data från servern."
ShouldUpdate = "En uppdatering är tillgänglig.\nVill du updatera nu?"
UpToDate = "Spelet är uppdaterat"
Connecting = "Ansluter till server..."