[Ukrainian]
True = "Ввімк"
False = "Вимк"
OK = "Гаразд"
Yes = "Так"
No = "Ні"
Play = "Грати"
Options = "Опції"
Quit = "Вийти"
PressStart = "Натисніть «Enter»"
ConfirmQuit = "Вийти?"
ConfirmSaveAndQuit = "Зберегти та вийти?"
Version = "Build #{s:ContentSyncer:Version}"
BindControls = "Прив'язати клавіші"
Controls = "Керування"
MouseSpeed = "Чутливість мишки:"
InvertY = "Перевернута вісь Y:     #{b:InvertY}"
Resolution = "Розширення:   #{i:DisplayWidth} × #{i:DisplayHeight}"
SetRes = "Розширення"
Fullscreen = "Повний екран:   #{b:Fullscreen}"
Brightness = "Яскравість"
FOV = "Поле зору:"
Volume = "Рівень звуків:"
MusicVolume = "Рівень музики:"
Back = "Назад"
BindForward = "Йти вперед:"
BindBack = "Йти назад:"
BindLeft = "Йти вліво:"
BindRight = "Йти вправо:"
BindJump = "Стрибок:"
BindFrob = "Використати:"
BindLeanLeft = "Нахилитися вліво:"
BindLeanRight = "Нахилитися вправо:"
BindRun = "Бігти:"
BindCrouch = "Крастися:"
BindUseWeapon = "Застосувати зброю:"
BindUsePower = "Застосувати силу:"
BindDropWeapon = "Кинути зброю:"
BindCycleUp = "Попередня зброя:"
BindCycleDown = "Наступна зброя:"
BindDialog = "Натисніть клавішу, щоб прив'язати.\nНатисніть «Esc», щоб вийти.\nНатисніть «Backspace», щоб скасувати."
Paused = "Призупинено"
Resume = "Повернутися"
ReturnToHub = "Повернутися"
Resurrect = "Відродитися"
SaveAndQuit = "Зберегти та вийти"
Death = "Ви загинули..."
ConfirmResurrect = "Відродитися? (Ви втратите\nваші поточні досягнення.)"
Souls = "Душі"
Gear = "Інвентар"
PowerHypnotize = "Гіпноз"
PowerBuild = "Матеріалізація"
PowerLift = "Підкидування"
PowerKnock = "Стусан"
PowerTeleport = "Телепортація"
PowerCloak = "Невидимість"
BankPlayer = "У кишені"
BankBank = "У скрині"
Price = "Ціна:"
Buy = "Купити"
Steal = "Поцупити"
Cancel = "Скасувати"
Dying = "Ви помираєте..."
Revive = "Вилікуватися"
FrobHold = "Затисніть #{s:EldritchKeyboard:Frob}#{l:EldritchMouse:Frob}#{l:EldritchController:Frob} #{c:HUD:HoldVerb}"
RIPFormat = "|ВІЧНИЙ СПОМИН| Я %s у %s."
RIPURL = "http://www.eldritchgame.com"
RIPHashtags = "eldritch"
RIPTwitter = "https://twitter.com/intent/tweet?text=%s&hashtags=%s&url=%s"
RIPDmgUnknown = "помер"
RIPDmgResurrect = "знехтував життям"
RIPDmgPlayer = "зробив велику помилку"
RIPDmgSpikes = "наткнувся на шипи"
RIPDmgBarnacle = "засмутив гіганського барнакла"
RIPDmgFishmanMelee = "помер від рук риболюда"
RIPDmgFishmanRanged = "був застрелений риболюдом"
RIPDmgDCultistMelee = "помер від рук болотного сектанта"
RIPDmgDCultistRanged = "був застрелений болотним сектантом"
RIPDmgNCultistMelee = "помер від рук піщаного сектанта"
RIPDmgNCultistRanged = "був застрелений піщаним сектантом"
RIPDmgRCultistMelee = "помер від рук слизистого сектанта"
RIPDmgRCultistRanged = "був застрелений слизистим сектантом"
RIPDmgLizardmanMelee = "помер від рук людоящера"
RIPDmgLizardmanRanged = "був застрелений людоящером"
RIPDmgEye = "помер від пострілу летючого ока"
RIPDmgShoggoth = "був розтоптаний невпинним шогготом"
RIPDmgLizardWatson = "повернувся спиною до моторошної статуї"
RIPDmgMummy = "був з'їдений мерзенною мумією"
RIPDmgSquidmanMelee = "помер від рук породження зірок"
RIPDmgSquidmanRanged = "був застрелений породженням зірок"
RIPDmgPolyp = "помер від пострілу летючого поліпу"
RIPDmgBugMelee = "був укушений жуком"
RIPDmgBugRanged = "був застрелений жуком"
RIPDmgFoodPoisoning = "помер від харчового отруєння"
RIPDmgShopkeeper = "недооцінив продавця"
RIPDmgTrapBolt = "не помітив пастки"
RIPLvlUnknown = "самотньому місці"
RIPLvlLibrary = "таємничій бібліотеці"
RIPLvlEndgame = "неймовірно величезній бібліотеці"
RIPLvlWater = "понурих руїнах Дагоніту"
RIPLvlSand = "запиленому храмові Н'ярлатотепа"
RIPLvlSwamp = "загубленому місті Р’льєха"
RIPLvlSubspace = "моторошному, темному місці"
JumpBoots = "Стрибучі чоботи"
JumpBootsDesc = "Ці чоботи дають тобі змогу\nстрибати вище."
SpeedBoots = "Швидкісні чоботи"
SpeedBootsDesc = "Ці чоботи дають тобі змогу\nбігти швидше."
QuietBoots = "Підступнецькі чоботи"
QuietBootsDesc = "З цим чоботями ваші кроки\nніхто не почує."
LocksmithKit = "Набір слюсара"
LocksmithKitDesc = "Дозволяє відчиняти замкнені\nдвері чи навпаки ставити\nзамок за невелику вартість."
MedicalKit = "Медичний набір"
MedicalKitDesc = "Дозволяє оживити себе\nпісля смерті, за додаткову\nвартість."
TinningKit = "Набір проти нудоти"
TinningKitDesc = "Дозволяє харчуватися\nтрупами деяких істот за\nдодаткову вартість."
Bottle = "Пляшка"
BottleDesc = "Киньте, щоб здійняти галас\nчи нанести шкоди ворогу."
Revolver = "Револьвер"
RevolverDesc = "Солідна вогнепальна зброя.\nДля роботи потребує кулі,\n3 штуки входять до комплекту."
Snaregun = "Арбалет"
SnaregunDesc = "Ставить пастки на будь-якій\nповерхні. До комплекту\nвходить 3 кулі."
Compass = "Компас"
CompassDesc = "Показує напрямок виходу."
Charm = "Талісман вдачі"
CharmDesc = "За допомогою нього\nвам буде більше щастити\nна речі знайдені у трупів."
Amulet = "Амулет розрушень"
AmuletDesc = "Збільшує шкоду від зброї,\nвистелені кулі знищувати-\nмуть місцевість."
Talisman = "Талісман чаклуна"
TalismanDesc = "Зменшує ціну за використан-\nня особливих сил."
Key = "Ключ"
KeyDesc = "Відчиняє двері.\nВикористовується лише раз."
Dagger = "Клинець"
DaggerDesc = "Двосічний бойовий ніж\nСила та радіус дії більше,\nніж у кулака."
Dynamite = "Вибухівка"
DynamiteDesc = "Зв'язані докупи палиці\nпросякнуті нітрогліцерином.\nВибухонебезпечні та вкрай\nнестабільні!"
MeatDesc = "Відновлює частину вашого\nздоров'я."
Corpse = "Труп"
Shopkeeper = "Продавець"
WaterSoul = "Душа Дагона"
SandSoul = "Душа Н'ярлатотепа"
SwampSoul = "Душа Ктулху"
HardSoul = "Душа Бібліотекара"
Rock = "Камінець"
Chest = "Скриня"
ExitDoor = "Вихід"
ExitDoorUp = "Вхід"
Book = "Книга"
WorldBook = "Таємнича книга"
SubspaceBook = "Запилена книга"
Door = "Двері"
LockedDoor = "Замкнені двері"
GateDoor = "Замкнені залізні двері"
UnlockedGateDoor = "Залізні двері"
Mirror = "Дзеркало"
DeskLamp = "Настільна лампа"
Toilet = "Унітаз"
Sink = "Умивальник"
Artifact = "Артефакт"
Artifact5 = "Жменя артефактів"
StatueHypnotize = "Гіпнотичний ідол"
StatueCloak = "Окутний ідол"
StatueBuild = "Кремезний ідол"
StatueLift = "Гнучкий ідол"
StatueKnock = "Лункий ідол"
StatueTeleport = "Нестабільний ідол"
Meat = "Запечене м'ясо"
BadMeat = "Зіпсоване м'ясо"
Fountain = "Фонтанчик"
Pedestal = "П'єдестал"
Plant = "Фрукти"
PlantToxic = "Отруйні фрукти"
HolySymbol = "Священний символ"
ConsecrationKit = "Набір освячення"
Sandals = "Шльопанці"
Candle = "Свічка"
RitualBook = "Ритуал утримання"
FullGame = "Повна гра"
PickUp = "Підібрати"
Examine = "Роздивитися"
Loot = "Обшукати"
Read = "Читати"
Eat = "З'їсти"
EatUnsure = "...З'їсти?"
EatCorpse = "З'їсти (\ue0f1 × #{i:TinningKit:TinPriceTag})"
LockDoor = "Поставити замок (\ue0f1 × #{i:LocksmithKit:LockPriceTag})"
Go = "Вперед!"
Return = "Повернутися!"
Pray = "Молитися"
Open = "Відкрити"
Close = "Закрити"
Quaff = "Випити"
Disarm = "Знешкодити"
Light = "Засвітити"
Switch = "Перемкнути"
Flush = "Злити"
Use = "Використати"
Talk = "Балакати"
World = "Світ"
WorldName = "#{l:HUD:WorldName}"
Level_Library = "Бібліотека"
Level_Water-1 = "Дагон-1"
Level_Water-2 = "Дагон-2"
Level_Water-3 = "Дагон-3"
Level_Sand-1 = "Н'ярлатотеп-1"
Level_Sand-2 = "Н'ярлатотеп-2"
Level_Sand-3 = "Н'ярлатотеп-3"
Level_Swamp-1 = "Р`льєх-1"
Level_Swamp-2 = "Р`льєх-2"
Level_Swamp-3 = "Р`льєх-3"
Level_Endgame-1 = "Бібліотека-1"
Level_Endgame-2 = "Бібліотека-2"
Level_Endgame-3 = "Бібліотека-3"
Level_Subspace = "Невідомо"
Credits = "Про гру"
Book_Controls = "Керування\n\nЯкщо вас не влаштовує стандартне керування, ви можете змінити його у розділі «Опції»"
Book_Keys = "Ключі\n\nКлючі потрібні для відкривання дверей.\n\nКожен ключ може бути використаний лише один раз."
Book_Statue = "Ідоли\n\nЦі величезні кам'яні ідоли зображують якихсь жахливих істот, ніколи не бачених на Землі. Молитва до наповнює вас з особливою силою від Стародавніх."
Book_Food = "Їжа\n\nЇжа відновлює частину вашого здоров'я.\n\nБудьте обачними! Харчування зіпсованою чи отруйною їжею може заподіяти вам шкоди."
Book_Fountain = "Фонтанчики\n\nВижлуктування з фонтанчику відновлює частину вашого здоров'я та збільшує його максимальний рівень.\n\nФонтанчики опустошуються після одноразового використання."
Book_Ledger = "Бібліотека «Elder Ridge»\nЖурнал відміток\n\n  Номер  |   Позичальник     |  Дата\n---------------------------------------\n  9713   | Дж. К. Піппен     | 10/12/26\n  5576   | Кім Путман        | 10/15/26\n  4185   | Кен Тадсон, Еск.  | 12/03/26\n  6287   | Кайнан Вейлс      | 01/29/27\n  0451   | Ф. Б. Ґейнор      | 02/04/27\n  2934   | Стюарт Джеймсон   | 02/15/27\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /"
Book_Journal = "Щоденник дослідника, Сторінка 2\n\nЦя бібліотека немає кінця і краю. Я не певен, що вихід взагалі є. Таке відчуття, неначе я проживаю ті самі враження, день за днем, без кінця.\n\nЯкщо з цього божевілля й можна якось вибратися, то це пов'язано з цими «непристойно» світними книгами. У цих сторінках - неймовірна сила, і водночас невимовний жах...\n\nЗдається, у цих книгах спочивають древні божества, хоча я не знаю, чому саме. Якщо зібрати їхні сили докупи - це може стати моїм ключем для визволення від мук у цьому лабіринті..."
Book_Journal2 = "Щоденник дослідника, Сторінка 1\n\nДещо дуже незвичне трапилося зі мною. Я відчуваю, що потрібно записати це, на випадок того, якщо я не вийду звідси живим.\n\nОстаннє, що я пригадую, я розглядав дивну книгу у бібліотеці... А тепер я у в небезпечному світі, повному чудовиськ та підступних пасток...\n\nЯкщо мої здогадки правильні, я перебуваю у загубленому храмові стародавнього бога Дагона. Могутня реліквія, за чутками, зберігається у глибинах цього світу.  Можливо це - моя єдина можливість вибратися звідси..."
Book_Journal3 = "Щоденник дослідника, Сторінка 3\n\nО, Боже, ні. Я не розумів, що я кою. Я знайшов вихід з цієї бібліотеки, але тільки тепер я збагнув куди він веде. Своєю втечею я відкрив скриньку Пандори.\n\nБібліотека є міжпросторовою в'язницею, створеною тисячі років тому, для утримання Стародавніх. Яким чином сюди потрапив я - залишається лише здогадкою, але ясно одне, що вихід назовні не має бути відчиненим, не дивлячись ні на що.\n\nНеймовірні жахи цього світу вільно розсіюються по Землі через мене. Чи можливо знову заточити їх тут?"
Book_Journal4 = "Щоденник дослідника, Сторінка 4\n\nЗдається я знайшов вихід, як зупинити те зло, яке сам мимоволі звільнив. У моїх дослідженнях я дізнався з «Ритуалу утримання», що ще давно люди заточили Стародавніх у цьому місці, коли вони загрожували Землі.\n\nРитуал утримання включає у себе читання вголос стародавніх слів, що заточуюють загарбників в нескінченній в'язниці, що охоплює невідомі розміри; а потім одна людина мала погодитися стати вічним хранителем в'язниці.\n\nРитуал може бути посиленим засвіченням трьох свічок. Свічки заманять цілей в саме серце в'язниці та введуть їх у вічний сон. Стародівні тексти говорят про ще один крок, у якому обов'язок хранителя замінює якийсь священний предмет, але подальші деталі загубилися з часом."
Book_Sprint = "Біг\n\nНатисніть або затисніть #{s:EldritchKeyboard:Run}#{l:EldritchMouse:Run}#{l:EldritchController:Run}, щоб бігти.\n\nПід час бігу, присядьте (#{s:EldritchKeyboard:Crouch}#{l:EldritchMouse:Crouch}#{l:EldritchController:Crouch}),\nщоб виконати тривале ковзання."
Book_Crouch = "Скрадання\n\nНатисніть #{s:EldritchKeyboard:Crouch}#{l:EldritchMouse:Crouch}#{l:EldritchController:Crouch}, щоб крастися.\n\nКрадучись, ви зможете вписатися в невеликі щілини, ваші кроки будуть виробляти менше галасу.\n\nСкрадіться, коли біжете (#{s:EldritchKeyboard:Run}#{l:EldritchMouse:Run}#{l:EldritchController:Run}),\nщоб виконати тривале ковзання."
Book_Jump = "Стрибання\n\nНатисніть #{s:EldritchKeyboard:Jump}#{l:EldritchMouse:Jump}#{l:EldritchController:Jump}, щоб стрибнути.\n\nНатисніть та затримайте клавішу стрибка, якщо хочете зачепитися за край і підтягнутися вгору."
Book_Lean = "Нахил\n\nНатисніть #{s:EldritchKeyboard:LeanLeft}#{l:EldritchMouse:LeanLeft}#{l:EldritchController:LeanLeft}, щоб нахилитися ліворуч. Натисніть #{s:EldritchKeyboard:LeanRight}#{l:EldritchMouse:LeanRight}#{l:EldritchController:LeanRight}, щоб нахилитися праворуч.\n\nВороги вас не помітять вас, якщо ви нахилитесь, тож ви зможете використовувати це, щоб безпечно зазирнути за кут, залишаючись непоміченим."
Book_Artifact = "Артефакти\n\nЦі позаземні різьблені камінці - ваш головний ресурс у цьому світі.\n\nЗа них ви можете придбати товари, чи витратити їх, щоб активувати особливі сили та інструменти."
Book_Hypnotize = "Гіпноз\n\nНаведіть на істоту та натисніть #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower}, щоб загіпнотизувати її.\n\nЗагіпнотизовані істоти будуть боротися за вас.\n\nБудьте обачними! Сильні волею істоти можуть зняти гіпнотичний вплив через короткий час.\n\nЦе коштуватиме вам \ue0f1 × #{i:PowerHypnotize:PowerCost}."
Book_Build = "Матеріалізація\n\nНатисніть #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower}, щоб начаклувати бар'єр.\n\nВикористовуйте ці бар'єри, щоб блокувати шлях ворогові, чи отримати доступ важкодоступних місць.\n\nБудьте обачними! Використовуючи цю силу можна забарикодувати шлях самому собі.\n\nЦе коштуватиме вам \ue0f1 × #{i:PowerBuild:PowerCost}."
Book_Lift = "Підкидування\n\nНатисніть #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower}, щоб підкинути себе догори.\n\nПідкидування може бути використане навіть коли ви у повітрі, що дозволяє дістатися до бажаної висоти.\n\nЦе коштуватиме вам \ue0f1 × #{i:PowerLift:PowerCost}."
Book_Knock = "Стусан\n\nНатисніть #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower}, надавати стусанів.\n\nНаведіть на замкнені двері, щоб вибити їх, чи на будь-яку іншу поверхню, щоб відволікти від патрулювання ворогів, створивши галас.\n\nЦе коштуватиме вам \ue0f1 × #{i:PowerKnock:PowerCost}."
Book_Teleport = "Телепортація\n\nНатисніть #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} один раз, щоб «кинути якора».\nНатисніть #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} знову, щоб переміститися туди.\n\nНатисніть та затримайте #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower}, щоб «підняти якора» , зкиньте, аби кинути заново.\n\n«Перекидувати якір» можна на дурняк.\n\nЦе коштуватиме вам \ue0f1 × #{i:PowerTeleport:PowerCost}."
Book_Cloak = "Невидимість\n\nНатисніть #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower}, щоб стати невидимим.\n\nКоли ви невидимі вороги вас не бачать.\nДія закінчується через короткий час.\n\nБудьте обачними! Вороги все ще\nможуть чути вас.\n\nЦе коштуватиме вам \ue0f1 × #{i:PowerCloak:PowerCost}."
Book_PowerBroke = "Ціна сил\n\nЗа використання сил вам доведеться заплатити артефактами. А вам не вистачає!\n\nТож гайда шукати!"
#Book_Direction = "Будьте обачними! Ви ввійшли до небезпечного світу, повного чудовиськ та підступних пасткок. Могутня реліквія зберігається в глибинах цього світу. Descend through its stories to obtain the relic and continue on your journey."
Book_Weapons = "Зброя та предмети\n\nНатисніть #{s:EldritchKeyboard:UseWeapon}#{l:EldritchMouse:UseWeapon}#{l:EldritchController:UseWeapon}, щоб завдати удару, жбурнути предмет, чи використати зброю.\n\nНатисніть #{s:EldritchKeyboard:DropWeapon}#{l:EldritchMouse:DropWeapon}#{l:EldritchController:DropWeapon}, щоб кинути предмет з правої руки.\n\nВи можете носити з собою дві зброї або предмета водночас. Натисніть #{s:EldritchKeyboard:CycleUp}#{l:EldritchMouse:CycleUp}#{l:EldritchController:CycleUp}/#{s:EldritchKeyboard:CycleDown}#{l:EldritchMouse:CycleDown}#{l:EldritchController:CycleDown} для перемикання між ними."
Book_Water = "Ця книга написана мовою, яку ви не зрозумієте.\n\nВдивляючись у ці дивні символи, можна помітити, що вони неначе виходять поза межі сторінок, приймаючи на себе неземні форми світів та істот, які вони описують.\n\nСлова оточуюють вас, затуляючи бібліотеку та наповнення вашого розуму з нестерпним дзижчанням перед-людської мови.\n\nЗ переляку, ви намагаєтеся закрити книгу, але вас переміщує в чужий світ описаний в її сторінках ..."
Book_SandLocked = "Небачена сила втримує цю книгу закритою. Напис на обкладинці свідчить:\n\nУ цьому місці немає почесті. Страшна сила заточена у цій книзі. Вона була заточена Душею Дагона, тож лише Душа Дагона може звільнити її знову."
Book_Sand = "Ви підбираєте Душу Дагона та підносите її до книги. Сфера тисне у пальці, намагаючись дістатися до шкіряної поверхні.\n\nЗдалеку чутно, як вирує вітер, як і душа у ваших руках. Лють Дагона посилюється, сила, що утримувала книгу закритою не витримує.\n\nКімната розколюється з великим гуркотом, оскільки печатка тріснута. Зрештою душа Душа Дагона запсокоюється.\n\nКнига падає, відкриваються запилені сторінки повні моторошних символів. Невимовний жах наповнює вас.\n\nНаступний світ чекає..."
Book_WorldUnlock = "Ви розблокували книгу, що веде до наступного світу. Книги залишаться розблокованими, навіть якщо ви помрете, чи відродитеся."
Book_SwampLocked = "Небачена сила втримує цю книгу закритою. Напис на обкладинці свідчить:\n\nУ цьому місці немає почесті. Страшна сила заточена у цій книзі. Вона була заточена Душею Н'ярлатотепа, тож лише Душа Н'ярлатотепа може звільнити її знову."
Book_Swamp = "Ви підбираєте Душу Н'ярлатотепа, та сила, яка утримувала книгу закритою не витримала. Глибокий страх надовго затримується у вашому розумі.\n\nНаступний світ чекає..."
Book_ExitLibrary = "Ви розміщуєте душі Стародавніх перед дверима. Вони гудуть в очікуванні.\n\nБібліотека сильно здригається. Книги падають з полиць, двері ломляться від сил, які чинять опір. Неземні голоси Стародвніх зростають до оглушливого рівня, нарешті, двері відчиняються.\n\nУсвідомлення починають формуватися у вашому розумі.\n\nВи вільні."
Book_EndgameEnter = "Ви починаєте підніматися з глибин бібліотеки, але зляк закарбовується у вашому серці.\n\nЯк ви використовували Стародавніх, щоб вибратися з бібліотеки, так вони використовують вас, щоб звільнитися зі своєї в'язниці.\n\nНеймовірні жахи цього світу вільно розсіюються по Землі через мене. Чи можливо знову заточити їх тут?"
Book_BadEnd = "Ви промовили вголос стародавні слова риталу утримання.\n\nСтародавні назавжди заточені у межах бібіліотеки, і більше нічим не загрожують Землі. Однак, ще багато з них до цих пір лютують поза межами бібліотеки.\n\nНе виконавши останнього кроку ритуалу ви будете змушені назавжди залишитися у бібіліотеці, у якості хранителя.\n\n\n\n                Кінець\n\n\n\nГенерацій зіграно: #{i:HUD:GenerationsCounter}"
Book_GoodEnd = "Ви промовили вголос стародавні слова риталу утримання.\n\nПідпалені вами свічки, заспокоїли Стародавніх, зупинили їхню лють та змусили мляво дибуляти у напрямку самого серця бібліотеки.\n\nНе виконавши останнього кроку ритуалу ви будете змушені назавжди залишитися у бібіліотеці, у якості хранителя.\n\n\n\n                Кінець\n\n\n\nГенерацій зіграно: #{i:HUD:GenerationsCounter}"
Book_TrueEnd = "Ви промовили вголос стародавні слова риталу утримання.\n\nПідпалені вами свічки, заспокоїли Стародавніх, зупинили їхню лють та змусили мляво дибуляти у напрямку самого серця бібліотеки.\n\nПісля того, як вони були надійно заточені, ви можете виконати останній крок ритуалу: розміщення священного символу на заміну вам, вартувати Стародавніх.\n\nНарешті ви звільнилися з бібліотеки. Стародавні заснули, назавжди...\n\n\n\n                Кінець\n\n\n\nГенерацій зіграно: #{i:HUD:GenerationsCounter}"
Book_WaterSoul = "Ви підібрали дивну синю кульку. Вона гуде та трясеться у відповідь на ваші дотики, немов намагаючись вирватися на свободу.\n\nТримаючи пальці міцніше навколо неї, ви починаєте розуміти, що у цій неземній сфері знаходиться душа стародавнього божества Дагона, яка починає прокидатися.\n\nВсе побачене раптом почало «проходити крізь ваш розум»: давно забуті спогади про смертельний страх, неконтрольовані руйнування, таємні ритуали та моторошний світ.\n\nБачення розсіюється, поступаючись місцем жахливому відчуттю порожнечі. Душа Дагона мовчки ворушиться.\n\nТепер ви можете розблокувати наступну книгу у бібліотеці."
Book_SandSoul = "Ви підібрали дивну червону кульку. Вона сильно трясеться, неначе прокидається Н'ярлатотеп. Хвиля жахіть мчить над вами.\n\nТепер ви можете розблокувати наступну книгу у бібліотеці."
Book_SwampSoul = "Ви підібрали дивну зелену кульку. Вона сильно трясеться, неначе прокидається Ктулху. Ви ніяк не можете повірити у те, що сталося.\n\nЗ усіма трьома душами у вашому розпорядженні, ви зможете розблокувати двері з бібліотеки."
Book_HardSoul = "Ласкаво просимо до «Нової Гри+»!\n\nЗнайшовши цю душу, ви активуєте складнішу версію Eldritch'y.\n\nПісля смерті ефект зітреться."
Book_Soul = "Душі\n\nУ стані спокою душі Стародавніх перебувають у фізичній формі. Їх можна знайти у глибинах того, чи іншого світу.\n\nДуші використовуються для розблокування книг у бібліотеці.\n\nЗвісно, процес перенесення душі Старця на Землю, не заподіє ніякої помітної шкоди..."
Book_Death = "Смерть\n\nКоли ваше здоров'я вичерпується, ви помираєте.\n\nПісля смерті ви відродитеся у бібліотеці.\n\nВсе ваше надбання буде втрачено, крім артефактів покладених до скрині та розблокованих вами книг.\n\nУ будь-який момент ви можете почати гру заново, натиснувши «Відродитися» у меню паузи."
Book_Chest = "Скриня\n\nВи можете покласти ваші артефакти на збереження, до скрині. Відкладені артефакти можна забрати назад у цій, чи іншій скрині.\n\nПісля смерті все ваше надбання зникає, а артефакти покладені у скриню зберігаються."
Book_Shop = "Купівля\n\nКожен магазин має три відділи, як у інвентарі.\n\nЯкщо ви не можете дозволити собі ціну, ви можете спробувати вкрасти бажаний предмет, але цим ви розізлите продаця."
Book_Gear = "Інвентар\n\nУ ньому носиться обладнання, яке покращує ваші навички, чи задіює нові.\n\nІнвентар ділиться на три категорії:\nКниги, набори, та пристрої.\n\nВи можете носити по одному предметові до кожної категорії."
Book_Lore1 = "Історія бібліотеки, част. 1 з 4\n\nЛегенди свідчать про катастрофічну подію, що сталася тисячі років тому, коли Земля викликала гнів Глибоководних. Єдині, хто залишився у живих пізнали стародавній обряд, який вони використовували, щоб заточити жахливих істот у лабіринті-в'язниці. Життя на землі знову процвітало, ті хто залишилися у живих сформували монастир хранителів, щоб зберегти таємний ритуал утримання."
Book_Lore2 = "Історія бібліотеки, част. 2 з 4\n\nТисячі років минули, Глибоководні спочивали у своїй в'язниці. Наприкінці 19го сторіччя археологи розкопали в Аравії місце, де було виконано ритуал утримання. Незгоди прорвалися через структуру космосу та збудили стародавніх істот. Забуті жахи посіялися далі, тож Земля знову на вістрі голки."
Book_Lore3 = "Історія бібліотеки, част. 3 з 4\n\nНа початку 20го сторіччя, коли Глибоководні загрожували Землі вдруге, хранителі вдруге зібралися у Новій Англії, щоб провести ритуал утримання знову. Скромна бібліотека була обрана місцем проведення обряду, хранителі обрали одного поміж них «Бібліотекарем», залишитися у в'язниці і захистити її від подальших незгод."
Book_Lore4 = "Історія бібліотеки, част. 4 з 4\n\nУ невеликій бібліотеці в Новій Англії, хранителі виконали таємний ритуал утримання, щоб заточити Стародавніх. Бібліотекар, обраний поміж хранителів для захисту цього місця, був замкнений разом з жахливими істотами. Інші хранителі навіть не помітили, що сказане випадково слово під час ритуалу стерло розум та спогади Бібліотекара..."
Book_Column = "П'єдестал має пусту в'яминку з дивними викарбуваними візерунками.\n\nСхоже, що сферичний об'єкт може бути поміщений у неї."
Book_Loot = "Обшукування трупів\n\nОбшукуючи трупи можна знайти кулі, артефакти та інші корисні предмети.\n\nПісля обшуку ворог може відродитися десь на цьому ж рівні."
Book_Sandals = "Шльопанці\n\nСкрома пара запилених шльопанців.\nНемають нікої помітної користі."
Book_ConsecrationKit = "Набір для освячення\n\nНевеликий дерев'яний ящик, що містить різні знаряддя для благословення, чи освячення людини або предмету."
Book_HolySymbol = "Священний символ\n\nНевеличкий камінець з релігійним викарбуванням. Немає ніякої помітної користі."
Book_JumpBoots = "Стрибучі чоботи\n\nПара міцних чобіт з пружинами встановленими на підошвах.\n\nВдагнувши ці чоботи ви зможете стрибати вище, ніж зазвичай."
Book_SpeedBoots = "Швидкісні чоботи\n\nПара яскравих чобіт прикрашених пір'ям.\n\nВдягнувши ці чоботи ви зможете бігти швидше, ніж зазвичай."
Book_QuietBoots = "Підступнецькі чоботи\n\nСкромна пара чобіт з м'якими підошвами.\n\nВдягнувши ці чоботи ваші кроки ніхто не почує."
Book_LocksmithKit = "Набір слюсара\n\nВажкий брезентовий мішок, що містить різні відмички та інші інструменти.\n\nВикористання цього набору дозволяє відкривати замкнені двері, не витрачаючи ключів. Двері відкриті таким чином залишаються зачиненими для інших.\n\nЦей набір також дозволяє ставити замок на відчинені двері, звісно не безкоштовно, а за \ue0f1 × #{i:LocksmithKit:LockPriceTag}."
Book_MedicalKit = "Медичний набір\n\nПластикова валіза, що містить різні медичні засоби.\n\nВикористання цього набору дає вам можливість вилікуватися від смертельних ушкоджень. Це коштуватиме вам \ue0f1 × #{i:MedicalKit:RevivePriceTag}. Набір не може використовуватися безмежну кількість разів.\n\nВикористання цього набору відновлює вам три життя."
Book_TinningKit = "Набір проти нудоти\n\nЗношена металева коробка, що містить різні засоби проти нудоти.\n\nВикористовуючи цей набір ви можете не боятися про наслідки вживання у їжу трупів ворогів, це лише покращить ваш стан.\n\nЦе коштуватиме вам \ue0f1 × #{i:TinningKit:TinPriceTag}."
Book_Compass = "Компас\n\nЗвичайний магнітний компас.\n\nВикористовуючи компас ви будете бачити всі ключові місця на мінімапі. Tакож компас вказує на вихід з поточного рівню."
Book_Amulet = "Амулет розрушень\n\nНевеличкий камінець з зображенням червоної зірочки.\n\nВикористання цього амулету робить ваші атаки більш сильними, а кулі руйнівними до місцевості."
Book_Charm = "Талісман вдачі\n\nНевеличкий камінець з зображенням чотирьохлисної конюшини.\n\nВикористання цього талісману підвищить шанс отримання більшої кількості речей з трупів ворогів."
Book_Talisman = "Талісман чаклуна\n\nНевеличкий камінець з зображенням синього вихру.\n\nВикористання цього талісману зменшує ціну за використання особливих сил."
FishmanShopkeeperTalk = "Риболюд дуже емоційно усміхається до вас.\n\n«Вітаю, незнайомцю! Будь-ласка купіть щось, ґлуп глуп! У моєму магазині є дуже багато файних речей.»"
LizardmanShopkeeperTalk = "Людоящер байдуже дивиться на вас.\n\n«Я радий всссім, хто сссюди завітає. Ви більше не знайдете кращих цін на такі якісссні товари.»"
SquidmanShopkeeperTalk = "Породження зірок підозріло поглядає на вас.\n\n«Щось купиш, чи як?»"
CouldNotConnect = "Не вдалося з'єднатися з сервером."
CouldNotReceive = "Не вдалося одержати дані с серверу."
ShouldUpdate = "Доступна нова версія.\nБажаєте оновити?"
UpToDate = "Гра успішно оновлена."
Connecting = "З'єднання з сервером..."
CouldNotRunContentSyncer = "Не вдалося запустити ContentSyncer."
CurrentLanguage = "Мова: #{l:Language}"
Language = "Мова"
Display = "Графіка"
Audio = "Звуки"
ControllerSpeed = "Чутливість джойстика:"
Level_MoM-Start = "Хребти"
Level_MoM-1 = "Хребти-1"
Level_MoM-2 = "Хребти-2"
Level_MoM-3 = "Хребти-3"
Level_MoM-4 = "Хребти-4"
Level_MoM-5 = "Хребти-5"
Level_MoM-6 = "Хребти-6"
Level_MoM-7 = "Хребти-7"
Level_MoM-8 = "Хребти-8"
Level_MoM-9 = "Хребти-9"
Level_MoM-Boss = "Хребти-10"
Rest = "Відпочити"
StokeCampfire = "Розпалити (\ue0f1 × #{i:CampingKit:StokePriceTag})"
Campfire = "Багаття"
CampfireStoked = "Багаття (Розпалене)"
CampingKit = "Набір для туризму"
CampingKitDesc = "Дозволяє розпалювати багаття, для збільшення обсягу життя."
Soapstone = "Жировик"
Hatchet = "Сокира"
HatchetDesc = "Дужа зброя, що добре підійде, для виколювання двері."
Pickaxe = "Кайло"
PickaxeDesc = "Швидкоруч зроблений інструмент для проламування каміння та льоду. Розвалюється після абиякого використання."
Ropegun = "Гак 'о' стріл"
RopegunDesc = "Вистрелює гаком прикріпленим до канату, по якому можна лазити на будь-яку тверду поверхню."
ClimbingBoots = "Скелелазні чоботи"
ClimbingBootsDesc = "Ці чоботи врятують вас від шкоди падіння, не викликають падіння бурульок."
PowerSummon = "Наклик"
StatueSummon = "Покірний ідол"
PowerFlare = "Спалах"
StatueFlare = "Засліплюючий ідол"
PlaneKeys = "Ключі від літака"
Book_MoM = "...Не пригадую цієї книги тут.\n\nСторінки книги по дикому шарпаються, неначе крижаний вітер звивається навколо вас.\n\nХребти безумства чекають..."
Book_PlaneNoKeys = "У вас немає ключів від літака. Без них ви не зможете взлетіти."
Book_PlaneWithKeys = "Двигун літака «покашлює», коли ви повертаєте ключ у замку запалювання.\n\nВи намагаєтеся не згадувати про неймовірно давні речі, яким ви були свідками. Коли літак здійнявся у небо ви озирнулися на дивну гору з її неземними продовгуватими формами, холод пройшов крізь ваше тіло.\n\nВи вибралися живими, але як там ваша психіка?"
Book_CampingKit = "Набір для туризму\n\nМіцний полотняний мішок, що містить туристичне обладнання.\n\nЗа допомоги нього можна розвести багаття. Відпочинок біля розведеного багаття відновлює сили.\n\nЦе коштуватиме вам \ue0f1 × #{i:CampingKit:StokePriceTag}."
Book_ClimbingBoots = "Скелелазні чоботи\n\nСтильні похідні чоботи з шипованою підошвою.\n\nУзувшись у ці чоботи, ви можете не боятися ані падінь, ані бурульок."
Book_Soapstone = "Жировик\n\nЗеленкуватий, зіркоподібний шматок жировику. Немає жодної користі."
Book_Summon = "Наклик\n\nНатисніть #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower}, щоб накликати невпинного шоггота.\n\nШоггот атакуватиме все, що бачить, включаючи вас!\n\nЦе коштуватиме вам \ue0f1 × #{i:PowerSummon:PowerCost}."
Book_Flare = "Спалах\n\nНатисніть #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower}, щоб викликати містичний спалах.\n\nСпалах освітлюватиме ваш шлях протягом\nкороткого часу та відволікатиме\nворогів.\n\nЦе коштуватиме вам \ue0f1 × #{i:PowerFlare:PowerCost}."
ShoggothShopkeeperTalk = "Шоггот нерозбірливо бурмоче до вас."
SquidmanFriendlyShopkeeperTalk = "Породження зірок тепло вас вітає.\n\n«Ласкаво прошу, друже! Чи не бажаєш придбати щось у моєму скромному магазинчику?»"
Airplane = "Літак"
RIPDmgIcicles = "проколов своє тіло падаючою бурулькою"
RIPDmgElderThingMelee = "помер від рук Старця"
RIPDmgElderThingRanged = "був застрелений Страцем"
RIPDmgMigo = "помер від рук Мі-го"
RIPDmgMigoExplode = "отруївся трупом Мі-го"
RIPDmgYCultistMelee = "помер від рук Йог-сототського сектанта"
RIPDmgYCultistRanged = "був застрелений Йог-сототським сектантом"
RIPLvlMoM = "хребтах безумства"

# Common stuff here
Russian				= "Русский"
Ukrainian			= "Українська"