[French]
True = "On"
False = "Off"
OK = "OK"
Yes = "Oui"
No = "Non"
Play = "Jouer"
Options = "Options"
Quit = "Quitter"
PressStart = "Appuyez sur Entrer"
ConfirmQuit = "Quitter ?"
ConfirmSaveAndQuit = "Sauvegarder et Quitter ?"
Version = "Build #{s:ContentSyncer:Version}"
BindControls = "Affecter les touches"
Controls = "Touches"
MouseSpeed = "Vitesse du pointeur :"
InvertY = "Inversion de l'axe Y : #{b:InvertY}"
Resolution = "Résolution :   #{i:DisplayWidth} × #{i:DisplayHeight}"
SetRes = "Résolution"
Fullscreen = "Plein écran : #{b:Fullscreen}"
Brightness = "Luminosité"
FOV = "Champ de vision :"
Volume = "Volume :"
MusicVolume = "Vol. de la Musique :"
Back = "Retour"
BindForward = "Avancer :"
BindBack = "Reculer :"
BindLeft = "Pas à gauche :"
BindRight = "Pas à droit :"
BindJump = "Sauter :"
BindFrob = "Utiliser :"
BindLeanLeft = "Se pencher à gauche :"
BindLeanRight = "Se pencher à droite :"
BindRun = "Courir :"
BindCrouch = "S'accroupir :"
BindUseWeapon = "Tirer :"
BindUsePower = "Capacité :"
BindDropWeapon = "Lâcher l'arme :"
BindCycleUp = "Arme précédente :"
BindCycleDown = "Arme suivante :"
BindDialog = "Appuyez sur la touche pour l'associer.\nAppuyez sur Échap pour annuler.\nAppuyez sur Retour-arrière pour dissocier."
Paused = "Pause"
Resume = "Reprendre"
ReturnToHub = "Retour à la bibliothèque"
Resurrect = "Ressusciter"
SaveAndQuit = "Sauvegarder et Quitter"
Death = "Vous êtes mort..."
ConfirmResurrect = "Ressusciter ? (Vous perdrez\nvotre progression actuelle)"
Souls = "Âmes"
Gear = "Équipement"
PowerHypnotize = "Hypnotiser"
PowerBuild = "Matérialiser"
PowerLift = "Lever"
PowerKnock = "Assomer"
PowerTeleport = "Téléporter"
PowerCloak = "Occulter"
BankPlayer = "Joueur"
BankBank = "Banque"
Price = "Prix :"
Buy = "Acheter"
Steal = "Voler"
Cancel = "Annuler"
Dying = "Vous agonisez..."
Revive = "Ranimer"
FrobHold = "Maintenir #{s:EldritchKeyboard:Frob}#{l:EldritchMouse:Frob}#{l:EldritchController:Frob} #{c:HUD:HoldVerb}"
RIPFormat = "|REP| Je %s en %s."
RIPURL = "http://www.eldritchgame.com"
RIPHashtags = "eldritch"
RIPTwitter = "https://twitter.com/intent/tweet?text=%s&hashtags=%s&url=%s"
RIPDmgUnknown = "est mort"
RIPDmgResurrect = "a abandonné"
RIPDmgPlayer = "a commis une grosse erreur"
RIPDmgSpikes = "a trébuché dans un piège à pieux"
RIPDmgBarnacle = "a contrarié une bernicle géante"
RIPDmgFishmanMelee = "a été battu à mort par un pêcheur"
RIPDmgFishmanRanged = "a été abattu par un pêcheur"
RIPDmgDCultistMelee = "a été battu à mort par un cultiste détrempé"
RIPDmgDCultistRanged = "a été abattu par un cultiste détrempé"
RIPDmgNCultistMelee = "a été battu à mort par un cultiste sablonneux"
RIPDmgNCultistRanged = "a été abattu par un cultiste sablonneux"
RIPDmgRCultistMelee = "a été battu à mort par un cultiste gluant"
RIPDmgRCultistRanged = "a été abattu par un cultiste gluant"
RIPDmgLizardmanMelee = "a été battu à mort par un homme-lézard"
RIPDmgLizardmanRanged = "a été abattu par un homme-lézard"
RIPDmgEye = "a été abattu par un globe oculaire volant"
RIPDmgShoggoth = "a été piétiné par un shoggoth inarrêtable"
RIPDmgLizardWatson = "a tourné le dos à une statue effrayante"
RIPDmgMummy = "a été dévoré par une momie morbide"
RIPDmgSquidmanMelee = "a été battu à mort par une progéniture d'étoiles"
RIPDmgSquidmanRanged = "a été abattu par une progéniture d'étoiles"
RIPDmgPolyp = "a été abattu par un polype volant"
RIPDmgBugMelee = "a été mordu par un insecte"
RIPDmgBugRanged = "a été abattu par un insecte"
RIPDmgFoodPoisoning = "est mort par empoisonnment alimentaire"
RIPDmgShopkeeper = "a sous-estimé un marchant"
RIPDmgTrapBolt = "a trébuché sur un fil metallique"
RIPLvlUnknown = "un lieu isolé"
RIPLvlLibrary = "une bibliothèque mystérieuse"
RIPLvlEndgame = "une bibliothèque incroyablement vaste"
RIPLvlWater = "une ruine Dagonite glauque"
RIPLvlSand = "un temple poussiéreux de Nyarlathotep"
RIPLvlSwamp = "la cité perdue de R'lyeh"
RIPLvlSubspace = "un lieu étrange et sombre"
JumpBoots = "Bottes de Saut"
JumpBootsDesc = "Ces bottes vous font sauter\nplus haut."
SpeedBoots = "Bottes de Vitesse"
SpeedBootsDesc = "Ces bottes vous font\ncourir plus vite."
QuietBoots = "Bottes Furtives"
QuietBootsDesc = "Ces bottes réduisent vos\nbruits de pas."
LocksmithKit = "Trousse de crochetage"
LocksmithKitDesc = "Permet d'ouvrir les portes\nfermées et de les fermer\n pour un faible coût."
MedicalKit = "Trousse de soin"
MedicalKitDesc = "Permet de vous ranimer\naprès être mort, pour un\ncoût additionel."
TinningKit = "Trousse de conserverie"
TinningKitDesc = "Permet de manger les corps\nde certaines créatures,\npour un coût additionnel."
Bottle = "Bouteille"
BottleDesc = "Lancer pour faire du bruit\nou blesser un ennemi."
Revolver = "Revolver"
RevolverDesc = "Une arme fiable.\nConsome des munitions.\nInclut trois balles."
Snaregun = "Pistolet à fil de détente"
SnaregunDesc = "Tire un obus qui applique\nun fil de détente sur une\nsurface. Inclut 3 balles."
Compass = "Boussole"
CompassDesc = "Indique la direction de la\nsortie."
Charm = "Porte-bonheur"
CharmDesc = "Une fois équipé,\nvous permet de trouver plus d'objet\nsur le corps des ennemis."
Amulet = "Amulette de destruction"
AmuletDesc = "Augmente les dégâts faits\navec vos armes. Vos balles\ndétruisent le terrain."
Talisman = "Talisman de l'invocateur"
TalismanDesc = "Réduit le coût en artefact\npour utiliser des pouvoirs\nspéciaux."
Key = "Clé"
KeyDesc = "Déverrouille une porte.\nUtilisable une seule fois."
Dagger = "Poignard"
DaggerDesc = "Un couteau à double\ntranchant. Meilleure\nportée et plus mortel."
Dynamite = "Dynamite"
DynamiteDesc = "Un paquet de bâtons de\nnitroglycérine. Explosifs\net hautement instables !"
MeatDesc = "Restaure un peu de votre\nvie."
Corpse = "Corps"
Shopkeeper = "Marchand"
WaterSoul = "Ame de Dagon"
SandSoul = "Ame de Nyarlathotep"
SwampSoul = "Ame de Cthulhu"
HardSoul = "Ame du Bibliothécaire"
Rock = "Caillou"
Chest = "Coffre de Banque"
ExitDoor = "Sortie"
ExitDoorUp = "Entrée"
Book = "Livre"
WorldBook = "Livre Etrange"
SubspaceBook = "Livre Poussiéreux"
Door = "Porte"
LockedDoor = "Porte Verrouillée"
GateDoor = "Porte en Fer Verrouillée"
UnlockedGateDoor = "Porte en Fer"
Mirror = "Mirroir"
DeskLamp = "Lampe de Bureau"
Toilet = "Toilettes"
Sink = "Evier"
Artifact = "Artefact"
Artifact5 = "Pile d'Artefacts"
StatueHypnotize = "Statue Hypnotique"
StatueCloak = "Statue Enveloppée"
StatueBuild = "Statue Solide"
StatueLift = "Statue Flexible"
StatueKnock = "Statue Résonnante"
StatueTeleport = "Statue Instable"
Meat = "Viande Cuite"
BadMeat = "Viande Avariée"
Fountain = "Fontaine"
Pedestal = "Piédestal"
Plant = "Fruit"
PlantToxic = "Fruit Toxique"
HolySymbol = "Symbole Sacré"
ConsecrationKit = "Trousse de Consécration"
Sandals = "Sandales"
Candle = "Bougie"
RitualBook = "Rituel de Liaison"
FullGame = "Jeu Complet"
PickUp = "Ramasser"
Examine = "Examiner"
Loot = "Piller"
Read = "Lire"
Eat = "Manger"
EatUnsure = "...Manger ?"
EatCorpse = "Manger (\ue0f1 × #{i:TinningKit:TinPriceTag})"
LockDoor = "Verrouiller (\ue0f1 × #{i:LocksmithKit:LockPriceTag})"
Go = "Aller"
Return = "Revenir"
Pray = "Prier"
Open = "Ouvrir"
Close = "Fermer"
Quaff = "Boire"
Disarm = "Désarmer"
Light = "Allumer"
Switch = "Activer/Désactiver"
Flush = "Tirer la chasse"
Use = "Utiliser"
Talk = "Parler"
World = "Monde"
WorldName = "#{l:HUD:WorldName}"
Level_Library = "La Bibliothèque"
Level_Water-1 = "Dagon-01"
Level_Water-2 = "Dagon-02"
Level_Water-3 = "Dagon-03"
Level_Sand-1 = "Nyarlathotep-01"
Level_Sand-2 = "Nyarlathotep-02"
Level_Sand-3 = "Nyarlathotep-03"
Level_Swamp-1 = "R'lyeh-1"
Level_Swamp-2 = "R'lyeh-2"
Level_Swamp-3 = "R'lyeh-3"
Level_Endgame-1 = "Bibliothèque-1"
Level_Endgame-2 = "Bibliothèque-2"
Level_Endgame-3 = "Bibliothèque-3"
Level_Subspace = "???????"
Credits = "Crédits"
Book_Controls = "Contrôles\n\nSi les contrôles par défaut ne sont pas\nconfortables, vous pouvez les changer\ndans le menu Options."
Book_Keys = "Clés\n\nLes clés sont utilisées pour\ndéverrouiller les portes.\n\nChaque clé ne peut être utilisée qu'une\nfois."
Book_Statue = "Statues\n\nCes énormes idoles de pierre\nreprésentent des sortes de créatures\nterribles jamais vues sur Terre.\n\nPrier devant la statue vous insuffle un\npouvoir spécial des Anciens."
Book_Food = "Nourriture\n\nManger de la nourriture restaure une\npartie de votre santé.\n\nAttention ! Manger de la nourriture\navariée ou empoisonnée peut à l'inverse\nvous faire mal."
Book_Fountain = "Fontaines\n\nBoire d'une fontaine restaure une partie\nde votre santé et augmente votre santé\nmaximale.\n\nLes fontaines se tarissent après avoir\nété utilisée une fois."
Book_Ledger = "Bibliothèque Elder Ridge\nLivre des Emprunteurs\n\nItem No. | Nom d'Emprunteur | Date\n---------------------------------------\n   9713  | J. K. Pippen     | 12/10/26\n   5576  | Kim Putnam       | 15/10/26\n   4185  | Ken Thudson, Ec. |  3/12/26\n   6287  | Kynan Wales      | 29/ 1/27\n   0451  | F. B. Gaynor     |  4/ 2/27\n   2934  | Stuart Jameson   | 15/ 2/27\n         |                  |   /  /\n         |                  |   /  /\n         |                  |   /  /\n         |                  |   /  /\n         |                  |   /  /\n         |                  |   /  /\n         |                  |   /  /\n         |                  |   /  /\n         |                  |   /  /\n         |                  |   /  /\n         |                  |   /  /\n         |                  |   /  /\n         |                  |   /  /\n         |                  |   /  /\n         |                  |   /  /"
Book_Journal = "Journal de l'Explorateur, Page 2\n\nCette bibliothèque ne semble pas avoir de fin. Je ne suis plus certain qu'il y ait une sortie. On dirait que je revis d'une certaines façons les mêmes expériences, jour après jour, sans fin.\n\nSi je dois trouver la sortie de cette folie, je crois que ce sera à travers ces obscènes livres lumineux. Il y a un pouvoir inimaginable dans ces pages, et une horreur indicible...\n\nIl semble que les esprits des anciennes divinités sommeillent à l'intérieur des livres, bien que je ne sache pas pourquoi. Mais leur puissance collective doit être la clé de mon incarcération dans ce labyrinthe..."
Book_Journal2 = "Journal de l'Explorateur, Page 1\n\nQuelque chose d'assez particulier m'est arrivé. Je ressens le besoin d'enregistrer tout cela, dans l'éventualité où je ne reviendrais pas.\n\nLa dernière chose dont je me souvienne, j'examinais ce curieux livre dans la bibliothèque... Et maintenant je me suis retrouvé dans un monde dangereux plein de monstres tapis et de pièges perfides.\n\nSi mes recherches sont correctes, alors je me trouve dans le temple perdu de l'ancien dieu Dagon. Selon la rumeur, une puissante relique est conservée dans les profondeurs de ce monde. Peut-être qu'elle détient la clé de ma fuite..."
Book_Journal3 = "Journal de l'Explorateur, Page 3\n\nGrand Dieu non. Je ne savais pas ce que je faisais.\n\nJ'ai trouvé un moyen de sortir de cette bibliothèque, mais c'est seulement maintenant que je comprends sa vraie nature. Dans ma fuite, j'ai ouvert la boîte de Pandore.\n\nLa bibliothèque est une prison interdimensionnelle, crée il y a des milliers d'années pour enfermer les Anciens. Comment j'ai puêtre piégé là-bas reste un mystère pour moi, mais il est clair que cette sortie ne devait jamais être ouverte.\n\nDes horreurs inimaginables se répandent maintenant sur Terre à cause de mes actions. Peuvent-elles être enfermées à nouveau ?"
Book_Journal4 = "Journal de l'Explorateur, Page 4\n\nJ'ai peut-être trouvé une solution au mal que j'ai involontairement relaché sur le monde. Dans mes recherches, j'ai appris un \"Rituel de Liaison\" que les mystiques réalisaient pour enfermer les Anciens la dernière fois qu'ils ont menacé la Terre.\n\nLe rituel de liaison est réalisé en lisant à haute voix les anciens mots, qui scellent les envahisseurs dans une prison infinie s'étendant sur des dimensions inconnues; alors une personne se livre pour servir comme gardien éternel de la prison.\n\nLe rituel peut être augmenté par l'allumage de trois bougies. Les bougies vont attirer les cibles au coeur de la prison et les endormir.\n\nD'anciens textes parlent d'une étape supplémentaire dans laquelle le gardien est relevé par l'utilisation d'un remplaçant consacré, mais les détails se sont perdus dans le temps."
Book_Sprint = "Courir\n\nGarder appuyé #{s:EldritchKeyboard:Run}#{l:EldritchMouse:Run}#{l:EldritchController:Run} pour courir.\n\nPendant la course,\naccroupissez-vous (#{s:EldritchKeyboard:Crouch}#{l:EldritchMouse:Crouch}#{l:EldritchController:Crouch})\npour faire une glissade."
Book_Crouch = "S'accroupir\n\nAppuyez sur #{s:EldritchKeyboard:Crouch}#{l:EldritchMouse:Crouch}#{l:EldritchController:Crouch}\npour vous accroupir.\n\nEn vous accroupissant,\nvous pouvez tenir dans des\npassages étroits et vos\npas font moins de bruits.\n\nAccroupissez-vous\nen courant (#{s:EldritchKeyboard:Run}#{l:EldritchMouse:Run}#{l:EldritchController:Run}) pour faire\nune glissade."
Book_Jump = "Sauter\n\nAppuyez sur #{s:EldritchKeyboard:Jump}#{l:EldritchMouse:Jump}#{l:EldritchController:Jump} pour sauter.\n\nMaintenez appuyé pendant\nun saut vers un rebors\npour vous aggriper et\nvous remonter."
Book_Lean = "Se pencher\n\nAppuyez sur #{s:EldritchKeyboard:LeanLeft}#{l:EldritchMouse:LeanLeft}#{l:EldritchController:LeanLeft} pour vous\npencher à gauche.\nAppuyez sur #{s:EldritchKeyboard:LeanRight}#{l:EldritchMouse:LeanRight}#{l:EldritchController:LeanRight} pour vous\npencher à droite.\n\nVous n'êtes pas plus\nvisibles par les ennemis\nen vous penchant, vous\npouvez donc le faire pour\njeter un coup d'oeil dans\nles coins sans risque\nen restant caché."
Book_Artifact = "Artefacts\n\nCes sculptures de pierre\nextraterrestres sont votre\nprincipale ressource dans\nce monde.\n\nVous pouvez acheter des\nbiens avec eux, ou les\ndépenser pour activer des\npouvoirs spéciaux et des\noutils."
Book_Hypnotize = "Pouvoir hypnotique\n\nVisez une créature\net appuyez sur #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower}\npour l'hypnotiser.\n\nLes créatures hypnotisées\ncombattront pour vous.\n\nAttention ! Des créatures\navec une forte volonté\npeuvent se débarasser de\nl'effet hypnotique après\nune courte période.\n\nCela coûte \ue0f1 × #{i:PowerHypnotize:PowerCost}\npour utiliser l'Hypnose."
Book_Build = "Pouvoir de matérialisation\n\nAppuyez sur #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} pour invoquer\nune barrière mystique.\n\nUtilisez ces barrières\npour bloquer le passage\ndes ennemis ou accéder\nà des lieux difficiles\nà atteindre.\n\nAttention ! Il est\npossible de vous piéger\nvous même en utilisant\nce pouvoir.\n\nCela coûte \ue0f1 × #{i:PowerBuild:PowerCost}\npour utiliser\nla Matérialisation."
Book_Lift = "Pouvoir de lévitation\n\nAppuyez sur #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} pour vous\njeter en hauteur.\n\nLa lévitation peut être\nutilisée même en l'air,\nvous permettant\nd'atteindre n'importe\nquelle hauteur.\n\nCela coûte \ue0f1 × #{i:PowerLift:PowerCost} pour\nutiliser la Lévitation."
Book_Knock = "Pouvoir de frapper\n\nAppuyez sur #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} pour lancer\nFrapper.\n\nVisez une porte\nverrouillée pour la\ndéverrouiller, ou visez\nn'importe quelle autre\nsurface pour créer un\nbruit pour distraire les\nennemis en patrouille.\n\nCela coûte \ue0f1 × #{i:PowerKnock:PowerCost} pour\nutiliser Frapper."
Book_Teleport = "Pouvoir de Téléportation\n\nAppuyez sur #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} une fois pour\njeter une balise.\nAppuyez sur #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} encore pour\nvous y téléporter.\n\nMaintenez appuyé #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} pour\nrécupérer la balise, puis\nrelâchez pour la jeter\nà nouveau.\n\nJeter et récupérer la\nbalise est gratuit.\nCela coûte \ue0f1 × #{i:PowerTeleport:PowerCost} pour\nutiliser la Téléportation."
Book_Cloak = "Pouvoir d'Occultation\n\nAppuyez sur #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} pour vous\nrendre invisible.\n\nQuand vous êtes occulté,\nles ennemis ne peuvent\npas vous voir. L'effet se\ndissipe après une courte\npériode.\n\nAttention ! Les ennemies\npeuvent encore vous\nentendre quand vous êtes\noccultés.\n\nCela coûte \ue0f1 × #{i:PowerCloak:PowerCost} pour\nutiliser l'Occultation."
Book_PowerBroke = "Coût de Pouvoir\n\nLancer des pouvoirs\ndépense des artefacts.\nVous n'avez pas assez\nd'artefacts pour lancer ce\npouvoir maintenant.\n\nExplorez le monde pour\ntrouver des artefacts !"
#Book_Direction = "Attention ! Vous êtes\nentré dans un monde plein\nde monstres tapis et de\npièges traîtres.\n\nUne puissante relique est\ngardée dans les\nprofondeurs de ce monde.\nTraversez ses histoires\npour obtenir pour obtenir\nla relique et poursuivez\nvotre voyage."
Book_Weapons = "Armes and Objets\n\nAppuyez sur #{s:EldritchKeyboard:UseWeapon}#{l:EldritchMouse:UseWeapon}#{l:EldritchController:UseWeapon} pour donner\nun coup de poing, lancer\nun projectile, tirer avec\nune arme.\n\nAppuyez sur #{s:EldritchKeyboard:DropWeapon}#{l:EldritchMouse:DropWeapon}#{l:EldritchController:DropWeapon} pour laisser\ntomber l'objet de votre\nmain droite.\n\nVous pouvez porter deux\narmes ou objets à la fois.\nAppuyez sur #{s:EldritchKeyboard:CycleUp}#{l:EldritchMouse:CycleUp}#{l:EldritchController:CycleUp}/#{s:EldritchKeyboard:CycleDown}#{l:EldritchMouse:CycleDown}#{l:EldritchController:CycleDown} pour\nen changer."
Book_Water = "Ce livre est écrit dans\nune langue que vous ne\nreconnaissez pas.\n\nAlors que vous observez\nles étranges glyphes, ils\nsemblent se détacher des\npages et prendre la forme\nbizarre et surnaturelle\ndes mondes et des\ncréatures qu'ils \ndécrivent.\n\nLes mots vous encerclent,\neffaçant la bibliothèque\net remplissant votre\nesprit avec le\nbourdonnement d'une langue\npré-humaine.\n\nSecoué, vous essayez de\nfermer le livre, mais vous\nvous retrouvez transporté\ndans le monde étranger\ndécrit dans ses pages..."
Book_SandLocked = "Ce livre est lié par une\nforce invisible. Une\ninscription sur sa\ncouverture indique :\n\nCe lieu n'est pas un lieu\nd'honneur. Un terrible\npouvoir est contenu dans\nce volume. Il a été scellé\npar l'Ame de Dagon, et\nseule l'Ame de Dagon peut\nl'ouvrir."
Book_Sand = "Vous levez l'Ame de Dagon\ndevant le livre scellé. La\nsphère pousse sur vos\ndoigts, luttant\nmanifestement pour\natteindre la surface\nen cuir.\n\nUn vent lointain commence\nà hurler alors que l'âme\nencapsulée se déchaîne\ndans votre main. Tandis\nque la furie de Dagon\ns'intensifie, la force\nretenant le livre vacille.\n\nUn craquement\nassourdissant déchire la\npièce alors que le sceau\nest brisé, et que l'Ame de\nDagon devient immobile et\nsilencieuse à nouveau.\n\nLe livre tombe ouvert,\nrévelant des pages\npoussiéreuses couvertes de\nglyphes surnaturels.\nUne terreur sans nom\nvous emplit.\n\nL'autre monde attend..."
Book_WorldUnlock = "Vous avez déverrouillé le/nlivre vers l'autre monde./nLes livres resteront\ndéverrouillés même après\nvotre mort et\nrésurrection."
Book_SwampLocked = "Ce livre est lié par une\nforce invisible. Une\ninscription sur sa\ncouverture indique :\n\nCe lieu n'est pas un lieu\nd'honneur. Un terrible\npouvoir est contenu dans\nce volume. Il a été scellé\npar l'Ame de Nyarlathotep,\net seule l'Ame de\nNyarlathotep peut\nl'ouvrir."
Book_Swamp = "Vous présentez l'Ame de\nNyarlathotep et le sceau\ndu livre est brisé. Une\npeur profonde traîne dans\nvotre esprit.\n\nL'autre monde attend..."
Book_ExitLibrary = "Vous placez les âmes des\nAnciens devant la porte.\nElles bourdonnent et se/ntroublent dans l'attente.\n\nLa bibliothèque frémit\nviolemment. Les livres\ndégringolent des étagères\net la porte gémit sous le\npoids de forces opposées\ncolossales. Les voix\nsurnaturelles des Anciens\ndeviennent assourdissantes\net la porte s'ouvre\nnfinalement.\n\nUne écoeurante prise de\nconscience commence à se\nformer dans votre esprit.\n\nLa sortie est libre."
Book_EndgameEnter = "Vous commencez à remonter\ndes profondeurs de la\nbibliothèque, mais la\nterreur amorphe dans\nvotre coeur s'est\ncristallisé.\n\nComme vous avez utilisé\nles Anciens pour vous\néchapper de la \nbibliothèque, ils vous\nvous ont utilisé pour se\nlibérer de leur\nemprisonnement.\n\nD'inimaginables horreurs\nse répandent désormais sur\nTerre à cause de vos\nactions. Pourront-elles\nêtre contenues à nouveau ?"
Book_BadEnd = "Vous lisez à haute voix\nles anciens mots du rituel\nde liaison.\n\nLes Anciens restés à\nl'intérieur des limites de\nla bibliothèque sont\npiégés et ne poseront de\nmenace pour la Terre.\nCependant, beaucoup plus\nd'entre eux se sont déjà\néchappés et se déchaînent\nencore au-delà des murs de\nla bibliothèque.\n\nAyant fait ce que vous\npouviez, vous complétez le\nrituel en réalisant la\ndernière étape : vous\nlivrer pour rester pour\ntoujours dans la\nbibliothèque en tant que\nson gardien.\n\n\n\n                Fin\n\n\n\nGénérations jouées : #{i:HUD:GenerationsCounter}"
Book_GoodEnd = "Vous lisez à haute voix\nles anciens mots du rituel\nde liaison.\n\nAttirés par les bougies\nque vous allumez, les\nAnciens arrêtent leur\nsaccage, deviennent\nsilencieux et dérivent\nléthargiquement vers le\ncoeur de la bibliothèque.\n\nAprès qu'ils soient à\nnouveau contenus sans\nincident dans leur prison,\nvous complétez le rituel en réalisant la\ndernière étape : vous\nlivrer pour rester pour\ntoujours dans la\nbibliothèque en tant que\nson gardien.\n\n\n\n                Fin\n\n\n\nGénérations jouées : #{i:HUD:GenerationsCounter}"
Book_TrueEnd = "Vous lisez à haute voix\nles anciens mots du rituel\nde liaison.\n\nAttirés par les bougies\nque vous allumez, les\nAnciens arrêtent leur\nsaccage, deviennent\nsilencieux et dérivent\nléthargiquement vers le\ncoeur de la bibliothèque.\n\nAprès qu'ils soient à\nnouveau contenus sans\nincident dans leur prison,\nvous complétez le rituel en réalisant la\ndernière étape : placer un\nsymbole consacré à votre\nplace pour garder les\nAnciens.\n\nEnfin, vous êtes libéré\nde la bibliothèque. Et les\nAnciens dorment, pour\ntoujours...\n\n\n\n                Fin\n\n\n\nGénérations jouées : #{i:HUD:GenerationsCounter}"
Book_WaterSoul = "Vous empoignez l'étrange\norbe bleue. Elle bourdonne\nen réponse à votre contact\net vibre comme si elle\nessayait de se libérer.\n\nAlors que vos doigts se\nserrent autour d'elle,\nvous êtes frappé par une\nidée soudaine et\nspontanée : que dans cette\nsphère surnaturelle, l'âme\nde l'ancienne divinité\nDagon commence à\ns'éveiller.\n\nUne vision dérive dans\nvotre esprit comme le\nsouvenir oublié depuis\nlongtemps d'une peur\nmortelle, une destruction\nincontrôlée, puis un\nrituel clandestin et une\npaix inquiète.\n\nLa vision s'efface,\nlaissant la place à un\nsentiment malsain de vide.\nL'Ame de Dagon s'agite\ndans le silence.\n\nVous pouvez à présent\ndéverrouiller le prochain\nlivre dans la\nbibliothèque."
Book_SandSoul = "Vous prenez l'étrange orbe\nrouge. Elle bourdonne et\ntremble alors que\nNyarlathotep s'éveille.\nUne vague de terreur se\nprécipite sur vous.\n\nYVous pouvez à présent\ndéverrouiller le prochain\nlivre dans la\nbibliothèque."
Book_SwampSoul = "Vous recueillez l'étrange\norbe verte. Elle vacille\ncomme de la graisse alors\nque Cthulhu s'éveille.\nVous titubez devant cette\nhorrible révélation.\n\nAvec les trois ames en\nvotre possession, vous\nserez capable de\ndéverrouiller la porte de\nla bibliothèque."
Book_HardSoul = "Bienvenue dans le mode de\nJeu+ !\n\nRécupérer cette âme a\nactivé une version plus\ndifficile d'Eldritch.\n\nL'effet disparaîtra après\nvotre mort."
Book_Soul = "Ames\n\nUne Ame est l'essence\ndormante d'un Ancient, lié\nà une forme physique. Les\nAmes se trouvent dans les\nprofondeurs de chaque\nmonde.\n\nLes Ames servent à\ndébloquer des livres dans\nla bibliothèque.\n\nSûrement, il ne devrait y\navoir aucun véritable\ndanger à transporter\nl'esprit d'un Ancien sur\nTerre..."
Book_Death = "Mort\n\nQuand votre santé est\népuisée, vous mourrez.\n\nAprès être mort, vous\nressusciterez dans la\nbilbiothèque.\n\nVos possessions seront\nperdues, mais les\nartefacts dans votre\nCoffre de Banque resteront\net tous les livres que\nvous avez débloqués le\nresteront.\n\nVous pouvez aussi démarrer\nune nouvelle vie à\nn'importe quel moment en\nsélectionnant Ressusciter\ndans le menu pause."
Book_Chest = "Coffre de Banque\n\nVous pouvez déposer vos\nartefacts dans des coffres\nde banque en dépôt. Les\nartefacts que vous\ndéposez ici peuvent être\nretirés plus tard depuis\nce coffre ou n'importe\nquel autre.\n\nQuand vous mourrez, vos\npossessions seront perdues\nmais tous les artefacts\ndéposés à la banque\nresteront."
Book_Shop = "Achats\n\nChaque magasin a une\nsélection d'équipements\ndisponibles à la vente.\n\nSi vous ne pouvez pas\npayer le prix, vous pouvez\nessayer de voler un\narticle ; mais vous\nmettrez le marchant en\ncolère."
Book_Gear = "Equipement\n\nL'équipement sont des\narticles vestimentaires\nqui améliorent vos\ncapacités ou débloquent de\nnouvelles compétences.\n\nL'équipement se décline en\ntrois catégories : les\nLivres, les Trousses et\nles Gadgets.\n\nVous pouvez porter un\néquipement de chaque\ncatégorie."
Book_Lore1 = "L'Histoire de la Bibliothèque, Vol. 1\nsur 4\n\nLes légendes parlent d'un évènement\ncatastrophique il y a des milliers\nd'années, quand la Terre tomba sous la\ncolère des Anciens. Les quelques\nsurvivants découvrirent un ancien rite\nqu'ils utilisèrent pour sceller les\nêtres épouvantables dans une prison\nlabyrinthique. La vie sur Terre devint\nà nouveau florissante, et les survivants\nformèrent un couvent de gardiens pour\nprotéger le rituel de liaison secret."
Book_Lore2 = "L'Histoire de la Bibliothèque, Vol. 2\nsur 4\n\nDes milliers d'années passèrent, et les\nAnciens someillaient dans leur prison. A\nla fin du XIXe siècle, des archéologues\nen Arabie déterrèrent le site où le\nrituel de liaison avait eu lieu. La\nperturbation se propagea au travers du\ntissu du cosmos et réveilla les êtres\nanciens. Des horreurs oubliées se\nrépandirent, et la Terre était encore en\npéril."
Book_Lore3 = "L'Histoire de la Bibliothèque, Vol. 3\nsur 4\n\nAu début du XXe siècle, quand les\nAnciens menaçaient la Terre pour la\ndeuxième fois, les gardiens se\nretrouvèrent en Nouvelle-Angleterre pour\nréaliser le rituel de liaison encore une\nfois. Une modeste bibliothèque fut\nchoisie pour le rite, et les gardiens\nélirent l'un d'entre eux -- le\nBibliothécaire -- pour rester dans la\nprison et la protéger d'autres\nperturbations."
Book_Lore4 = "L'Histoire de la Bibliothèque, Vol. 4\nsur 4\n\nDans une petite bibliothèque de Nouvelle\n-Angleterre, les gardiens réalisèrent le\nrituel mystique de liaison pour\nemprisonner les Anciens. Le\nBibliothécaire, un unique gardien choisi\npour protéger le site, était enfermé\navec les terribles êtres. Mais à l'insu\ndes autres gardiens, une parole errante\nrécitée durant le rituel brisa l'esprit\net les souvenirs du Bibliothécaire..."
Book_Column = "Le piédestal a un\nrenfoncement peu profond\ngravé avec un motif\nétrange.\n\nOn dirait qu'un objet\nsphérique pourrait être\nplacé ici."
Book_Loot = "Piller\n\nFouillez les corps pour\ndes munitions, des\nartefacts, ou d'autres\nobjets.\n\nAprès avoir été pillé,\nl'ennemi peut réapparaître\nquelque part dans le\nniveau."
Book_Sandals = "Sandales\n\nUne humble paire de\nsandales poussiéreuses.\nCes sandales ne\ntransmettent aucune\ncapacité apparente."
Book_ConsecrationKit = "Trousse de Consécration\n\nUne petite boîte en bois\ncontenant divers\ninstruments pour bénir ou\nconsacrer une personne ou\nun objet."
Book_HolySymbol = "Symbole Sacré\n\nUne petite tablette en\npierre portant une marque\nreligieuse. Elle n'a pas\nd'utilité apparente."
Book_JumpBoots = "Bottes de Saut\n\nUne paire de bottes\nrobustes avec des ressorts\nmontés sous les semelles.\n\nPorter ces bottes vous\npermet de sauter plus haut\nque la normale."
Book_SpeedBoots = "Bottes de Vitesse\n\nUne paire de bottes\ncriardes décorées avec des\nplumes.\n\nPorter ces bottes vous\npermet de courir plus\nvite que la normale."
Book_QuietBoots = "Bottes de Furtivité\n\nUne modeste paire de\nbottes avec des semelles\nmatelassées.\n\nPorter ces bottes rend vos\npas silencieux."
Book_LocksmithKit = "Trousse de crochetage\n\nUn sac en toile lourd\ncontenant une variété\nd'outils de crochetage en\nacier.\n\nPorter cette trousse vous\npermet d'ouvrir les portes\nverrouillées sans dépenser\nde clé. Les portes ainsi\ndéverrouillées restent\nverrouillées pour les\nautres voyageurs.\n\nCette trousse vous permet\négalement de mettre un\nverrou sur toute porte\ndéverrouillée. Cela coûte\n\ue0f1 × #{i:LocksmithKit:LockPriceTag} pour verrouiller une\nporte."
Book_MedicalKit = "Trousse médicale\n\nUn robuste boîtier en\nplastique contenant toutes\nsortes de fournitures\nmédicales.\n\nPorter cette trousse vous\npermet de vous sauver de\ndommages mortels. Cela\ncoûte \ue0f1 × #{i:MedicalKit:RevivePriceTag} de resusciter, mais\nla trousse peut être\nutilisée un nombre\nillimité de fois.\n\nUtiliser la trousse\nmédicale vous redonne\ntrois points de santé."
Book_TinningKit = "Trousse de conserverie\n\nUne boîte en métal usé\ncontenant de l'équipement\npour préserver la\nnourriture.\n\nPorter cette trousse vous\npermet de consommer les\ncorps de vos ennemis non-\nhumains pour restaurer\nvotre santé.\n\nCela coûte \ue0f1 × #{i:TinningKit:TinPriceTag} pour mettre en\nconserve et manger une\ncréature."
Book_Compass = "Boussole\n\nUne simple boussole\nmagnétique.\n\nPorter une boussole révèle\ndes endroits clés sur\nvotre mini-carte. La\nboussole pointe également\nvers la sortie du niveau\nactuel."
Book_Amulet = "Amulette de Destruction\n\nUne petite pierre arborant\nune étoile rouge.\n\nPorter cette amulette\npermet à vos attaques de\nfaire plus de dégâts et à\nvos balles de détruire le\nterrain."
Book_Charm = "Porte-bonheur\n\nUne petite pierre arborant\nun trèfle à quatre\nfeuilles.\n\nPorter cet enchantement\naugmentera le butin que\nvous trouvez sur les corps\nennemis."
Book_Talisman = "Talisman de l'Invocateur\n\nUne petite pierre arborant\nun vortex bleu.\n\nPorter ce talisman diminue\nle nombre d'artefacts\nnécessaires pour utiliser\ndes pouvoirs spéciaux."
FishmanShopkeeperTalk = "Le pêcheur vous sourit en\nlarmoyant.\n\n\"Bienvenue étranger !\nAchetez quelque chose s'il\nvous plaît, glup glup !\nJ'ai tellement de bonnes\nchoses dans mon magasin.\""
LizardmanShopkeeperTalk = "L'homme-lézard vous\nregarde avec indifférence.\n\n\"Tousss sont bienvenus ici,\nétranger. Vous ne\ntrouverez pas de\nmeilleurs prix pour des\nbiens d'une telle qualité.\""
SquidmanShopkeeperTalk = "La progéniture des étoiles\nvous dévisage avec\nsuspicion.\n\n\"Achetez quelque chose,\nvoulez-vous ?\""
CouldNotConnect = "Impossible de se connecter au serveur."
CouldNotReceive = "Impossible de recevoir les données du serveur."
ShouldUpdate = "Une mise à jour est\ndisponible. Voulez-vous\nmettre à jour maintenant ?"
UpToDate = "Le jeu est à jour."
Connecting = "Connexion au serveur..."
CouldNotRunContentSyncer = "Impossible de lancer ContentSyncer."
CurrentLanguage = "Langue: #{l:Language}"
Language = "Langue"
Display = "Affichage"
Audio = "Audio"
ControllerSpeed = "Sensibilité Joystick :"
Level_MoM-Start = "Montagnes"
Level_MoM-1 = "Montagnes-1"
Level_MoM-2 = "Montagnes-2"
Level_MoM-3 = "Montagnes-3"
Level_MoM-4 = "Montagnes-4"
Level_MoM-5 = "Montagnes-5"
Level_MoM-6 = "Montagnes-6"
Level_MoM-7 = "Montagnes-7"
Level_MoM-8 = "Montagnes-8"
Level_MoM-9 = "Montagnes-9"
Level_MoM-Boss = "Montagnes-10"
Rest = "Se reposer"
StokeCampfire = "Attiser (\ue0f1 × #{i:CampingKit:StokePriceTag})"
Campfire = "Feu de camp"
CampfireStoked = "Feu de camp (Attisé)"
CampingKit = "Trousse de Camping"
CampingKitDesc = "Vous permet d'attiser un feu de camp pour recevoir plus de santé."
Soapstone = "Pierre à savon"
Hatchet = "Hachette"
HatchetDesc = "Une arme lourde bonne pour abattre les portes."
Pickaxe = "Pioche"
PickaxeDesc = "Un outil mal fait utilisé pour casser les rochers et la glace. Tombe en morceaux après quelques utilisations."
Ropegun = "Pistolet Grappin"
RopegunDesc = "Lance un crochet pour attacher une corde d'escalade sur n'importe quelle surface solide."
ClimbingBoots = "Bottes d'Escalade"
ClimbingBootsDesc = "Ces bottes vous protègent des dégâts de chute, et ne déclencheront pas de pièges à stalactites."
PowerSummon = "Convoquer"
StatueSummon = "Statue Huileuse"
PowerFlare = "Eclair"
StatueFlare = "Statue Incandescente"
PlaneKeys = "Clés d'Avion"
Book_MoM = "... Ce livre était-il là avant ?\n\nLes pages du livre se rabattent sauvagemment alors qu'un vent glacial tourbillonne autour de vous.\n\nLes montagnes de la folie attendent..."
Book_PlaneNoKeys = "Les clés de l'avion sont manquantes. Vous ne pouvez décoller sans elles."
Book_PlaneWithKeys = "Le moteur de l'avion tousse quand vous tournez la clé dans le démarreur.\n\nVous essayez de cesser de penser aux choses impossiblement anciennes dont vous avez été témoin. Alors que l'avion décolle du sol, vous jetez un oeil vers les étranges montagnes derrière avec leurs monolithes rectangulaires surnaturels, et un frisson parcourt votre corps.\n\nVous vous êtes échappé vivant, mais quand est-il de votre santé mentale ?"
Book_CampingKit = "Trousse de Camping\n\nUn sac en toile résistant contenant divers équipements de camping.\n\nPorter cette trousse vous permet d'attiser des feux de camp. Vous reposer à un feu attisé vous accorde de la santé supplémentaire.\n\nCela coûte \ue0f1 × #{i:CampingKit:StokePriceTag} d'attiser un feu de camp."
Book_ClimbingBoots = "Bottesd'Escalade\n\nUne élégante paire de chaussures de marche avec des semelles à crampons.\n\nQuand vous portez ces bottes, vous êtes protégés des dégâts de chute, et marcher sous des stalactites ne les fera pas tomber."
Book_Soapstone = "Pierre à savon\n\nUn fragment de pierre à savon verdâtre, en forme d'étoile. Il n'a aucun effet."
Book_Summon = "Pouvoir de Convocation\n\nAppuyez sur #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} pour convoquer un shoggoth inarrêtable.\n\nLe shoggoth attaquera tout ce qu'il remarquera, y compris vous !\n\nCela coûte \ue0f1 × #{i:PowerSummon:PowerCost} d'utiliser la Convocation."
Book_Flare = "Pouvoir d'Eclair\n\nAppuyez sur #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} pour lancer un éclair mystique.\n\nL'éclair illuminera votre chemin pour un bref moment et distraira les ennemis.\n\nCela coûte \ue0f1 × #{i:PowerFlare:PowerCost} d'utiliser l'Eclair."
ShoggothShopkeeperTalk = "Le shoggoth vous murmure des choses incohérentes."
SquidmanFriendlyShopkeeperTalk = "La progéniture des étoiles vous accueille chaleureusement.\n\n\"Bienvenue, ami ! Vous ne voulez pas acheter quelque chose de mon humble boutique ?\""
Airplane = "Avion"
RIPDmgIcicles = "a été poignardé par un stalactite"
RIPDmgElderThingMelee = "a été battu à mort par une Chose Ancienne"
RIPDmgElderThingRanged = "a été abattu par une Chose Ancienne"
RIPDmgMigo = "a été battu à mort par un Mi-go"
RIPDmgMigoExplode = "a été empoisonné par un corps de Mi-go"
RIPDmgYCultistMelee = "a été battu à mort par un cultiste Yog-Sothoth"
RIPDmgYCultistRanged = "a été abattu par un cultiste Yog-Sothoth"
RIPLvlMoM = "les montagnes de la folie"