[Dutch]
True = "Aan"
False = "Uit"
OK = "OK"
Yes = "Ja"
No = "Nee"
Play = "Speel"
Options = "Opties"
Quit = "Stop"
PressStart = "Druk Op Enter"
ConfirmQuit = "Stoppen?"
ConfirmSaveAndQuit = "Opslaan en Stoppen?"
Version = "Build #{s:ContentSyncer:Version}"
BindControls = "Bind Controls"
Controls = "Controls"
MouseSpeed = "Mouse Speed:"
InvertY = "Invert Y:     #{b:InvertY}"
Resolution = "Resolutie:   #{i:DisplayWidth} × #{i:DisplayHeight}"
SetRes = "Resolutie"
Fullscreen = "Volledig Scherm:   #{b:Fullscreen}"
Brightness = "Helderheid"
FOV = "FOV:"
Volume = "Volume:"
MusicVolume = "Muziek Volume:"
Back = "Terug"
BindForward = "Naar Voren:"
BindBack = "Naar Achteren:"
BindLeft = "Naar Links:"
BindRight = "Naar Rechts:"
BindJump = "Spring:"
BindFrob = "Gebruik:"
BindLeanLeft = "Leun Links:"
BindLeanRight = "Leun Rechts:"
BindRun = "Rennen:"
BindCrouch = "Buk:"
BindUseWeapon = "Schiet Wapen:"
BindUsePower = "Gebruik Kracht:"
BindDropWeapon = "Laat Wapen Vallen:"
BindCycleUp = "Vorige Wapen:"
BindCycleDown = "Volgende Wapen:"
BindDialog = "Press the key to bind.\nPress Esc to cancel.\nPress Backspace to unbind."
Paused = "Gepauzeerd"
Resume = "Ga Door"
ReturnToHub = "Terug naar Bieb"
Resurrect = "Reanimeren"
SaveAndQuit = "Sla op en Stop"
Death = "Gestorven..."
ConfirmResurrect = "Reanimeren? (Je zult je voortgang verliezen.)"
Souls = "Zielen"
Gear = "Spullen"
PowerHypnotize = "Hypnotize"
PowerBuild = "Materialize"
PowerLift = "Lift"
PowerKnock = "Klop"
PowerTeleport = "Teleportatie"
PowerCloak = "Verstop"
BankPlayer = "Player"
BankBank = "Bank"
Price = "Prijs:"
Buy = "Koop"
Steal = "Steel"
Cancel = "Annuleer"
Dying = "You're dying..."
Revive = "Revive"
FrobHold = "Hold #{s:EldritchKeyboard:Frob}#{l:EldritchMouse:Frob}#{l:EldritchController:Frob} #{c:HUD:HoldVerb}"
RIPFormat = "|RIP| Ik %s in %s."
RIPURL = "http://www.eldritchgame.com"
RIPHashtags = "eldritch"
RIPTwitter = "https://twitter.com/intent/tweet?text=%s&hashtags=%s&url=%s"
RIPDmgUnknown = "ben gestorven"
RIPDmgResurrect = "heb opgegeven"
RIPDmgPlayer = "heb een grote fout begaan"
RIPDmgSpikes = "ben in een spijkerval beland"
RIPDmgBarnacle = "upset a giant barnacle"
RIPDmgFishmanMelee = "was beaten by a fishman"
RIPDmgFishmanRanged = "was shot by a fishman"
RIPDmgDCultistMelee = "was beaten by a soggy cultist"
RIPDmgDCultistRanged = "was shot by a soggy cultist"
RIPDmgNCultistMelee = "was beaten by a sandy cultist"
RIPDmgNCultistRanged = "was shot by a sandy cultist"
RIPDmgRCultistMelee = "was beaten by a slimy cultist"
RIPDmgRCultistRanged = "was shot by a slimy cultist"
RIPDmgLizardmanMelee = "was beaten by a lizardman"
RIPDmgLizardmanRanged = "was shot by a lizardman"
RIPDmgEye = "was shot by a flying eyeball"
RIPDmgShoggoth = "was trampled by an unstoppable shoggoth"
RIPDmgLizardWatson = "turned my back on a creepy statue"
RIPDmgMummy = "was eaten by a ghoulish mummy"
RIPDmgSquidmanMelee = "was beaten by a star-spawn"
RIPDmgSquidmanRanged = "was shot by a star-spawn"
RIPDmgPolyp = "was shot by a flying polyp"
RIPDmgBugMelee = "was bitten by a bug"
RIPDmgBugRanged = "was shot by a bug"
RIPDmgFoodPoisoning = "died of food poisoning"
RIPDmgShopkeeper = "underestimated a shopkeeper"
RIPDmgTrapBolt = "tripped over a wire"
RIPLvlUnknown = "a lonely place"
RIPLvlLibrary = "a mysterious library"
RIPLvlEndgame = "an impossibly vast library"
RIPLvlWater = "a murky Dagonite ruin"
RIPLvlSand = "a dusty temple of Nyarlathotep"
RIPLvlSwamp = "the lost city of R'lyeh"
RIPLvlSubspace = "a strange, dark place"
JumpBoots = "Jump Boots"
JumpBootsDesc = "These boots let you jump\nhigher."
SpeedBoots = "Speed Boots"
SpeedBootsDesc = "These boots make you run\nfaster."
QuietBoots = "Stealth Boots"
QuietBootsDesc = "These boots silence your\nfootsteps."
LocksmithKit = "Locksmith Kit"
LocksmithKitDesc = "Lets you open locked doors\nand put locks on doors for\na small cost."
MedicalKit = "Medical Kit"
MedicalKitDesc = "Lets you revive yourself\nafter death, for an\nadditional cost."
TinningKit = "Tinning Kit"
TinningKitDesc = "Lets you eat the corpses\nof certain creatures, for\nan additional cost."
Bottle = "Bottle"
BottleDesc = "Throw to make noise or\nhurt enemies."
Revolver = "Revolver"
RevolverDesc = "A reliable firearm.\nConsumes ammo.\nPrice includes 3 bullets."
Snaregun = "Tripwire Gun"
SnaregunDesc = "Fires a round that embeds\na tripwire in any surface.\nPrice includes 3 bullets."
Compass = "Compass"
CompassDesc = "Shows the direction to the\nexit."
Charm = "Lucky Charm"
CharmDesc = "With this equipped, you\nwill find more loot on\nenemy corpses."
Amulet = "Destruction Amulet"
AmuletDesc = "Increases the damage you\ndo with weapons, and makes\nbullets destroy terrain."
Talisman = "Conjurer's Talisman"
TalismanDesc = "Reduces the artifact cost\nto use special powers."
Key = "Key"
KeyDesc = "Unlocks a door.\nCan only be used once."
Dagger = "Dagger"
DaggerDesc = "A double-edged combat\nknife. Longer range and\ndeadlier than your fists."
Dynamite = "Dynamite"
DynamiteDesc = "A bundle of nitroglycerin-\nsoaked sticks. Explosive\nand highly unstable!"
MeatDesc = "Restores some of your\nhealth."
Corpse = "Corpse"
Shopkeeper = "Winkelier"
WaterSoul = "Soul of Dagon"
SandSoul = "Soul of Nyarlathotep"
SwampSoul = "Soul of Cthulhu"
HardSoul = "Soul of the Librarian"
Rock = "Rock"
Chest = "Bank Chest"
ExitDoor = "Uitgang"
ExitDoorUp = "Ingang"
Book = "Boek"
WorldBook = "Vreemd Boek"
SubspaceBook = "Dusty Book"
Door = "Deur"
LockedDoor = "Locked Door"
GateDoor = "Locked Iron Door"
UnlockedGateDoor = "Ijzeren Deur"
Mirror = "Spiegel"
DeskLamp = "Desk Lamp"
Toilet = "Toilet"
Sink = "Sink"
Artifact = "Artifact"
Artifact5 = "Pile of Artifacts"
StatueHypnotize = "Hypnotic Statue"
StatueCloak = "Shrouded Statue"
StatueBuild = "Sturdy Statue"
StatueLift = "Springy Statue"
StatueKnock = "Resonant Statue"
StatueTeleport = "Unstable Statue"
Meat = "Gebakken Vlees"
BadMeat = "Rottend Vlees"
Fountain = "Fontijn"
Pedestal = "Pedestal"
Plant = "Fruit"
PlantToxic = "Toxic Fruit"
HolySymbol = "Holy Symbol"
ConsecrationKit = "Consecration Kit"
Sandals = "Sandalen"
Candle = "Candle"
RitualBook = "Ritual of Binding"
FullGame = "Full Game"
PickUp = "Pick Up"
Examine = "Examine"
Loot = "Loot"
Read = "Lees"
Eat = "Eet"
EatUnsure = "...Opeten?"
EatCorpse = "Eat (\ue0f1 × #{i:TinningKit:TinPriceTag})"
LockDoor = "Lock (\ue0f1 × #{i:LocksmithKit:LockPriceTag})"
Go = "Ga"
Return = "Terug"
Pray = "Bid"
Open = "Open"
Close = "Sluit"
Quaff = "Drink"
Disarm = "Disarm"
Light = "Ontsteek"
Switch = "Switch"
Flush = "Spoel"
Use = "Gebruik"
Talk = "Praat"
World = "Wereld"
WorldName = "#{l:HUD:WorldName}"
Level_Library = "The Bibliotheek"
Level_Water-1 = "Dagon-1"
Level_Water-2 = "Dagon-2"
Level_Water-3 = "Dagon-3"
Level_Sand-1 = "Nyarlathotep-1"
Level_Sand-2 = "Nyarlathotep-2"
Level_Sand-3 = "Nyarlathotep-3"
Level_Swamp-1 = "R'lyeh-1"
Level_Swamp-2 = "R'lyeh-2"
Level_Swamp-3 = "R'lyeh-3"
Level_Endgame-1 = "Bibliotheek-1"
Level_Endgame-2 = "Bibliotheek-2"
Level_Endgame-3 = "Bibliotheek-3"
Level_Subspace = "???????"
Credits = "Credits"
Book_Controls = "Controls\n\nIf the default controls are not\ncomfortable, you can change them\nin the Options menu."
Book_Keys = "Keys\n\nKeys are used to unlock doors.\n\nEach key can only be used once."
Book_Statue = "Statues\n\nThese enormous stone idols depict some\nsort of terrible creature never seen on\nEarth.\n\nPraying at the statue imbues you with a\nspecial power from the Old Ones."
Book_Food = "Food\n\nEating food will restore some of your\nhealth.\n\nBe careful! Eating spoiled or poisonous\nfood may harm you instead."
Book_Fountain = "Fountains\n\nQuaffing from a fountain will restore\nsome of your health and extend your\nmaximum health.\n\nFountains dry up after being used once."
Book_Ledger = "Elder Ridge Library\nBorrower Ledger\n\nItem No. |   Borrower Name   |   Date\n---------------------------------------\n  9713   | J. K. Pippen      | 10/12/26\n  5576   | Kim Putnam        | 10/15/26\n  4185   | Ken Thudson, Esq. | 12/ 3/26\n  6287   | Kynan Wales       |  1/29/27\n  0451   | F. B. Gaynor      |  2/ 4/27\n  2934   | Stuart Jameson    |  2/15/27\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /"
Book_Journal = "Explorer's Journal, Page 2\n\nThis library seems to go on forever. I am no longer certain that there is a way out. It feels as if I am somehow reliving the same experiences, day after day, endlessly.\n\nIf I am to find an exit from this madness, I believe it will be through those obscene glowing books. There is unimaginable power in those pages, and unspeakable horror...\n\nIt seems that the spirits of ancient deities lie dormant within the books, though I know not for what reason. But their collected power must be the key to my incarceration in this labyrinth..."
Book_Journal2 = "Explorer's Journal, Page 1\n\nSomething quite peculiar has happened to me. I feel the need to record this, in the event that I should not return.\n\nThe last thing I recall, I was examining that curious book in the library... And now I have found myself in a dangerous world full of lurking monsters and treacherous traps.\n\nIf my research is correct, then I am in a lost temple to the ancient god Dagon. A powerful relic is rumored to be kept in the depths of this world. Perhaps it holds the key to my escape..."
Book_Journal3 = "Explorer's Journal, Page 3\n\nDear God no. I didn't know what I was doing.\n\nI have found a way out of that library, but only now do I understand its true nature. In my escape, I have opened Pandora's box.\n\nThe library is an interdimensional prison, created thousands of years ago to contain the Old Ones. How I came to be trapped there remains a mystery to me, but it is clear that the exit was never meant to be opened.\n\nUnimaginable horrors are now spilling onto Earth because of my actions. Can they ever be contained again?"
Book_Journal4 = "Explorer's Journal, Page 4\n\nI may have found a solution to the evil I unwittingly unleashed upon the world. In my research, I have learned of a \"Ritual of Binding\" which the mystics performed to contain the Old Ones the last time they threatened Earth.\n\nThe ritual of binding is performed by reading aloud the ancient words, which seals the invaders in an infinite prison spanning unknown dimensions; and then surrendering one person to serve as the eternal guardian of the prison.\n\nThe ritual may be augmented by lighting three candles. The candles will draw the targets to the heart of the prison and lull them into slumber.\n\nAncient texts speak of a further step in which the guardian's duty is relieved by the use of a consecrated surrogate, but the details are lost to time."
Book_Sprint = "Sprinting\n\nPress and hold #{s:EldritchKeyboard:Run}#{l:EldritchMouse:Run}#{l:EldritchController:Run} to sprint.\n\nWhile sprinting, crouch (#{s:EldritchKeyboard:Crouch}#{l:EldritchMouse:Crouch}#{l:EldritchController:Crouch})\nto execute a power slide."
Book_Crouch = "Crouching\n\nPress #{s:EldritchKeyboard:Crouch}#{l:EldritchMouse:Crouch}#{l:EldritchController:Crouch} to crouch.\n\nWhile crouching, you can fit into small\npassages, and your footsteps will make\nless noise.\n\nCrouch while sprinting (#{s:EldritchKeyboard:Run}#{l:EldritchMouse:Run}#{l:EldritchController:Run})\nto execute a power slide."
Book_Jump = "Jumping\n\nPress #{s:EldritchKeyboard:Jump}#{l:EldritchMouse:Jump}#{l:EldritchController:Jump} to jump.\n\nPress and hold while jumping toward a\nledge to grab and pull yourself up."
Book_Lean = "Leaning\n\nPress #{s:EldritchKeyboard:LeanLeft}#{l:EldritchMouse:LeanLeft}#{l:EldritchController:LeanLeft} to lean left.\nPress #{s:EldritchKeyboard:LeanRight}#{l:EldritchMouse:LeanRight}#{l:EldritchController:LeanRight} to lean right.\n\nYour visibility to enemies is not\naffected by leaning, so you can use it\nto safely peek around corners while\nstaying hidden."
Book_Artifact = "Artifacts\n\nThese extraterrestrial stone carvings\nare your main resource in this world.\n\nYou can purchase goods with them, or\nspend them to activate special powers\nand tools."
Book_Hypnotize = "Hypnotize Power\n\nAim at a creature and press #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower}\nto hypnotize it.\n\nHypnotized creatures will fight for you.\n\nBe careful! Strong-willed creatures may\nshake off the hypnotic effect after a\nshort time.\n\nIt costs \ue0f1 × #{i:PowerHypnotize:PowerCost} to use Hypnotize."
Book_Build = "Materialize Power\n\nPress #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} to conjure a mystical\nbarrier.\n\nUse these barriers to block enemy paths\nor access hard-to-reach places.\n\nBe careful! It is possible to trap\nyourself when using this power.\n\nIt costs \ue0f1 × #{i:PowerBuild:PowerCost} to use Materialize."
Book_Lift = "Lift Power\n\nPress #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} to hurl yourself upward.\n\nLift can be used even while airborne,\nallowing you to reach any height.\n\nIt costs \ue0f1 × #{i:PowerLift:PowerCost} to use Lift."
Book_Knock = "Knock Power\n\nPress #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} to cast Knock.\n\nAim at a locked door to unlock it, or\naim at any other surface to create a\nnoise to distract patrolling enemies.\n\nIt costs \ue0f1 × #{i:PowerKnock:PowerCost} to use Knock."
Book_Teleport = "Teleport Power\n\nPress #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} once to throw a beacon.\nPress #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} again to teleport to it.\n\nPress and hold #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} to retrieve the\nbeacon, then release to throw it again.\n\nThrowing and retrieving the beacon is\nfree. It costs \ue0f1 × #{i:PowerTeleport:PowerCost} to use Teleport."
Book_Cloak = "Cloak Power\n\nPress #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} to cloak yourself.\n\nWhile you are cloaked, enemies cannot\nsee you. The effect wears off after a\nshort time.\n\nBe careful! Enemies can still hear you\nwhile you are cloaked.\n\nIt costs \ue0f1 × #{i:PowerCloak:PowerCost} to use Cloak."
Book_PowerBroke = "Power Cost\n\nCasting powers expends your artifacts.\nYou don't have enough artifacts left to\ncast this power right now.\n\nExplore the world to find artifacts!"
#Book_Direction = "Be careful! You have entered a dangerous\nworld full of lurking monsters and\ntreacherous traps.\n\nA powerful relic is kept in the depths\nof this world. Descend through its\nstories to obtain the relic and continue\non your journey."
Book_Weapons = "Weapons and Objects\n\nPress #{s:EldritchKeyboard:UseWeapon}#{l:EldritchMouse:UseWeapon}#{l:EldritchController:UseWeapon} to throw a punch, hurl a\nprojectile, or fire a weapon.\n\nPress #{s:EldritchKeyboard:DropWeapon}#{l:EldritchMouse:DropWeapon}#{l:EldritchController:DropWeapon} to drop the object in your\nright hand.\n\nYou can carry two weapons or objects at\na time. Press #{s:EldritchKeyboard:CycleUp}#{l:EldritchMouse:CycleUp}#{l:EldritchController:CycleUp}/#{s:EldritchKeyboard:CycleDown}#{l:EldritchMouse:CycleDown}#{l:EldritchController:CycleDown} to swap\nbetween them."
Book_Water = "This book is written in a language you\ndo not recognize.\n\nAs you peer at the strange glyphs, they\nseem to lift off the pages and take on\nthe bizarre and unearthly forms of the\nworlds and creatures they describe.\n\nThe words encircle you, blotting out\nthe library and filling your mind with\nthe unbearable buzzing of a pre-human\nlanguage.\n\nShaken, you try to close the book, but\nfind yourself transported to the alien\nworld described in its pages..."
Book_SandLocked = "This book is bound by an unseen force.\nAn inscription on its cover reads:\n\nThis place is not a place of honor.\nA terrible power is contained within\nthis volume. It has been sealed by the\nSoul of Dagon, and only by the Soul of\nDagon may it be opened."
Book_Sand = "You raise the Soul of Dagon before the\nsealed book. The sphere pushes against\nyour fingers, palpably struggling to\nreach the leathery surface.\n\nA distant wind begins to howl as the\nencapsulated soul rages in your hand.\nAs Dagon's fury intensifies, the force\nholding the book falters.\n\nA deafening crack splits the room as the\nseal is broken, and the Soul of Dagon\nbecomes still and silent once again.\n\nThe book falls open, revealing dusty\npages covered in eldritch glyphs. A\nnameless dread fills you.\n\nThe next world awaits..."
Book_WorldUnlock = "You have unlocked the book to the next\nworld. Books will remain unlocked even\nafter you die and resurrect."
Book_SwampLocked = "This book is bound by an unseen force.\nAn inscription on its cover reads:\n\nThis place is not a place of honor.\nA terrible power is contained within\nthis volume. It has been sealed by the\nSoul of Nyarlathotep, and only by the\nSoul of Nyarlathotep may it be opened."
Book_Swamp = "You present the Soul of Nyarlathotep and\nthe book's seal is broken. A profound\nfear lingers in your mind.\n\nThe next world awaits..."
Book_ExitLibrary = "You place the souls of the Old Ones\nbefore the door. They buzz and roil in\nanticipation.\n\nThe library shudders violently. Books\ntumble from the shelves, and the door\ngroans under the weight of colossal\nopposing forces. The unearthly voices\nof the Old Ones grow deafening, and the\ndoor is finally thrown open.\n\nA sickening realization begins to form\nin your mind.\n\nThe way out is open."
Book_EndgameEnter = "You begin to ascend out of the depths of\nthe library, but the amorphous terror in\nyour heart has crystalized.\n\nAs you have used the Old Ones to escape\nthe library, so they have used you to\nfree themselves of their incarceration.\n\nUnimaginable horrors are now spilling\nonto Earth because of your actions. Can\nthey ever be contained again?"
Book_BadEnd = "You read aloud the ancient words of the\nritual of binding.\n\nThe Old Ones still remaining within the\nboundaries of the library are trapped,\nand will no longer pose any threat to\nEarth. Yet many more of them had already\nescaped, and still rampage beyond the\nlibrary's walls.\n\nHaving done all you could, you complete\nthe ritual by performing the final step:\nsurrendering yourself to remain forever\nin the library as its guardian.\n\n\n\n                The End\n\n\n\nGenerations played: #{i:HUD:GenerationsCounter}"
Book_GoodEnd = "You read aloud the ancient words of the\nritual of binding.\n\nDrawn to the candles you lit, the Old\nOnes stop their rampage, become quiet,\nand drift lethargically toward the\nheart of the library.\n\nAfter they are again safely contained\nwithin their prison, you complete the\nritual by performing the final step:\nsurrendering yourself to remain forever\nin the library as its guardian.\n\n\n\n                The End\n\n\n\nGenerations played: #{i:HUD:GenerationsCounter}"
Book_TrueEnd = "You read aloud the ancient words of the\nritual of binding.\n\nDrawn to the candles you lit, the Old\nOnes stop their rampage, become quiet,\nand drift lethargically toward the\nheart of the library.\n\nAfter they are again safely contained\nwithin their prison, you complete the\nritual by performing the final step:\nplacing a consecrated symbol in your\nstead to ward the Old Ones.\n\nAt long last, you are free of the\nlibrary. And the Old Ones sleep,\nforever...\n\n\n\n                The End\n\n\n\nGenerations played: #{i:HUD:GenerationsCounter}"
Book_WaterSoul = "You clutch the strange blue orb. It hums\nin response to your touch and vibrates\nas if trying to shake itself free.\n\nAs your fingers tighten around it, you\nare struck with a sudden and unbidden\ninsight: that within this unearthly\nsphere, the soul of the ancient deity\nDagon is beginning to wake.\n\nA vision drifts through your mind like\na long-forgotten memory of mortal fear,\nunchecked destruction, and then a\nclandestine ritual and uneasy peace.\n\nThe vision fades, giving way to a sick\nfeeling of emptiness. The Soul of Dagon\nstirs in the silence.\n\nYou can now unlock the next book in the\nlibrary."
Book_SandSoul = "You take the strange red orb. It hums\nand trembles as Nyarlathotep wakes. A\nwave of terror rushes over you.\n\nYou can now unlock the next book in the\nlibrary."
Book_SwampSoul = "You collect the strange green orb. It\nwobbles greasily as Cthulhu awakens. You\nreel at this horrible knowledge.\n\nWith all three souls in your possession,\nyou will be able to unlock the library\ndoor."
Book_HardSoul = "Welcome to New Game+!\n\nCollecting this soul has activated a\nmore challenging version of Eldritch.\n\nThe effect will wear off after you die."
Book_Soul = "Souls\n\nA Soul is the dormant essence of an Old\nOne, bound in a physical form. Souls are\nfound in the depths of each world.\n\nSouls are used to unlock books in the\nlibrary.\n\nSurely there could be no real danger in\ntransporting the spirit of an Old One\nto Earth..."
Book_Death = "Death\n\nWhen your health is depleted, you will\ndie.\n\nAfter death, you will be resurrected in\nthe library.\n\nYour possessions will be lost, but the\nartifacts in your Bank Chest will stay,\nand any books you have unlocked will\nremain unlocked.\n\nYou can also start a new life at any\ntime by selecting Resurrect in the\npause menu."
Book_Chest = "Bank Chest\n\nYou can deposit your artifacts in bank\nchests for safekeeping. Artifacts you\ndeposit here can be withdrawn later at\nthis or any other chest.\n\nWhen you die, your possessions will be\nlost, but the artifacts stored in the\nbank will remain."
Book_Shop = "Shopping\n\nEach shop has a selection of valuable\ngear available for purchase.\n\nIf you cannot afford the price, you can\ntry to steal an item; but you will make\nthe shopkeeper angry."
Book_Gear = "Gear\n\nGear is wearable equipment that improves\nyour abilities or unlocks new skills.\n\nGear comes in three categories:\nBoots, Kits, and Gadgets.\n\nYou can carry one piece of gear of each\ncategory."
Book_Lore1 = "The History of the Library, Vol. 1 of 4\n\nLegends tell of a catastrophic event\nthousands of years ago, when Earth fell\nto the wrath of the Old Ones. The few\nsurvivors discovered an ancient rite\nwhich they used to seal the dreadful\nbeings in a labyrinthine prison. Life\non Earth once again flourished, and the\nsurvivors formed a convent of guardians\nto protect the secret ritual of binding."
Book_Lore2 = "The History of the Library, Vol. 2 of 4\n\nThousands of years passed, and the Old\nOnes slumbered in their prison. In the\nlate 19th century, archaeologists in\nArabia unearthed the site where the\nbinding ritual had been invoked. The\ndisturbance rippled through the fabric\nof the cosmos and awoke the ancient\nbeings. Forgotten horrors spilled forth,\nand Earth was again in peril."
Book_Lore3 = "The History of the Library, Vol. 3 of 4\n\nIn the early 20th century, when the Old\nOnes threatened Earth for the second\ntime, the guardians reconvened in New\nEngland to perform the ritual of binding\nonce again. A modest library was chosen\nto host the rite, and the guardians\nelected one among them--the Librarian--\nto remain at the prison and protect it\nfrom further disturbances."
Book_Lore4 = "The History of the Library, Vol. 4 of 4\n\nAt a small library in New England, the\nguardians performed the arcane ritual of\nbinding to imprison the Old Ones. The\nLibrarian, a singular guardian chosen to\nprotect the site, was locked away with\nthe terrible beings. But unbeknownst to\nthe other guardians, an errant word\nspoken during the ritual shattered\nthe Librarian's mind and memories..."
Book_Column = "The pedestal has a shallow indentation\nengraved with a strange pattern.\n\nIt looks like a spherical object could\nbe placed here."
Book_Loot = "Looting\n\nSearch corpses for ammo, artifacts, or\nother items.\n\nAfter being looted, the enemy may\nrespawn somewhere in the level."
Book_Sandals = "Sandals\n\nA humble pair of dusty sandals. These\nsandals do not impart any apparent\nability."
Book_ConsecrationKit = "Consecration Kit\n\nA small wooden box containing various\nimplements for blessing or consecrating\na person or object."
Book_HolySymbol = "Holy Symbol\n\nA small stone tablet bearing a religious\nmarking. It has no apparent utility."
Book_JumpBoots = "Jump Boots\n\nA rugged pair of boots with springs\nmounted in its soles.\n\nWearing these boots lets you jump higher\nthan normal."
Book_SpeedBoots = "Speed Boots\n\nA garish pair of boots decorated with\nfeathers.\n\nWearing these boots lets you run faster\nthan normal."
Book_QuietBoots = "Stealth Boots\n\nA modest pair of boots with padded\nsoles.\n\nWearing these boots silences your\nfootsteps."
Book_LocksmithKit = "Locksmith Kit\n\nA heavy canvas bag containing a variety\nof steel lockpicks and other tools.\n\nCarrying this kit lets you open locked\ndoors without expending keys. Doors\nopened in this way remain locked to\nother travelers.\n\nThis kit also lets you add a lock to any\nunlocked door. It costs \ue0f1 × #{i:LocksmithKit:LockPriceTag} to lock a\ndoor."
Book_MedicalKit = "Medical Kit\n\nA sturdy plastic case containing all\nmanner of medical supplies.\n\nCarrying this kit lets you save yourself\nfrom mortal damage. It costs \ue0f1 × #{i:MedicalKit:RevivePriceTag} to\nrevive from death, but the kit may be\nused an unlimited number of times.\n\nUsing the medical kit restores you with\n3 health."
Book_TinningKit = "Tinning Kit\n\nA worn metal box containing equipment\nused to preserve foods.\n\nCarrying this kit lets you consume the\ncorpses of non-human enemies to restore\nyour health.\n\nIt costs \ue0f1 × #{i:TinningKit:TinPriceTag} to tin and eat a\ncreature."
Book_Compass = "Compass\n\nA simple magnetic compass.\n\nCarrying a compass reveals key locations\non your minimap. The compass also points\nto the exit of the current level."
Book_Amulet = "Destruction Amulet\n\nA small stone emblazoned with a red\nstar.\n\nCarrying this amulet makes your attacks\nmore damaging, and causes your bullets\nto destroy the terrain."
Book_Charm = "Lucky Charm\n\nA small stone emblazoned with a\nfour-leaf clover.\n\nCarrying this charm will increase the\namount of loot you find on enemies'\ncorpses."
Book_Talisman = "Conjurer's Talisman\n\nA small stone emblazoned with a blue\nvortex.\n\nCarrying this talisman decreases the\nnumber of artifacts it costs to use your\nspecial powers."
FishmanShopkeeperTalk = "The fishman smiles weepily at you.\n\n\"Welcome stranger! Please buy\nsomething, glup glup! I have so many\ngood things in my shop.\""
LizardmanShopkeeperTalk = "The lizardman regards you indifferently.\n\n\"All are welcome here, ssstranger. You\nwon't find any better prices on such\nquality goodsss.\""
SquidmanShopkeeperTalk = "The star-spawn eyes you suspiciously.\n\n\"Buy somethin', will ya?\""
CouldNotConnect = "Could not connect to server."
CouldNotReceive = "Could not receive data from server."
ShouldUpdate = "An update is available.\nDo you wish to update now?"
UpToDate = "Game is up to date."
Connecting = "Connecting to server..."
CouldNotRunContentSyncer = "Could not run ContentSyncer."