[BrazilianPortuguese]
True = "Sim"
False = "Não"
OK = "Ok"
Yes = "Sim"
No = "Não"
Play = "Jogar"
Options = "Opções"
Quit = "Sair"
PressStart = "Aperte enter"
ConfirmQuit = "Sair?"
ConfirmSaveAndQuit = "Salvar e sair?"
Version = "Versão #{s:ContentSyncer:Version}"
BindControls = "Controles"
Controls = "Controles"
MouseSpeed = "Veloc. do mouse"
InvertY = "Inverter Y:      #{b:InvertY}"
Resolution = "Resolução:    #{i:DisplayWidth} × #{i:DisplayHeight}"
SetRes = "Resolução"
Fullscreen = "Tela cheia:    #{b:Fullscreen}"
Brightness = "Brilho"
FOV = "FOV:"
Volume = "Volume:"
MusicVolume = "Vol. da música:"
Back = "Voltar"
BindForward = "Ir à frente:"
BindBack = "Ir à trás:"
BindLeft = "Ir à esquerda:"
BindRight = "Ir à direita:"
BindJump = "Pular:"
BindFrob = "Usar:"
BindLeanLeft = "Inclinar à esq.:"
BindLeanRight = "Inclinar à dir.:"
BindRun = "Correr:"
BindCrouch = "Agaixar:"
BindUseWeapon = "Atacar:"
BindUsePower = "Usar poder:"
BindDropWeapon = "Largar arma:"
BindCycleUp = "Arma anterior:"
BindCycleDown = "Próxima arma:"
BindDialog = "Aperte o botão p/ definir.\nUse Esc p/ cancelar.\nUse Backspace p/ desfazer."
Paused = "Pausado"
Resume = "Continuar"
ReturnToHub = "Voltar à Biblioteca"
Resurrect = "Renascer"
SaveAndQuit = "Salvar e sair"
Death = "Você morreu..."
ConfirmResurrect = "Renascer? (Você irá perder\nseu progresso atual)"
Souls = "Almas"
Gear = "Equipamento"
PowerHypnotize = "Hipnotizar"
PowerBuild = "Materializar"
PowerLift = "Ascender"
PowerKnock = "Bater"
PowerTeleport = "Teleportar"
PowerCloak = "Camuflar"
BankPlayer = "Jogador"
BankBank = "Banco"
Price = "Preço:"
Buy = "Comprar"
Steal = "Roubar"
Cancel = "Cancelar"
Dying = "Você está morrendo..."
Revive = "Reviver"
FrobHold = "Segure #{s:EldritchKeyboard:Frob}#{l:EldritchMouse:Frob}#{l:EldritchController:Frob} #{c:HUD:HoldVerb}"
RIPFormat = "Aqui Jaz... Eu, que %s em %s"
RIPURL = "http://www.eldritchgame.com"
RIPHashtags = "eldritch"
RIPTwitter = "https://twitter.com/intent/tweet?text=%s&hashtags=%s&url=%s"
RIPDmgUnknown = "morri"
RIPDmgResurrect = "desisti"
RIPDmgPlayer = "cometi um grande erro"
RIPDmgSpikes = "tropecei em alguns espinhos"
RIPDmgBarnacle = "irritei uma craca gigante"
RIPDmgFishmanMelee = "levei uma surra de um homem-peixe"
RIPDmgFishmanRanged = "levei um tiro mágico de um homem-peixe"
RIPDmgDCultistMelee = "levei uma surra de um cultista da água"
RIPDmgDCultistRanged = "levei um tiro mágico de um cultista da água"
RIPDmgNCultistMelee = "levei uma surra de um cultista da areia"
RIPDmgNCultistRanged = "levei um tiro mágico de um cultista da areia"
RIPDmgRCultistMelee = "levei uma surra de um cultista da lama"
RIPDmgRCultistRanged = "levei um tiro mágico de um cultista da lama"
RIPDmgLizardmanMelee = "levei uma surra de um homem-lagarto"
RIPDmgLizardmanRanged = "levei um tiro mágico de um homem-lagarto"
RIPDmgEye = "levei um tiro mágico de um globo ocular voador"
RIPDmgShoggoth = "fui esmagado por um shoggoth invencível"
RIPDmgLizardWatson = "dei as costas para uma horrenda estátua"
RIPDmgMummy = "fui devorado por uma múmia macabra"
RIPDmgSquidmanMelee = "levei uma surra de uma prole das estrelas"
RIPDmgSquidmanRanged = "levei um tiro mágico de uma prole das estrelas"
RIPDmgPolyp = "levei um tiro mágico de um pólipo voador"
RIPDmgBugMelee = "fui mordido por um inseto"
RIPDmgBugRanged = "levei um tiro mágico de um inseto"
RIPDmgFoodPoisoning = "morri por intoxicação alimentar"
RIPDmgShopkeeper = "subestimei um vendedor"
RIPDmgTrapBolt = "tropecei em um fio"
RIPLvlUnknown = "um lugar solitário"
RIPLvlLibrary = "uma biblioteca misteriosa"
RIPLvlEndgame = "uma biblioteca incrivelmente vasta"
RIPLvlWater = "uma ruína Dagonita sombria"
RIPLvlSand = "um templo empoeirado de Nyarlathotep"
RIPLvlSwamp = "R'lyeh, a cidade onde Cthulhu aguarda sonhando"
RIPLvlSubspace = "um lugar estranho e escuro"
JumpBoots = "Botas do salto"
JumpBootsDesc = "Estas botas permitem que\nvocê salte mais alto."
SpeedBoots = "Botas da velocidade"
SpeedBootsDesc = "Estas botas permitem que\nvocê corra mais rápido."
QuietBoots = "Botas da furtividade"
QuietBootsDesc = "Estas botas permitem que\nvocê ande silenciosamente."
LocksmithKit = "Kit do chaveiro"
LocksmithKitDesc = "Permite destrancar portas\nsem custo ou trancá-las\npor um pequeno custo."
MedicalKit = "Kit de primeiros socorros"
MedicalKitDesc = "Permite reviver após sua\nmorte, por um custo extra."
TinningKit = "Kit de conserva"
TinningKitDesc = "Permite devorar o corpo de\ncertas criaturas, por um\ncusto extra."
Bottle = "Garrafa"
BottleDesc = "Jogue para fazer barulho\nou ferir inimigos."
Revolver = "Revólver"
RevolverDesc = "Uma arma de fogo confiável.\nGasta munição.\nO preço inclui 3 balas."
Snaregun = "Lança-armadilha"
SnaregunDesc = "Lança um projétil que crava\numa armadilha de arame em\nqualquer superfície.\nPreço inclui 3 balas."
Compass = "Bússola"
CompassDesc = "Mostra a direção da saída."
Charm = "Amuleto da sorte"
CharmDesc = "Com isto equipado, você\nencontrará mais espólios\nnos corpos de inimigos."
Amulet = "Amuleto da destruição"
AmuletDesc = "Aumenta o dano de suas\narmas, e suas balas passam\na destruir o terreno."
Talisman = "Talismã do conjurador"
TalismanDesc = "Reduz o custo em artefatos\npara usar poderes especiais."
Key = "Chave"
KeyDesc = "Destranca uma porta.\nSó pode ser usado uma vez."
Dagger = "Adaga"
DaggerDesc = "Uma faca de lâmina dupla.\nPossui maior distância e\ndano que seus punhos."
Dynamite = "Dinamite"
DynamiteDesc = "Um feixe de bastões\nembebidos em nitroglicerina\nExplosivo e altamente\ninstável!"
MeatDesc = "Recupera parte de sua vida."
Corpse = "Corpo"
Shopkeeper = "Vendedor"
WaterSoul = "Alma de Dagon"
SandSoul = "Alma de Nyarlathotep"
SwampSoul = "Alma de Cthulhu"
HardSoul = "Alma do Bibliotecário"
Rock = "Pedra"
Chest = "Baú"
ExitDoor = "Saída"
ExitDoorUp = "Entrada"
Book = "Livro"
WorldBook = "Livro peculiar"
SubspaceBook = "Livro empoeirado"
Door = "Porta"
LockedDoor = "Porta trancada"
GateDoor = "Porta de ferro trancada"
UnlockedGateDoor = "Porta de ferro"
Mirror = "Espelho"
DeskLamp = "Abajur"
Toilet = "Vaso sanitário"
Sink = "Pia"
Artifact = "Artefato"
Artifact5 = "Pilha de artefatos"
StatueHypnotize = "Estátua hipnótica"
StatueCloak = "Estátua encoberta"
StatueBuild = "Estátua robusta"
StatueLift = "Estátua elástica"
StatueKnock = "Estátua ressonante"
StatueTeleport = "Estátua instável"
Meat = "Carne assada"
BadMeat = "Carne podre"
Fountain = "Fonte"
Pedestal = "Pedestal"
Plant = "Fruta"
PlantToxic = "Fruta tóxica"
HolySymbol = "Símbolo sagrado"
ConsecrationKit = "Kit da consagração"
Sandals = "Sandálias"
Candle = "Vela"
RitualBook = "Ritual do aprisionamento"
FullGame = "Jogo completo"
PickUp = "Coletar"
Examine = "Examinar"
Loot = "Revistar"
Read = "Ler"
Eat = "Comer"
EatUnsure = "...Comer?"
EatCorpse = "Comer (\ue0f1 × #{i:TinningKit:TinPriceTag})"
LockDoor = "Trancar (\ue0f1 × #{i:LocksmithKit:LockPriceTag})"
Go = "Continuar"
Return = "Voltar"
Pray = "Orar"
Open = "Abrir"
Close = "Fechar"
Quaff = "Beber"
Disarm = "Desarmar"
Light = "Luz"
Switch = "(Des)ligar"
Flush = "Dar descarga"
Use = "Usar"
Talk = "Conversar"
World = "Mundo"
WorldName = "#{l:HUD:WorldName}"
Level_Library = "A Biblioteca"
Level_Water-1 = "Dagon-1"
Level_Water-2 = "Dagon-2"
Level_Water-3 = "Dagon-3"
Level_Sand-1 = "Nyarlathotep-1"
Level_Sand-2 = "Nyarlathotep-2"
Level_Sand-3 = "Nyarlathotep-3"
Level_Swamp-1 = "R'lyeh-1"
Level_Swamp-2 = "R'lyeh-2"
Level_Swamp-3 = "R'lyeh-3"
Level_Endgame-1 = "Biblioteca-1"
Level_Endgame-2 = "Biblioteca-2"
Level_Endgame-3 = "Biblioteca-3"
Level_Subspace = "???????"
Credits = "Créditos"
Book_Controls = "Controles\n\nSe os controles padrões não forem confortáveis, você pode alterá-los no menu Opções."
Book_Keys = "Chaves\n\nChaves são utilizadas para destrancar portas.\n\nCada chave pode ser usada somente uma vez."
Book_Statue = "Estátuas\n\nEstes enormes ídolos de pedra representam algum tipo de horrível criatura nunca antes vista na Terra.\n\nOrar em frente a estas estátuas concede a você poderes especiais dos Anciões."
Book_Food = "Comida\n\nAlimentar-se irá recuperar alguns pontos de vida.\n\nTome cuidado! Ingerir alimentos estragados ou venenosos pode machucá-lo."
Book_Fountain = "Fontes\n\nSaciar sua sede em uma fonte irá recuperar parte de seus pontos de vida e aumentar sua vida máxima.\n\nFontes secam após serem utilizadas uma vez."
Book_Ledger = "Biblioteca de Elder Ridge\nRegistro de empréstimo\n\nNo. do item | Nome do usuário | Data\n---------------------------------------\n  9713   | J. K. Pippen      | 12/10/26\n  5576   | Kim Putnam        | 15/10/26\n  4185   | Ken Thudson, Esq. |  3/12/26\n  6287   | Kynan Wales       | 29/ 1/27\n  0451   | F. B. Gaynor      |  4/ 2/27\n  2934   | Stuart Jameson    | 15/ 2/27\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /"
Book_Journal = "Diário do explorador, página 2\n\nEsta biblioteca parece se estender infinitamente. Não tenho mais certeza de que haja uma saída. É como se eu estivesse sempre passando pelas mesmas experiências, dia após dia.\n\nSe eu quiser achar uma saída para esta loucura, acho que será através destes abomináveis livros radiantes. Há um poder inimaginável nessas páginas, e horrores indescritíveis...\n\nParece que os espíritos de deidades anciãs permanecem adormecidos nestes livros, embora eu não saiba a razão. Mas seu poder conjunto deve ser a resposta para meu aprisionamento neste labirinto..."
Book_Journal2 = "Diário do explorador, página 1\n\nAlgo um tanto peculiar aconteceu a mim. Por temor de nunca sair daqui, sinto que devo recordar estes eventos aqui.\n\nA última coisa da qual consigo me lembrar era estar examinando aquele peculiar livro na biblioteca... E agora encontro-me em um mundo perigoso, cheio de monstros à espreita e traiçoeiras armadilhas.\n\nSe minha investigação estiver correta, isso significa que estou em um templo perdido do antigo deus Dagon. É dito que uma poderosa relíquia encontra-se nas profundezas deste lugar. Talvez ela seja a chave para minha escapatória..."
Book_Journal3 = "Diário do explorador, página 3\n\nDeus do céu, o que foi que eu fiz!\n\nEu encontrei a saída daquela biblioteca, mas somente agora entendo sua verdadeira natureza. Ao escapar, abri a Caixa de Pandora.\n\nA biblioteca é uma prisão interdimensional, criada há milhares de anos para conter os Anciões. Como cheguei a ficar preso lá permanece um mistério para mim, mas está claro que a saída nunca deveria ter sido encontrada.\n\nTerrores indescritíveis agora vagam pela Terra devido às minhas ações. Poderão eles ser contidos novamente?"
Book_Journal4 = "Diário do explorador, página 4\n\nEu acredito ter encontrado uma solução para o mal que involuntareamente soltei no mundo. Em minhas pesquisas, aprendi sobre o \"Ritual do aprisionamento\" que os místicos utilizaram para conter os Anciões da última vez que ameaçaram a Terra.\n\nEsse ritual é realizado lendo-se em voz alta as antigas palavras, que selam os invasores em uma prisão incomensurável em dimensões desconhecidas; e então rendendo uma pessoa para servir como o eterno guardião da prisão.\n\nO ritual pode ser amplificado acendendo-se três velas. As velas irão atrair os Anciões para o coração da prisão, adormecendo-os.\n\nTextos antigos falam de uma outra etapa em que os deveres do guardião são aliviados pelo uso de um substituto consagrado, mas os detalhes se perderam com o tempo."
Book_Sprint = "Correr\n\nPressione e segure #{s:EldritchKeyboard:Run}#{l:EldritchMouse:Run}#{l:EldritchController:Run} para correr\n\nEnquanto está correndo, agache (#{s:EldritchKeyboard:Crouch}#{l:EldritchMouse:Crouch}#{l:EldritchController:Crouch}) para sair deslizando."
Book_Crouch = "Agachar\n\nAperte #{s:EldritchKeyboard:Crouch}#{l:EldritchMouse:Crouch}#{l:EldritchController:Crouch} para agachar.\n\nEnquanto estiver agachado, você caberá em passagens menores, e seus passos serão mais silenciosos.\n\nAgache enquanto corre (#{s:EldritchKeyboard:Run}#{l:EldritchMouse:Run}#{l:EldritchController:Run}) para sair deslizando."
Book_Jump = "Pular\n\nAperte #{s:EldritchKeyboard:Jump}#{l:EldritchMouse:Jump}#{l:EldritchController:Jump} para pular.\n\nAperte e segure o botão de pular próximo a uma beira para se agarrar e subi-la."
Book_Lean = "Inclinar\n\nPressione #{s:EldritchKeyboard:LeanLeft}#{l:EldritchMouse:LeanLeft}#{l:EldritchController:LeanLeft} para se inclinar à esquerda.\nPressione #{s:EldritchKeyboard:LeanRight}#{l:EldritchMouse:LeanRight}#{l:EldritchController:LeanRight} para se inclinar à direita.\n\nSua visibilidade aos inimigos não é afetada ao inclinar-se, assim é possível espiar os cantos enquanto permanece escondido."
Book_Artifact = "Artefatos\n\nEstas pedras talhadas extraterrestres são seu principal recurso neste mundo.\n\nVocê pode comprar bens com elas, ou usá-las para ativar poderes especiais e ferramentas."
Book_Hypnotize = "Poder de hipnotização\n\nMire uma criatura e aperte #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} para hipnotizá-la.\n\nCriaturas hipnotizadas irão lutar por você.\n\nTome cuidado! Seres com grande força de vontade irão sair do seu controle hipnótico após um curto período de tempo.\n\nHipnotizar uma criatura custa \ue0f1 × #{i:PowerHypnotize:PowerCost}."
Book_Build = "Poder de materialização\n\nAperte #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} para conjurar uma barreira mística.\n\nUse essas barreiras para bloquear inimigos ou acessar locais fora de alcance.\n\nTome cuidado! É possível se prender utilizando este poder.\n\nUsar o poder de materialização custa \ue0f1 × #{i:PowerBuild:PowerCost}."
Book_Lift = "Poder de ascensão\n\nAperte #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} para se jogar para cima.\n\nAscender pode ser usado mesmo quando já estiver no ar, permitindo que chegue a alturas ainda maiores.\n\nUsar o poder de ascensão custa \ue0f1 × #{i:PowerLift:PowerCost}."
Book_Knock = "Poder de batida\n\nAperte #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} para usar Bater.\n\nMire em uma porta trancada para destrancá-la, ou mire em qualquer superfície para fazer um barulho e distrair inimigos próximos.\n\nBater custa \ue0f1 × #{i:PowerKnock:PowerCost}."
Book_Teleport = "Poder da teleportação\n\nAperte  #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} uma vez para lançar um sinalizador. Aperte #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} novamente para se teleportar até ele.\n\nPressione e segure #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} para retornar o sinalizador, então solte para jogá-lo novamente.\n\nNão há custo para jogar e retornar o sinalizador. Teleportar-se custa \ue0f1 × #{i:PowerTeleport:PowerCost}."
Book_Cloak = "Poder da camuflagem\n\nAperte #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} para camuflar-se.\n\nEnquanto camuflado, inimigos não poderão vê-lo. O efeito dissipa após um curto período de tempo.\n\nTome cuidado! Inimigos ainda podem\nouvi-lo enquanto estiver camuflado.\n\nCamuflar-se custa \ue0f1 × #{i:PowerCloak:PowerCost}."
Book_PowerBroke = "Custo do poder\n\nUsar poderes gasta artefatos. Você não possui artefatos suficiente para usar este poder no momento.\n\nExplore o mundo para encontrar mais artefatos!"
#Book_Direction = "Tome cuidado! Você acaba de entrar em um mundo cheio de montros à espreita e traiçoeiras armadilhas.\n\nUma poderosa relíquia se esconde nas profundezas deste mundo. Percorra seus vários andares para obter essa relíquia e continuar sua jornada."
Book_Weapons = "Armas e objetos\n\nAperte #{s:EldritchKeyboard:UseWeapon}#{l:EldritchMouse:UseWeapon}#{l:EldritchController:UseWeapon} para socar, jogar um projétil ou atirar com uma arma de fogo.\n\nAperte #{s:EldritchKeyboard:DropWeapon}#{l:EldritchMouse:DropWeapon}#{l:EldritchController:DropWeapon} para largar o objeto que está na sua mão direita.\n\nVocê pode carregar duas armas, ou objetos, por vez. Aperte #{s:EldritchKeyboard:CycleUp}#{l:EldritchMouse:CycleUp}#{l:EldritchController:CycleUp}/#{s:EldritchKeyboard:CycleDown}#{l:EldritchMouse:CycleDown}#{l:EldritchController:CycleDown} para mudar o objeto ativo."
Book_Water = "Este livro está em uma língua que você não reconhece.\n\nEnquanto você observa esses curiosos símbolos, eles parecem sair das páginas e tomar as formas extraterrestres e bizarras dos mundos e das criaturas que estão descritas.\n\nAs palavras te envolvem, encobrindo parcialmente a biblioteca e preenchendo sua mente com o ruído insuportável de uma língua pré-humana.\n\nTonto, você tenta fechar o livro, mas acaba sendo transportado para o mundo estranho descrito nas páginas."
Book_SandLocked = "Este livro está fechado por uma força invisível. Uma inscrição na capa diz:\n\nEsse lugar não é um lugar de honra.\nUm terrível poder está contido nesse volume. Ele foi selado pela Alma de Dagon, e apenas com a Alma de Dagon pode ser aberto."
Book_Sand = "Você levanta a Alma de Dagon sobre o livro lacrado. A esfera pressiona seus dedos, claramente tentando alcançar a superfície de couro.\n\nUm vento distante começa a soar enquanto a alma aprisionada ruge em sua mão. À medida que a fúria de Dagon se intensifica, a força prendendo o livro enfraquece.\n\nUm estalo ensurdecedor divide a sala enquanto o selo é quebrado, enquanto a Alma de Dagon se acalma e fica silenciosa novamente. O livro cai no chão aberto, revelando páginas empoeiradas em glifos eldritch. Um medo indescritível te preenche. O próximo mundo te espera..."
Book_WorldUnlock = "Você destravou o livro para o próximo mundo. Os livros permanecerão destravados mesmo se você morrer e renascer."
Book_SwampLocked = "Esse livro está fechado por uma força invisível. Uma inscrição na capa diz: Esse lugar não é um lugar de honra. Um terrível poder está contido nesse volume. Ele foi selado pela Alma de Nyarlathotep, e apenas com a Alma de Dagon pode ser aberto."
Book_Swamp = "Você apresenta a Alma de Nyarlathotep e o selo do livro é quebrado. Um medo profundo perdura em sua mente.\n\nO próximo mundo o aguarda..."
Book_ExitLibrary = "Você insere as almas dos Anciões na frente da porta. Eles zunem e giram em antecipação. A biblioteca treme violentamente. Livros caem das estantes e a porta geme sob o peso das forças colossais opostas. As vozes sobrenaturais crescem ensurdecedoramente e a porta finalmente se abre. Uma compreensão repugnante começa a se formar em sua mente. A saída finalmente está aberta."
Book_EndgameEnter = "Você começa a descer pelas profundezas da biblioteca, mas o terror sem forma em seu coração se cristalizou. Assim como você utilizou os Anciões para escapar da biblioteca, eles te usaram para se libertar de seu aprisionamento. Terrores indizíveis agora estão se espalhando pela Terra devido a suas ações. Poderão eles ser contidos novamente?"
Book_BadEnd = "Você lê em voz alta as palavras antigas do ritual do aprisionamento. Os Anciões que ainda permanecem nos confins da biblioteca estão persos e não irão ameaçar a Terra. Porém muitos mais já escaparam e causam um alvoroço além das paredes da biblioteca. Tendo feito tudo que voce podia, você completav o ritual após realizar a última etapa: sacrificando-se  para permanecer para sempre na biblioteca como seu guardião.\n\n\n Fim.\n\n\n\nGerações jogadas: #{i:HUD:GenerationsCounter}"
Book_GoodEnd = "Você lê em voz alta as palavras antigas do ritual do aprisionamento. Atraídos para as velas que você acendeu, os Anciões interrompem o alvoroço, tornando-se quietos e se dirigem letargicamente para o coração da biblioteca. Depois de estar novamente contidos com segurança dentro da prisão, você completa o ritual após realizar a última etapa: sacrificando-se  para permanecer para sempre na biblioteca como seu guardião.\n\n\n Fim.\n\n\n\nGerações jogadas: #{i:HUD:GenerationsCounter}"
Book_TrueEnd = "Você lê em voz alta as palavras antigas do ritual do aprisionamento. Atraídos para as velas que você acendeu, os Anciões interrompem o alvoroço, tornando-se quietos e se dirigem letargicamente para o coração da biblioteca. Depois de estar novamente contidos com segurança dentro da prisão, você completa o ritual após realizar a última etapa: inserindo um símbolo consagrado no seu lugar para proteger os Anciões. Finalmente você está livre da biblioteca. E os Anciões estão adormecidos, para sempre...\n\n\n Fim\n\n\n\nGerações jogadas: #{i:HUD:GenerationsCounter}"
Book_WaterSoul = "Você agarra o curioso orbe azul. Ele zune em resposta ao seu toque e vibra como se tentasse se soltar da sua mão. Enquanto seus dedos seguram com mais firmeza em volta dele, você sente uma repentina visão que te invade: dentro desta esfera sobrenatural, a alma da antiga deidade Dagon está começando a despertar. Uma visão atravessa sua mente como uma memória há muito esquecida de medo mortal, destruição descontrolada e então um ritual clandestino e uma paz instável. A visão desaparece, dando lugar a uma sensação horrível de vazio. a Alma de Dagon se agita em silêncio. Agora você pode destravar o próximo livro da biblioteca."
Book_SandSoul = "Você pega o curioso orbe vermelho. ele zumbe e treme enquanto Nyarlathotep desperta. Uma onda de terror avança sobre você. Agora você pode destravar o próximo livro da biblioteca."
Book_SwampSoul = "Você pega o curioso orbe verde. Ele oscila fluidamente enquanto Cthulhu desperta. Você vacila diante desse terrível conhecimento. Com todas as três almas em sua posse, você será cpaz de destrancar a porta da biblioteca."
Book_HardSoul = "Bem vindo ao Novo jogo +! Coletando esta aula ativou uma versão mais desafiadora de Eldritch. O efeito vai acabar depois que você morrer."
Book_Soul = "Almas\n\nA Alma é a essência dormente de um Ancião, presa em forma física. Almas são encontradas nas profundezas de cada mundo.\n\nAlmas são usadas para destrancar livros na biblioteca.\n\nCertamente não há perigo nenhum em transportar o espírito de um Ancião para a Terra..."
Book_Death = "Morte\n\nQuando sua vida se esgotar, você morrerá.\n\nApós a morte, você renascerá na biblioteca.\n\nVocê terá perdido todos os seus itens, mas os artefatos no seu baú permanecerão, e qualquer livro que tenha quebrado o selo permanecerá aberto.\n\nVocê também pode começar uma nova vida selecionando Renascer no menu."
Book_Chest = "Baú\n\nVocê pode depositar seus artefatos em baús para mantê-los seguros. Artefatos que você depositar aqui podem ser sacados mais tarde neste, ou em qualquer outro baú.\n\nQuando você morre, todas os seus itens são perdidos, mas os artefatos depositados em um baú permanecerão."
Book_Shop = "Lojas\n\nCada loja possui uma seleção de equipamentos para serem trocados por artefatos.\n\nSe não possui artefatos o suficiente, você pode tentar roubar o item; porém isso deixará o vendedor muito nervoso."
Book_Gear = "Equipamento\n\nEquipamentos são objetos que melhoram suas habilidades ou destravam novos poderes.\n\nExistem três tipos de equipamentos:\nBotas, Kits e Amuletos.\n\nVocê pode carregar uma peça de equipamento em cada categoria."
Book_Lore1 = "A História da Biblioteca, vol. 1 de 4\n\nLendas falam de um evento catastrófico ocorrido há milhares de anos, quando a Terra sofreu com a fúria dos Anciões.\nOs poucos sobreviventes descobriram um antigo rito que foi utilizado para selar as terríveis criaturas em uma prisão labiríntica. A vida na Terra novamente floresceu, e os sobreviventes formaram um convento de guardiões para proteger o ritual secreto de aprisionamento."
Book_Lore2 = "A História da Biblioteca, vol. 2 de 4\n\nMilhares de anos se passarm e os Anciões permaneciam adormecidos na prisão.\nNo fim do século XIX, arqueólogos desenterraram na Arábia o local onde o ritual de aprisionamento tinha sido realizado. A perturbação se propagou pela estrutura do cosmos e despertou os seres antigos. Terrores esquecidos se espalharam e a Terra novamente estava em perigo."
Book_Lore3 = "A História da Biblioteca, vol. 3 de 4\n\nNo começo do século XX, quando os Anciões ameaçavam a Terra pela segunda vez, os guardiões se reuniram novamente na Nova Inglaterra para realizar o ritual de aprisionamento mais uma vez. Uma biblioteca modesta foi escolhida como local do rito, e os guardiões escolheram um dentre eles--o Bibliotecário--para permanecer na prisão e protegê-la de mais perturbações."
Book_Lore4 = "A História da Biblioteca, vol. 4 de 4\n\nEm uma pequena biblioteca na Nova Inglaterra, os guardiões realizaram o ritual arcano de aprisionamento para prender os Anciões. O Bibliotecário, um guardião em especial escolhido para proteger o local, foi trancado com os terríveis seres.\nMas sem que percebessem, uma palavra mal pronunciada durante o ritual despedaçou a mente e as memórias do Bibliotecário..."
Book_Column = "O pedestal possui um entalhe gravado em um curioso padrão. Parece que um objeto esférico pode ser inserido aqui."
Book_Loot = "Espólios\n\nReviste corpos por munição, artefatos ou outros itens.\n\nApós ser revistado, o inimigo pode reaparecer em algum lugar do nível."
Book_Sandals = "Sandálias\n\nUm humilde par de sándalias. Estas sandálias não parecem conceder nenhuma habilidade."
Book_ConsecrationKit = "Kit de consagração\n\nUma pequena caixa de madeira contendo vários utensílios para abençoar ou consagrar uma pessoa ou objeto."
Book_HolySymbol = "Símbolo sagrado\n\nUma pequena tábula de pedra com uma marca religiosa.Não parece ter nenhuma utilidade."
Book_JumpBoots = "Botas do salto\n\nUm par de botas grosseiras com molas adicionadas na base.\n\nUsar estas botas permite que você pule mais alto que o normal."
Book_SpeedBoots = "Botas da velocidade\n\nUm par de botas extravagantes decorado com penas.\n\nUsar estas botas permite que você corra mais rápido que o normal."
Book_QuietBoots = "Botas da furtividade\n\nUm par de botas modestas com sola acolchoada.\n\nUsar estas botas silencia seus pasos."
Book_LocksmithKit = "Kit do chaveiro\n\nUma mochila de lona pesada contendo várias gazuas de ferro e outras ferramentas.\n\nCarregar este kit permite que você destranque portas sem gastar chaves. Portas abertas desta maneira permanecem trancadas para outros viajantes.\n\nEste kit também permite que você adicione fechaduras para qualquer porta. Fazer isto custa \ue0f1 × #{i:LocksmithKit:LockPriceTag}."
Book_MedicalKit = "Kit de primeiros socorros\n\nUma caixa resistente de plástico contendo todos os tipos de suprimentos médicos.\n\nCarregar este kit permite que você se salve de dano fatal. Reviver custa \ue0f1 × #{i:MedicalKit:RevivePriceTag}, porém o kit não possui limite de usos.\n\nUasr o kit de primeiros socorros o restaura com 3 pontos de vida."
Book_TinningKit = "Kit de conserva\n\nUma caixa de metal gasta contendo ferramentas para preservar comida.\n\nCarregar este kit permite que você consuma o corpo de inimigos não-humanos para restaurar vida.\n\nConservar e comer uma criatura custa \ue0f1 × #{i:TinningKit:TinPriceTag}."
Book_Compass = "Bússola\n\nUma simples bússola magnética.\n\nCarregar uma bússola revela locais chaves no seu minimapa. A bússola também aponta para a saída do nível atual."
Book_Amulet = "Amuleto da destruição\n\nUma pequena pedra com uma estrela vermelha gravada.\n\nCarregar este amuleto torna suas armas mais fortes, e faz com que suas balas destruam o terreno."
Book_Charm = "Amuleto da sorte\n\nUma pequena pedra com um trevo de quatro folhas gravado.\n\nCarregar este amuleto irá aumentar a quantidade de espólios encontrado no corpo de inimigos."
Book_Talisman = "Talismã do conjurador\n\nUma pequena pedra com um vortex azul gravado.\n\nCarregar este talismã diminui o número de artefatos gastos ao utilizar seu poder especial."
FishmanShopkeeperTalk = "O homem-peixe sorri um riso molhado para você.\n\n\"Bem-vindo, estranho! Considere comprar alguma coisa, glub glub! Tenho tantas coisas boas em minha loja.\""
LizardmanShopkeeperTalk = "O homem-lagarto olha para você de maneira indiferente.\n\n\"Todos são bem-vindosss, desconhecido. Os melhoresss preços para os produtosss de melhor qualidade.\""
SquidmanShopkeeperTalk = "A prole das estrelas olha para você com suspeita.\n\n\"Compra algo, que tal?\""
CouldNotConnect = "Não foi possível conectar-se ao servidor."
CouldNotReceive = "Não foi possível receber dados do servidor."
ShouldUpdate = "Uma atualização está disponível.\nVocê deseja atualizar agora?"
UpToDate = "O jogo está atualizado."
Connecting = "Conectando-se ao servidor..."
CouldNotRunContentSyncer = "Não foi possível sincronizar o conteúdo"
CurrentLanguage = "Idioma: #{l:Language}"
Language = "Idioma"
Display = "Vídeo"
Audio = "Áudio"
ControllerSpeed = "Veloc. do analógico:"
Level_MoM-Start = "Montanhas"
Level_MoM-1 = "Montanhas-1"
Level_MoM-2 = "Montanhas-2"
Level_MoM-3 = "Montanhas-3"
Level_MoM-4 = "Montanhas-4"
Level_MoM-5 = "Montanhas-5"
Level_MoM-6 = "Montanhas-6"
Level_MoM-7 = "Montanhas-7"
Level_MoM-8 = "Montanhas-8"
Level_MoM-9 = "Montanhas-9"
Level_MoM-Boss = "Montanhas-10"
Rest = "Descansar"
StokeCampfire = "Avivar (\ue0f1 × #{i:CampingKit:StokePriceTag})"
Campfire = "Fogueira"
CampfireStoked = "Fogueira (avivada)"
CampingKit = "Kit de acampamento"
CampingKitDesc = "Permite avivar uma fogueira para receber mais vida."
Soapstone = "Pedra-sabão"
Hatchet = "Machado"
HatchetDesc = "Uma arma pesada, boa para derrubar portas."
Pickaxe = "Picareta"
PickaxeDesc = "Uma ferramenta de qualidade duvidosa para quebrar pedras e gelo. Se desmancha após alguns usos."
Ropegun = "Gancho de escalada"
RopegunDesc = "Atira um gancho que prende uma corda em qualquer superfície"
ClimbingBoots = "Botas de escalada"
ClimbingBootsDesc = "Estas botas protegem contra quedas, e não irão pertubar estalactites"
PowerSummon = "Invocar"
StatueSummon = "Estátua oleosa"
PowerFlare = "Sinalizador"
StatueFlare = "Estátua incandescente"
PlaneKeys = "Chaves do avião"
Book_MoM = "...Estranho, esse livro já estava aqui antes?\n\nAs páginas do livro esvoaçam furiosamente enquanto um vento gelado encobre você.\n\nAs Montanhas da Loucura o aguardam..."
Book_PlaneNoKeys = "As chaves do avião sumiram. Você não pode ir embora sem elas."
Book_PlaneWithKeys = "O motor do avião vibra quando você coloca a chave na ignição.\n\nVocê tenta não pensar nas inacreditáveis coisas anciãs que encontrou. Enquanto o avião começa a decolar, você observa as estranhas montanhas atrás de você, com seus monolitos retangulares de outro mundo, e um calafrio sobe seu corpo.\n\nVocê escapou com sua vida, mas e quanto à sua sanidade?"
Book_CampingKit = "Kit de acampamento\n\nUm saco de lona resistente contendo uma variedade de equipamentos para acampar.\n\nCarregar este kit permite avivar fogueiras. Descansar próximo a uma fogueira avivada garante vida extra.\n\nAvivar um fogueira custa \ue0f1 × #{i:CampingKit:StokePriceTag}."
Book_ClimbingBoots = "Botas de escalada\n\nUm par de botas para escalar com pontas de ferro na sola.\n\nEnquanto estiver usando estas botas, você é imune a dano de queda, e anda abaixo de estalactites não irá derrubá-las."
Book_Soapstone = "Pedra-sabão\n\nUm fragmento de pedra-sabão esverdeada, no formato de uma estrela de cinco pontas. Ela não possui efeito."
Book_Summon = "Poder de invocar\n\nAperte #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} para invocar um shoggoth imortal.\n\nO shoggoth irá atacar qualquer coisa que avistar, incluindo você!\n\nInvocar custa \ue0f1 × #{i:PowerSummon:PowerCost}."
Book_Flare = "Poder de sinalizar\n\nAperte #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} para atira um sinalizador místico.\n\nO sinalizador irá iluminar seu caminho por um curto período, além de distrair os inimigos.\n\nSinalizar custa \ue0f1 × #{i:PowerFlare:PowerCost}."
ShoggothShopkeeperTalk = "O shoggoth efervesce incoerentemente para você."
SquidmanFriendlyShopkeeperTalk = "A prole das estrelas o saúda amigavelmente.\n\n\"Bem-vindo, amigo! Fique à vontade em minha humilde loja.\""
Airplane = "Avião"
RIPDmgIcicles = "fui perfurado por um pingente de gelo"
RIPDmgElderThingMelee = "levei uma surra de um Ancião"
RIPDmgElderThingRanged = "levei um tiro de um Ancião"
RIPDmgMigo = "levei uma surra de um Mi-go"
RIPDmgMigoExplode = "fui envenenado pelo corpo de um Mi-go"
RIPDmgYCultistMelee = "levei uma surra de um cultista Yog-Sothoth"
RIPDmgYCultistRanged = "levei um tiro de um cultista Yog-Sothoth"
RIPLvlMoM = "algum lugar das Montanhas da Loucura"