[Italian]
True = "On"
False = "Off"
OK = "OK"
Yes = "Si"
No = "No"
Play = "Gioca"
Options = "Opzioni"
Quit = "Esci"
PressStart = "Premi Invio"
ConfirmQuit = "Uscire?"
ConfirmSaveAndQuit = "Vuoi salvare ed uscire?"
Version = "Versione #{s:ContentSyncer:Version}"
BindControls = "Imposta controlli"
Controls = "Controlli"
MouseSpeed = "Velocità mouse:"
InvertY = "Inverti asse Y:        #{b:InvertY}"
Resolution = "Risoluzione:        #{i:DisplayWidth} × #{i:DisplayHeight}"
SetRes = "Risoluzione"
Fullscreen = "Schermo intero:     #{b:Fullscreen}"
Brightness = "Luminosità"
FOV = "FOV:"
Volume = "Volume:"
MusicVolume = "Volume musica:"
Back = "Indietro"
BindForward = "Muovi in avanti:"
BindBack = "Muovi indietro:"
BindLeft = "Sposta a sinistra:"
BindRight = "Sposta a destra:"
BindJump = "Salta:"
BindFrob = "Usa:"
BindLeanLeft = "Sporgi verso sinistra:"
BindLeanRight = "Sporgi verso destra:"
BindRun = "Corri:"
BindCrouch = "Accovacciati:"
BindUseWeapon = "Usa arma:"
BindUsePower = "Usa potere:"
BindDropWeapon = "Lascia arma:"
BindCycleUp = "Arma precedente:"
BindCycleDown = "Arma successiva:"
BindDialog = "Premi un tasto per associarlo.\nPremi Esc per annullare.\nPremi Backspace per eliminare il tasto associato."
Paused = "Pausa"
Resume = "Riprendi"
ReturnToHub = "Torna alla Biblioteca"
Resurrect = "Resuscita"
SaveAndQuit = "Salva ed esci"
Death = "Sei morto..."
ConfirmResurrect = "Vuoi resuscitare? (Perderai tutti i\ntuoi progressi attuali.)"
Souls = "Anime"
Gear = "Equipaggiamento"
PowerHypnotize = "Ipnosi"
PowerBuild = "Materializzazione"
PowerLift = "Elevazione"
PowerKnock = "Onda d' urto"
PowerTeleport = "Teletrasporto"
PowerCloak = "Velo"
BankPlayer = "Giocatore"
BankBank = "Scrigno"
Price = "Prezzo:"
Buy = "Compra"
Steal = "Ruba"
Cancel = "Annulla"
Dying = "Stai morendo..."
Revive = "Rianimati"
FrobHold = "Tieni premuto #{s:EldritchKeyboard:Frob}#{l:EldritchMouse:Frob}#{l:EldritchController:Frob} #{c:HUD:HoldVerb}"
RIPFormat = "|RIP| %s %s."
RIPURL = "http://www.eldritchgame.com"
RIPHashtags = "eldritch"
RIPTwitter = "https://twitter.com/intent/tweet?text=%s&hashtags=%s&url=%s"
RIPDmgUnknown = "sono morto"
RIPDmgResurrect = "mi sono arreso"
RIPDmgPlayer = "ho commesso un grave errore"
RIPDmgSpikes = "sono inciampato su una trappola appuntita"
RIPDmgBarnacle = "ho disturbato un cirripede gigante"
RIPDmgFishmanMelee = "sono stato sconfitto da un uomo pesce"
RIPDmgFishmanRanged = "sono stato ucciso da un uomo pesce"
RIPDmgDCultistMelee = "sono stato sconfitto da un accolito inzuppato"
RIPDmgDCultistRanged = "sono stato ucciso da un accolito inzuppato"
RIPDmgNCultistMelee = "sono stato sconfitto da un accolito sabbioso"
RIPDmgNCultistRanged = "sono stato ucciso da un accolito sabbioso"
RIPDmgRCultistMelee = "sono stato sconfitto da un accolito fangoso"
RIPDmgRCultistRanged = "sono stato ucciso da un accolito fangoso"
RIPDmgLizardmanMelee = "sono stato sconfitto da un uomo lucertola"
RIPDmgLizardmanRanged = "sono stato ucciso da un uomo lucertola"
RIPDmgEye = "sono stato ucciso da un occhio volante"
RIPDmgShoggoth = "sono stato calpestato da uno shoggoth inarrestabile"
RIPDmgLizardWatson = "ho dato le spalle ad una statua raccapricciante"
RIPDmgMummy = "sono stato ucciso da una mummia orripilante"
RIPDmgSquidmanMelee = "sono stato sconfitto da una creatura stellare"
RIPDmgSquidmanRanged = "sono stato ucciso da una creatura stellare"
RIPDmgPolyp = "sono stato ucciso da un polipo volante"
RIPDmgBugMelee = "sono stato morso da un insetto"
RIPDmgBugRanged = "sono stato ucciso da un insetto"
RIPDmgFoodPoisoning = "sono morto di intossicazione alimentare"
RIPDmgShopkeeper = "ho sottovalutato un negoziante"
RIPDmgTrapBolt = "sono inciampato su un filo"
RIPLvlUnknown = "in un posto sperduto"
RIPLvlLibrary = "in una biblioteca misteriosa"
RIPLvlEndgame = "in una biblioteca assurdamente vasta"
RIPLvlWater = "in un' oscura rovina Dagonita"
RIPLvlSand = "in un polveroso tempio di Nyarlathotep"
RIPLvlSwamp = "nella città perduta di R'lyeh"
RIPLvlSubspace = "in un posto buio e misterioso"
JumpBoots = "Stivali da salto"
JumpBootsDesc = "Questi stivali ti fanno\nsaltare più in alto."
SpeedBoots = "Stivali da corsa"
SpeedBootsDesc = "Questi stivali ti fanno\ncorrere più veloce."
QuietBoots = "Stivali furtivi"
QuietBootsDesc = "Questi stivali eliminano\nil rumore dei passi."
LocksmithKit = "Kit da fabbro"
LocksmithKitDesc = "Ti permette di scassinare\no bloccare le porte\nad un piccolo costo."
MedicalKit = "Kit medico"
MedicalKitDesc = "Ti permette di rianimarti\ndopo una morte, ad un\ncosto aggiuntivo."
TinningKit = "Cestino da pranzo"
TinningKitDesc = "Permette di mangiare i\nresti di alcune creature\nad un costo aggiuntivo."
Bottle = "Bottiglia"
BottleDesc = "Lanciala per fare rumore\no ferire i nemici."
Revolver = "Revolver"
RevolverDesc = "Arma da fuoco affidabile.\nConsuma munizioni.\nInclude 3 proiettili."
Snaregun = "Sparatrappole"
SnaregunDesc = "Spara un colpo che piazza\nuna trappola a filo su qualsiasi superficie.\nInclude 3 proiettili."
Compass = "Bussola"
CompassDesc = "Indica la direzione\nverso l' uscita."
Charm = "Portafortuna"
CharmDesc = "Con questo indosso troverai\npiù oggetti sui corpi nemici."
Amulet = "Amuleto della distruzione"
AmuletDesc = "Aumenta il danno delle\narmi ed i proiettili\ndistruggono il terreno."
Talisman = "Talismano del prestigiatore"
TalismanDesc = "Diminuisce gli artefatti\nspesi per usare i poteri."
Key = "Chiave"
KeyDesc = "Apre una porta chiusa a chiave.\nUtilizzo singolo."
Dagger = "Pugnale"
DaggerDesc = "Coltello a doppia lama.\nMaggiore danno e raggio\nd' azione dei pugni."
Dynamite = "Dinamite"
DynamiteDesc = "Candelotti intrisi di\nnitroglicerina. Esplosivi ed altamente instabili!"
MeatDesc = "Ripristina parte\ndella tua salute."
Corpse = "Corpo"
Shopkeeper = "Negoziante"
WaterSoul = "Anima di Dagon"
SandSoul = "Anima di Nyarlathotep"
SwampSoul = "Anima di Cthulhu"
HardSoul = "Anima del Bibliotecario"
Rock = "Roccia"
Chest = "Scrigno"
ExitDoor = "Uscita"
ExitDoorUp = "Entrata"
Book = "Libro"
WorldBook = "Libro misterioso"
SubspaceBook = "Libro impolverato"
Door = "Porta"
LockedDoor = "Porta chiusa a chiave"
GateDoor = "Porta di ferro chiusa a chiave"
UnlockedGateDoor = "Porta di ferro"
Mirror = "Specchio"
DeskLamp = "Lume da tavolo"
Toilet = "Toilet"
Sink = "Lavandino"
Artifact = "Artefatto"
Artifact5 = "Pila di artefatti"
StatueHypnotize = "Statua Ipnotica"
StatueCloak = "Statua Evanescente"
StatueBuild = "Statua Solida"
StatueLift = "Statua Elastica"
StatueKnock = "Statua Vibrante"
StatueTeleport = "Statua Errante"
Meat = "Carne cotta"
BadMeat = "Carne avariata"
Fountain = "Fontana"
Pedestal = "Piedistallo"
Plant = "Frutta"
PlantToxic = "Frutta tossica"
HolySymbol = "Simbolo sacro"
ConsecrationKit = "Kit di consacrazione"
Sandals = "Sandali"
Candle = "Candela"
RitualBook = "Rituale di costrizione"
FullGame = "Gioco completo"
PickUp = "Raccogli"
Examine = "Esamina"
Loot = "Fruga"
Read = "Leggi"
Eat = "Mangia"
EatUnsure = "...Mangia?"
EatCorpse = "Mangia (\ue0f1 × #{i:TinningKit:TinPriceTag})"
LockDoor = "Chiudi a chiave (\ue0f1 × #{i:LocksmithKit:LockPriceTag})"
Go = "Vai"
Return = "Torna"
Pray = "Prega"
Open = "Apri"
Close = "Chiudi"
Quaff = "Bevi"
Disarm = "Disinnesca"
Light = "Accendi"
Switch = "Premi"
Flush = "Scarica"
Use = "Usa"
Talk = "Parla"
World = "Mondo"
WorldName = "#{l:HUD:WorldName}"
Level_Library = "Biblioteca"
Level_Water-1 = "Dagon-1"
Level_Water-2 = "Dagon-2"
Level_Water-3 = "Dagon-3"
Level_Sand-1 = "Nyarlathotep-1"
Level_Sand-2 = "Nyarlathotep-2"
Level_Sand-3 = "Nyarlathotep-3"
Level_Swamp-1 = "R'lyeh-1"
Level_Swamp-2 = "R'lyeh-2"
Level_Swamp-3 = "R'lyeh-3"
Level_Endgame-1 = "Biblioteca-1"
Level_Endgame-2 = "Biblioteca-2"
Level_Endgame-3 = "Biblioteca-3"
Level_Subspace = "???????"
Credits = "Credits"
Book_Controls = "Controlli\n\nSe non ti trovi a tuo agio con i controlli, puoi cambiarli nel menù Opzioni."
Book_Keys = "Chiavi\n\nServono ad aprire le porte chiuse a chiave.\n\nOgni chiave è ad uso singolo."
Book_Statue = "Statue\n\nEnormi idoli in pietra che ritraggono alcune delle creature più orride della Terra.\n\nPregare presso di loro ti infonderà un potere speciale degli Antichi."
Book_Food = "Cibo\n\nMangiando rigeneri parte della tua salute.\n\nFai attenzione! I cibi marci o tossici potrebbero danneggiarti."
Book_Fountain = "Fontane\n\nBere da una fontana rigenererà parte della tua salute e ne aumenterà il valore massimo.\n\nLe fontane si asciugano dopo l' uso."
Book_Ledger = "Biblioteca di Elder Ridge\nRegistro dei prestiti\n\nOggetto N. | Ricevente Nome  | Data\n---------------------------------------\n  9713   | J. K. Pippen      | 10/12/26\n  5576   | Kim Putnam        | 10/15/26\n  4185   | Ken Thudson, Esq. | 12/ 3/26\n  6287   | Kynan Wales       |  1/29/27\n  0451   | F. B. Gaynor      |  2/ 4/27\n  2934   | Stuart Jameson    |  2/15/27\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /"
Book_Journal = "Diario dell' esploratore, Pagina 2\n\nQuesta biblioteca sembra infinita.\nNon sono più cosi certo che vi sia un' uscita. Mi sento come se stessi rivivendo le stesse esperienze, giorno dopo giorno, in eterno.\n\nSe mai troverò un' uscita da questa follia, credo che sarà attraverso quei libri luccicanti. C' è un potere inimmaginabile in quelle pagine, ed un orrore indicibile...\n\nSembra che le anime di antiche divinità giacciano dormienti all' interno dei libri, anche se non ne so la ragione. Ma il loro potere deve essere la chiave della mia incarcerazione in questo labirinto..."
Book_Journal2 = "Diario dell' esploratore, Pagina 1\n\nMi è successo qualcosa di molto particolare. Sento il bisogno di annotarlo, nel caso in cui non dovessi tornare.\n\nL' ultima cosa che ricordo è che stavo esaminando uno strano libro nella biblioteca...e ora mi ritrovo in un mondo pazzesco pieno di mostri in agguato e trappole insidiose.\n\nSe i miei calcoli sono esatti, mi trovo in un tempio perduto in onore dell' antico dio Dagon. Pare che una potente reliquia sia custodita nelle viscere di questo mondo. Forse è la chiave per la mia fuga..."
Book_Journal3 = "Diario dell' esploratore, Pagina 3\n\nBuon Dio, no. Non sapevo cosa stessi facendo..\n\nHo trovato un' uscita dalla biblioteca ma solo ora comprendo la sua vera natura. Fuggendo, ho aperto il vaso di Pandora.\n\nLa biblioteca è una prigione interdimensionale, creata millenni fa per contenere gli Antichi. Come io sia rimasto bloccato qui rimane un mistero ma è ovvio che l'uscita non venne mai stata pensata per essere aperta.\n\nOra a causa mia orrori impensabili stanno riversandosi sulla Terra. Potranno mai essere fermati di nuovo?"
Book_Journal4 = "Diario dell' esploratore, Pagina 4\n\nForse esiste un rimedio al male che ho fortuitamente scatenato sul mondo. Nei miei documenti si parla di un \"Rituale di Costrizione\" che i mistici fecero per fermare gli Antichi l' ultima volta che hanno insidiato la Terra.\n\nIl rituale di costrizione si esegue leggendo a voce alta un' antica formula, che sigilla gli invasori in una prigionia infinita attraverso cosmi sconosciuti; e poi consegnando una persona a guardia eterna della prigione.\n\nIl rituale può essere potenziato accendendo tre candele. Queste attireranno gli obiettivi nel cuore della prigione e li indurranno al sonno.\n\nGli scritti indicano un ulteriore passo in cui l' onere del guardiano è lenito grazie ad un surrogato consacrato, ma i dettagli si son persi nel tempo."
Book_Sprint = "Scattare\n\nTieni premuto #{s:EldritchKeyboard:Run}#{l:EldritchMouse:Run}#{l:EldritchController:Run} per scattare.\n\nDurante la corsa, accovacciati (#{s:EldritchKeyboard:Crouch}#{l:EldritchMouse:Crouch}#{l:EldritchController:Crouch})per fare una scivolata."
Book_Crouch = "Accovacciarsi\n\nPremi #{s:EldritchKeyboard:Crouch}#{l:EldritchMouse:Crouch}#{l:EldritchController:Crouch} per accovacciarti.\n\nRiuscirai cosi ad entrare nei passaggi più stretti ed i tuoi passi faranno meno rumore.\n\nAccovacciati durante uno sprint (#{s:EldritchKeyboard:Run}#{l:EldritchMouse:Run}#{l:EldritchController:Run})per fare una scivolata."
Book_Jump = "Saltare\n\nPremi #{s:EldritchKeyboard:Jump}#{l:EldritchMouse:Jump}#{l:EldritchController:Jump} per saltare.\n\nTieni premuto mentre salti verso un appiglio per aggrapparti e salire."
Book_Lean = "Sporgersi\n\nPremi #{s:EldritchKeyboard:LeanLeft}#{l:EldritchMouse:LeanLeft}#{l:EldritchController:LeanLeft} per sporgerti a sinistra.\nPremi #{s:EldritchKeyboard:LeanRight}#{l:EldritchMouse:LeanRight}#{l:EldritchController:LeanRight} per sporgerti a destra.\n\nLa tua visibilità non è compromessa dallo sporgersi, quindi puoi sfruttarlo per spiare dagli angoli mentre rimani nascosto."
Book_Artifact = "Artefatti\n\nQueste manufatti alieni in pietra sono la tua risorsa principale qui.\n\nPuoi usarli per comprare beni o per attivare poteri speciali e strumenti."
Book_Hypnotize = "Ipnosi\n\nMira verso una creatura e premi #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower}per ipnotizzarla.\n\nLe creature ipnotizzate combatteranno per te.\n\nFai attenzione! Creature con una grande forza di volontà possono scrollarsi di dosso l' effetto ipnotico dopo un breve periodo.\n\nHai bisogno di \ue0f1 × #{i:PowerHypnotize:PowerCost} per usare Ipnosi."
Book_Build = "Materializzazione\n\nPremi #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} per far apparire una barriera mistica.\n\nUsa queste barriere per bloccare la strada ai nemici o raggiungere posti difficili.\n\nFai attenzione! Rischi di intrappolarti da solo usando questo potere.\n\nHai bisogno di \ue0f1 × #{i:PowerBuild:PowerCost} per usare Materializzazione."
Book_Lift = "Elevazione\n\nPremi #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} per lanciarti in alto.\n\nElevazione può essere usata anche in aria, permettendoti di raggiungere qualsiasi altezza.\n\nHai bisogno di \ue0f1 × #{i:PowerLift:PowerCost} per usare Elevazione."
Book_Knock = "Onda d' urto\n\nPremi #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} per usare Onda d' urto.\n\nColpisci una porta chiusa a chiave per aprirla o una qualsiasi superficie per fare rumore e distrarre i nemici nei paraggi.\n\nHai bisogno di \ue0f1 × #{i:PowerKnock:PowerCost} per usare Onda d' urto."
Book_Teleport = "Teletrasporto\n\nPremi #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} per lanciare un marchio.\nPremi #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} di nuovo per teletrasportarti li.\n\nTieni premuto #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} per richiamare il marchio, e rilascia per lanciarlo nuovamente.\n\nLanciare e richiamare il marchio non ha costo. Hai bisogno di \ue0f1 × #{i:PowerTeleport:PowerCost} per teletrasportarti."
Book_Cloak = "Velo\n\nPremi #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} per sparire alla vista.\n\nMentre sei nascosto, i nemici non possono vederti. L' effetto svanisce dopo un breve periodo.\n\nFai attenzione! I nemici possono comunque sentirti.\n\nHai bisogno di \ue0f1 × #{i:PowerCloak:PowerCost} per usare Velo."
Book_PowerBroke = "Costo dei poteri\n\nUsare poteri consuma i tuoi artefatti.\nAl momento non hai abbastanza artefatti per usare questo potere.\n\nEsplora il mondo per trovarli!"
#Book_Direction = "Be careful! You have entered a dangerous\nworld full of lurking monsters and\ntreacherous traps.\n\nA powerful relic is kept in the depths\nof this world. Descend through its\nstories to obtain the relic and continue\non your journey."
Book_Weapons = "Armi ed Oggetti\n\nPremi #{s:EldritchKeyboard:UseWeapon}#{l:EldritchMouse:UseWeapon}#{l:EldritchController:UseWeapon} per dare un pugno, lanciare un oggetto, o sparare un colpo.\n\nPremi #{s:EldritchKeyboard:DropWeapon}#{l:EldritchMouse:DropWeapon}#{l:EldritchController:DropWeapon} per lasciar cadere l' oggetto dalla mano.\n\nPuoi portare massimo due armi o oggetti per volta. Premi #{s:EldritchKeyboard:CycleUp}#{l:EldritchMouse:CycleUp}#{l:EldritchController:CycleUp}/#{s:EldritchKeyboard:CycleDown}#{l:EldritchMouse:CycleDown}#{l:EldritchController:CycleDown} per scorrerli."
Book_Water = "Questo libro è scritto in una lingua che non conosci.\n\nAppena sbirci gli strani glifi, questi si sollevano dalle pagine per assumere le forme arcane e spettrali dei mondi e delle creature che descrivono.\n\nLe parole ti circondano, dissolvendo la biblioteca ed offuscandoti la mente con l' irritante brusio di una lingua pre-umana.\n\nScosso, provi a chiudere il libro ma ti ritrovi trasportato nel mondo alieno descritto nelle sue pagine..."
Book_SandLocked = "Il libro è chiuso da una forza ignota.\nL' incisione sulla copertina dice:\n\nQuesto non è un posto d' onore.\nUn terribile potere è celato in questo tomo. Fu sigillato dall' Anima di Dagon e solo l' Anima di Dagon potrà riaprirlo."
Book_Sand = "Porgi l' Anima di Dagon verso il libro\nsigillato. La sfera spinge contro le tue dita, lottando per raggiungere la copertina in pelle.\n\nUn vento lontano si alza e l' Anima si infuria confinata tra le tue mani.\nAll' aumento della furia di Dagon il blocco sul libro vacilla.\n\nUn fragoroso tuono fende la stanza, il sigillo è rotto e l' Anima di Dagon si placa e torna silente.\n\nIl libro è aperto, rivelando pagine polverose coperte di oscuri glifi.\nUna paura paura indescrivibile ti riempie.\n\nIl prossimo mondo ti aspetta..."
Book_WorldUnlock = "Hai aperto il libro verso il prossimo mondo. I libri rimangono aperti anche dopo che muori e resusciti."
Book_SwampLocked = "Il libro è chiuso da una forza ignota.\nL' incisione sulla copertina dice:\n\nQuesto non è un posto d' onore.\nUn terribile potere è celato in questo tomo. Fu sigillato dall' Anima di Nyarlathotep e solo l' Anima di Nyarlathotep potrà riaprirlo"
Book_Swamp = "Porgi l' Anima di Nyarlathotep ed il\nsigillo sul libro si spezza. Una cupa paura ti invade la mente.\n\nIl prossimo mondo ti aspetta..."
Book_ExitLibrary = "Poni le anime degli Antichi davanti la porta. Ronzano e si stizziscono in attesa.\n\nLa biblioteca trema violentemente. I libri cadono dai ripiani e la porta scricchiola sotto il peso di immense forze opposte. Le voci disumane degli Antichi diventano assordanti e la porta viene spalancata.\n\nUn' orrida certezza si fa strada nella tua mente.\n\nLa via d'uscita è aperta."
Book_EndgameEnter = "Inizi a risalire dalle profondità della biblioteca, ma il terrore celato nel tuo cuore è ora cristallino.\n\nSe tu hai usato gli Antichi per fuggire dalla biblioteca, loro hanno usato te per liberarsi dalla prigionia.\n\nA causa tua orrori inimmaginabili si stanno propagando sulla Terra. Potranno mai essere fermati di nuovo?"
Book_BadEnd = "Leggi a voce alta le antiche parole del rituale di costrizione.\n\nGli Antichi rimasti ancora all' interno della biblioteca sono intrappolati e non rappresentano più una minaccia per la Terra. Eppure, molti di loro sono fuggiti e si scatenano oltre le mura della biblioteca..\n\nAvendo fatto quanto fosse in tuo potere procedi con il passo finale del rituale: rassegnarti a rimanere per sempre nella biblioteca come suo guardiano.\n\n\n\n Fine\n\n\n\nGenerazioni giocate: #{i:HUD:GenerationsCounter}"
Book_GoodEnd = "Leggi a voce alta le antiche parole del rituale di costrizione.\n\nAttratti dalle candele accese, gli Antichi si placano e, diventati inermi, scivolano intorpiditi nel cuore della biblioteca.\n\nUna volta rinchiusi nuovamente nella loro prigione, procedi con il passo finale del rituale: rassegnarti a rimanere per sempre nella biblioteca come suo guardiano.\n\n\n\n Fine\n\n\n\nGenerazioni giocate: #{i:HUD:GenerationsCounter}"
Book_TrueEnd = "Leggi a voce alta le antiche parole del rituale di costrizione.\n\nAttratti dalle candele accese, gli Antichi si placano e, diventati inerm, scivolano intorpiditi nel cuore della biblioteca.\n\nUna volta rinchiusi nuovamente nella loro prigione, procedi con il passo finale del rituale: porre in tua vece un simbolo sacro a guardia degli Antichi.\n\nSei finalmente libero dalla biblioteca. Gli Antichi dormono per sempre...\n\n\n\n Fine\n\n\n\nGenerazioni giocate: #{i:HUD:GenerationsCounter}"
Book_WaterSoul = "Afferri la strana sfera blu. Ronza in risposta al tuo tocco e vibra come se cercasse di liberarsi.\n\nNon appena stringi le dita vieni colto da un' improvvisa ed inaspettata intuizione: l' Anima dell' antico dio Dagon si sta risvegliando all' interno della sfera.\n\nUna visione si fa largo nella tua mente come ricordi a lungo sopiti di terrore e distruzione selvaggia seguiti da un rituale furtivo e l' incertezza.\n\nLa visione svanisce, lasciando spazio ad un senso di vuoto. L' anima di Dagon si agita nel silenzio.\n\nOra puoi aprire il prossimo libro nella blioteca."
Book_SandSoul = "Prendi la strana sfera rossa. Ronza e\nfreme mentre Nyarlathotep si sveglia.\nUn' ondata di terrore ti agita.\n\nOra puoi aprire il prossimo libro nella\nblioteca."
Book_SwampSoul = "Raccogli la strana sfera verde.\nTremola mentre Cthulhu si risveglia.\nVacilli di fronte alla scoperta.\n\nCon tutte e tre anime in tuo possesso,\npuoi ora aprire la porta della\nbiblioteca."
Book_HardSoul = "Benvenuto in Nuova Partita+!\n\nL' Anima appena ottenuta ha attivato\nuna modalità più ardua di Elritch.\n\nL' effetto svanirà in caso di morte."
Book_Soul = "Anime\n\nL' anima è l' essenza dormiente di\nun Antico intrappolata in forma terrena.\nSi trovano nelle viscere di ogni mondo.\n\nVengono usate per aprire i libri nella\nbiblioteca.\n\nAssolutamente nulla di mal\npuò succedere portando lo spirito\ndi un Antico sulla Terra..."
Book_Death = "Morte\n\nQuando la tua salute si esaurisce, muori.\n\nDopo la morte, tornerai nella biblioteca.\n\nIl tuo patrimonio andrà perso ma gli\nartefatti negli scrigni saranno salvati\ne tutti i libri aperti resteranno tali.\n\nPuoi iniziare una nuova vita\nin qualsiasi momento selezionando\nResuscita dal menu di pausa."
Book_Chest = "Scrigni\n\nPuoi riporre gli artefatti negli scrigni\nper tenerli al sicuro. Successivamente\npotrai prelevare i tuoi artefatti da\nun qualsiasi altro scrigno.\n\nQuando muori, il tuo patrimonio\nva perso, ma gli artefatti negli\nscrigni saranno salvati."
Book_Shop = "Acquisti\n\nOgni negozio ha un assortimento vario\ndi oggetti utili da acquistare.\n\nSe non puoi permetterti la spesa, puoi\nprovare a rubare l' oggetto; ma renderai\nil negoziante ostile."
Book_Gear = "Equipaggiamento\n\nPuoi indossare oggetti per migliorare\nle tue abilità o sloccarne di nuove.\n\nVi sono tre tipi di equipaggiamento:\nStivali, Kit, e Gadget.\n\nPuoi portare con te un solo oggetto\nper ogni tipo."
Book_Lore1 = "Storia della Biblioteca, Vol. 1 di 4\n\nLe leggende narrano di un catastrofico evento in cui, migliaia di anni fa la Terra subì l' ira degli Antichi.\nI superstiti scoprirono un antico rito che usarono per sigillare le orrende creature in una prigione labirintica.\nLa vita sulla Terra fiorì nuovamente e i reduci fondarono un ordine di custodi a tutela del rituale costrittivo."
Book_Lore2 = "Storia della Biblioteca, Vol. 2 di 4\n\nMillenni passarono e gli Antichi dormivano quieti nella loro prigione.\nNel tardo XIX secolo, degli archeologi in Arabia si imbatterono nel sito in cui era stato compiuto il rituale. Il tumulto vibrò attraverso il tessuto del cosmo e svegliò gli antichi esseri.\nOrrori dimenticati si riversarono e la Terra fu nuovamente in pericolo."
Book_Lore3 = "Storia della Biblioteca, Vol. 3 di 4\n\nAll' alba del XX secolo, quando gli Antichi minacciarono la Terra una seconda volta, i custodi si riunirono nel New England per compiere di nuovo il rituale costrittivo.\nUna piccola biblioteca fu scelta per ospitare il rito e uno tra loro --il Bibliotecario-- venne incaricato di rimanere nella prigione e tutelarla da ulteriori disturbi."
Book_Lore4 = "Storia della Biblioteca, Vol. 4 di 4\n\nNella piccola biblioteca in New England i custodi compirono l' arcano rituale costrittivo per incarcerare gli Antichi.\nIl Bibliotecario, un eccentrico custode scelto per proteggere il luogo venne imprigionato con gli esseri. I custodi ignoravano però che una parola mal pronunciata durante il rituale distrusse la mente e i ricordi del Bibliotecario..."
Book_Column = "Il piedistallo ha una leggera incavatura con uno strano motivo.Probabilmente un oggetto sferico potrebbe esserci poggiato sopra."
Book_Loot = "Saccheggiare\n\nFruga i corpi per munizioni, artefatti o altri oggetti.\n\nUna volta saccheggiato, il nemico può ricomparire nel livello."
Book_Sandals = "Sandali\n\nUn umile paio di sandali polverosi.\nA quanto pare non ti conferiscono alcuna abilità."
Book_ConsecrationKit = "Kit di Consacrazione\n\nUna piccola scatola in legno contenente vari utensili per benedire o consacrare una persona o un oggetto."
Book_HolySymbol = "Simbolo Sacro\n\nUna tavoletta in pietra con un simbolo religioso. Non ne è chiara l' utilità."
Book_JumpBoots = "Stivali da salto\n\nUn paio di stivali rozzi con delle molle incastrate nelle suole.\n\nIndossandoli puoi saltare più in alto del normale."
Book_SpeedBoots = "Stivali da corsa\n\nUn paio di vistosi stivali decorati con delle piume.\n\nIndossandoli puoi correre più veloce del normale."
Book_QuietBoots = "Stivali furtivi\n\nUn paio di vecchi stivali con le suole imbottite.\n\nIndossandoli i tuoi passi non faranno rumore."
Book_LocksmithKit = "Kit da fabbro\n\nUna pesante sacca di tela con diversi grimaldelli ed altri utensili.\n\nPermette di forzare le porte bloccate senza bisogno di una chiave.\nLe porte forzate sembreranno chiuse agli occhi degli altri.\n\nPermette anche di chiudere a chiave le porte. Hai bisogno di \ue0f1 × #{i:LocksmithKit:LockPriceTag} per chiudere a chiave una porta."
Book_MedicalKit = "Kit medico\n\nContenitore in plastica rigida con le più disparate forniture mediche.\n\nAverlo a portata di mano ti permette di scampare alla morte.\nHai bisogno di \ue0f1 × #{i:MedicalKit:RevivePriceTag} per tornare in vita, ma può essere usato un numero illimitato di volte.\n\nUsando questo kit rigeneri 3 punti ferita."
Book_TinningKit = "Cestino da pranzo\n\nUna vecchia scatola di metallo per la conservazione del cibo.\n\nPermette di nutrirsi con i resti dei nemici non umani e rigenerare parte della tua salute.\n\nHai bisogno di \ue0f1 × #{i:TinningKit:TinPriceTag} per mangiare una creatura."
Book_Compass = "Bussola\n\nUna semplice bussola magnetica.\n\nMostra i luoghi di interesse sulla minimappa. Punta inoltre verso l' uscita del livello corrente."
Book_Amulet = "Amuleto della distruzione\n\nUna piccola pietra con il simbolo di una stella rossa.\n\nQuesto amuleto rende i tuoi attacchi più potenti ed i proiettili distruttivi verso l' ambiente."
Book_Charm = "Portafortuna\n\nUna piccola pietra con il simbolo di un quadrifoglio.\n\nIl suo influsso positivo aumenta il numero di oggetti trovati sul corpo dei nemici."
Book_Talisman = "Talismano del prestigiatore\n\nUna piccola pietra con il simbolo di un vortice blu.\n\nQuesto talismano riduce il numero di artefatti richiesti per attivare un potere speciale."
FishmanShopkeeperTalk = "L' uomo pesce ti sorride amichevolmente.\n\n\"Benvenuto straniero! Compra\nqualcosa, glup glup! Ho cosi tanta\nbella roba nel mio negozio.\""
LizardmanShopkeeperTalk = "L' uomo lucertola ti saluta con indifferenza.\n\n\"Sono tutti benvenuti qui, ssstraniero. Non\ntroverai prezzi migliori per\nmerce cosssi pregiata.\""
SquidmanShopkeeperTalk = "La creatura stellare ti guarda sospettosa.\n\n\"Compri qualcosa o no?\""
CouldNotConnect = "Impossibile connettersi al server."
CouldNotReceive = "Impossibile ricevere dati dal server."
ShouldUpdate = "Aggiornamento disponibile.\nVuoi applicarlo ora?"
UpToDate = "Il gioco è aggiornato."
Connecting = "Connessione al server..."
CouldNotRunContentSyncer = "Impossibile eseguire ContentSyncer."
CurrentLanguage = "Lingua: #{l:Language}"
Language = "Lingua"
Display = "Schermo"
Audio = "Audio"
ControllerSpeed = "Sensibilità stick:"
Level_MoM-Start = "Montagne"
Level_MoM-1 = "Montagne-1"
Level_MoM-2 = "Montagne-2"
Level_MoM-3 = "Montagne-3"
Level_MoM-4 = "Montagne-4"
Level_MoM-5 = "Montagne-5"
Level_MoM-6 = "Montagne-6"
Level_MoM-7 = "Montagne-7"
Level_MoM-8 = "Montagne-8"
Level_MoM-9 = "Montagne-9"
Level_MoM-Boss = "Montagne-10"
Rest = "Riposa"
StokeCampfire = "Ravviva (\ue0f1 × #{i:CampingKit:StokePriceTag})"
Campfire = "Falò"
CampfireStoked = "Falò (ardente)"
CampingKit = "Kit da campeggio"
CampingKitDesc = "Permette di ravvivare il fuoco e rigenerare più salute."
Soapstone = "Pietra Ollare"
Hatchet = "Accetta"
HatchetDesc = "Arma pesante utile per abbattere le porte."
Pickaxe = "Piccone"
PickaxeDesc = "Arnese scadente usato per spaccare rocce e ghiaccio. Si rompe dopo qualche uso."
Ropegun = "Rampino"
RopegunDesc = "Spara un arpione per arrampicarti su qualsiasi superficie solida."
ClimbingBoots = "Stivali da arrampicata"
ClimbingBootsDesc = "Questi stivali ti salvano dalle cadute e non attivano le trappole di ghiaccio."
PowerSummon = "Evocazione"
StatueSummon = "Statua Gelatinosa"
PowerFlare = "Bagliore"
StatueFlare = "Statua Abbagliante"
PlaneKeys = "Chiavi dell' Aereo"
Book_MoM = "...Era già qui questo libro?\n\nLe pagine del libro sventolano all' impazzata mentre un vento gelido ti avvolge.\n\nLe montagne della follia ti aspettano..."
Book_PlaneNoKeys = "Mancano le chiavi dell' aereo. Non puoi decollare senza."
Book_PlaneWithKeys = "Il motore dell' aereo tossisce non appena giri la chiave.\n\nCerchi di non scervellarti troppo sull' impossibilità delle cose a cui hai assistito. Mentre l' aereo decolla, ti volti verso quelle strane montagne con i loro sinistri monoliti rettangolari ed un brivido ti attraversa il corpo.\n\nSei riuscito a metterti in salvo, ma cosa ne è stato della tua sanità mentale?"
Book_CampingKit = "Kit da campeggio\n\nUn sacco di tela resistente contenente attrezzatura da campeggio.\n\nPermette di ravvivare i falò. Riposare vicino ad un falò ardente fornisce salute aggiuntiva.\n\nHai bisogno di \ue0f1 × #{i:CampingKit:StokePriceTag} per ravvivare un falò."
Book_ClimbingBoots = "Stivali da arrampicata\n\nUn elegante paio di stivali con suole chiodate.\n\nIndossandoli sei protetto verso i danni da caduta e camminare sotto i ghiaccioli non ne provocherà il crollo."
Book_Soapstone = "Pietra ollare\n\nUn pezzo di pietra verdastra, a forma di stella. Non ha alcun effetto."
Book_Summon = "Evocazione\n\nPremi #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} per evocare uno shoggoth inarrestabile.\n\nLo shoggoth attaccherà chiunque veda, perfino te!\n\nHai bisogno di \ue0f1 × #{i:PowerSummon:PowerCost} per usare Evocazione."
Book_Flare = "Bagliore\n\nPremi #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} per lanciare una fiamma mistica.\n\nIl bagliore illuminerà la via per un po' distraendo i nemici.\n\nHai bisogno di \ue0f1 × #{i:PowerFlare:PowerCost} per usare Bagliore."
ShoggothShopkeeperTalk = "Lo shoggoth borbotta confusamente verso di te."
SquidmanFriendlyShopkeeperTalk = "La creatura stellare ti accoglie cordialmente\n\n\"Benvenuto, amico! Perchè non compri qualcosa nel mio umile negozio?\""
Airplane = "Aeroplano"
RIPDmgIcicles = "sono stato pugnalato da un ghiacciolo pericolante"
RIPDmgElderThingMelee = "sono stato sconfitto da un Antico"
RIPDmgElderThingRanged = "sono stato ucciso da un Antico"
RIPDmgMigo = "sono stato sconfitto da un Mi-go"
RIPDmgMigoExplode = "sono stato avvelenato dai resti di un Mi-go"
RIPDmgYCultistMelee = "sono stato sconfitto da un cultista di Yog-Sothoth"
RIPDmgYCultistRanged = "sono stato ucciso da un cultista di Yog-Sothoth"
RIPLvlMoM = "nelle montagne della follia"