[Danish]
True = "Til"
False = "Fra"
OK = "Okay"
Yes = "Ja"
No = "Nej"
Play = "Spil"
Options = "Indstillinger"
Quit = "Afslut"
PressStart = "Tryk Enter"
ConfirmQuit = "Afslut?"
ConfirmSaveAndQuit = "Gem og Afslut?"
Version = "Build #{s:ContentSyncer:Version}"
BindControls = "Indstil Styring"
Controls = "Styring"
MouseSpeed = "Musens Hastighed:"
InvertY = "Omvendt Y-akse:     #{b:InvertY}"
Resolution = "Opløsning:   #{i:DisplayWidth} × #{i:DisplayHeight}"
SetRes = "Opløsning"
Fullscreen = "Fuld skærm"
Brightness = "Lysstyrke"
FOV = "Synsfelt:"
Volume = "Volumen:"
MusicVolume = "Musik Volumen:"
Back = "Tilbage"
BindForward = "Gå fremad:"
BindBack = "Gå tilbage:"
BindLeft = "Gå til venstre:"
BindRight = "Gå til højre:"
BindJump = "Spring:"
BindFrob = "Anvend:"
BindLeanLeft = "Læn til venstre:"
BindLeanRight = "Læn til højre:"
BindRun = "Løb:"
BindCrouch = "Dukke sig:"
BindUseWeapon = "Affyr våben:"
BindUsePower = "Brug Evne:"
BindDropWeapon = "Smid våben:"
BindCycleUp = "Forrige våben:"
BindCycleDown = "Næste våben:"
BindDialog = "Tryk på den tast der skal anvendes\nTryk Esc for at afbryde.\nTryk Backspace for at slette."
Paused = "Pause"
Resume = "Fortsæt"
ReturnToHub = "Tilbage til bibliotek"
Resurrect = "Genopliv"
SaveAndQuit = "Gem og Afslut"
Death = "Du døde..."
ConfirmResurrect = "Genopstå? (Din nuværende placering\ngemmes ikke.)"
Souls = "Sjæle"
Gear = "Udstyr"
PowerHypnotize = "Hypnotiser"
PowerBuild = "Materialiser"
PowerLift = "Løft"
PowerKnock = "Åbne"
PowerTeleport = "Teleporter"
PowerCloak = "Skjul"
BankPlayer = "Spiller"
BankBank = "Bank"
Price = "Pris:"
Buy = "Køb"
Steal = "Stjæl"
Cancel = "Afbryd"
Dying = "Du er døende..."
Revive = "Genopliv"
FrobHold = "Hold #{s:EldritchKeyboard:Frob}#{l:EldritchMouse:Frob}#{l:EldritchController:Frob} #{c:HUD:HoldVerb}"
RIPFormat = "|RIP| Jeg %s i %s."
RIPURL = "http://www.eldritchgame.com"
RIPHashtags = "eldritch"
RIPTwitter = "https://twitter.com/intent/tweet?text=%s&hashtags=%s&url=%s"
RIPDmgUnknown = "døde"
RIPDmgResurrect = "opgav"
RIPDmgPlayer = "begik en kæmpe fejltagelse"
RIPDmgSpikes = "snublede på noget spidst"
RIPDmgBarnacle = "blev uvenner med en kæmpe-rur"
RIPDmgFishmanMelee = "blev spist af en fiskemand"
RIPDmgFishmanRanged = "blev skudt af en fiskemand"
RIPDmgDCultistMelee = "fik tæv af en drivvåd kultist"
RIPDmgDCultistRanged = "blev skudt af en drivvåd kultist"
RIPDmgNCultistMelee = "fik tæv af en kultist"
RIPDmgNCultistRanged = "blev skudt af en kultist"
RIPDmgRCultistMelee = "fik tæv af en slimet kultist"
RIPDmgRCultistRanged = "blev skudt af en slimet kultust"
RIPDmgLizardmanMelee = "fik tæv af en øglemand"
RIPDmgLizardmanRanged = "blev skudt af en øglemand"
RIPDmgEye = "blev skudt af et flyvende øje"
RIPDmgShoggoth = "blev mast af en ustoppelig shoggoth"
RIPDmgLizardWatson = "vendte ryggen til en skummel statue"
RIPDmgMummy = "blev spist af en ligæder-mumie"
RIPDmgSquidmanMelee = "fik tæv af stjerneyngel"
RIPDmgSquidmanRanged = "blev skudt af stjerneyngel"
RIPDmgPolyp = "blev skudt af en flyvende polyp"
RIPDmgBugMelee = "blev bidt af et insekt"
RIPDmgBugRanged = "blev skudt af et insekt"
RIPDmgFoodPoisoning = "døde af madforgiftning"
RIPDmgShopkeeper = "undervurderede en købmand"
RIPDmgTrapBolt = "snublede over en snor"
RIPLvlUnknown = "et ensomt sted"
RIPLvlLibrary = "et mystisk bibliotek"
RIPLvlEndgame = "et usandsynligt enormt bibliotek"
RIPLvlWater = "en mørk Dagonsk ruin."
RIPLvlSand = "et støvet tempel til Nyarlathotep"
RIPLvlSwamp = "R'lyeh, den sunkne by"
RIPLvlSubspace = "et mærkeligt, mørkt sted"
JumpBoots = "Springstøvler"
JumpBootsDesc = "Med disse støvler kan du springe\nhøjere."
SpeedBoots = "Løbestøvler"
SpeedBootsDesc = "Med disse støvler kan du\nløbe hurtigere."
QuietBoots = "Snigestøvler"
QuietBootsDesc = "Disse støvler gør dine\nfodtrin lydsvage."
LocksmithKit = "Låsesmedeværktøj"
LocksmithKitDesc = "Lader dig åbne låste døre\nog sætte låse på døre\nfor en lav pris."
MedicalKit = "Førstehjælpskasse"
MedicalKitDesc = "Lader dig genoplive dig selv\nnår du dør,\nfor en pris."
TinningKit = "Konserveringssæt"
TinningKitDesc = "Tillader dig at spise lig\naf bestemte monstre, for\nen pris."
Bottle = "Flaske"
BottleDesc = "Kast den for at lave\nstøj eller skade fjender."
Revolver = "Revolver"
RevolverDesc = "Pålideligt skydevåben.\nForbruger ammunition.\nPrisen inkluderer 3 skud."
Snaregun = "Snubletrådskanon"
SnaregunDesc = "Affyrer en snubletråd, der\nsætter sig fast på enhver\noverflade. 3 skud inkluderet."
Compass = "Kompas"
CompassDesc = "Viser vej til udgangen."
Charm = "Amulet"
CharmDesc = "Med denne på, vil du\nfinde mere gods på\nfjendernes lig."
Amulet = "Ødelæggelses Amulet"
AmuletDesc = "Forøger skaden fra dine\nskydevåben og får dine\nskud til at ødelægge terræn."
Talisman = "Åndemaners Talisman"
TalismanDesc = "Mindsker artefakt prisen\nfor benyttelse af særlige\nevner."
Key = "Nøgle"
KeyDesc = "Låser en dør op.\nKan kun bruges en gang."
Dagger = "Dagger"
DaggerDesc = "En tvebladet kampkniv.\nLængere rækkevidde og mere\ndødbringende end næver."
Dynamite = "Dynamit"
DynamiteDesc = "Et bundt nitroglycerin\n-gennemblødte pinde.\nEksplosive, højst ustabile!"
MeatDesc = "Genopretter i nogen grad\ndit helbred."
Corpse = "Lig"
Shopkeeper = "Handlende"
WaterSoul = "Dagons Sjæl"
SandSoul = "Nyarlathoteps Sjæl"
SwampSoul = "Cthulhus Sjæl"
HardSoul = "Bibliotekarens Sjæl"
Rock = "Klippe"
Chest = "Bankkiste"
ExitDoor = "Udgang"
ExitDoorUp = "Indgang"
Book = "Bog"
WorldBook = "Mærkelig Bog"
SubspaceBook = "Støvet Bog"
Door = "Dør"
LockedDoor = "Låst Dør"
GateDoor = "Låst Jerndør"
UnlockedGateDoor = "Jerndør"
Mirror = "Spejl"
DeskLamp = "Bordlampe"
Toilet = "Toilet"
Sink = "Håndvask"
Artifact = "Artefakt"
Artifact5 = "Bunke af artefakter"
StatueHypnotize = "Hypnotisk Statue"
StatueCloak = "Ligsvøbt Statue"
StatueBuild = "Solid Statue"
StatueLift = "Fjedrende Statue"
StatueKnock = "Resonant Statue"
StatueTeleport = "Ustabil Statue"
Meat = "Bagt Kød"
BadMeat = "Råddent Kød"
Fountain = "Fontæne"
Pedestal = "Piedestal"
Plant = "Frugt"
PlantToxic = "Giftig Frugt"
HolySymbol = "Helligt Symbol"
ConsecrationKit = "Indvielses Sæt"
Sandals = "Sandaler"
Candle = "Lys"
RitualBook = "Bindingsritual"
FullGame = "Hele Spillet"
PickUp = "Saml Op"
Examine = "Undersøg"
Loot = "Gennemsøg"
Read = "Læs"
Eat = "Spis"
EatUnsure = "...Spis?"
EatCorpse = "Spis"
LockDoor = "Lås"
Go = "Gå"
Return = "Vend Tilbage"
Pray = "Bed"
Open = "Åbn"
Close = "Luk"
Quaff = "Drik"
Disarm = "Afvæbn"
Light = "Tænd"
Switch = "Tænd"
Flush = "Skyl"
Use = "Brug"
Talk = "Tal"
World = "Verden"
Level_Library = "Biblioteket"
Level_Water-1 = "Dagon-1"
Level_Water-2 = "Dagon-2"
Level_Water-3 = "Dagon-3"
Level_Sand-1 = "Nyarlathotep-1"
Level_Sand-2 = "Nyarlathotep-2"
Level_Sand-3 = "Nyarlathotep-3"
Level_Swamp-1 = "R'lyeh-1"
Level_Swamp-2 = "R'lyeh-2"
Level_Swamp-3 = "R'lyeh-3"
Level_Endgame-1 = "Bibliotek-1"
Level_Endgame-2 = "Bibliotek-2"
Level_Endgame-3 = "Bibliotek-3"
Level_Subspace = "?????????"
Credits = "Credits"
Book_Controls = "Styring. Hvis den nuværende styring ikke er behagelig, kan du ændre den i menuen Indstillinger."
Book_Keys = "Nøgler. Nøgler bruges til at låse døre op. Hver nøgle kan kun bruges en gang."
Book_Statue = "Statuer. Disse enorme stenfigurer afbilder en slags uhyrligt væsen, der aldrig er set på Jorden. At bede ved statuerne giver dig særlige evner fra de urgamle guder."
Book_Food = "Mad. Ved at spise mad kan du genvinde dit helbred. Men pas på! Hvis du spiser fordærvet eller giftig mad, kan det skade dig."
Book_Fountain = "Fontæner. At drikke fra en fontæne vil give dig noget helbred tilbage og udvide dit maksimale helbred. Fontæner udtørrer efter at være blevet brugt én gang."
Book_Ledger = "Elder Ridge Bibliotek\nLåneseddel\n\nVarenummer |   Låner Navn  |   Dato\n---------------------------------------\n  9713   | J. K. Pippen      | 10/12/26\n  5576   | Kim Putnam        | 10/15/26\n  4185   | Ken Thudson, Esq. | 12/ 3/26\n  6287   | Kynan Wales       |  1/29/27\n  0451   | F. B. Gaynor      |  2/ 4/27\n  2934   | Stuart Jameson    |  2/15/27\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /"
Book_Journal = "Ekspeditionsdagbog, Side 2.\n\nDette bibliotek lader til at forsætte i det uendelige. Jeg er ikke længere sikker på, at der findes en vej ud. Det føles som om jeg gennemlever de samme oplevelser dag efter dag, uophørligt.\n\nHvis jeg skal finde en udvej fra dette vanvid, tror jeg det bliver gennem disse obskønt glødende bøger. Der er ufattelig magt gemt i de sider, og unævnelig gru...\n\nDet lader til at ånderne af ældgamle guddomme dvæler i bøgerne, selv om jeg ikke kender grunden til dette. Men deres samlede magt må være nøglen til min indespærring i denne labyrint..."
Book_Journal2 = "Ekspeditionsdagbog, Side 1.\n\nNoget ret ejendommeligt er overgået mig. Jeg føler behovet for at nedfatte dette, i tilfælde af at jeg ikke skulle vende tilbage.\n\nDet sidste jeg husker er at jeg var ved at undersøge den mærkværdige bog i biblioteket... Og nu befinder jeg mig i en farlig verden fuld af lurende monstre og forræderiske fælder.\n\nHvis mine undersøgelser er retvisende, er jeg i et ukendt tempel for den ældgamle gud Dagon. Et magtfuld relikvie siges at befinde sig i denne verdens dybder. Måske rummer det nøglen til min udfrielse..."
Book_Journal3 = "Ekspeditionsdagbog, Side 3.\n\nMin Gud, nej. Jeg vidste ikke hvad jeg foretog mig.\n\nJeg har fundet en vej ud af biblioteket, men først nu forstår jeg dets sande væsen. Ved at flygte har jeg åbnet Pandoras Æske.\n\nBiblioteket er et interdimensionelt fængsel, skabt for tusindevis af år siden for at spærre de Ældre Guder inde. Hvordan jeg blev fanget der, forbliver et mysterie for mig, men det står klart at udgangen aldrig burde være åbnet.\n\nUtænkelige rædsler strømmer nu ud over Jorden på grund af mine handlinger. Kan de nogensinde indfanges igen?"
Book_Journal4 = "Ekspeditionsdagbog, Side 4.\n\nJeg har måske fundet et modtræk mod den ondskab som jeg uforvarende udløste over jorden. Igennem mine studier har jeg fået kendskab til et Bindingsritual, som mystikere udførte sidste gang de Ældre Guder truede Jorden.\n\nBindingsritualet udføres ved at man læser de ældgamle ord højt, hvilket forsegler fjenderne i et uendeligt fængsel der omfatter ukendte dimensioner, og så overgiver en person til at tjene som fængslets evige vogter.\n\nRitualet kan forstærkes ved at tænde tre lys. Lysene vil drage målene til fængslets hjerte og lulle dem i søvn.\n\nÆldgamle tekster taler om et videre skridt i hvilket fangevogterens pligter ophæves ved brug af et indviet surrogat, men detaljerne i dette er tabte for vor tid."
Book_Sprint = "Løb\n\nTryk og hold #{s:EldritchKeyboard:Run}#{l:EldritchMouse:Run}#{l:EldritchController:Run} nede for at løbe.\n\nMens du løber, så duk dig (#{s:EldritchKeyboard:Crouch}#{l:EldritchMouse:Crouch}#{l:EldritchController:Crouch}) for at udføre en lav, glidende bevægelse."
Book_Crouch = "At dukke sig\n\nTryk #{s:EldritchKeyboard:Crouch}#{l:EldritchMouse:Crouch}#{l:EldritchController:Crouch} for at dukke dig.\n\nNår du dukker dig, kan du komme ind i snævre passager, og dine fodtrin vil være mindre støjende.\n\nDuk dig mens du løber (#{s:EldritchKeyboard:Run}#{l:EldritchMouse:Run}#{l:EldritchController:Run})for at udføre en lav, glidende bevægelse."
Book_Jump = "At springe\n\nTryk #{s:EldritchKeyboard:Jump}#{l:EldritchMouse:Jump}#{l:EldritchController:Jump} for at springe.\n\nTryk og hold nede mens du springer mod en kant for at gribe fat og hive dig selv op på den."
Book_Lean = "At læne sig\n\nTryk #{s:EldritchKeyboard:LeanLeft}#{l:EldritchMouse:LeanLeft}#{l:EldritchController:LeanLeft} for at læne dig til venstre.\nTryk #{s:EldritchKeyboard:LeanRight}#{l:EldritchMouse:LeanRight}#{l:EldritchController:LeanRight} for at læne dig til højre.\n\nDin synlighed for fjender påvirkes ikke af at du læner dig, så du kan bruge det til sikkert at kigge omkring hjørner, mens du holder dig skjult."
Book_Artifact = "Artefakter\n\nDisse udenjordiske stenarbejder er din hovedresource i denne verden.\n\nDu kan købe ting med dem eller bruge dem til at aktivere bestemte evner og værktøjer."
Book_Hypnotize = "Hypnotisering\n\nSigt på et væsen og tryk #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} for at hypnotisere det.\n\nHypnotiserede væsner kæmper for dig.\n\nPas på! Viljestærke væsner kan ryste den hypnotiske effekt af sig efter kort tid.\n\nDet koster \ue0f1 × #{i:PowerHypnotize:PowerCost} at bruge Hypnotisering."
Book_Build = "Materialisering\n\nTryk #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} for at fremtrylle en mystisk barriere.\n\nBrug disse barrierer til at afskære fjender eller få adgang til svært tilgængelige steder.\n\nVær varsom! Det er muligt at spærre dig selv inde når du bruger denne evne.\n\nDet koster \ue0f1 × #{i:PowerBuild:PowerCost} at bruge Materialisering."
Book_Lift = "Løft\n\nTryk #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} for at løfte dig selv op.\n\nLøft kan bruges, selv når du allerede er i luften, så du kan nå enhver højde.\n\nDet koster \ue0f1 × #{i:PowerLift:PowerCost} at bruge Løft."
Book_Knock = "Åbn\n\nTryk #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} for at kaste Åbn.\n\nSigt på en låst dør for at låse den op, eller sigt på enhver anden overflade for at skabe støj, der distraherer patruljerende fjender.\n\nDet koster \ue0f1 × #{i:PowerKnock:PowerCost} at kaste Åbn."
Book_Teleport = "Teleporter\n\nTryk #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} en gang for at opsætte et blus.\nTryk #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} igen for at teleportere dig hen til det.\n\nTryk og hold #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} nede for at indhente blusset, og giv så slip for at kaste det igen.\n\nAt kaste og indhente blusset er gratis. Det koster \ue0f1 × #{i:PowerTeleport:PowerCost} at teleportere."
Book_Cloak = "Sløring\n\nTryk #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} for at sløre dig selv.\n\nMens du er sløret, kan fjender ikke se dig. Effekten ophører efter kort tid.\n\nPas på! Fjender kan stadig høre dig, mens du er sløret. Det koster \ue0f1 × #{i:PowerCloak:PowerCost} at bruge sløring."
Book_PowerBroke = "Omkostninger\n\nDet koster artefakter at bruge særlige evner. Du har ikke nok artefakter tilbage til at bruge denne evne lige nu. Udforsk verden for at finde artefakter!"
Book_Weapons = "Våben og Genstande\n\nTryk #{s:EldritchKeyboard:UseWeapon}#{l:EldritchMouse:UseWeapon}#{l:EldritchController:UseWeapon} for at slå med en knytnæve, kaster et projektil eller affyre et våben.\n\nTryk #{s:EldritchKeyboard:DropWeapon}#{l:EldritchMouse:DropWeapon}#{l:EldritchController:DropWeapon} for at smide genstanden i din højre hånd.\n\nDu kan bære to våben eller genstande på en gang.\nTrykl #{s:EldritchKeyboard:CycleUp}#{l:EldritchMouse:CycleUp}#{l:EldritchController:CycleUp}/#{s:EldritchKeyboard:CycleDown}#{l:EldritchMouse:CycleDown}#{l:EldritchController:CycleDown} for at skifte mellem dem."
Book_Water = "Denne bog er skrevet på et sprog, du ikke genkender.\n\nMens du betragter de mærkelige tegn, lader de til at løfte sig fra siderne og antage de bizarre og ujordiske former af de verdner og væsner, de beskriver.\n\nOrdene omringer dig, bortvisker biblioteket og fylder dit sind med den ubærlige summen af et førmenneskeligt sprog.\n\nRystet forsøger du at lukke bogen, men opdager at du er blevet transporteret til den fremmede verden, som siderne beskriver."
Book_SandLocked = "Denne bog er bundet af en usynlig kraft. En inskription på omslaget lyder:\n\nDette sted er ikke et ærefuldt sted.En frygteligt magt befinder sig i dette bind. Det er forseglet med Dagons Sjæl, og kun med Dagons Sjæl kan det åbnes."
Book_Sand = "Du løfter Dagons Sjæl foran den forseglede bog. Kuglen trykker mod dine fingre, mærkbært kæmpende for at nå den læderindbundne overflade. En fjern vind  begynder at hyle mens den indfangne sjæl raser mellem dine hænder. I takt med at Dagons vrede stiger, svækkes kraften der omgiver bogen. Et øredøvende brag splitter rummet da seglet brydes, og Dagons Sjæl bliver stille og ubevægelig igen. Bogen åbner sig og afslører støvede sider dækkede af besynderlige tegn. Du fyldes af en navnløs gru. Den næste verden venter..."
Book_WorldUnlock = "Du har åbnet bogen til den næste verden. Bøger vil forblive åbne, selv efter du dør og genoplives."
Book_SwampLocked = "Denne bog er bundet af en usynlig kraft.En inskription på omslaget lyder:\n\nDette sted er ikke et ærefuldt sted. En frygteligt magt befinder sig i dette bind. Det er forseglet med Nyarlathoteps Sjæl, og kun med Nyarlathoteps Sjæl kan det åbnes."
Book_Swamp = "Du holder Nyarlathoteps Sjæl frem og bogens segl brydes. En dyb frygt bliver hængende i dit sind. Den næste verden venter..."
Book_ExitLibrary = "Du placerer de Gamle Guders sjæle foran døren. De summer og ændrer farve af forvetning. Biblioteket ryster voldsomt. Bøger vælter ned fra reolerne, og døren knager under vægten af kolossale modsatrettede kræfter. De Gamle Guders ujordiske stemmer vokser sig øredøvende og døren tvinges omsider op. En kvalmefremkaldende indsigt begynder at tage form i dit sind. Vejen ud er åben."
Book_EndgameEnter = "Du begynder at stige ud af bibliotekets dybder, men den amorfe rædsel i dit hjerte har krystalliseret sig. Som du har anvendt de Gamle Guder til at slippe ud af biblioteket, således har de anvendt dig til at befri sig fra indespærringen. Utænkelige rædsler strømmer nu ud over Jorden på grund af dine handlinger. Kan de nogensinde indfanges igen?"
Book_BadEnd = "Du læser bindingsritualets ældgamle ord højt. De Gamle Guder, der stadig forbliver indenfor bibliotekets rammer, er fangede og udgør ikke længere nogen trussel mod Jorden. Men mange flere af dem var allerede undsluppet, og de hærger stadig udenfor bibliotekets mure. Du har gjort hvad du kunne, og færdiggør nu ritualet ved at udføre det sidste trin: At overgive dig selv til den skæbne evigt at forblive i biblioteket som dets vogter. Slut.Generationer spillet:  #{i:HUD:GenerationsCounter}"
Book_GoodEnd = "Du læser bindingsritualets ældgamle ord højt. Draget af de lys, du har tændt, standser de Gamle Guder deres hærgen. De bliver stille og drives sløvede mod hjertet af biblioteket. Efter at de igen er forsvarligt indespærrede i deres fængsel, fuldender du ritualet ved at udføre det sidste trin: At overgive dig selv til den skæbne evigt at forblive i biblioteket som dets vogter. Slut.Generationer spillet:  #{i:HUD:GenerationsCounter}"
Book_TrueEnd = "Du læser bindingsritualets ældgamle ord højt. Draget af de lys, du har tændt, standser de Gamle Guder deres hærgen. De falder til ro og driver sløvede mod hjertet af biblioteket. Efter at de igen er forsvarligt indespærrede i deres fængsel, fuldender du ritualet ved at udføre det sidste trin: At placere et indviet symbol i dit eget sted, til at vogte over De Gamle Guder. Omsider er du endeligt fri af biblioteket. Og de Gamle Guder sover, evigt... Slut.Generationer spillet:  #{i:HUD:GenerationsCounter}"
Book_WaterSoul = "Du griber om den mærkelige blå orb. Den summer som svar på din berøring og vibrerer, som prøvede den at ryste sig fri. Mens dine fingre strammer grebet om den, rammes du af en pludselig, uønsket indsigt: At inde i denne ujordiske sfære, er den ældgamle guddom Dagons sjæl ved at vågne. Et syn svæver gennem dit sind som et længe glemt minde om dødelig frygt, ukontrolleret ødelæggelse, og så et hemmeligt ritual og en urolig stilhed. Synet forsvinder og giver plads for en kvalmende følelse af tomhed. Dagons Sjæl rører på sig i stilheden. Du kan nu låse den næste bog op i biblioteket."
Book_SandSoul = "Du tager den mærkelige røde orb. Den summer og skælver idet Nyarlathotep vågner. En bølge af frygt skyller over dig. Du kan nu låse den næste bog op i biblioteket."
Book_SwampSoul = "Du samler den mærkelige grønne orb op. Den pulserer trægt idet Cthulhu vågner. Du stejler ved den frygtelige viden, at med alle tre sjæle i din besiddelse, vil du kunne låse biblioteksdøren op."
Book_HardSoul = "Velkommen til det Nye Spil! At indsamle denne sjæl har aktiveret en mere udfordrende version af Eldritch. Denne egenskab forsvinder, hvis du dør."
Book_Soul = "Sjæle. En sjæl er den slumrende essens af en Gammel Gud, bundet i en fysisk form. Sjæle findes i dybderne af hver verden. Sjæle bruges til at låse op for bøger i biblioteket. Der ville helt sikkert ikke være nogen særlig fare forbundet med at transportere en Gammel Guds sjæl med til Jorden..."
Book_Death = "Død. Når dit helbred er nedbrudt helt, dør du. Efter døden vil du blive genoplivet i biblioteket. Dine ejendele vil være tabte, men artefakterne i din Bank-kiste forbliver der, og bøger du har låst op vil stadig være åbne. Du kan også begynde et nyt liv nårsomhelst ved at vælge Genopliv i pausemenuen."
Book_Chest = "Bank-kiste. Du kan opbevare dine artefakter i bank-kister for at sikre dem. Artefakter der deponeres her, kan hæves senere i denne eller enhver anden kiste. Når du dør, vil du miste dine ejendele, men artefakter du har gemt i banken, vil blive der."
Book_Shop = "Indkøb. Hver butik tilbyder et udvalg af værdifuldt udstyr. Hvis du ikke har råd, kan du forsøge at stjæle en genstand, men det vil gøre butiksejeren vred."
Book_Gear = "Udstyr. Udstyr er ting der forbedrer dine egenskaber eller låser op for nye færdigheder. Der er tre kategorier af udstyr: Støvler, Sæt, og Gadgets. Du kan bære et stykke udstyr i hver kategori."
Book_Lore1 = "Bibliotekets Historie, Bind 1 af 4. Legenderne beretter om en katastrofal begivenhed for tusindevis af år siden, da Jorden pådrog sig de Gamle Guders vrede. De få overlevende opdagede en ældgammelt rite, som de brugte til at forsegle de frygtelige væsner i et labyrintisk fængsel. Livet på Jorden blomstrede igen, og de overlevende grundlagde en orden af vogtere til at beskytte det hemmelige bindingsritual."
Book_Lore2 = "Bibliotekets Historie, Bind 2 af 4. Tusinder af år gik, hvor de Gamle Guder slumrede i deres fangeskab. I slutningen af det nittende århundrede afdækkede arkæologer i Arabien stedet, hvor bindingsritualet var blevet udført. Denne forstyrrelse bredte sig som ringe i det kosmiske stof og vækkede de ældgamle væsner. Glemte rædsler væltede frem, og Jorden var atter i fare."
Book_Lore3 = "Bibliotekets Historie, Bind 3 af 4. I det tidlige tyvende århundrede, da de Gamle Guder truede Jorden for anden gang, forsamledes vogterne påny i New England for at udføre bindingsritualet igen. Et ydmygt bibliotek blev udvalgt som sted for ritualet, og vogterne valgte en iblandt sig - Bibliotekaren - til at forblive i fængslet og beskytte mod yderligere forstyrrelser."
Book_Lore4 = "Bibliotekets Historie, Bind 4 af 4. I et lille bibliotek i New England udførte vogterne det magiske bindingsritual for at indespærre de Gamle Guder. Bibliotekaren, en enkelt vogter udvalgt til at beskytte stedet, blev låst inde med de frygtelige skabninger. Men uden de andre vogteres vidende, splintrede et forkert udtalt ord under ritualet Bibliotekarens sind og hukommelse..."
Book_Column = "Piedestalen har en smal indentering, graveret med et mærkeligt mønster. Det ser ud til at en rund genstand kan placeres her."
Book_Loot = "Gennemsøgning. Gennemsøg lig for ammunition, artefakter eller andre genstande. Efter at være blevet gennemsøgt kan fjenden genopstå et nyt sted på samme level."
Book_Sandals = "Sandaler. Et par simple, støvede sandaler. Disse sandaler giver tilsyneladende ingen nye evner."
Book_ConsecrationKit = "Indvielsessæt. En lille æske af træ indeholdende diverse redskaber til velsignelse og indvielse af en person eller en genstand."
Book_HolySymbol = "Helligt Symbol. En lille stentavle med et religiøst motiv. Den har ingen indlysende anvendelse."
Book_JumpBoots = "Springstøvler. Et par slidte støvler med fjedre monteret på sålerne. Med disse på, kan du hoppe højere end ellers."
Book_SpeedBoots = "Løbestøvler. Et par skrigende støvler, dekoreret med fjer. Med disse på, kan du løbe hurtigere end ellers."
Book_QuietBoots = "Snigestøvler. Et ydmygt par støvler med forede såler. Med disse på, dæmpes dine fodtrin."
Book_LocksmithKit = "Låsesmedeværktøjer. En tung stofpose indeholdende et udvalg af ståldirke og andre værktøjer. Med dette sæt kan du åbne låste døre uden at bruge nøgler. Døre, der åbnes på denne måde forbliver låste for andre rejsende. Sættet lader dig også sætte en lås på en ulåst dør. Det koster  \ue0f1 × #{i:LocksmithKit:LockPriceTag} at låse en dør."
Book_MedicalKit = "Førstehjælpskasse. En solid plastikæske der indeholder alskens medicinske hjælpemidler. Med dette sæt kan du redde dig selv fra dødbringende skade. Det koster  \ue0f1 × #{i:MedicalKit:RevivePriceTag} at genoplive sig fra død, men kassen kan bruges et ubegrænset antal gange. At bruge kassen giver dig 3 helbredspoint tilbage."
Book_TinningKit = "Konserveringssæt. En slidt metalæske der indeholder udstyr til at konservere mad. Med dette sæt kan du fortære lig af ikke-menneskelige fjender for at genvinde din styrke. Det koster \ue0f1 × #{i:TinningKit:TinPriceTag} at konservere og spise et væsen."
Book_Compass = "Kompas. Et simpelt magnetisk kompas. At bære et kompas afslører vigtige steder på dit minikort. Kompasset peger også mod udgangen af det nuværende level."
Book_Amulet = "Ødelæggelsesamulet. En lille sten præget med en rød stjerne. Når du bærer denne amulet, gør dine angreb større skade og dine projektiler ødelægger terænnet."
Book_Charm = "Lykkeamulet. En lille sten præget med en firklløver. Når du bærer denne amulet vil du finde mere udstyr på ligene af fjender."
Book_Talisman = "Åndemaners Talisman. En lille sten præget med et blåt vortex. Når du bærer denne talisman, koster det færre artefakter at bruge dine særlige evner."
FishmanShopkeeperTalk = "Fiskemanden smiler udflydende til dig. \"Velkommen, fremmede! Køb venligst noget, glup, glup! Jeg har så mange gode ting i min butik.\""
LizardmanShopkeeperTalk = "Øglemanden betragter dig med ligegyldighed. \"Alle er velkomne her, fremmede. Du finder ikke ssså fine varer til en bedre pris-sss.\""
SquidmanShopkeeperTalk = "Stjerneynglen stirrer mistænksomt på dig. \"Købe noget, vil du?\""
CouldNotConnect = "Kunne ikke forbinde til serveren."
CouldNotReceive = "Kunne ikke modtage data fra serveren."
ShouldUpdate = "En update er tilgængelig.\nVil du opdatere nu?"
UpToDate = "Spillet er opdateret."
Connecting = "Forbinder til server..."
CouldNotRunContentSyncer = "Kunne ikke køre ContentSyncer"
CurrentLanguage = "Sprog: #{l:Language}"
Language = "Sprog"
Display = "Skærm"
Audio = "Lyd"
ControllerSpeed = "Styrepinds følsomhed:"
Level_MoM-Start = "Bjergene"
Level_MoM-1 = "Bjergene-1"
Level_MoM-2 = "Bjergene-2"
Level_MoM-3 = "Bjergene-3"
Level_MoM-4 = "Bjergene-4"
Level_MoM-5 = "Bjergene-5"
Level_MoM-6 = "Bjergene-6"
Level_MoM-7 = "Bjergene-7"
Level_MoM-8 = "Bjergene-8"
Level_MoM-9 = "Bjergene-9"
Level_MoM-Boss = "Bjergene-10"
Rest = "Hvil"
StokeCampfire = "Læg brænde på (\ue0f1 × #{i:CampingKit:StokePriceTag})"
Campfire = "Bål"
CampfireStoked = "Bål (Genopblusset)"
CampingKit = "Lejrudstyr"
CampingKitDesc = "Indholder brænde du kan lægge på et bål for at genvinde flere helbredspoint."
Soapstone = "Fedtsten"
Hatchet = "Økse"
HatchetDesc = "Et tungt våben som er godt til at gennembryde døre."
Pickaxe = "Hakke"
PickaxeDesc = "Et groft tilvirket redskab, der bruges til at hugge i klipper og is. Går i stykker efter nogen brug."
Ropegun = "Rebpistol"
RopegunDesc = "Affyrer en krog, der kan fæstne et klatrereb til enhver fast overflade."
ClimbingBoots = "Klatrestøvler"
ClimbingBootsDesc = "Disse støvler sikrer dig imod at tage skade fra fald og udløser ingen istap-fælder."
PowerSummon = "Tilkald"
StatueSummon = "Olieret Statue"
PowerFlare = "Blus"
StatueFlare = "Glødende Statue"
PlaneKeys = "Flynøgler"
Book_MoM = "... Var den bog her før?\n\nBogens sider begynder at bladre vildt, mens en iskold vind hvirvler op omkring dig.\n\nVanviddets bjerge venter..."
Book_PlaneNoKeys = "Nøglerne til flyet mangler. Du kan ikke lette uden dem."
Book_PlaneWithKeys = "Flyets motorer hoster, da du drejer nøglen i tændingen.\n\nDu prøver ikke at dvæle ved de uforståeligt ældgamle ting du har bevidnet. Da flyet letter, skæver du tilbage mod de fremmedartede bjerge med deres overjordiske firkantede monolitter, og et gys løber gennem din krop.\n\nDu er undsluppet med livet i behold, men hvad med din forstand?"
Book_CampingKit = "Lejrudstyr\n\nEn slidstærk lærredspose indholdende forskelligt lejrudstyr.\n\nNår du bærer dette udstyr, kan du tænde op på bålpladser. At hvile ved et genopblusset bål giver dig ekstra helbred.\n\nDet koster \ue0f1 × #{i:CampingKit:StokePriceTag} at lægge brænde på et bål."
Book_ClimbingBoots = "Klatrestøvler\n\nEt par flotte vandrestøvler med pigge.\n\nNår du har disse på, er du sikret imod skader fra fald, og istapper falder ikke ned, når du går under dem."
Book_Soapstone = "Fedtsten\n\nEt grønligt, stjerneformet stykke fedtsten. Det har ingen umiddelbar virkning."
Book_Summon = "Tilkaldelse\n\nTryk #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} for at tilkalde en ustoppelig Shoggoth.\n\nShoggoth'en angriber alt den bemærker, inklusiv dig selv!\n\nDet koster \ue0f1 × #{i:PowerSummon:PowerCost} at bruge Tilkaldelse."
Book_Flare = "Magisk Blus\n\nTryk #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} for at affyre et magisk blus.\n\nBlusset lyser kortvarigt op for dig og afleder fjenders opmærksomhed.\n\nDet koster \ue0f1 × #{i:PowerFlare:PowerCost} at bruge Magisk Blus."
ShoggothShopkeeperTalk = "Shoggoth'en gurgler uforståeligt til dig."
SquidmanFriendlyShopkeeperTalk = "Stjerneynglen hilser varmt på dig.\n\n\"Velkommen, ven! Vil du ikke købe noget fra min ydmyge butik?\""
Airplane = "Fly"
RIPDmgIcicles = "blev gennemboret af en istap"
RIPDmgElderThingMelee = "blev spist af en Ældre Ting"
RIPDmgElderThingRanged = "blev skudt af en Ældre Ting"
RIPDmgMigo = "blev tampet af en Mi-go"
RIPDmgMigoExplode = "blev forgiftet af et Mi-go kadaver"
RIPDmgYCultistMelee = "fik tæv af en Yog-Sothoth kultist"
RIPDmgYCultistRanged = "blev skudt af en Yog-Sothoth kultist"
RIPLvlMoM = "vanviddets bjerge"