[Russian]
True = "Вкл."
False = "Выкл."
OK = "OK"
Yes = "Да"
No = "Нет"
Play = "Начать игру"
Options = "Настройки"
Quit = "Выход"
PressStart = "Нажмите Enter"
ConfirmQuit = "Выйти?"
ConfirmSaveAndQuit = "Сохранить и выйти?"
Version = "Build #{s:ContentSyncer:Version}"
BindControls = "Настройка клавиатуры"
Controls = "Управление"
MouseSpeed = "Скорость мышки:"
InvertY = "Инвертировать ось Y:     #{b:InvertY}"
Resolution = "Разрешение:   #{i:DisplayWidth} × #{i:DisplayHeight}"
SetRes = "Разрешение"
Fullscreen = "Полный экран:   #{b:Fullscreen}"
Brightness = "Яркость"
FOV = "Поле зрения:"
Volume = "Громкость:"
MusicVolume = "Громкость музыки:"
Back = "Назад"
BindForward = "Идти вперед:"
BindBack = "Идти назад:"
BindLeft = "Идти влево:"
BindRight = "Идти вправо:"
BindJump = "Прыжок:"
BindFrob = "Использовать:"
BindLeanLeft = "Наклон влево:"
BindLeanRight = "Наклон вправо:"
BindRun = "Бежать:"
BindCrouch = "Присесть:"
BindUseWeapon = "Огонь:"
BindUsePower = "Использовать способность:"
BindDropWeapon = "Бросить оружие:"
BindCycleUp = "Предыдущее оружие:"
BindCycleDown = "Следующее оружие:"
BindDialog = "Нажмите нужную клавишу.\nНажмите Esc для отмены.\nНажмите Backspace чтобы снять привязку."
Paused = "Пауза"
Resume = "Продолжить"
ReturnToHub = "Вернуться в Библиотеку"
Resurrect = "Перерождение"
SaveAndQuit = "Сохранить и выйти"
Death = "Вы умерли..."
ConfirmResurrect = "Перерождение? (Текущий\nпрогресс будет\nпотерян.)"
Souls = "Души"
Gear = "Снаряжение"
PowerHypnotize = "Гипноз"
PowerBuild = "Материализация"
PowerLift = "Взлет"
PowerKnock = "Толчок"
PowerTeleport = "Телепортация"
PowerCloak = "Невидимость"
BankPlayer = "Игрок"
BankBank = "Банк"
Price = "Цена:"
Buy = "Купить"
Steal = "Украсть"
Cancel = "Отмена"
Dying = "Вы умираете..."
Revive = "Вылечиться"
FrobHold = "Держать #{s:EldritchKeyboard:Frob}#{l:EldritchMouse:Frob}#{l:EldritchController:Frob} #{c:HUD:HoldVerb}"
RIPFormat = "|RIP| I %s in %s."
RIPURL = "http://www.eldritchgame.com"
RIPHashtags = "eldritch"
RIPTwitter = "https://twitter.com/intent/tweet?text=%s&hashtags=%s&url=%s"
RIPDmgUnknown = "умер"
RIPDmgResurrect = "сдался"
RIPDmgPlayer = "сделал большую ошибку"
RIPDmgSpikes = "проткнут шипами"
RIPDmgBarnacle = "потревожил гигантского моллюска"
RIPDmgFishmanMelee = "убит глубоководным"
RIPDmgFishmanRanged = "застрелен глубоководным"
RIPDmgDCultistMelee = "убит болотным культистом"
RIPDmgDCultistRanged = "застрелен болотным культистом"
RIPDmgNCultistMelee = "убит песчаным культистом"
RIPDmgNCultistRanged = "застрелен песчаным культистом"
RIPDmgRCultistMelee = "убит склизким культистом"
RIPDmgRCultistRanged = "застрелен склизким культистом"
RIPDmgLizardmanMelee = "убит человеком-ящером"
RIPDmgLizardmanRanged = "застрелен человеком-ящером"
RIPDmgEye = "убит летающим глазом"
RIPDmgShoggoth = "раздавлен разъяренным шогготом"
RIPDmgLizardWatson = "повернулся спиной к устрашающей статуе"
RIPDmgMummy = "съеден омерзительной мумией"
RIPDmgSquidmanMelee = "убит дитя звезд"
RIPDmgSquidmanRanged = "застрелен дитя звезд"
RIPDmgPolyp = "застрелен летающим полипом"
RIPDmgBugMelee = "закусан жуком"
RIPDmgBugRanged = "застрелен жуком"
RIPDmgFoodPoisoning = "отравился"
RIPDmgShopkeeper = "недооценил продавца магазина"
RIPDmgTrapBolt = "не заметил ловушку"
RIPLvlUnknown = "в уединенном месте"
RIPLvlLibrary = "в загадочной библиотеке"
RIPLvlEndgame = "в невообразимо гигантской библиотеке"
RIPLvlWater = "в мрачных руинах Дагонов"
RIPLvlSand = "в пустынном храме Ньярлатотепа"
RIPLvlSwamp = "в потерянном городе Р’льех"
RIPLvlSubspace = "в темном, загадочном месте"
JumpBoots = "Ботинки Прыжка"
JumpBootsDesc = "Позволяют совершать\nболее высокие прыжки."
SpeedBoots = "Ботинки Скорости"
SpeedBootsDesc = "Позволяют бежать быстрее."
QuietBoots = "Ботинки Незаметности"
QuietBootsDesc = "Позволяют передвигаться\nбесшумно."
LocksmithKit = "Набор отмычек"
LocksmithKitDesc = "Позволяет открывать\nзапертые двери\nза небольшую плату."
MedicalKit = "Набор первой помощи"
MedicalKitDesc = "Позволяет вернуться\nк жизни за\nдополнительную плату."
TinningKit = "Набор для Консервирования"
TinningKitDesc = "Позволяет употреблять\nв пищу тела\nнекоторых монстров."
Bottle = "Бутылка"
BottleDesc = "Будучи брошенной,\nнаносит урон или\nотвлекает монстров."
Revolver = "Револьвер"
RevolverDesc = "Надежное оружие.\nВ комплекте идут\nтри патрона."
Snaregun = "Ловушкомет"
SnaregunDesc = "Позволяет устанавливать\nловушки. В комплекте\nидут три снаряда."
Compass = "Компас"
CompassDesc = "Показывает направление\nк выходу."
Charm = "Талисман Удачи"
CharmDesc = "Увиличивает количество\nтрофеев, получаемых с\nпобежденных монстров."
Amulet = "Амулет Разрушения"
AmuletDesc = "Увеличивает урон оружия,\nпозволяет пулям\nразрушать ландшафт."
Talisman = "Талисман Мудреца"
TalismanDesc = "Уменьшает стоимость\nиспользования способностей."
Key = "Ключ"
KeyDesc = "Открывает одну\nзакрытую дверь."
Dagger = "Кинжал"
DaggerDesc = "Радиус действия и урон\nбольше, чем у\nбезоружной атаки."
Dynamite = "Динамит"
DynamiteDesc = "Нитроглицериновая\nвзрывчатка. Обращаться\nс осторожностью!"
MeatDesc = "Восстанавливает некоторое\nколичество здоровья."
Corpse = "Труп"
Shopkeeper = "Продавец"
WaterSoul = "Душа Дагона"
SandSoul = "Душа Ньярлатотепа"
SwampSoul = "Душа Ктулху"
HardSoul = "Душа Библиотекаря"
Rock = "Камень"
Chest = "Сундук"
ExitDoor = "Выход"
ExitDoorUp = "Вход"
Book = "Книга"
WorldBook = "Странная книга"
SubspaceBook = "Пыльная книга"
Door = "Дверь"
LockedDoor = "Закрытая дверь"
GateDoor = "Закрытая железная дверь"
UnlockedGateDoor = "Железная дверь"
Mirror = "Зеркало"
DeskLamp = "Настольная лампа"
Toilet = "Туалет"
Sink = "Раковина"
Artifact = "Артефакт"
Artifact5 = "Груда артефактов"
StatueHypnotize = "Гипнотическая статуя"
StatueCloak = "Скрытая статуя"
StatueBuild = "Прочная статуя"
StatueLift = "Легкая статуя"
StatueKnock = "Резонирующая статуя"
StatueTeleport = "Нестабильная статуя"
Meat = "Жареное мясо"
BadMeat = "Гнилое мясо"
Fountain = "Фонтан"
Pedestal = "Пьедестал"
Plant = "Фрукт"
PlantToxic = "Ядовитый фрукт"
HolySymbol = "Священный символ"
ConsecrationKit = "Жертвенный набор"
Sandals = "Сандалии"
Candle = "Свеча"
RitualBook = "Жертвенный ритуал"
FullGame = "Полная игра"
PickUp = "Поднять"
Examine = "Осмотреть"
Loot = "Обыскать"
Read = "Читать"
Eat = "Съесть"
EatUnsure = "...Съесть?"
EatCorpse = "Съесть (\ue0f1 × #{i:TinningKit:TinPriceTag})"
LockDoor = "Запереть (\ue0f1 × #{i:LocksmithKit:LockPriceTag})"
Go = "Использовать"
Return = "Вернуться"
Pray = "Молиться"
Open = "Открыть"
Close = "Закрыть"
Quaff = "Выпить"
Disarm = "Обезвредить"
Light = "Зажечь"
Switch = "Включить"
Flush = "Смыть"
Use = "Использовать"
Talk = "Говорить"
World = "Мир"
Level_Library = "Библиотека"
Level_Endgame-1 = "Библиотека-1"
Level_Endgame-2 = "Библиотека-2"
Level_Endgame-3 = "Библиотека-3"
Credits = "Титры"
Book_Controls = "Управление\n\nЕсли вас не устраивает управление по-умолчанию, вы можете изменить его в меню Настроек."
Book_Keys = "Ключи\n\nИспользуются для открытия запертых дверей. Ключ можно использовать только один раз."
Book_Statue = "Статуи\n\nОгромные каменные идолы, изображающие неких ужасающих существ неземного происхождения. Молитва этим статуям наделяет человека малой толикой сил Старейших."
Book_Food = "Еда\n\nЕда восстанавливает часть вашего здоровья. Но будьте внимательны, испортившаяся или отравленная еда только навредит вам."
Book_Fountain = "Фонтаны\n\nВода фонтана восстановит часть здоровья и увеличит его максимум. Фонтаны высыхают после одного использования."
Book_Ledger = "Библиотека Elder Ridge\nКнига учета выдачи\n\n Номер.  |   Имя абонента    |  Дата\n---------------------------------------\n  9713   | Дж. К. Пиппен     | 10/12/26\n  5576   | Ким Патнем        | 10/15/26\n  4185   | Кен Тадсон, эск.  | 12/ 3/26\n  6287   | Кайнен Уэйлс      |  1/29/27\n  0451   | Ф. Б. Гейнор      |  2/ 4/27\n  2934   | Стюарт Джеймсон   |  2/15/27\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /"
Book_Journal = "Исследовательский журнал, страница 2.\n\nКажется, что эта библиотека будет тянуться вечно. Я уже не уверен, что из нее вообще есть выход. Я как будто переживаю заново один и тот же день.\n\nЕсли и есть способ выбраться отсюда, то он как-то связан с этими ужасающими светящимися книгами. В их страницах - невероятная мощь, но и непередаваемый ужас...\n\nМне кажется, что внутри этих книг заключены духи древних божеств, но мне непонятны их цели. Общая сила этих книг - ключ к моему освобождению из этого лабиринта..."
Book_Journal2 = "Исследовательский журнал, страница 1.\n\nНеобычное происшествие приключилось со мной. Я должен записать все, что происходит, на случай, если не смогу выбраться.\n\nПоследнее что я помню - я рассматривал книги в библиотеке... Теперь же я нахожусь в непонятном и пугающем месте, полном блуждающих монстров и коварных ловушек.\n\nЕсли мои наблюдения верны, то можно предположить, что я попал в затерянный храм древнего бога Дагона. Легенды говорят о могущественной реликвии, хранящейся где-то глубоко внутри этого места. Я должен отыскать ее, если мне дорога моя свобода..."
Book_Journal3 = "Исследовательский журнал, страница 3.\n\nО боже мой, нет. Я и не догадывался, что творю.\n\nЯ отыскал выход из библиотеки, но только сейчас понял последствия своих действий. Когда я сбежал, я открыл ящик пандоры.\n\nЭта библиотека - межпространственная тюрьма, созданная тысячелетия назад, чтобы удерживать Старейших. Как я попал в эту ловушку остается для меня загадкой, но ясно, что выход не должен был открываться ни при каких обстоятельствах.\n\nНевообразимые ужасы этого мира свободно проникают на Землю - и виноват в этом я. Есть ли способ вернуть их обратно в лабиринт?"
Book_Journal4 = "Исследовательский журнал, страница 4.\n\nКажется, я нашел способ остановить тот кошмар, которому я сам и был причиной. Мои исследования привели меня к Жертвенному Ритуалу.\n\nПервая часть ритуала состоит из зачитывания вслух текста на древнем языке, который должен остановить захватчиков, перенеся их в тюрьму, простирающуюся на бесконечное количество измерений.\n\nТри свечи усилят действие заклинания. Их свет поведет узников в самое сердце этого места и усыпит их там."
Book_Sprint = "Бег\n\nНажмите и держите #{s:EldritchKeyboard:Run}#{l:EldritchMouse:Run}#{l:EldritchController:Run}, чтобы бежать.\n\nНажмите кнопку «Присесть»: (#{s:EldritchKeyboard:Crouch}#{l:EldritchMouse:Crouch}#{l:EldritchController:Crouch}) во время бега, чтобы выполнить подкат."
Book_Crouch = "Приседание\n\nНажмите #{s:EldritchKeyboard:Crouch}#{l:EldritchMouse:Crouch}#{l:EldritchController:Crouch}, чтобы присесть.\n\nПрисев вы сможете пролезть в невысокие проходы, а звук ваших шагов будет менее заметен окружающим.\n\nПриседание во время бега (#{s:EldritchKeyboard:Run}#{l:EldritchMouse:Run}#{l:EldritchController:Run}) выполняет подкат."
Book_Jump = "Прыжок\n\nНажмите #{s:EldritchKeyboard:Jump}#{l:EldritchMouse:Jump}#{l:EldritchController:Jump}, чтобы сделать прыжок.\n\nНажмите и удерживайте кнопку прыжка, если хотите зацепиться за край и подтянуться наверх."
Book_Lean = "Наклон\n\nНажмите #{s:EldritchKeyboard:LeanLeft}#{l:EldritchMouse:LeanLeft}#{l:EldritchController:LeanLeft} для наклона влево. Нажмите #{s:EldritchKeyboard:LeanRight}#{l:EldritchMouse:LeanRight}#{l:EldritchController:LeanRight} для наклона вправо.\n\nМонстры не заметят вас, если вы аккуратно выглянете из-за угла, пользуйтесь этим для разведки местности."
Book_Artifact = "Артефакты\n\nЭти резные камни внеземного происхождения - ваш главный ресурс в этом мире. На них покупается снаряжение, и они же используются для активации способностей и инструментов."
Book_Hypnotize = "Гипноз\n\nПрицельтесь и нажмите #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower}, чтобы загипнотизировать вашу цель.\n\nСущества под воздействием гипноза будут сражаться на вашей стороне.\n\nНо будьте осторожны! Сильные существа могут побороть эффект гипноза быстрее, чем успеют помочь вам.\n\nСтоимость использования: \ue0f1 × #{i:PowerHypnotize:PowerCost}."
Book_Build = "Материализация\n\nНажмите #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower}, чтобы призвать мистический барьер.\n\nБарьер может быть использован, чтобы блокировать путь монстрам или чтобы забраться на труднодоступные места.\n\nБудьте осторожны! Неаккуратно поставленный барьер может перекрыть выход и вам самим.\n\nСтоимость использования: \ue0f1 × #{i:PowerBuild:PowerCost}."
Book_Lift = "Взлет\n\nНажмите #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower}, чтобы подбросить самого себя в воздух.\n\nМожет быть использован в прыжке, что позволяет забираться в особо труднодоступные места.\n\nСтоимость использования: \ue0f1 × #{i:PowerLift:PowerCost}."
Book_Knock = "Толчок\n\nНажмите #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} для использования способности.\n\nОткрывает запертые двери. Создает привлевающий врагов шум в том месте, куда указывает прицел.\n\nСтоимость использования: \ue0f1 × #{i:PowerKnock:PowerCost}."
Book_Teleport = "Телепортация\n\nНажмите #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} один раз, чтобы бросить метку. Нажмите #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} еще раз, чтобы телепортироваться к ней.\n\nНажмите и удерживайте #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower}, чтобы вернуть метку. Отпустите, чтобы бросить ее повторно.\n\nБросание метки бесплатно. Стоимость использования телепортации: \ue0f1 × #{i:PowerTeleport:PowerCost}."
Book_Cloak = "Невидимость\n\nНажмите #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower}, чтобы стать невидимым\n\nЭффект пропадает через определенное время. Враги не смогут увидеть использовавшего Невидимость, но могут услышать шаги.\n\nСтоимость использования: \ue0f1 × #{i:PowerCloak:PowerCost}."
Book_PowerBroke = "Цена использования способностей\n\nНа использование способностей тратятся артефакты. Без артефактов способности бесполезны.\n\nИсследуйте мир, чтобы найти больше артефактов!"
#Book_Direction = "Будь осторожен! Ты попал в опасный мир, полный блуждающих монстров и коварных ловушек.\n\nГлубоко внутри этого лабиринта хранится могущественный артефакт. Спустись вниз так глубоко, как сможешь, и удачи тебе в твоем приключении!"
Book_Weapons = "Оружие и предметы\n\nНажмите #{s:EldritchKeyboard:UseWeapon}#{l:EldritchMouse:UseWeapon}#{l:EldritchController:UseWeapon}, чтобы ударить, бросить предмет или выстрелить из оружия.\n\nНажмите #{s:EldritchKeyboard:DropWeapon}#{l:EldritchMouse:DropWeapon}#{l:EldritchController:DropWeapon}, чтобы бросить оружие или предмет.\n\nНельзя носить более двух оружий или предметов одновременно. Нажмите #{s:EldritchKeyboard:CycleUp}#{l:EldritchMouse:CycleUp}#{l:EldritchController:CycleUp}/#{s:EldritchKeyboard:CycleDown}#{l:EldritchMouse:CycleDown}#{l:EldritchController:CycleDown}, чтобы переключаться между ними."
Book_Water = "Книга написана на непонятном вам языке.\n\nОт загадочных символов трудно оторвать глаза, они как будто бы сходят со страниц, принимая формы диковинных и непонятных пейзажей и существ, которых они описывают.\n\nСлова окружают тебя, библиотека исчезает, твою голову заполняют невыносимое гудение незнакомой речи.\n\nВ смятении ты пытаешься закрыть книгу, но поздно - ты видишь вокруг себя чужой мир, тот что описывала злосчастная книга..."
Book_SandLocked = "Некая сила удерживает эту книгу закрытой. Надпись на обложке гласит:\n\n«Это проклятое место. Ужасная сила заключена в этой книге. Она была запечатана Душой Дагона, и только Душа Дагона может открыть ее вновь.»"
Book_Sand = "Вы подносите Душу Дагона к книге. Сфера тянется из рук, пытаясь приблизиться к кожаной обложке.\n\nВдалеке становятся слышны завывания ветра, пойманная душа бьется в руках. Ярость Дагона нарастает, и сила, удерживающая книгу, отступает.\n\nГул заполняет комнату, когда ломается печать, и Душа Дагона наконец успокаивается.\n\nОткрытая книга падает на землю, ее пожелтевшие страницы заполнены жуткими символами. Необъяснимый трепет вытесняет из головы все остальные мысли.\n\nСледующий мир ждет вас..."
Book_WorldUnlock = "Открыта книга, ведущая в следующий мир.Книги остаются открытыми даже после смерти и возрождения."
Book_SwampLocked = "Некая сила удерживает эту книгу закрытой. Надпись на обложке гласит:\n\n«Это проклятое место. Ужасная сила заключена в этой книге. Она была запечатана Душой Ньярлатотепа, и только Душа Ньярлатотепа может открыть ее вновь.»"
Book_Swamp = "Вы подносите Душу Ньярлатотепа, и удерживающая книгу сила исчезает. Неподдельный страх наполняет ваш разум.\n\nСледующий мир ждет вас..."
Book_ExitLibrary = "Вы кладете Души Древних перед дверью. Они дрожат, как будто в нетерпении.\n\nВся библиотека содрогается. Книги падают с полок, дверь скрипит, с трудом сдерживая то, что находится по ту сторону. Чудовищные голоса Старейших становятся все громче, оглушая вас, и дверь наконец распахивается.\n\nВы осознаете что случилось, содрогаясь.\n\nПуть наружу теперь открыт."
Book_EndgameEnter = "Вы пробираетесь из глубин библиотеки к выходу, но чувствуете, как бесформенный страх в вашем сердце начинает материализоваться.\n\nВы использовали Старейших, чтобы сбежать из библиотеки, но и они использовали вас, чтобы освободиться.\n\nНевообразимые ужасы, что вы навлекли на Землю - удастся ли кому-нибудь обуздать их вновь?"
Book_BadEnd = "Вы повторяете слова древнего ритуала.\n\nСтарейшие, заключенные в пределах библиотеки, больше не угрожают Земле. Однако, многие из них успели сбежать, и неиствовствуют за пределами ее стен.\n\nРитуал подходит к концу, осталось сделать лишь одно. Вы предлагаете библиотеке себя в качестве хранителя. Теперь вы навечно заперты внутри.\n\nКонец\n\nКоличество возрождений: #{i:HUD:GenerationsCounter}"
Book_GoodEnd = "Вы повторяете слова древнего ритуала.\n\nОдурманенные пламенем свечей, Старейшие прекращают свое буйство, и успокоившись, в полусне, опускаются в самое сердце библиотеки.\n\nСобрав вырвавшихся пленников, вы заканчиваете ритуал, предлагая библиотеке самого себя в должности хранителя.\n\nКонец\n\nКоличество возрождений: #{i:HUD:GenerationsCounter}"
Book_TrueEnd = "Вы повторяете слова древнего ритуала.\n\nОдурманенные пламенем свечей, Старейшие прекращают свое буйство, и успокоившись в полусне, возвращаются в самое сердце библиотеки.\n\nСобрав вырвавшихся пленников, вы заканчиваете ритуал, оставляя найденный священный символ вместо себя в качестве хранителя библиотеки и Старейших.\n\nНаконец-то, вы свободны. Старейшие заснули навсегда...\n\n\n\nКонец\n\nКоличество возрождений: #{i:HUD:GenerationsCounter}"
Book_WaterSoul = "Вы ловите загадочный синий шар. Он гудит в ответ на ваше прикосновение и вибрирует, как будто пытается освободиться.\n\nСжимая его крепче, вы внезапно понимаете - внутри этой сферы необъяснимым образом заключена душа Дагона, древного божества, и она просыпается у вас в руках.\n\nВидения встают у вас перед глазами - давно забытые страхи, необузданная ярость разрушения, а после - тайный ритуал и тревожный покой.\n\nВидение пропадает, уступая место неприятному чувству пустоты. Душа Дагона бесшумно шевелится в руках.\n\nТеперь вы можете открыть следующую книгу в библиотеке."
Book_SandSoul = "Вы подбираете странный красный шар. Он гудит и мелко вибрирует у вас в руках. Волна страха захлестывает вас. Ньярлатотеп пробуждается.\n\nТеперь вы можете открыть следующую книгу в библиотеке."
Book_SwampSoul = "Вы подбираете странный зеленый шар. Склизкий на ощупь, он дрожит у вас в руках. Значение этой находки вселяет в вас ужас. Ктулху пробуждается.\n\nТеперь, владея всеми тремя душами, вы можете открыть выход из библиотеки."
Book_HardSoul = "Добро пожаловать в Новую Игру+!\n\nЭта душа активирует более сложную версию игры.\n\nЭффект пропадет после смерти."
Book_Soul = "Души\n\nДуша - это дремлющая сущность Старейшего, заключенная в физической форме. Души хранятся в глубине каждого из миров.\n\nНайденная душа открывает новую книгу в библиотеке.\n\nКонечно же, ничего плохого не может случиться, если начать переносить Души на Землю..."
Book_Death = "Смерть\n\nКогда у вас кончаются очки здоровья, вы умираете.\n\nПосле смерти вы возродитесь в библиотеке.\n\nВсе ваше снаряжение будет утеряно, кроме артефактов, выложенных в сундук. Книги также останутся открытыми.\n\nНовую жизнь можно начать в любой момент, выбрав пункт «Перерождение» на экране паузы."
Book_Chest = "Сундук\n\nИспользуется для хранения артефактов. Выложенные в сундук артефакты можно впоследствии достать из любого другого сундука.\n\nПосле смерти вы теряете свое снаряжение, но  артефакты, выложенные в сундук, остаются."
Book_Shop = "Магазины\n\nКаждый магазин имеет свой ассортимент товаров.\n\nЕсли цена для вас слишком велика, вы можете попытаться украсть товар, но продавец этому не обрадуется."
Book_Gear = "Снаряжение\n\nНайденное снаряжение может давать вам новые способности или учучшать уже доступные.\n\nСнаряжение делится на три категории: Ботинки, Наборы и Инструменты.\n\nОдновременно можно иметь только по одному предмету из каждой категории."
Book_Lore1 = "История Библиотеки, том 1 из 4.\n\nЛегенды говорят о катастрофе, случившейся тысячи лет назад, когда на Землю обрушился гнев Старейших. Оставшиеся в живых нашли способ заточить ужасающих существ в подобной лабиринту тюрьме. Жизнь на Земле расцвела как прежде, а секрет жертвенного ритуала надежно охраняло сообщество хранителей."
Book_Lore2 = "История Библиотеки, том 2 из 4.\n\nПрошли тысячи лет, Старейшие все так же покоились в своей темнице. В конце XIX столетия, во время археологических раскопок на Аравийском полуострове было обнаружено то самое место, где когда-то был проведен ритуал. Потревоженные возмущением в ткани космоса, древние существа пробудились. Забытый ужас вырвался, и Земля вновь оказалась в опасности."
Book_Lore3 = "История Библиотеки, том 3 из 4.\n\nВ начале XX века, когда жизни на земле во второй раз стали угрожать освободившиеся Старейшие, хранители собрались в Новой Англии, чтобы снова провести жертвенный ритуал. Скромная библиотека была выбрана местом проведения, и один из хранителей - Библиотекарь - должен был остаться в созданной тюрьме и охранять ее покой."
Book_Lore4 = "История Библиотеки, том 4 из 4.\n\nВ небольшой библиотеке в Новой Англии хранители провели сокровенный ритуал заточения Старейших. Библиотекарь, одинокий хранитель, был заточен вместе с жуткими существами. Остальные хранители и не догадывались, что случайно пророненное во время ритуала слово помутило разум Библиотекаря и стерло его воспоминания..."
Book_Column = "Неглубокая выемка на пьедестале выгравирована странным узором.\n\nПохоже, пьедестал предназначен для некого сферического объекта."
Book_Loot = "Обыск трупов.\n\nНа побежденных врагах можно найти патроны, артефакты и другие предметы.\n\nПосле обыска монстр перерождается в другом месте на этом же уровне."
Book_Sandals = "Сандалии.\n\nПара пыльных сандалий. Не дают никаких особенных способностей. Просто сандалии, судя по всему."
Book_ConsecrationKit = "Жертвенный набор.\n\nНебольшая деревянная шкатулка, содержащая предметы, необходимые, чтобы освятить или принести в жертву человека или предмет."
Book_HolySymbol = "Священный символ.\n\nНебольшая каменная табличка, на поверхности вырезаны религиозные символы. Очевидно, бесполезна."
Book_JumpBoots = "Ботинки Прыжка.\n\nПара грубых ботинок с вмонтированными в подошвы пружинами.\n\nПозволяют совершать более высокие прыжки."
Book_SpeedBoots = "Ботинки Скорости.\n\nПара причудливых ботинок, украшенных перьями.\n\nПозволяют бегать быстрее."
Book_QuietBoots = "Ботинки Незаметности.\n\nПара скромных ботинок с подбитыми подошвами.\n\nЗаглушают шум шагов."
Book_LocksmithKit = "Набор отмычек.\n\nНабор разнообразных металлических отмычек и других приспособлений в грубой холщовой сумке.\n\nНабор позволяет открывать запертые двери, не расходуя ключи. Взломанные двери открыты только для вас - другие путешественники открыть их не смогут.\n\nВы можете установить замок на открытую дверь, стоимость установки: \ue0f1 × #{i:LocksmithKit:LockPriceTag}."
Book_MedicalKit = "Набор первой помощи.\n\nПрочный пластиковый чемоданчик, набитый разными медицинскими принадлежностями.\n\nНабор дает возможность восстановиться после смертельного ранения. Стоимость восстановления: \ue0f1 × #{i:MedicalKit:RevivePriceTag}, количество использований не ограничено. Набор восстанавливает 3 единицы здоровья."
Book_TinningKit = "Набор для консервирования.\n\nПотертая металлическая коробка со всеми необходимыми для консервирования приспособлениями.\n\nДает возможность употреблять в пищу трупы монстров, восстанавливая здоровье.\n\nСтоимость использования: \ue0f1 × #{i:TinningKit:TinPriceTag}."
Book_Compass = "Компас.\n\nОбыкновенный магнитный компас.\n\nПоказывает ключевые места, включая выход с уровня, на миникарте."
Book_Amulet = "Амулет Разрушения.\n\nНебольшой камень, украшенный красной звездой.\n\nАтаки использующего амулет наносят больше урона, а пули могут разрушать ландшафт."
Book_Charm = "Талисман Удачи.\n\nНебольшой камень, украшенный изображением четырехлистного клевера.\n\nНосящий талисман находит на побежденных врагах больше трофеев."
Book_Talisman = "Талисман Мудреца.\n\nНебольшой камень, украшенный изображением синей воронки.\n\nНосящий талисман платит меньше за использование способностей."
FishmanShopkeeperTalk = "Глубоководный смотрит на вас с заискивающей улыбкой.\n\n«Добро пожаловать, путешественник. Пожалуйста, купи что-нибудь, буль-буль! У меня много хорошего товара.»"
LizardmanShopkeeperTalk = "Человек-ящер нехотя обращает на вас внимание.\n\n«Здесь рады всем, путешессственник. Таких выгодных предложений нигде больше не найдешшшь.»"
SquidmanShopkeeperTalk = "Дитя звезд недоверчиво поглядывает на вас.\n\n«Покупаешь, или как?»"
CouldNotConnect = "Невозможно подключиться к серверу."
CouldNotReceive = "Невозможно получить данные с сервера."
ShouldUpdate = "Доступно обновление.\nНачать загрузку?"
UpToDate = "Игра обновлена до последней версии."
Connecting = "Соединение с сервером..."
CouldNotRunContentSyncer = "Невозможно запустить ContentSyncer."
CurrentLanguage = "Язык: #{l:Language}"
Language = "Язык"
Display = "Экран"
Audio = "Аудио"
ControllerSpeed = "скорость геймпада:"
Level_MoM-Start = "Хребты"
Level_MoM-1 = "Хребты-1"
Level_MoM-2 = "Хребты-2"
Level_MoM-3 = "Хребты-3"
Level_MoM-4 = "Хребты-4"
Level_MoM-5 = "Хребты-5"
Level_MoM-6 = "Хребты-6"
Level_MoM-7 = "Хребты-7"
Level_MoM-8 = "Хребты-8"
Level_MoM-9 = "Хребты-9"
Level_MoM-Boss = "Хребты-10"
Rest = "Отдохнуть"
StokeCampfire = "Разжечь (\ue0f1 × #{i:CampingKit:StokePriceTag})"
Campfire = "Костер"
CampfireStoked = "Большой костер"
CampingKit = "Набор туриста"
CampingKitDesc = "Позволяет разжигать большие костры, восстанавливающие больше очков здоровья."
Soapstone = "Стеатит"
Hatchet = "Топор"
HatchetDesc = "Тяжелое оружие, хорошо подходящее для выламывания дверей."
Pickaxe = "Кирка"
PickaxeDesc = "Самодельный инструмент для разбивания камня и льда. Ломается после нескольких использований."
Ropegun = "Кошка"
RopegunDesc = "Выстреливает крюк с веревкой, по которой можно забираться наверх."
ClimbingBoots = "Ботинки Альпиниста"
ClimbingBootsDesc = "Защищают от повреждений при падении и позволяют безопасно проходить под сосульками."
PowerSummon = "Призывание"
StatueSummon = "Маслянистая статуя"
PowerFlare = "Сигнальная ракета"
StatueFlare = "Раскаленная статуя"
PlaneKeys = "Ключи к аэроплану"
Book_MoM = "...Не припоминаю эту книгу. Кажется, ее не было здесь раньше.\n\nКнига распахивается, вы чувствуете, как порыв ледяного ветра, треплющего ее страницы, обвивает вас.\n\nХребты Безумия ждут..."
Book_PlaneNoKeys = "Аэроплан не завести без ключа."
Book_PlaneWithKeys = "Вы поворачиваете ключ и слышите закашлявшийся движок.\n\nВы пытаетесь отогнать воспоминания о тех невообразимо древних местах, где вы побывали. Аэроплан отрывается от земли, и вы в последний раз оглядываетесь на хребты гор, их неестественно прямоугольные монолиты. Холодок пробегает по телу.\n\nВы спасли свою жизнь, но что насчет рассудка?"
Book_CampingKit = "Набор туриста\n\nТуристическое снаряжение в мешке из прочной ткани.\n\nНабор позволяет разжигать большие костры, восстанавливающие больше единиц здоровья.\n\nСтоимость использования: \ue0f1 × #{i:CampingKit:StokePriceTag}."
Book_ClimbingBoots = "Ботинки Альпиниста\n\nПара стильных туристических ботинок с шипованными подошвами.\n\nЗащищают от повреждений при падении и позволяют безопасно проходить под сосульками."
Book_Soapstone = "Стеатит\n\nТакже известен как «мыльный камень». Зеленоватого оттенка, в форме звезды. Не дает никаких особых способностей."
Book_Summon = "Призывание\n\nНажмите #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower}, чтобы вызвать разъяренного шоггота.\n\nШоггот будет нападать на всех, кого увидит, включая вас!\n\nСтоимость использования: \ue0f1 × #{i:PowerSummon:PowerCost}."
Book_Flare = "Сигнальная ракета\n\nНажмите #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower}, чтобы выпустить магическую ракету.\n\nРакета осветит путь и отвлечет монстров.\n\nСтоимость использования: \ue0f1 × #{i:PowerFlare:PowerCost}."
ShoggothShopkeeperTalk = "Шоггот рычит и булькает, глядя на вас."
SquidmanFriendlyShopkeeperTalk = "Дитя звезд радушно приветствует вас.\n\n«Добро пожаловать, друг! Не желаешь купить что-нибудь в моем скромном магазине?»"
Airplane = "Аэроплан"
RIPDmgIcicles = "проткнут упавшей сосулькой"
RIPDmgElderThingMelee = "убит Древним"
RIPDmgElderThingRanged = "застрелен Древним"
RIPDmgMigo = "убит Ми-го"
RIPDmgMigoExplode = "отравлен трупом Ми-го"
RIPDmgYCultistMelee = "убит приспешником Йог-Сотота"
RIPDmgYCultistRanged = "застрелен приспешником Йог-Сотота"
RIPLvlMoM = "в хребтах безумия"

# Common stuff here
Russian				= "Русский"
Ukrainian			= "Українська"