[German]
True = "Ein"
False = "Aus"
OK = "OK"
Yes = "Ja"
No = "Nein"
Play = "Spielen"
Options = "Optionen"
Quit = "Beenden"
PressStart = "Drücke Enter"
ConfirmQuit = "Beenden?"
ConfirmSaveAndQuit = "Speichern und beenden?"
Version = "Build #{s:ContentSyncer:Version}"
BindControls = "Tastaturbelegung ändern"
Controls = "Steuerung"
MouseSpeed = "Mausgeschwindigkeit:"
InvertY = "Y-Achse umkehren:     #{b:InvertY}"
Resolution = "Auflösung:   #{i:DisplayWidth} × #{i:DisplayHeight}"
SetRes = "Auflösung"
Fullscreen = "Vollbild:   #{b:Fullscreen}"
Brightness = "Helligkeit"
FOV = "FOV"
Volume = "Lautstärke:"
MusicVolume = "Musiklautstärke:"
Back = "Zurück"
BindForward = "Vorwärts gehen:"
BindBack = "Rückwärts gehen:"
BindLeft = "Nach links gehen:"
BindRight = "Nach rechts gehen:"
BindJump = "Springen:"
BindFrob = "Benutzen:"
BindLeanLeft = "Nach links lehnen:"
BindLeanRight = "Nach rechts lehnen:"
BindRun = "Rennen:"
BindCrouch = "Hocken:"
BindUseWeapon = "Waffe feuern:"
BindUsePower = "Kraft benutzen:"
BindDropWeapon = "Waffe fallen lassen:"
BindCycleUp = "Waffe zurück:"
BindCycleDown = "Waffe vor:"
BindDialog = "Drücke Taste zur Neubelegung.\nEsc: Abbruch.\nBackspace: Tastenbelegung löschen"
Paused = "Pausiert"
Resume = "Fortfahren"
ReturnToHub = "Zurück zur Bibliothek"
Resurrect = "Auferstehen"
SaveAndQuit = "Speichern und beenden"
Death = "Du bist tot."
ConfirmResurrect = "Auferstehen? (Fortschritt\nwird nicht gespeichert)"
Souls = "Seelen"
Gear = "Ausrüstung"
PowerHypnotize = "Hypnose"
PowerBuild = "Materialisieren"
PowerLift = "Heben"
PowerKnock = "Schlag"
PowerTeleport = "Teleport"
PowerCloak = "Schleier"
BankPlayer = "Spieler"
BankBank = "Bank"
Price = "Preis:"
Buy = "Kaufen"
Steal = "Stehlen"
Cancel = "Abbrechen"
Dying = "Du stirbst..."
Revive = "Heilen"
FrobHold = "Hold #{s:EldritchKeyboard:Frob}#{l:EldritchMouse:Frob}#{l:EldritchController:Frob} #{c:HUD:HoldVerb}"
RIPFormat = "|RIP| Ich %s in %s."
RIPURL = "http://www.eldritchgame.com"
RIPHashtags = "eldritch"
RIPTwitter = "https://twitter.com/intent/tweet?text=%s&hashtags=%s&url=%s"
RIPDmgUnknown = "starb"
RIPDmgResurrect = "gab auf"
RIPDmgPlayer = "machte einen schweren Fehler"
RIPDmgSpikes = "stolperte in eine Fallgrube"
RIPDmgBarnacle = "verärgerte einen Riesenkrebs"
RIPDmgFishmanMelee = "wurde von einem Fischmenschen erschlagen"
RIPDmgFishmanRanged = "wurde von einem Fischmenschen erschossen"
RIPDmgDCultistMelee = "wurde von einem feuchten Kultisten erschlagen"
RIPDmgDCultistRanged = "wurde von einem feuchten Kultisten erschossen"
RIPDmgNCultistMelee = "wurde von einem sandigen Kultisten erschlagen"
RIPDmgNCultistRanged = "wurde von einem sandigen Kultisten erschossen"
RIPDmgRCultistMelee = "wurde von einem schleimigen Kultisten erschlagen"
RIPDmgRCultistRanged = "wurde von einem schleimigen Kultisten erschossen"
RIPDmgLizardmanMelee = "wurde von einem Echsenmann erschlagen"
RIPDmgLizardmanRanged = "wurde von einem Echsenmann erschossen"
RIPDmgEye = "wurde von einem fliegenden Auge erschossen"
RIPDmgShoggoth = "wurde von einem Schoggothen zertrampelt"
RIPDmgLizardWatson = "habe einer grausigen Statue den Rücken zugedreht"
RIPDmgMummy = "wurde von einer fauligen Mumie gefressen"
RIPDmgSquidmanMelee = "wurde von Sterngezücht erschlagen"
RIPDmgSquidmanRanged = "wurde von Sterngezücht erschossen"
RIPDmgPolyp = "wurde von einem Flugkraken erschossen"
RIPDmgBugMelee = "wurde von einem Käfer gebissen"
RIPDmgBugRanged = "wurde von einem Käfer erschossen"
RIPDmgFoodPoisoning = "starb an Lebensmittelvergiftung"
RIPDmgShopkeeper = "unterschätzte einen Kaufmann"
RIPDmgTrapBolt = "stolperte über einen Draht"
RIPLvlUnknown = "einem einsamen Ort"
RIPLvlLibrary = "einer geheimnisvollen Bibliothek"
RIPLvlEndgame = "einer riesigen Bibliothek"
RIPLvlWater = "einer Ruine Dagons"
RIPLvlSand = "einem staubigen Tempel des Nyarlathotep"
RIPLvlSwamp = "der verlorenen Stadt R'lyeh"
RIPLvlSubspace = "einem seltsamen, dunklen Ort"
JumpBoots = "Sprungstiefel"
JumpBootsDesc = "Mit diesen Stiefeln kannst\ndu höher springen."
SpeedBoots = "Laufstiefel"
SpeedBootsDesc = "Mit diesen Stiefeln kannst\ndu schneller laufen."
QuietBoots = "Schleichstiefel"
QuietBootsDesc = "Diese Stiefel dämpfen\ndeine Schritte."
LocksmithKit = "Schlosserausrüstung"
LocksmithKitDesc = "Erlaubt dir, für wenig\nGeld verschlossene Türen\nzu öffnen und verschließen"
MedicalKit = "Verbandskasten"
MedicalKitDesc = "Erlaubt dir, dich für\neinen Preis nach deinem\nTod zu heilen."
TinningKit = "Einmachhilfe"
TinningKitDesc = "Erlaubt dir, für einen\nPreis die Leichen einiger\nKreaturen zu essen."
Bottle = "Flasche"
BottleDesc = "Wirf sie, um Lärm zu\nmachen oder Gegner zu\nverwunden."
Revolver = "Revolver"
RevolverDesc = "Zuverlässige Schusswaffe.\nVerbraucht Munition. Preis\ninklusive dreier Kugeln."
Snaregun = "Stolperdraht-Gewehr"
SnaregunDesc = "Geschoss befestigt\nStolperdraht an jeder\nOberfläche. 3 Kugeln inkl."
Compass = "Kompass"
CompassDesc = "Zeigt den Weg zum Ausgang."
Charm = "Glücksbringer"
CharmDesc = "Mehr Beute an toten\nGegnern, wenn ausgerüstet."
Amulet = "Amulett der Zerstörung"
AmuletDesc = "Verstärkt Waffenschaden.\nKugeln können Gelände\nzerstören."
Talisman = "Beschwörertalisman"
TalismanDesc = "Verringert die Kosten von Kräften."
Key = "Schlüssel"
KeyDesc = "Schließt Türen auf.\nZur einmaligen Verwendung."
Dagger = "Dolch"
DaggerDesc = "Zweischneidiges Messer.\nHöhere Reichweite und mehr\nSchaden als deine Fäuste."
Dynamite = "Dynamit"
DynamiteDesc = "Nitroglyzerin-getränkte\nStäbe. Explosiv und höchst\ninstabil!"
MeatDesc = "Gibt dir ein wenig\nGesundheit zurück."
Corpse = "Leiche"
Shopkeeper = "Kaufmann"
WaterSoul = "Seele des Dagon"
SandSoul = "Seele des Nyarlathotep"
SwampSoul = "Seele des Cthulhu"
HardSoul = "Seele des Bibliothekars"
Rock = "Stein"
Chest = "Aufbewahrungstruhe"
ExitDoor = "Ausgang"
ExitDoorUp = "Eingang"
Book = "Buch"
WorldBook = "Seltsames Buch"
SubspaceBook = "Staubiges Buch"
Door = "Tür"
LockedDoor = "Verschlossene Tür"
GateDoor = "Verschlossene Eisentür"
UnlockedGateDoor = "Eiserne Tür"
Mirror = "Spiegel"
DeskLamp = "Schreibtischlampe"
Toilet = "Toilette"
Sink = "Waschbecken"
Artifact = "Artefakt"
Artifact5 = "Ein Haufen Artefakte"
StatueHypnotize = "Hypnosestatue"
StatueCloak = "Verschleierte Statue"
StatueBuild = "Robuste Statue"
StatueLift = "Federnde Statue"
StatueKnock = "Nachhallende Statue"
StatueTeleport = "Instabile Statue"
Meat = "Gebratenes Fleisch"
BadMeat = "Verfaultes Fleisch"
Fountain = "Brunnen"
Pedestal = "Podest"
Plant = "Frucht"
PlantToxic = "Giftige Frucht"
HolySymbol = "Heiliges Zeichen"
ConsecrationKit = "Segnungswerkzeug"
Sandals = "Sandalen"
Candle = "Kerze"
RitualBook = "Binderitual"
FullGame = "Vollversion"
PickUp = "Aufheben"
Examine = "Untersuchen"
Loot = "Plündern"
Read = "Lesen"
Eat = "Essen"
EatUnsure = "...Essen?"
EatCorpse = "Essen (\ue0f1 × #{i:TinningKit:TinPriceTag})"
LockDoor = "Verschließen (\ue0f1 × #{i:LocksmithKit:LockPriceTag})"
Go = "Weiter"
Return = "Zurück"
Pray = "Beten"
Open = "Öffnen"
Close = "Schließen"
Quaff = "Trinken"
Disarm = "Entschärfen"
Light = "Entzünden"
Switch = "Anschalten"
Flush = "Spülen"
Use = "Benutzen:"
Talk = "Sprechen"
World = "Welt"
WorldName = "#{l:HUD:WorldName}"
Level_Library = "Die Bibliothek"
Level_Water-1 = "Dagon-1"
Level_Water-2 = "Dagon-2"
Level_Water-3 = "Dagon-3"
Level_Sand-1 = "Nyarlathotep-1"
Level_Sand-2 = "Nyarlathotep-2"
Level_Sand-3 = "Nyarlathotep-3"
Level_Swamp-1 = "R'lyeh-1"
Level_Swamp-2 = "R'lyeh-2"
Level_Swamp-3 = "R'lyeh-3"
Level_Endgame-1 = "Bibliothek-1"
Level_Endgame-2 = "Bibliothek-2"
Level_Endgame-3 = "Bibliothek-3"
Level_Subspace = "???????"
Credits = "Credits"
Book_Controls = "Wenn du die Tastenbelegung nicht magst, kannst du sie im Optionsmenü ändern."
Book_Keys = "Mit Schlüsseln kannst du Türen öffnen. Jeder Schlüssel kann nur einmal benutzt werden."
Book_Statue = "Statuen\n\nDiese riesigen steinernen Idole stellen furchtbare Kreaturen dar, wie sie nie zuvor auf Erden gesehen wurden.\n\nBetest du an der Statue, wird dir eine besondere Kraft der großen Alten zuteil."
Book_Food = "Nahrung\n\nNahrungsaufnahme stellt verlorene Gesundheit wieder her.\n\nSei vorsichtig! Verfaultes oder giftiges Essen ist ungenießbar."
Book_Fountain = "Brunnen\n\nAus einem Brunnen zu trinken gibt dir Gesundheit zurück und erhöht deine maximale Gesundheit.\n\nBrunnen trocknen nach einmaliger Verwendung aus."
Book_Ledger = "Elder Ridge Bibliothek\nEntleiher-Verzeichnis\n\nGegenstand No. |   Name      |  Datum\n---------------------------------------\n  9713   | J. K. Pippen      | 10/12/26\n  5576   | Kim Putnam        | 10/15/26\n  4185   | Ken Thudson, Esq. | 12/ 3/26\n  6287   | Kynan Wales       |  1/29/27\n  0451   | F. B. Gaynor      |  2/ 4/27\n  2934   | Stuart Jameson    |  2/15/27\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /"
Book_Journal = "Forschertagebuch, Seite 2\n\nDiese Bibliothek nimmt kein Ende. Ich bin mir nicht mehr sicher, ob es einen Ausgang gibt. Es scheint mir, als würde ich die gleichen Erfahrungen durchleben; wieder und wieder, Tag für Tag, endlos.\n\nWenn ich einen Ausgang aus diesem Wahnsinn finde, dann wahrscheinlich in diesen strahlenden Büchern. Es befindet sich unvorstellbare Macht in diesen Seiten, und unaussprechliches Grauen...\n\nScheinbar ruhen die Geister alter Gottheiten in den Büchern, auch wenn ich nicht weiß, aus welchem Grund. Aber ihre gesammelte Macht muss der Schlüssel zu meiner Gefangenschaft in diesem Labyrinth sein..."
Book_Journal2 = "Forschertagebuch, Seite 1\n\nEtwas Sonderbares ist mir widerfahren. Ich verspüre den Drang, dies niederzuschreiben, für den Fall, dass ich nicht zurückkehre.\n\nDas Letzte, woran ich mich erinnere: ich untersuchte dieses eigentümliche Buch in der Bibliothek... und plötzlich finde ich mich in einer gefährlichen Welt voller lauernder Monster und trügerischer Fallen wieder.\n\nSollten meine Untersuchungen sich als richtig erweisen, so bin ich im verlorenen Tempel des uralten Gottes Dagon. Ein mächtiges Relikt soll sich in diesen Tiefen befinden. Vielleicht ist es der Schlüssel zu meiner Flucht..."
Book_Journal3 = "Forschertagebuch, Seite 3\n\nOh Gott, nein. Ich wusste nicht, was ich tat.\n\nIch habe einen Weg aus der Bibliothek gefunden, doch erst jetzt verstehe ich ihre wahre Natur. Auf meiner Flucht habe ich die Büchse der Pandora geöffnet.\n\nDie Bibliothek ist ein interdimensionales Gefängnis, das vor Tausenden von Jahren geschaffen wurde, um die großen Alten einzusperren. Es bleibt mir ein Rätsel, wie ich hier gefangen wurde, aber es ist offensichtlich, dass der Ausgang nie geöffnet werden sollte.\n\nUnvorstellbare, grauenvolle Dinge ergießen sich nun durch meine Schuld auf die Erde. Können sie jemals wieder unter Kontrolle gebracht werden?"
Book_Journal4 = "Forschertagebuch, Seite 4\n\nIch habe möglicherweise eine Lösung gefunden, gegen das Übel anzugehen, dass ich versehentlich freigesetzt habe. Meine Nachforschungen haben ergeben, dass es wohl ein \"Binderitual\" gab, dass die Mystiker vollführt haben, als die Großen Alten das letzte Mal die Erde bedrohten.\n\nDas Binderitual wird vollzogen, indem die uralten Worte, welche die Eindringlinge in ein unendliches, viele Dimensionen umspannendes Gefängnis verbannen, laut vorgetragen werden.  Daraufhin opfert sich eine Person, um für alle Ewigkeit als Wächter dieses Gefängnisses zu dienen.\n\nVerstärkt wird das Ritual durch das Entzünden dreier Kerzen, welche die Ziele ins Herzen des Gefängnisses locken und sie in den Schlaf wiegen.\n\nUralte Überlieferungen erwähnen einen weiteren Schritt, in dem der Wächter durch seinen geweihten Stellvertreter seiner Pflicht entbunden wird. Nähere Details sind leider verloren gegangen."
Book_Sprint = "Rennen\n\nDrücke und halte #{s:EldritchKeyboard:Run}#{l:EldritchMouse:Run}#{l:EldritchController:Run}, um zu rennen.\n\nWährend du rennst, ducke dich (#{s:EldritchKeyboard:Crouch}#{l:EldritchMouse:Crouch}#{l:EldritchController:Crouch}), um über den Boden zu rutschen."
Book_Crouch = "Ducken\n\nDrücke #{s:EldritchKeyboard:Crouch}#{l:EldritchMouse:Crouch}#{l:EldritchController:Crouch}, um dich zu ducken.\n\nDu passt dann durch enge Durchgänge, und deine Schritte machen weniger Lärm.\n\nDuckst du dich, während du rennst (#{s:EldritchKeyboard:Run}#{l:EldritchMouse:Run}#{l:EldritchController:Run}), rutscht du schnell über den Boden."
Book_Jump = "Springen\n\nDrücke #{s:EldritchKeyboard:Jump}#{l:EldritchMouse:Jump}#{l:EldritchController:Jump}, um zu springen.\n\nHalte die Taste gedrückt, wenn du auf einen Vosprung zuspringst, um dich festzuhalten und hochzuziehen."
Book_Lean = "Lehnen\n\nDrücke #{s:EldritchKeyboard:LeanLeft}#{l:EldritchMouse:LeanLeft}#{l:EldritchController:LeanLeft}, um dich nach links zu lehnen.\nDrücke #{s:EldritchKeyboard:LeanRight}#{l:EldritchMouse:LeanRight}#{l:EldritchController:LeanRight}, um dich nach rechts zu lehnen.\n\nFeinde können dich nicht entdecken, wenn du aus dem Verborgenen heraus um die Ecke schaust."
Book_Artifact = "Artefakte\n\nDiese unirdischen Steinschnitzereien sind deine Währung in dieser Welt.\n\nDu kannst damit Gegenstände erwerben, oder sie zum Aktivieren besonderer Fähigkeiten benutzen."
Book_Hypnotize = "Hypnose\n\nZiele auf eine Kreatur und drücke #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower}\n, um sie zu hypnotisieren.\n\nHypnotisierte Kreaturen werden für dich kämpfen.\n\nSei vorsichtig! Bei willensstarken Kreaturen hält der Effekt nur kurze Zeit an.\n\nHypnose kostet dich \ue0f1 × #{i:PowerHypnotize:PowerCost}."
Book_Build = "Materialisieren\n\nDrücke #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower}, um eine mystische Barriere zu erschaffen.\n\nVerwende diese Barrieren, um Gegnern den Weg zu versperren, oder um an schwer erreichbare Stellen zu gelangen.\n\nSei vorsichtig! Du kannst dich so auch selbst einmauern.\n\nEs kostet \ue0f1 × #{i:PowerBuild:PowerCost}, um Materialisieren zu verwenden."
Book_Lift = "Heben\n\nDrücke #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower}, um dich selbst hochzuschleudern.\n\nDu kannst Heben auch in der Luft benutzen, so dass du noch höhere Stellen erreichst.\n\nEs kostet \ue0f1 × #{i:PowerLift:PowerCost}, um Heben zu verwenden."
Book_Knock = "Schlag\n\nDrücke #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower}, um Schlag auszuführen.\n\nZiele auf eine verschlossene Tür, um sie zu öffnen, oder ziele auf eine beliebige Oberfläche, um ein Geräusch zu verursachen, das patroullierende Gegner ablenkt.\n\nEs kostet \ue0f1 × #{i:PowerKnock:PowerCost}, um Schlag zu verwenden."
Book_Teleport = "Teleport\n\nDrücke #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} einmal, um eine Stelle zu markieren.\nDrücke #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} erneut, um dich zur Markierung zu teleportieren.\n\nHalte #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower} gedrückt, um die Markierung aufzuheben. \n\nEine Stelle zu markieren und die Markierung wieder aufzuheben, kostet nichts. Der Teleport an sich kostet \ue0f1 × #{i:PowerTeleport:PowerCost}."
Book_Cloak = "Schleier\n\nDrücke #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower}, um dich in einen Schleier aus Dunkelheit zu hüllen.\n\nWährend du so verhüllt bist, können Feinde dich nicht sehen. Nach kurzer Zeit lässt die Wirkung nach.\n\nSei vorsichtig! Feinde können dich noch immer hören, während du Schleier benutzt.\n\nEs kostet \ue0f1 × #{i:PowerCloak:PowerCost}, um Schleier zu verwenden."
Book_PowerBroke = "Kraftkosten\n\nDeine Kräfte zu verwenden verbraucht Artefakte.\n\nDu hast nicht genug Artefakte, um diese Kraft jetzt zu benutzen.\n\nErkunde die Welt, um mehr Artefakte zu finden!"
#Book_Direction = "Hab Acht! Du hast eine gefährliche Welt voller lauernder Monster und trügerischer Fallen betreten.\n\nEine machtvolle Reliquie wird in den Tiefen dieser Welt aufbewahrt. Steige hinab, um sie zu erlangen und deine Reise fortzusetzen."
Book_Weapons = "Waffen und Gegenstände\n\nDrücke #{s:EldritchKeyboard:UseWeapon}#{l:EldritchMouse:UseWeapon}#{l:EldritchController:UseWeapon}, um zu schlagen, ein Objekt zu werfen, oder eine Waffe abzufeuern.\n\nDrücke #{s:EldritchKeyboard:DropWeapon}#{l:EldritchMouse:DropWeapon}#{l:EldritchController:DropWeapon}, um den Gegenstand in deiner rechten Hand fallen zu lassen\n\nDu kannst zwei Waffen oder Gegenstände gleichzeitig tragen. Drücke #{s:EldritchKeyboard:CycleUp}#{l:EldritchMouse:CycleUp}#{l:EldritchController:CycleUp}/#{s:EldritchKeyboard:CycleDown}#{l:EldritchMouse:CycleDown}#{l:EldritchController:CycleDown}, um zwischen ihnen zu wechseln."
Book_Water = "Dieses Buch ist in einer Sprache geschrieben, die dir komplett unbekannt ist.\n\nAls du die seltsamen Glyphen betrachtest, erscheint es dir, als würden sie sich vom Papier heben und die bizzaren und unirdischen Formen der Kreaturen und Welten annehmen, die sie beschreiben.\n\nDie Worte umkreisen dich, lassen die Bibliothek verblassen und füllen deinen Geist mit dem unerträglichen Geschnatter einer uralten, vormenschlichen Sprache.\n\nZutiefst erschüttert versuchst du das Buch zu schließen... und findest dich in der fremdartigen Welt wieder, von der im Buch die Rede ist."
Book_SandLocked = "Eine unsichtbare Kraft hält dieses Buch verschlossen. Da ist eine Inschrift auf dem Umschlag:\n\nAn diesem Ort gibt es keine Ehre. Eine furchtbare Macht ist an dieses Buch gebunden. Es wurde durch die Seele Dagons versiegelt, und kann nur von ebendieser Seele geöffnet werden."
Book_Sand = "Du hältst die Seele von Dagon vor das versiegelte Buch. Die Kugel drückt sich gegen deine Finger, fühlbar bestrebt, die lederne Oberfläche zu berühren.\n\nEin ferner Wind beginnt zu heulen, als die verkapselte Seele in deiner Hand zu toben beginnt. Als Dagons Zorn stärker wird, beginnt die Macht, die das Buch verschlossen hält, zu brechen. \n\nEin ohrenbetäubendes Krachen ertönt, als das Siegel bricht. Die Seele des Dagon wird wieder ruhig und still.\n\nDas Buch öffnet sich und offenbart staubige, mit unheimlichen Glyphen bedeckte Seiten. Eine namenlose Angst erfüllt dich.\n\nDie nächste Welt erwartet dich..."
Book_WorldUnlock = "Du hast das Buch zur nächsten Welt freigeschaltet. Diese Bücher bleiben auch dann für dich zugänglich, wenn du stirbst und neu beginnst."
Book_SwampLocked = "Eine unsichtbare Kraft hält dieses Buch verschlossen. Da ist eine Inschrift auf dem Umschlag:\n\nAn diesem Ort gibt es keine Ehre. Eine furchtbare Macht ist an dieses Buch gebunden. Es wurde durch die Seele Nyarlathoteps versiegelt, und kann nur von ebendieser Seele geöffnet werden."
Book_Swamp = "Du präsentierst die Seele von Nyarlathotep und das Siegel des Buches bricht. Eine profunde Furcht breitet sich in dir aus. \n\nDie nächste Welt erwartet dich..."
Book_ExitLibrary = "Du stellst die Seelen der Großen Alten vor der Tür auf. Sie summen und vibrieren förmlich vor Erwartung.\n\nDie Bibliothek wird in ihren Grundfesten erschüttert. Bücher fallen aus ihren Regalen, und die Tür ächzt unter dem Ansturm enormer Kräfte. Das unirdische Geheul der Großen Alten wächst zu einer betäubenden Kakophonie, und schließlich bricht die Tür auf.\n\nEine übelkeitserregende Erkenntnis überkommt dich:\n\nDer Weg nach draußen ist frei."
Book_EndgameEnter = "Du beginnst den Aufstieg aus den Tiefen der Bibliothek, aber das formlose Grauen in deinem Herzen hat sich verhärtet.\n\nSo wie du dich der Macht der Großen Alten bedient hast, um aus der Bibliothek zu entkommen, so haben sie dich benutzt, um sich aus ihrer Gefangenschaft zu befreien.\n\nUnvorstellbare Schrecken dringen nun auf der Erde ein; und alles durch deine Schuld. Können sie jemals wieder unter Kontrolle gebracht werden?"
Book_BadEnd = "Laut trägst du die uralten Worte des Binderituals vor.\n\nDie Großen Alten, die sich noch in der Bibliothek befanden, sind nun wieder gefangen und werden keine Bedrohung mehr darstellen. Doch viele von ihnen sind bereits entkommen und wüten jenseits der Mauern der Bibliothek. \n\nDu hast getan, was du konntest. Und nun vollendest du das Ritual, indem du den letzten Schritt durchführst:\ndu opferst dich, um für alle Ewigkeiten als Wächter in der Bibliothek zu verbleiben.\n\n\n\n                Ende\n\n\n\nGespielte Generationen: #{i:HUD:GenerationsCounter}"
Book_GoodEnd = "Laut trägst du die uralten Worte des Binderituals vor.\n\nVom Kerzenschein angezogen, unterbrechen die Großen Alten ihr Wüten, werden still, und treiben lethargisch auf das Herz der Bibliothek zu.\n\n Nachdem sie alle wieder sicher in ihrem Gefängnis angekommen sind, vollendest du das Ritual,  indem du den letzten Schritt durchführst:\ndu opferst dich, um für alle Ewigkeiten als Wächter in der Bibliothek zu verbleiben.\n\n\n\n                Ende\n\n\n\nGespielte Generationen: #{i:HUD:GenerationsCounter}"
Book_TrueEnd = "Laut trägst du die uralten Worte des Binderituals vor.\n\nVom Kerzenschein angezogen, unterbrechen die Großen Alten ihr Wüten, werden still, und treiben lethargisch auf das Herz der Bibliothek zu.\n\n Nachdem sie alle wieder sicher in ihrem Gefängnis angekommen sind, vollendest du das Ritual,  indem du den letzten Schritt durchführst:\ndu platzierst ein gesegnetes Symbol an deiner Statt, um die Großen Alten zu bewachen.\n\nEndlich bist du frei. Und die Großen Alten schlafen, für alle Ewigkeit...\n\n\n\n                Ende\n\n\n\nGespielte Generationen: #{i:HUD:GenerationsCounter}"
Book_WaterSoul = "Du ergreifst die seltsame blaue Kugel. Sie summt in Erwiderung deiner Berührung und vibriert, als wolle sie sich losreißen.\n\nAls deine Finger sie fester umschließen, wirst du von einer plötzlichen und unwillkommenen Erkenntnis getroffen: in diesem unirdischen Gefäß beginnt sich die Seele der uralten Gottheit Dagon zu rühren und zu erwachen.\n\nEine längst vergessene Erinnerung von Todesangst, unkontrollierter Zerstörung und dann einem geheimen Ritual und einem unbehaglichem Frieden erscheint vor deinem inneren Auge.\n\nAls die Vision verblasst, bleibt ein kränkliches, leeres Gefühl. Die Seele von Dagon rührt sich in der Stille.\n\nDu kannst jetzt das nächste Buch in der Bibliothek freischalten."
Book_SandSoul = "Du nimmst die seltsame rote Kugel an dich. Sie summt und zittert, als Nyarlathotep erwacht. Eine Welle des Grauens überkommt dich.\n\nDu kannst jetzt das nächste Buch in der Bibliothek freischalten."
Book_SwampSoul = "Du hebst die seltsame grüne Kugel auf. Mit einem glitschigen Schütteln erwacht Cthulhu. Die Erkenntnis lässt dich angewidert zurückschrecken.\n\nDa sich jetzt alle drei Kugeln in deinem Besitz befinden, kannst du die Tür der Bibliothek öffnen."
Book_HardSoul = "Willkommen bei New Game+!\n\nDurch das Aufheben dieser Seele hast du eine schwierigere Version des Spiels freigeschaltet.\n\nDer Effekt hält nur so lange an, bis du stirbst."
Book_Soul = "Seelen\n\nEine Seele ist die ruhende Essenz eines Großen Alten, gebunden in physischer Form. Seelen werden in den Tiefen jeder Welt gefunden.\n\nSie werden benötigt, um Bücher in der Bibliothek zu öffnen.\n\nEs ist sicherlich unbedenklich, den Geist eines Großen Alten zurück zur Erde zu bringen..."
Book_Death = "Tod\n\nWenn deine Gesundheit aufgebraucht ist, stirbst du.\n\nNach deinem Tod kannst du in der Bibliothek wiederauferstehen.\n\nDein Eigentum geht verloren, aber die Artefakte in deiner Banktruhe bleiben erhalten. Alle Bücher, die du bereits freigeschaltet hast, bleiben auch zugänglich.\n\nDu kannst auch jederzeit einen neuen Versuch starten, indem du \"Auferstehen\" im Pause-Menü auswählst."
Book_Chest = "Bank\n\nDu kannst deine Artefakte in einer Truhe aufbewahren. Artefakte, die du hier ablegst, können später wieder hier oder aus einer anderen Kiste entnommen werden.\n\nWenn du stirbst, verlierst du all dein Eigentum, aber die in der Truhe abgelegten Artefakte bleiben erhalten."
Book_Shop = "Einkaufen\n\nIn jedem Laden steht eine Auswahl wertvoller Gegenstände zum Verkauf.\n\nWenn du dir etwas nicht leisten kannst, kannst du versuchen, den Gegenstand zu stehlen. Das wird jedoch den Verkäufer verärgern."
Book_Gear = "Ausrüstung\n\nAusrüstung verbessert deine Fähigkeiten oder macht neue Fertigkeiten verfügbar.\n\nEs gibt drei Arten von Ausrüstung: Stiefel, Werkzeug und Zubehör\n\nDu kannst nur jeweils ein Teil jeder Art mit dir herumtragen."
Book_Lore1 = "Historie der Bibliothek, Band 1 von 4\n\nLegenden erzählen von einem katastrophalen Ereignis, das sich vor Tausenden von Jahren abspielte. Die Erde fiel dem Zorn der Großen Alten zum Opfer. Die wenigen Überlebenden entdeckten ein uraltes Ritual, mit dem sie die furchtbaren Wesen in ein labyrinthines Gefängnis verbannten. Das Leben auf der Erde erblühte erneut und die Überlebenden gründeten einen Orden von Wächtern, um das geheime Binderitual zu bewahren."
Book_Lore2 = "Historie der Bibliothek, Band 2 von 4\n\nTausende von Jahren vergingen, und die Großen Alten schlummerten in ihrem Gefängnis. Im späten 19. Jahrhundert entdeckten Archäologen in Arabien den Ort, an dem das Binderitual vollführt wurde. Die Ruhestörung wirkte sich auf das Gewebe des Kosmos aus und weckte die uralten Wesen. Längst vergessenes Grauen brach hervor und die Erde war erneut in höchster Not."
Book_Lore3 = "Historie der Bibliothek, Band 3 von 4\n\nIm frühen 20. Jahrhundert, als die Großen Alten die Erde zum zweiten Mal bedrohten, versammelten sich die Wächter in Neuengland, um das Binderitual erneut durchzuführen. Eine einfache Bibliothek wurde dazu auserkoren, den Ritus zu beherbergen. Die Wächter erwählten einen von ihnen - den Bibliothekar - um im Gefängnis zu verbleiben und es vor weiteren Störungen zu bewahren."
Book_Lore4 = "Historie der Bibliothek, Band 4 von 4\n\nIn einer kleinen Bibliothek in Neuengland vollzogen die Wächter das arkane Ritual, um die Großen Alten zu binden. Der Bibliothekar, ein einzelner Wächter, der dazu erkoren war, den Ort zu beschützen, wurde zusammen mit den furchtbaren Wesen eingesperrt. Doch, unbemerkt von den anderen Wächtern, erschütterte ein einziges falsches während des Rituals gesprochenes Wort Geist und Erinnerung des Bibliothekars..."
Book_Column = "Das Podest hat eine flache Einbuchtung, in die ein seltsames Muster eingraviert ist.\n\nEs scheint, als könne ein runder Gegenstand hier eingefügt werden."
Book_Loot = "Plündern\n\nDurchsuche Leichen nach Munition, Artefakten oder anderen Gegenständen.\n\nNachdem sie geplündert wurden, können Feinde irgendwo im Level wieder auftauchen."
Book_Sandals = "Sandalen\n\nEin einfaches Paar verstaubter Sandalen. Diese Sandalen verleihen keine besonderen Fähigkeiten."
Book_ConsecrationKit = "Segnungswerkzeug\n\nEine kleine Holzbox, die diverse Hilfsmittel zum Segnen einer Person oder eines Objekts enthält."
Book_HolySymbol = "Heiliges Zeichen\n\nEine kleine Steintafel mit religiösen Markierungen. Hat keinen offenkundigen Nutzen."
Book_JumpBoots = "Sprungstiefel\n\nEin abgenutztes Paar Stiefel mit Sprungfedern unter den Sohlen.\n\nTrägst du diese Stiefel, kannst du höher springen."
Book_SpeedBoots = "Laufstiefel\n\nEin knallbuntes Paar Stiefel, dasmit Federn dekoriert ist.\n\nTrägst du diese Stiefel, kannst du schneller laufen."
Book_QuietBoots = "Schleichstiefel\n\nEin schlichtes Paar Stiefel mit gepolsterten Sohlen.\n\nWenn du diese Stiefel trägst, werden deine Schritte gedämpft und du kannst dich leiser fortbewegen."
Book_LocksmithKit = "Schlosserausrüstung\n\nEin schwerer Leinenbeutel, der eine Anzahl stählerner Dietriche und anderes Werkzeug beinhaltet.\n\nTrägst du diese Ausrüstung bei dir,kannst du verschlossene Türen auch ohne dazugehörige Schlüssel öffnen. Auf diese Weise geöffnete Türen bleiben anderen Reisenden verschlossen.\n\nDie Ausrüstung lässt dich auch ein Schloss an einer unverschlossenen Tür anbringen. Es kostet \ue0f1 × #{i:LocksmithKit:LockPriceTag}, eine Tür zu verschließen."
Book_MedicalKit = "Verbandskasten\n\nEin stabiler Plastikkasten, der allerlei medizinische Vorräte enthält.\n\nTrägst du diesen Kasten bei dir, kannst du dich von tödlichen Verletzungen heilen. Wiederbelebung kostet \ue0f1 × #{i:MedicalKit:RevivePriceTag}, aber der Verbandskasten kann beliebig oft verwendet werden.\n\nDer Verbandskasten gibt dir 3 Lebenspunkte zurück."
Book_TinningKit = "Einmachhilfe\n\nEine verbeulte Metallbox, die Gerätschaften zum Einmachen von Lebensmitteln enthält.\n\nWenn du sie bei dir trägst, kannst du die Leichen nichtmenschlicher Gegner in Nahrung umwandeln, die dich heilt\n\nEs kostet \ue0f1 × #{i:TinningKit:TinPriceTag}, um eine Kreatur zuzubereiten und zu essen."
Book_Compass = "Kompass\n\nEin einfacher magnetischer Kompass.\n\nWenn du ihn mit dir herumträgst, werden wichtige Orte auf deiner Minimap markiert. Der Kompass weist dir außerdem den Weg zum Levelausgang."
Book_Amulet = "Amulett der Zerstörung\n\nEin kleiner Edelstein, verziert mit einem roten Stern.\n\nTrägst du dieses Amulett bei dir, sind deine Angriffe stärker. Außerdem können Pistolenkugeln die Umgebung zerstören."
Book_Charm = "Glücksbringer\n\nEin kleiner Edelstein, verziert mit einem vierblättrigen Kleeblatt.\n\nTrägst du dieses Amulett bei dir, findest du mehr Beute beim Durchsuchen besiegter Gegner."
Book_Talisman = "Beschwörertalisman\n\nEin kleiner Edelstein, verziert mit einem blauen Strudel.\n\nTrägst du dieses Amulett bei dir, kostet es weniger Artefakte, wenn du deine Kräfte benutzt."
FishmanShopkeeperTalk = "Der Fischmensch begrüßt dich mit einem weinerlichen Lächeln.\n\n\"Willkommen, Fremder! Bitte kauf\netwas , glup glup! Ich habe so viele\ngute Sachen in meinem Laden.\""
LizardmanShopkeeperTalk = "Der Echsenmensch betrachtet dich gleichgültig.\n\n\"Hier sssind alle willkommen, Fremder. Du wirsst nirgendwo besssere Preissse für ssso gute Ware finden.\""
SquidmanShopkeeperTalk = "Das Sterngezücht beäugt dich argwöhnisch.\n\n\"Kauf was, ja?\""
CouldNotConnect = "Konnte nicht mit dem Server verbinden"
CouldNotReceive = "Keine Daten vom Server erhalten"
ShouldUpdate = "Ein Update ist verfügbar.\nJetzt aktualisieren?"
UpToDate = "Spiel ist auf dem neuesten Stand."
Connecting = "Verbindet mit Server..."
CouldNotRunContentSyncer = "Konnte ContentSyncer nicht starten."
CurrentLanguage = "Sprache: #{l:Language}"
Language = "Sprache"
Display = "Anzeige"
Audio = "Audio"
ControllerSpeed = "Analogsticks:"
Level_MoM-Start = "Berge"
Level_MoM-1 = "Berge-1"
Level_MoM-2 = "Berge-2"
Level_MoM-3 = "Berge-3"
Level_MoM-4 = "Berge-4"
Level_MoM-5 = "Berge-5"
Level_MoM-6 = "Berge-6"
Level_MoM-7 = "Berge-7"
Level_MoM-8 = "Berge-8"
Level_MoM-9 = "Berge-9"
Level_MoM-Boss = "Berge-10"
Rest = "Rasten"
StokeCampfire = "Feuer schüren (\ue0f1 × #{i:CampingKit:StokePriceTag})"
Campfire = "Lagerfeuer"
CampfireStoked = "Lagerfeuer (geschürt)"
CampingKit = "Campingausrüstung"
CampingKitDesc = "Erlaubt dir, ein Feuer zu schüren, um mehr Heilung zu erhalten."
Soapstone = "Speckstein"
Hatchet = "Handbeil"
HatchetDesc = "Eine klobige Waffe. Gut, um Türen einzuschlagen."
Pickaxe = "Spitzhacke"
PickaxeDesc = "Ein minderwertig verarbeitetes Werkzeug, mit dem sich Felsen und Eis zerbrechen lassen. Hält nicht sehr lange."
Ropegun = "Enterhaken"
RopegunDesc = "Schießt einen Enterhaken, an den sich ein Kletterseil anbinden lässt, an alle festen Oberflächen."
ClimbingBoots = "Bergsteigerstiefel"
ClimbingBootsDesc = "Diese Stiefel bewahren dich vor Schaden beim Fallen. Sie lösen zudem keine Eisfallen aus."
PowerSummon = "Beschwören"
StatueSummon = "Ölige Statue"
PowerFlare = "Fackel"
StatueFlare = "Glühende Statue"
PlaneKeys = "Flugzeugschlüssel"
Book_MoM = "...War dieses Buch schon immer hier?\n\nEin eisiger Wind wirbelt um dich herum und schlägt die Seiten des Buchs um.\n\nDie Berge des Wahnsinns warten..."
Book_PlaneNoKeys = "Die Flugzeugschlüssel fehlen. Ohne sie kannst du nicht von hier weg."
Book_PlaneWithKeys = "Als du den Schlüssel im Zündschloss umdrehst, erwacht der Motor lautstark zum Leben.\n\nDu versuchst, nicht an die unmöglich uralten Dinge zu denken, die du erlebt hast. Als das Flugzeug abhebt, blickst du zurück auf die seltsamen Berge mit ihren unirdischen rechteckigen Monolithen, und ein Schaudern durchfährt dich.\n\nDu bist mit deinem Leben davongekommen, aber was ist mit deinem Verstand?"
Book_CampingKit = "Campingausrüstung\n\nEin widerstandsfähiger Leinensack, der eine Vielzahl nützlicher Campinggegenstände enthält.\n\nBesitzt du diese Ausrüstung, kannst du Lagerfeuer schüren. An einem geschürten Lagerfeuer zu rasten, gewährt zusätzliche Heilung.\n\nEs kostet \ue0f1 × #{i:CampingKit:StokePriceTag}, ein Lagerfeuer zu schüren."
Book_ClimbingBoots = "Bergsteigerstiefel\n\nEin Paar schicker Wanderstiefel mit Spikes an den Sohlen.\n\nWenn du diese Stiefel trägst, erleidest du keinen Schaden durch Stürze und unter Eiszapfen zu laufen, lässt sie nicht herunterfallen."
Book_Soapstone = "Speckstein\n\nEin grünlicher, sternförmiger Specksteinbrocken. Hat keinerlei Nutzen."
Book_Summon = "Beschwören\n\nDrücke #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower}, um einen unaufhaltsamen Schoggothen zu beschwören.\n\nDieser wird alles angreifen, was ihm begegnet... dich eingeschlossen!\n\nEs kostet \ue0f1 × #{i:PowerSummon:PowerCost}, um diese Kraft zu verwenden."
Book_Flare = "Fackel\n\nDrücke #{s:EldritchKeyboard:UsePower}#{l:EldritchMouse:UsePower}#{l:EldritchController:UsePower}, um eine magische Fackel zu werfen.\n\nDiese Fackel erhellt deinen Weg für kurze Zeit und lenkt Feinde ab.\n\nEs kostet \ue0f1 × #{i:PowerFlare:PowerCost}, um diese Kraft zu verwenden."
ShoggothShopkeeperTalk = "Der Schoggothe gurgelt dich unverständlich an."
SquidmanFriendlyShopkeeperTalk = "Das Sterngezücht empfängt dich freundlich.\n\n\"Willkommen, Freund! Willst du nicht etwas aus meinem bescheidenen Laden kaufen?\""
Airplane = "Flugzeug"
RIPDmgIcicles = "wurde von einem fallenden Eiszapfen erstochen"
RIPDmgElderThingMelee = "wurde von einem Älteren Wesen erschlagen"
RIPDmgElderThingRanged = "wurde von einem Älteren Wesen erschossen"
RIPDmgMigo = "wurde von einem Mi-go erschlagen"
RIPDmgMigoExplode = "wurde von einer Mi-go Leiche vergiftet"
RIPDmgYCultistMelee = "wurde von einem Yog-Sothoth Kultisten erschlagen"
RIPDmgYCultistRanged = "wurde von einem Yog-Sothoth Kultisten erschossen"
RIPLvlMoM = "den Bergen des Wahnsinns"