[EldritchTools]
NumSpawnerCategories = &
@ SpawnerCategory
@@& = "SpawnerCategory_Basics"
@@& = "SpawnerCategory_Progression"
@@& = "SpawnerCategory_Lights"
@@& = "SpawnerCategory_Doors"
@@& = "SpawnerCategory_Ladders"
@@& = "SpawnerCategory_Pickups"
@@& = "SpawnerCategory_PickupsForSale"
@@& = "SpawnerCategory_AIs"
@@& = "SpawnerCategory_Markup"
@@&	= "SpawnerCategory_Traps"
@@&	= "SpawnerCategory_Books"
@@&	= "SpawnerCategory_Deco"

[SpawnerCategory_Basics]
NumSpawnerDefs = &
@ SpawnerDef
@@& = "Spawner_Player"
@@&	= "Spawner_PlayerMoM"
@@& = "Spawner_Chest"
@@& = "Spawner_LibraryChest"
@@& = "Spawner_Mirror"
@@& = "Spawner_ExitDoorDown"
@@& = "Spawner_ExitDoorUp"
@@&	= "Spawner_ExitDoorUpMoMBoss"
@@& = "Spawner_ReturnEntranceBook"
@@& = "Spawner_ReturnBook"
@@&	= "Spawner_WebSiteBook"
@@& = "Spawner_LibraryExitDoor"
@@&	= "Spawner_LibraryReturnDoor"

[SpawnerCategory_Progression]
NumSpawnerDefs	= &
@ SpawnerDef
@@&				= "Spawner_WaterBook"
@@&				= "Spawner_SandBook"
@@&				= "Spawner_SwampBook"
@@&				= "Spawner_WaterSoul"
@@&				= "Spawner_SandSoul"
@@&				= "Spawner_SwampSoul"
@@&				= "Spawner_ColumnWater"
@@&				= "Spawner_ColumnSand"
@@&				= "Spawner_ColumnSwamp"
@@&				= "Spawner_ColumnHard"
@@&				= "Spawner_Candle"
@@&				= "Spawner_RitualBook"
@@&				= "Spawner_SubspaceEnterBook1"
@@&				= "Spawner_SubspaceEnterBook2"
@@&				= "Spawner_SubspaceEnterBook3"
@@&				= "Spawner_SubspaceExitBook"
@@&				= "Spawner_MoMEntrance"
@@&				= "Spawner_AirplaneKeys"

[SpawnerCategory_Lights]
NumSpawnerDefs = &
@ SpawnerDef
@@& = "Spawner_Torch_50"
@@& = "Spawner_Torch_100"
@@& = "Spawner_Torch_Unlit"
@@& = "Spawner_Lamp_100"
@@&	= "Spawner_ControlRoomLight"
@@&	= "Spawner_Mushrooms_50"
@@&	= "Spawner_Mushrooms_100"

[SpawnerCategory_Doors]
NumSpawnerDefs = &
@ SpawnerDef
@@& = "Spawner_Door"
@@& = "Spawner_LockedDoor"
@@& = "Spawner_GateDoor"

[SpawnerCategory_Ladders]
NumSpawnerDefs = &
@ SpawnerDef
@@& = "Spawner_Ladder5"
@@& = "Spawner_Ladder4"
@@& = "Spawner_Ladder3"

[SpawnerCategory_Pickups]
NumSpawnerDefs = &
@ SpawnerDef
@@& = "Spawner_Loot_50"
@@&	= "Spawner_Loot_100"
@@& = "Spawner_GoodLoot"
@@&	= "Spawner_GearLoot"
@@&	= "Spawner_Compass"
@@& = "Spawner_Compass_Start"
@@& = "Spawner_Statue"
@@&	= "Spawner_StatueA"
@@&	= "Spawner_StatueB"
@@&	= "Spawner_Meat"
@@&	= "Spawner_Bottle"
@@&	= "Spawner_Artifact"
@@&	= "Spawner_Artifact5"
@@&	= "Spawner_BankArtifacts"
@@&	= "Spawner_Dagger"
@@&	= "Spawner_Hatchet"
@@&	= "Spawner_Pickaxe"
@@&	= "Spawner_Ropegun"
@@&	= "Spawner_Dynamite"
@@&	= "Spawner_HolySymbol"
@@&	= "Spawner_ConsecrationKit"
@@&	= "Spawner_Sandals"
@@&	= "Spawner_Soapstone"

[SpawnerCategory_PickupsForSale]
NumSpawnerDefs = &
@ SpawnerDef
@@&	= "Spawner_Gear_ForSale_1"
@@&	= "Spawner_Gear_ForSale_2"
@@&	= "Spawner_Gear_ForSale_3"
@@&	= "Spawner_Gear_ForSale_4"
@@& = "Spawner_Revolver_ForSale"
@@& = "Spawner_Snaregun_ForSale"
@@&	= "Spawner_Ropegun_ForSale"
@@& = "Spawner_Bottle_ForSale"
@@& = "Spawner_Key_ForSale"
@@& = "Spawner_Meat_ForSale"
@@&	= "Spawner_Dagger_ForSale"
@@&	= "Spawner_Hatchet_ForSale"
@@&	= "Spawner_Pickaxe_ForSale"

[SpawnerCategory_AIs]
NumSpawnerDefs = &
@ SpawnerDef
@@& = "Spawner_AnyAI"
@@& = "Spawner_AnyShortAI"
@@& = "Spawner_Frogman"
@@& = "Spawner_FrogmanShopkeeper"
@@& = "Spawner_Eye"
@@& = "Spawner_Shoggoth"
@@& = "Spawner_LizardWatson"
@@&	= "Spawner_LizardmanShopkeeper"
@@&	= "Spawner_SquidmanShopkeeper"
@@&	= "Spawner_ShoggothShopkeeper"
@@&	= "Spawner_SleepingSquidman"
@@&	= "Spawner_InsaneFrogman_50"
@@&	= "Spawner_InsaneFrogman_100"
@@&	= "Spawner_Bug"
@@&	= "Spawner_MoMBug"
@@&	= "Spawner_Yog"
@@&	= "Spawner_YogSpawner"
@@&	= "Spawner_CultistYog1"
@@&	= "Spawner_CultistYog2"

[SpawnerCategory_Markup]
NumSpawnerDefs = &
@ SpawnerDef
@@& = "Spawner_PatrolPoint"
@@&	= "Spawner_ShopMarkup"
@@&	= "Spawner_GenerationsCounter"

[SpawnerCategory_Traps]
NumSpawnerDefs = &
@ SpawnerDef
@@& = "Spawner_Spikes_50"
@@& = "Spawner_Spikes_100"
@@&	= "Spawner_WallSpikes_50"
@@&	= "Spawner_WallSpikes_100"
@@&	= "Spawner_LooseTile_66"
@@&	= "Spawner_LooseTile_100"
@@&	= "Spawner_Snare_50"
@@&	= "Spawner_Snare_100"
@@&	= "Spawner_BarnacleFloor_50"
@@&	= "Spawner_BarnacleFloor_100"
@@&	= "Spawner_BarnacleWall_50"
@@&	= "Spawner_BarnacleWall_100"
@@&	= "Spawner_Icicles_50"
@@&	= "Spawner_Icicles_100"

[SpawnerCategory_Books]
NumSpawnerDefs = &
@ SpawnerDef
@@& = "Spawner_GuideArtifact"
@@& = "Spawner_GuideJump"
@@& = "Spawner_GuideLean"
@@& = "Spawner_GuideCrouch"
@@& = "Spawner_GuideSprint"
@@& = "Spawner_GuideFood"
@@& = "Spawner_GuideFountain"
@@& = "Spawner_GuideStatue"
@@& = "Spawner_GuideWeapons"
@@&	= "Spawner_GuideSoul"
@@&	= "Spawner_GuideDeath"
@@&	= "Spawner_GuideChest"
@@&	= "Spawner_GuideShop"
@@&	= "Spawner_GuideGear"
@@&	= "Spawner_GuideKeys"
@@&	= "Spawner_GuideControls"
@@&	= "Spawner_GuideLoot"
@@& = "Spawner_Ledger"
@@& = "Spawner_BookLoreRandom"
@@& = "Spawner_Journal"
@@& = "Spawner_Journal2"
@@& = "Spawner_Journal3"
@@& = "Spawner_Journal4"

[SpawnerCategory_Deco]
NumSpawnerDefs = &
@ SpawnerDef
@@& = "Spawner_RandomDeco"
@@&	= "Spawner_Plant"
@@&	= "Spawner_LibraryPlant"
@@&	= "Spawner_PlantEmpty"
@@&	= "Spawner_PlantEmpty50"
@@&	= "Spawner_Campfire"
@@& = "Spawner_Mist"
@@& = "Spawner_Dust"
@@& = "Spawner_HangingDust"
@@& = "Spawner_HangingIce"
@@&	= "Spawner_Fence1x1"
@@&	= "Spawner_Fence3x3"
@@& = "Spawner_Throne"
@@&	= "Spawner_Web"
@@&	= "Spawner_WebTop"
@@&	= "Spawner_Fountain"
@@&	= "Spawner_Table"
@@&	= "Spawner_Chair"
@@&	= "Spawner_ChairAtTable"
@@&	= "Spawner_DeskLamp"
@@&	= "Spawner_DeskLampOn"
@@&	= "Spawner_DeskLampOff"
@@&	= "Spawner_Tombstone"
@@&	= "Spawner_Toilet"
@@&	= "Spawner_Sink"
@@&	= "Spawner_Corpse"
@@&	= "Spawner_Airplane"