[EldritchWorld]
DebugRenderLightCrosses = false
DebugRenderLightSpheres = false

# Dimensions of rooms, in voxels
RoomSizeX = 12
RoomSizeY = 12
RoomSizeZ = 8

# Dimensions of maps, in rooms
MapSizeX = 4
MapSizeY = 4
MapSizeZ = 3

# Dimensions of meshes, in voxels
MeshSizeX = 6
MeshSizeY = 6
MeshSizeZ = 4

NumWorldDefs = &
@ WorldDef
@@& = "WorldDef_Library"
@@& = "WorldDef_Water"
@@& = "WorldDef_Water_Start"
@@& = "WorldDef_Water_Final"
@@& = "WorldDef_Sand"
@@& = "WorldDef_Sand_Start"
@@& = "WorldDef_Sand_Final"
@@& = "WorldDef_Swamp"
@@& = "WorldDef_Swamp_Start"
@@& = "WorldDef_Swamp_Final"
@@& = "WorldDef_Endgame"
@@& = "WorldDef_Endgame_Start"
@@& = "WorldDef_Endgame_Final"
@@& = "WorldDef_Subspace_1"
@@& = "WorldDef_Subspace_2"
@@& = "WorldDef_Subspace_3"
@@&	= "WorldDef_MoM_Start"
@@&	= "WorldDef_MoM_1"
@@&	= "WorldDef_MoM_2"
@@&	= "WorldDef_MoM_3"
@@&	= "WorldDef_MoM_4"
@@&	= "WorldDef_MoM_5"
@@&	= "WorldDef_MoM_6"
@@&	= "WorldDef_MoM_7"
@@&	= "WorldDef_MoM_8"
@@&	= "WorldDef_MoM_9"
@@&	= "WorldDef_MoM_Boss"

# NOTE: I could always configure this per-theme if I need.
# Dimensions of tileset, in tiles
TileSetSizeX = 8
TileSetSizeY = 8

# Adjust UVs slightly to prevent bleeding from adjcent tiles
UVAdjustment = 0.002	# Just slightly over 1/32 of a voxel, for 16x16 tiles.

# For turning off textures to show lighting only
#TestLight = true

#InitialLevel	= "Water-1"
InitialLevel	= "Library-Hub"

DefaultRIPName	= "RIPLvlUnknown"

# ******************************** Level defs ********************************

[Library-Hub]
WorldDef	= "WorldDef_Library"
Name		= "Level_Library"
RIPName		= "RIPLvlLibrary"

[Water-1]
WorldDef	= "WorldDef_Water_Start"
Name		= "Level_Water-1"
RIPName		= "RIPLvlWater"
NextLevel	= "Water-2"

[Water-2]
WorldDef	= "WorldDef_Water"
Name		= "Level_Water-2"
RIPName		= "RIPLvlWater"
NextLevel	= "Water-3"
PrevLevel	= "Water-1"

[Water-3]
WorldDef	= "WorldDef_Water_Final"
Name		= "Level_Water-3"
RIPName		= "RIPLvlWater"
PrevLevel	= "Water-2"

[Sand-1]
WorldDef	= "WorldDef_Sand_Start"
Name		= "Level_Sand-1"
RIPName		= "RIPLvlSand"
NextLevel	= "Sand-2"

[Sand-2]
WorldDef	= "WorldDef_Sand"
Name		= "Level_Sand-2"
RIPName		= "RIPLvlSand"
NextLevel	= "Sand-3"
PrevLevel	= "Sand-1"

[Sand-3]
WorldDef	= "WorldDef_Sand_Final"
Name		= "Level_Sand-3"
RIPName		= "RIPLvlSand"
PrevLevel	= "Sand-2"

[Swamp-1]
WorldDef	= "WorldDef_Swamp_Start"
Name		= "Level_Swamp-1"
RIPName		= "RIPLvlSwamp"
NextLevel	= "Swamp-2"

[Swamp-2]
WorldDef	= "WorldDef_Swamp"
Name		= "Level_Swamp-2"
RIPName		= "RIPLvlSwamp"
NextLevel	= "Swamp-3"
PrevLevel	= "Swamp-1"

[Swamp-3]
WorldDef	= "WorldDef_Swamp_Final"
Name		= "Level_Swamp-3"
RIPName		= "RIPLvlSwamp"
PrevLevel	= "Swamp-2"

[Endgame-1]
WorldDef	= "WorldDef_Endgame_Start"
Name		= "Level_Endgame-1"
RIPName		= "RIPLvlEndgame"
NextLevel	= "Endgame-2"

[Endgame-2]
WorldDef	= "WorldDef_Endgame"
Name		= "Level_Endgame-2"
RIPName		= "RIPLvlEndgame"
NextLevel	= "Endgame-3"
PrevLevel	= "Endgame-1"

[Endgame-3]
WorldDef	= "WorldDef_Endgame_Final"
Name		= "Level_Endgame-3"
RIPName		= "RIPLvlEndgame"
PrevLevel	= "Endgame-2"

[Subspace-1]
WorldDef	= "WorldDef_Subspace_1"
Name		= "Level_Subspace"
RIPName		= "RIPLvlSubspace"
PrevLevel	= "Water-2"

[Subspace-2]
WorldDef	= "WorldDef_Subspace_2"
Name		= "Level_Subspace"
RIPName		= "RIPLvlSubspace"
PrevLevel	= "Sand-2"

[Subspace-3]
WorldDef	= "WorldDef_Subspace_3"
Name		= "Level_Subspace"
RIPName		= "RIPLvlSubspace"
PrevLevel	= "Swamp-2"

[MoM-Start]
WorldDef	= "WorldDef_MoM_Start"
Name		= "Level_MoM-Start"
RIPName		= "RIPLvlMoM"
NextLevel	= "MoM-1"

[MoM-1]
WorldDef	= "WorldDef_MoM_1"
Name		= "Level_MoM-1"
RIPName		= "RIPLvlMoM"
NextLevel	= "MoM-2"
PrevLevel	= "MoM-Start"

[MoM-2]
WorldDef	= "WorldDef_MoM_2"
Name		= "Level_MoM-2"
RIPName		= "RIPLvlMoM"
NextLevel	= "MoM-3"
PrevLevel	= "MoM-1"

[MoM-3]
WorldDef	= "WorldDef_MoM_3"
Name		= "Level_MoM-3"
RIPName		= "RIPLvlMoM"
NextLevel	= "MoM-4"
PrevLevel	= "MoM-2"

[MoM-4]
WorldDef	= "WorldDef_MoM_4"
Name		= "Level_MoM-4"
RIPName		= "RIPLvlMoM"
NextLevel	= "MoM-5"
PrevLevel	= "MoM-3"

[MoM-5]
WorldDef	= "WorldDef_MoM_5"
Name		= "Level_MoM-5"
RIPName		= "RIPLvlMoM"
NextLevel	= "MoM-6"
PrevLevel	= "MoM-4"

[MoM-6]
WorldDef	= "WorldDef_MoM_6"
Name		= "Level_MoM-6"
RIPName		= "RIPLvlMoM"
NextLevel	= "MoM-7"
PrevLevel	= "MoM-5"

[MoM-7]
WorldDef	= "WorldDef_MoM_7"
Name		= "Level_MoM-7"
RIPName		= "RIPLvlMoM"
NextLevel	= "MoM-8"
PrevLevel	= "MoM-6"

[MoM-8]
WorldDef	= "WorldDef_MoM_8"
Name		= "Level_MoM-8"
RIPName		= "RIPLvlMoM"
NextLevel	= "MoM-9"
PrevLevel	= "MoM-7"

[MoM-9]
WorldDef	= "WorldDef_MoM_9"
Name		= "Level_MoM-9"
RIPName		= "RIPLvlMoM"
NextLevel	= "MoM-Boss"
PrevLevel	= "MoM-8"

[MoM-Boss]
WorldDef	= "WorldDef_MoM_Boss"
Name		= "Level_MoM-Boss"
RIPName		= "RIPLvlMoM"
PrevLevel	= "MoM-9"

# ******************************** World defs ********************************

# ******************************** Water ********************************

[WorldDef_Water]
Tileset			= "Textures/World/tiles-water_NODXT.tga"
ColorGrading	= "Textures/Post/color-grading-water_NODXT.tga"
WorldGenDef		= "WorldGenDef_Water"
#WorldGenDef	= "WorldGenDef_Min"		# Good for stats gathering
LightDef		= "Light_Water"
FogDef			= "Fog_Water"
Music			= "Music_Water-1"

#DisplacementNoiseOctaves		= 3
#DisplacementNoiseScale			= 0.25
#DisplacementNoiseScaleZ		= 0.1
#DisplacementNoiseLookupScale	= 0.5

# For midpoint-only displacement
DisplacementNoiseOctaves		= 1
DisplacementNoiseScale			= 0.15
DisplacementNoiseScaleZ			= 0.05
DisplacementNoiseLookupScale	= 2.0

NumVoxelDefs = &
@ VoxelDef
@@&	= "Voxel_Builder"
@@& = "Voxel_Column_1"
@@& = "Voxel_Column_2"
@@& = "Voxel_Tile_1"
@@& = "Voxel_Tile_2"
@@& = "Voxel_Tile_3"
@@& = "Voxel_Exit_Well_Water"
@@& = "Voxel_Unbreakable_Water"
@@& = "Voxel_Rock"
@@& = "Voxel_Rock_2"
@@& = "Voxel_IBeam"
@@& = "Voxel_Brick"
@@& = "Voxel_Brick2"
@@& = "Voxel_Brick3"
@@& = "Voxel_BrickSign"
@@& = "Voxel_BankSign"
@@&	= "Voxel_LightBlock"
@@&	= "Voxel_Stalactites"
@@&	= "Voxel_Cyclopean_1"
@@&	= "Voxel_Cyclopean_2"
@@&	= "Voxel_Cyclopean_3"
@@&	= "Voxel_Cyclopean_4"
@@&	= "Voxel_DarkBrick_1"
@@&	= "Voxel_DarkBrick_2"

# NOTE: World gen defs and room defs are in worldgen.config

	[WorldDef_Water_Start]
	Extends = "WorldDef_Water"
	WorldGenDef = "WorldGenDef_Water_Start"
	
	NumSpawnerOverrides	= &
	@ SpawnerOverride
	@@&Old				= "Spawner_Loot_50"
	@@^New				= "Spawner_Loot_50_Start"
	@@&Old				= "Spawner_AnyAI"
	@@^New				= "Spawner_AnyAI_WaterStart"
	@@&Old				= "Spawner_RandomDeco"
	@@^New				= "Spawner_RandomDeco_WaterStart"
	@@&Old				= "Spawner_Gear_ForSale_4"
	@@^New				= "Spawner_Gear_ForSale_4_Start"

	[WorldDef_Water_Final]
	Extends		= "WorldDef_Water"
	WorldGenDef	= "WorldGenDef_Water_Final"
	FogDef		= "Fog_Water_Final"
	Music		= "Music_Water-2"

	NumSpawnerOverrides	= &
	@ SpawnerOverride
	@@&Old				= "Spawner_AnyAI"
	@@^New				= "Spawner_AnyAI_WaterFinal"

# ******************************** Sand ********************************

[WorldDef_Sand]
WorldGenDef		= "WorldGenDef_Sand"
Tileset			= "Textures/World/tiles-sand_NODXT.tga"
ColorGrading	= "Textures/Post/color-grading-sand_NODXT.tga"
LightDef		= "Light_Sand"
FogDef			= "Fog_Sand"
Music			= "Music_Sand-1"

#DisplacementNoiseOctaves		= 2
#DisplacementNoiseScale			= 0.05
#DisplacementNoiseScaleZ		= 0.05
#DisplacementNoiseLookupScale	= 1.0

# For midpoint-only displacement
DisplacementNoiseOctaves		= 1
DisplacementNoiseScale			= 0.15
DisplacementNoiseScaleZ			= 0.05
DisplacementNoiseLookupScale	= 2.0

NumSpawnerOverrides	= &
@ SpawnerOverride
@@&Old				= "Spawner_AnyAI"
@@^New				= "Spawner_AnyAI_Sand"
@@&Old				= "Spawner_AnyShortAI"
@@^New				= "Spawner_AnyShortAI_Sand"
@@&Old				= "Spawner_GoodLoot"
@@^New				= "Spawner_GoodLoot_Sand"

NumVoxelDefs	= &
@ VoxelDef
@@&				= "Voxel_Builder"
@@&				= "Voxel_Exit_Well_Sand"
@@&				= "Voxel_Unbreakable_Sand"
@@&				= "Voxel_SandBlock_1"
@@&				= "Voxel_SandBlock_2"
@@&				= "Voxel_SandBlock_3"
@@&				= "Voxel_SandBlockDeco"
@@&				= "Voxel_SandBlockRug_1"
@@&				= "Voxel_SandBlockRug_2"
@@&				= "Voxel_Curtain"
@@&				= "Voxel_SandColumn_1"
@@&				= "Voxel_SandColumn_2"
@@&				= "Voxel_Screen"
@@&				= "Voxel_CryptBrick_1"
@@&				= "Voxel_CryptBrick_2"
@@&				= "Voxel_CryptBlock_1"
@@&				= "Voxel_CryptBlock_2"
@@&				= "Voxel_CryptColumn"
@@&				= "Voxel_CryptDeco_H"
@@&				= "Voxel_CryptDeco_V"
@@&				= "Voxel_CryptBrickBlue_1"
@@&				= "Voxel_CryptBrickBlue_2"
@@&				= "Voxel_CryptBlockBlue"
@@&				= "Voxel_CryptBlock_3"
@@&				= "Voxel_Ash_1"
@@&				= "Voxel_Ash_2"
@@&				= "Voxel_AshColumn"
@@&				= "Voxel_AshBlock"
@@&				= "Voxel_AshColumn_2"
@@&				= "Voxel_AshColumn_Top"
@@&				= "Voxel_SandShopSign"
@@&				= "Voxel_SandBankSign"

	[WorldDef_Sand_Start]
	Extends		= "WorldDef_Sand"
	WorldGenDef	= "WorldGenDef_Sand_Start"

	NumSpawnerOverrides	= &
	@ SpawnerOverride
	@@&Old				= "Spawner_Loot_50"
	@@^New				= "Spawner_Loot_50_SandStart"
	@@&Old				= "Spawner_AnyAI"
	@@^New				= "Spawner_AnyAI_SandStart"
	@@&Old				= "Spawner_AnyShortAI"
	@@^New				= "Spawner_AnyShortAI_SandStart"
	@@&Old				= "Spawner_GoodLoot"
	@@^New				= "Spawner_GoodLoot_Sand"
	@@&Old				= "Spawner_Snare_50"
	@@^New				= "Spawner_Snare_33"

	[WorldDef_Sand_Final]
	Extends		= "WorldDef_Sand"
	WorldGenDef	= "WorldGenDef_Sand_Final"
	FogDef		= "Fog_Sand_Final"
	Music		= "Music_Sand-2"

	NumSpawnerOverrides	= &
	@ SpawnerOverride
	@@&Old				= "Spawner_AnyAI"
	@@^New				= "Spawner_AnyAI_SandFinal"
	@@&Old				= "Spawner_AnyShortAI"
	@@^New				= "Spawner_AnyShortAI_SandFinal"
	@@&Old				= "Spawner_GoodLoot"
	@@^New				= "Spawner_GoodLoot_Sand"
	@@&Old				= "Spawner_Snare_50"
	@@^New				= "Spawner_Snare_66"

# ******************************** Swamp ********************************

[WorldDef_Swamp]
WorldGenDef		= "WorldGenDef_Swamp"
Tileset			= "Textures/World/tiles-swamp_NODXT.tga"
ColorGrading	= "Textures/Post/color-grading-swamp_NODXT.tga"
LightDef		= "Light_Swamp"
FogDef			= "Fog_Swamp"
Music			= "Music_Swamp-1"

#DisplacementNoiseOctaves		= 2
#DisplacementNoiseScale			= 0.05
#DisplacementNoiseScaleZ		= 0.05
#DisplacementNoiseLookupScale	= 1.0

# For midpoint-only displacement
DisplacementNoiseOctaves		= 1
DisplacementNoiseScale			= 0.15
DisplacementNoiseScaleZ			= 0.05
DisplacementNoiseLookupScale	= 2.0

NumSpawnerOverrides	= &
@ SpawnerOverride
@@&Old				= "Spawner_AnyAI"
@@^New				= "Spawner_AnyAI_Swamp"
@@&Old				= "Spawner_AnyShortAI"
@@^New				= "Spawner_AnyShortAI_Swamp"
@@&Old				= "Spawner_GoodLoot"
@@^New				= "Spawner_GoodLoot_Sand"

NumVoxelDefs	= &
@ VoxelDef
@@&				= "Voxel_Builder"
@@&				= "Voxel_Exit_Well_Swamp"
@@&				= "Voxel_Unbreakable_Swamp"
@@&				= "Voxel_SwampWater_1"
@@&				= "Voxel_SwampWater_2"
@@&				= "Voxel_SwampTree_1"
@@&				= "Voxel_SwampTree_2"
@@&				= "Voxel_SwampTree_Base"
@@&				= "Voxel_SwampBush_1"
@@&				= "Voxel_SwampBush_2"
@@&				= "Voxel_SwampWood_1"
@@&				= "Voxel_SwampWood_2"
@@&				= "Voxel_SwampWoodTrim_1"
@@&				= "Voxel_SwampWoodTrim_2"
@@&				= "Voxel_SwampWoodTrim_3"
@@&				= "Voxel_SwampWoodTrim_4"
@@&				= "Voxel_SwampRope"
@@&				= "Voxel_SwampMast_1"
@@&				= "Voxel_SwampMast_2"
@@&				= "Voxel_SwampTile_1"
@@&				= "Voxel_SwampTile_2"
@@&				= "Voxel_SwampTile_3"
@@&				= "Voxel_SwampTileTrim_1"
@@&				= "Voxel_SwampTileTrim_2"
@@&				= "Voxel_SwampTileTrim_3"
@@&				= "Voxel_SwampTileTrim_4"
@@&				= "Voxel_SwampTileTrim_5"
@@&				= "Voxel_SwampTileTrim_6"
@@&				= "Voxel_SwampTileTrim_7"
@@&				= "Voxel_SwampTentacle_1"
@@&				= "Voxel_SwampTentacle_2"
@@&				= "Voxel_SwampTentacle_3"
@@&				= "Voxel_SwampTentacle_4"
@@&				= "Voxel_SwampTentacle_5"
@@&				= "Voxel_SwampShopSign"
@@&				= "Voxel_SwampBankSign"
@@&				= "Voxel_SwampStars"

	[WorldDef_Swamp_Start]
	Extends		= "WorldDef_Swamp"
	WorldGenDef	= "WorldGenDef_Swamp_Start"

	NumSpawnerOverrides	= &
	@ SpawnerOverride
	@@&Old				= "Spawner_AnyAI"
	@@^New				= "Spawner_AnyAI_SwampStart"
	@@&Old				= "Spawner_AnyShortAI"
	@@^New				= "Spawner_AnyShortAI_SwampStart"
	@@&Old				= "Spawner_GoodLoot"
	@@^New				= "Spawner_GoodLoot_Sand"

	[WorldDef_Swamp_Final]
	Extends		= "WorldDef_Swamp"
	WorldGenDef	= "WorldGenDef_Swamp_Final"
	FogDef		= "Fog_Swamp_Final"
	Music		= "Music_Swamp-2"

	NumSpawnerOverrides	= &
	@ SpawnerOverride
	@@&Old				= "Spawner_AnyAI"
	@@^New				= "Spawner_AnyAI_SwampFinal"
	@@&Old				= "Spawner_AnyShortAI"
	@@^New				= "Spawner_AnyShortAI_SwampFinal"
	@@&Old				= "Spawner_GoodLoot"
	@@^New				= "Spawner_GoodLoot_Sand"

# ******************************** Endgame ********************************

[WorldDef_Endgame]
Tileset			= "Textures/World/tiles-library_NODXT.tga"	# Shared with hub library
ColorGrading	= "Textures/Post/color-grading-endgame_NODXT.tga"
WorldGenDef		= "WorldGenDef_Endgame"
FogDef			= "Fog_Endgame"
LightDef		= "Light_Endgame"
Music			= "Music_Endgame-1"

NumSpawnerOverrides	= &
@ SpawnerOverride
@@&Old				= "Spawner_AnyAI"
@@^New				= "Spawner_AnyAI_Endgame"
@@&Old				= "Spawner_AnyShortAI"
@@^New				= "Spawner_AnyShortAI_Endgame"
@@&Old				= "Spawner_GoodLoot"
@@^New				= "Spawner_GoodLoot_Sand"
@@&Old				= "Spawner_RandomDeco"
@@^New				= "Spawner_RandomDeco_Endgame"

NumVoxelDefs = &
@ VoxelDef
@@&	= "Voxel_Builder"
@@& = "Voxel_Library_Unbreakable"
@@& = "Voxel_Shelves_1"
@@& = "Voxel_Shelves_2"
@@& = "Voxel_WoodSpacer_1"
@@& = "Voxel_WoodSpacer_2"
@@& = "Voxel_WoodTile_1"
@@& = "Voxel_WoodTile_2"
@@& = "Voxel_Marble"
@@&	= "Voxel_DarkWoodSpacer_1"
@@&	= "Voxel_DarkWoodSpacer_2"
@@&	= "Voxel_WoodTrim1"
@@&	= "Voxel_WoodTrim2"
@@&	= "Voxel_WoodTrim3"
@@&	= "Voxel_Cushion"
@@&	= "Voxel_WoodPattern1"
@@&	= "Voxel_WoodPattern2"
@@&	= "Voxel_LibraryCarpet"
@@&	= "Voxel_LibraryCase"
@@&	= "Voxel_MarbleTrim1"
@@&	= "Voxel_MarbleTrim2"
@@&	= "Voxel_MarbleTrim3"
@@&	= "Voxel_DarkMarble"
@@&	= "Voxel_Stucco"
@@&	= "Voxel_StuccoTrim"
@@&	= "Voxel_Wallpaper"
@@&	= "Voxel_GreenTile"
@@&	= "Voxel_MarbleTrim4"
@@&	= "Voxel_MarbleTrim5"
@@&	= "Voxel_LibraryPainting1"
@@&	= "Voxel_LibraryPainting2"
@@&	= "Voxel_LibraryClock"
@@&	= "Voxel_Shadowbox"
@@&	= "Voxel_LibraryCurtain"
@@&	= "Voxel_LibraryWindow"
@@&	= "Voxel_LightMarble"
@@&	= "Voxel_FaceFountain"
@@& = "Voxel_Planter"
@@&	= "Voxel_Mirror"

	[WorldDef_Endgame_Start]
	Extends		= "WorldDef_Endgame"
	WorldGenDef	= "WorldGenDef_Endgame_Start"

	NumSpawnerOverrides	= &
	@ SpawnerOverride
	@@&Old				= "Spawner_AnyAI"
	@@^New				= "Spawner_AnyAI_EndgameStart"
	@@&Old				= "Spawner_AnyShortAI"
	@@^New				= "Spawner_AnyShortAI_Endgame"
	@@&Old				= "Spawner_GoodLoot"
	@@^New				= "Spawner_GoodLoot_Sand"
	@@&Old				= "Spawner_RandomDeco"
	@@^New				= "Spawner_RandomDeco_Endgame"

	[WorldDef_Endgame_Final]
	Extends		= "WorldDef_Endgame"
	WorldGenDef	= "WorldGenDef_Endgame_Final"
	Music		= "Music_Endgame-2"

	NumSpawnerOverrides	= &
	@ SpawnerOverride
	@@&Old				= "Spawner_AnyAI"
	@@^New				= "Spawner_AnyAI_EndgameFinal"
	@@&Old				= "Spawner_AnyShortAI"
	@@^New				= "Spawner_AnyShortAI_Endgame"
	@@&Old				= "Spawner_GoodLoot"
	@@^New				= "Spawner_GoodLoot_Sand"
	@@&Old				= "Spawner_RandomDeco"
	@@^New				= "Spawner_RandomDeco_Endgame"

# ******************************** Library ********************************

[WorldDef_Library]
Tileset			= "Textures/World/tiles-library_NODXT.tga"
ColorGrading	= "Textures/Post/color-grading-library_NODXT.tga"
WorldGenDef		= "WorldGenDef_Library"
FogDef			= "Fog_Library"
LightDef		= "Light_Library"
Music			= "Music_Library"

NumVoxelDefs = &
@ VoxelDef
@@&	= "Voxel_Builder"
@@& = "Voxel_Library_Unbreakable"
@@& = "Voxel_Shelves_1"
@@& = "Voxel_Shelves_2"
@@& = "Voxel_WoodSpacer_1"
@@& = "Voxel_WoodSpacer_2"
@@& = "Voxel_WoodTile_1"
@@& = "Voxel_WoodTile_2"
@@& = "Voxel_Marble"
@@&	= "Voxel_DarkWoodSpacer_1"
@@&	= "Voxel_DarkWoodSpacer_2"
@@&	= "Voxel_WoodTrim1"
@@&	= "Voxel_WoodTrim2"
@@&	= "Voxel_WoodTrim3"
@@&	= "Voxel_Cushion"
@@&	= "Voxel_WoodPattern1"
@@&	= "Voxel_WoodPattern2"
@@&	= "Voxel_LibraryCarpet"
@@&	= "Voxel_LibraryCase"
@@&	= "Voxel_MarbleTrim1"
@@&	= "Voxel_MarbleTrim2"
@@&	= "Voxel_MarbleTrim3"
@@&	= "Voxel_DarkMarble"
@@&	= "Voxel_Stucco"
@@&	= "Voxel_StuccoTrim"
@@&	= "Voxel_Wallpaper"
@@&	= "Voxel_GreenTile"
@@&	= "Voxel_MarbleTrim4"
@@&	= "Voxel_MarbleTrim5"
@@&	= "Voxel_LibraryPainting1"
@@&	= "Voxel_LibraryPainting2"
@@&	= "Voxel_LibraryClock"
@@&	= "Voxel_Shadowbox"
@@&	= "Voxel_LibraryCurtain"
@@&	= "Voxel_LibraryWindow"
@@&	= "Voxel_LightMarble"
@@&	= "Voxel_FaceFountain"
@@& = "Voxel_Planter"
@@&	= "Voxel_Mirror"

# ******************************** Subspace ********************************

[WorldDef_Subspace_Base]
Tileset			= "Textures/World/tiles-library_NODXT.tga"
ColorGrading	= "Textures/Post/color-grading-subspace_NODXT.tga"
FogDef			= "Fog_Subspace"
LightDef		= "Light_Subspace"

# For midpoint-only displacement
DisplacementNoiseOctaves		= 1
DisplacementNoiseScale			= 0.15
DisplacementNoiseScaleZ			= 0.05
DisplacementNoiseLookupScale	= 2.0

NumVoxelDefs = &
@ VoxelDef
@@&	= "Voxel_Builder"
@@& = "Voxel_Subspace"
@@& = "Voxel_Subspace_Unbreakable"

[WorldDef_Subspace_1]
Extends		= "WorldDef_Subspace_Base"
WorldGenDef	= "WorldGenDef_Subspace_1"

[WorldDef_Subspace_2]
Extends		= "WorldDef_Subspace_Base"
WorldGenDef	= "WorldGenDef_Subspace_2"

[WorldDef_Subspace_3]
Extends		= "WorldDef_Subspace_Base"
WorldGenDef	= "WorldGenDef_Subspace_3"

# ******************************** MoM ********************************

[WorldDef_MoM_Base]
Tileset			= "Textures/World/tiles-mom_NODXT.tga"

# For midpoint-only displacement
DisplacementNoiseOctaves		= 1
DisplacementNoiseScale			= 0.15
DisplacementNoiseScaleZ			= 0.05
DisplacementNoiseLookupScale	= 2.0

NumVoxelDefs	= &
@ VoxelDef
@@&	= "Voxel_Builder"
@@&	= "Voxel_Unbreakable_MoM"
@@& = "Voxel_MoM_IceBlock_1"
@@& = "Voxel_MoM_IceBlock_2"
@@& = "Voxel_MoM_Snow_1"
@@& = "Voxel_MoM_Snow_2"
@@& = "Voxel_MoM_SnowyIce_1"
@@& = "Voxel_MoM_SnowyIce_2"
@@& = "Voxel_MoM_BlackRock_1"
@@& = "Voxel_MoM_BlackRock_2"
@@& = "Voxel_MoM_BlackRock_3"
@@& = "Voxel_MoM_BlackRockSnow_1"
@@& = "Voxel_MoM_BlackRockSnow_2"
@@& = "Voxel_MoM_BlackRockSnow_3"
@@& = "Voxel_MoM_SnowyRock_1"
@@& = "Voxel_MoM_SnowyRock_2"
@@& = "Voxel_MoM_Tent_1"
@@& = "Voxel_MoM_Tent_2"
@@& = "Voxel_MoM_Tent_3"
@@& = "Voxel_MoM_ObsTile_1"
@@& = "Voxel_MoM_ObsTile_2"
@@& = "Voxel_MoM_ObsTile_3"
@@& = "Voxel_MoM_ObsColumn_1"
@@& = "Voxel_MoM_ObsColumn_2"
@@& = "Voxel_MoM_ObsTrim_1"
@@& = "Voxel_MoM_ObsTrim_2"
@@& = "Voxel_MoM_ObsTrim_3"
@@& = "Voxel_MoM_ObsSign"
@@& = "Voxel_MoM_ObsBank"
@@& = "Voxel_MoM_ObsSnowy_1"
@@& = "Voxel_MoM_ObsSnowy_2"
@@& = "Voxel_MoM_ObsSnowy_3"
@@& = "Voxel_MoM_ObsSnowy_4"
@@& = "Voxel_MoM_ObsMonolith_1"
@@& = "Voxel_MoM_ObsMonolith_2"
@@& = "Voxel_MoM_CaveFloor_1"
@@& = "Voxel_MoM_CaveFloor_2"
@@& = "Voxel_MoM_CaveWall_1"
@@& = "Voxel_MoM_CaveWall_2"
@@& = "Voxel_MoM_CaveWall_3"
@@& = "Voxel_MoM_CaveWall_4"
@@& = "Voxel_MoM_CaveYellow"
@@& = "Voxel_MoM_CaveIceBlock_1"
@@& = "Voxel_MoM_CaveIceBlock_2"
@@& = "Voxel_MoM_Crystal_1"
@@& = "Voxel_MoM_Crystal_2"
@@& = "Voxel_MoM_MushroomStalk_1"
@@& = "Voxel_MoM_MushroomStalk_2"
@@& = "Voxel_MoM_MushroomCap_1"
@@& = "Voxel_MoM_MushroomCap_2"
@@& = "Voxel_MoM_Fungus"
@@& = "Voxel_MoM_Exit_Well"

[WorldDef_MoM_Snow_Base]
Extends			= "WorldDef_MoM_Base"
ColorGrading	= "Textures/Post/color-grading-mom-snow_NODXT.tga"
FogDef			= "Fog_MoM_Snow"
LightDef		= "Light_MoM_Snow"
Music			= "Music_MoM_Snow"

NumSpawnerOverrides	= &
@ SpawnerOverride
@@&Old			= "Spawner_AnyAI"
@@^New			= "Spawner_AnyAI_MoM_Snow"
@@&Old			= "Spawner_AnyShortAI"
@@^New			= "Spawner_AnyShortAI_MoM_Snow"
@@&Old			= "Spawner_Loot_50"
@@^New			= "Spawner_Loot_50_MoM"
@@&Old			= "Spawner_Loot_100"
@@^New			= "Spawner_Loot_100_MoM"
@@&Old			= "Spawner_GoodLoot"
@@^New			= "Spawner_GoodLoot_MoM"
@@&Old			= "Spawner_GearLoot"
@@^New			= "Spawner_GearLoot_MoM"
@@&Old			= "Spawner_RandomDeco"
@@^New			= "Spawner_RandomDeco_MoM_Snow"
@@&Old			= "Spawner_Gear_ForSale_1"
@@^New			= "Spawner_Gear_ForSale_MoM_1"
@@&Old			= "Spawner_Gear_ForSale_2"
@@^New			= "Spawner_Gear_ForSale_MoM_2"
@@&Old			= "Spawner_Statue"
@@^New			= "Spawner_Statue_MoM_Snow"

[WorldDef_MoM_City_Base]
Extends			= "WorldDef_MoM_Base"
ColorGrading	= "Textures/Post/color-grading-mom-city_NODXT.tga"
FogDef			= "Fog_MoM_City"
LightDef		= "Light_MoM_City"
Music			= "Music_MoM_City"

NumSpawnerOverrides	= &
@ SpawnerOverride
@@&Old			= "Spawner_AnyAI"
@@^New			= "Spawner_AnyAI_MoM_City"
@@&Old			= "Spawner_AnyShortAI"
@@^New			= "Spawner_AnyShortAI_MoM_City"
@@&Old			= "Spawner_Loot_50"
@@^New			= "Spawner_Loot_50_MoM"
@@&Old			= "Spawner_Loot_100"
@@^New			= "Spawner_Loot_100_MoM"
@@&Old			= "Spawner_GoodLoot"
@@^New			= "Spawner_GoodLoot_MoM"
@@&Old			= "Spawner_RandomDeco"
@@^New			= "Spawner_RandomDeco_MoM_City"
@@&Old			= "Spawner_Gear_ForSale_1"
@@^New			= "Spawner_Gear_ForSale_MoM_1"
@@&Old			= "Spawner_Gear_ForSale_2"
@@^New			= "Spawner_Gear_ForSale_MoM_2"
@@&Old			= "Spawner_Statue"
@@^New			= "Spawner_Statue_MoM"

[WorldDef_MoM_Caves_Base]
Extends			= "WorldDef_MoM_Base"
ColorGrading	= "Textures/Post/color-grading-mom-caves_NODXT.tga"
FogDef			= "Fog_MoM_Caves"
LightDef		= "Light_MoM_Caves"
Music			= "Music_MoM_Caves"

NumSpawnerOverrides	= &
@ SpawnerOverride
@@&Old			= "Spawner_AnyAI"
@@^New			= "Spawner_AnyAI_MoM_Caves"
@@&Old			= "Spawner_AnyShortAI"
@@^New			= "Spawner_AnyShortAI_MoM_Caves"
@@&Old			= "Spawner_Loot_50"
@@^New			= "Spawner_Loot_50_MoM"
@@&Old			= "Spawner_Loot_100"
@@^New			= "Spawner_Loot_100_MoM"
@@&Old			= "Spawner_GoodLoot"
@@^New			= "Spawner_GoodLoot_MoM"
@@&Old			= "Spawner_RandomDeco"
@@^New			= "Spawner_RandomDeco_MoM_Caves"
@@&Old			= "Spawner_Gear_ForSale_1"
@@^New			= "Spawner_Gear_ForSale_MoM_1"
@@&Old			= "Spawner_Gear_ForSale_2"
@@^New			= "Spawner_Gear_ForSale_MoM_2"
@@&Old			= "Spawner_Statue"
@@^New			= "Spawner_Statue_MoM"

[WorldDef_MoM_Boss_Base]
Extends			= "WorldDef_MoM_Base"
ColorGrading	= "Textures/Post/color-grading-mom-boss_NODXT.tga"
FogDef			= "Fog_MoM_Boss"
LightDef		= "Light_MoM_Boss"

NumSpawnerOverrides	= &
@ SpawnerOverride
@@&Old			= "Spawner_AnyAI"
@@^New			= "Spawner_AnyAI_MoM_Caves"
@@&Old			= "Spawner_AnyShortAI"
@@^New			= "Spawner_AnyShortAI_MoM_Caves"
@@&Old			= "Spawner_Loot_50"
@@^New			= "Spawner_Loot_50_MoM"
@@&Old			= "Spawner_Loot_100"
@@^New			= "Spawner_Loot_100_MoM"
@@&Old			= "Spawner_GoodLoot"
@@^New			= "Spawner_GoodLoot_MoM"
@@&Old			= "Spawner_RandomDeco"
@@^New			= "Spawner_RandomDeco_MoM_Caves"

	[WorldDef_MoM_Start]
	Extends		= "WorldDef_MoM_Snow_Base"
	WorldGenDef	= "WorldGenDef_MoM_Start"

	[WorldDef_MoM_1]
	Extends		= "WorldDef_MoM_Snow_Base"
	WorldGenDef	= "WorldGenDef_MoM_1"

	[WorldDef_MoM_2]
	Extends		= "WorldDef_MoM_Snow_Base"
	WorldGenDef	= "WorldGenDef_MoM_2"

	[WorldDef_MoM_3]
	Extends		= "WorldDef_MoM_Snow_Base"
	WorldGenDef	= "WorldGenDef_MoM_3"

	[WorldDef_MoM_4]
	Extends		= "WorldDef_MoM_City_Base"
	WorldGenDef	= "WorldGenDef_MoM_4"

	[WorldDef_MoM_5]
	Extends		= "WorldDef_MoM_City_Base"
	WorldGenDef	= "WorldGenDef_MoM_5"

	[WorldDef_MoM_6]
	Extends		= "WorldDef_MoM_City_Base"
	WorldGenDef	= "WorldGenDef_MoM_6"

	[WorldDef_MoM_7]
	Extends		= "WorldDef_MoM_Caves_Base"
	WorldGenDef	= "WorldGenDef_MoM_7"

	[WorldDef_MoM_8]
	Extends		= "WorldDef_MoM_Caves_Base"
	WorldGenDef	= "WorldGenDef_MoM_8"

	[WorldDef_MoM_9]
	Extends		= "WorldDef_MoM_Caves_Base"
	WorldGenDef	= "WorldGenDef_MoM_9"

	[WorldDef_MoM_Boss]
	Extends		= "WorldDef_MoM_Boss_Base"
	WorldGenDef	= "WorldGenDef_MoM_Boss"

# ******************************** Voxel defs ********************************

[Voxel_Builder]
VoxelValue	= 127
SideTile	= 63
TopTile		= 63
BottomTile	= 63

# ******************************** Subspace world ********************************

[Voxel_Subspace]
VoxelValue	= 1
SideTile	= 52
TopTile		= 52
BottomTile	= 52

[Voxel_Subspace_Unbreakable]
VoxelValue	= 129
SideTile	= 52
TopTile		= 52
BottomTile	= 52

# ******************************** Water world ********************************

[Voxel_Unbreakable_Water]
VoxelValue	= 129
SideTile	= 6
TopTile		= 6
BottomTile	= 6

[Voxel_Column_1]
VoxelValue	= 1
SideTile	= 0
TopTile		= 1
BottomTile	= 2

[Voxel_Column_2]
VoxelValue	= 2
SideTile	= 3
TopTile		= 4
BottomTile	= 5

[Voxel_Tile_1]
VoxelValue	= 3
SideTile	= 16
TopTile		= 17
BottomTile	= 18

[Voxel_Tile_2]
VoxelValue	= 6
SideTile	= 19
TopTile		= 20
BottomTile	= 21

[Voxel_Exit_Well_Water]
VoxelValue	= 130
SideTile	= 24
TopTile		= 1
BottomTile	= 25

[Voxel_Rock]
VoxelValue	= 4
SideTile	= 8
TopTile		= 9
BottomTile	= 10

[Voxel_Rock_2]
VoxelValue	= 5
SideTile	= 11
TopTile		= 12
BottomTile	= 13

[Voxel_IBeam]
VoxelValue	= 7
SideTile	= 26
TopTile		= 27
BottomTile	= 28

[Voxel_Brick]
VoxelValue	= 8
SideTile	= 22
TopTile		= 30
BottomTile	= 31

[Voxel_Brick2]
VoxelValue	= 9
SideTile	= 23
TopTile		= 30
BottomTile	= 31

[Voxel_Brick3]
VoxelValue	= 10
SideTile	= 29
TopTile		= 30
BottomTile	= 31

[Voxel_Tile_3]
VoxelValue	= 11
SideTile	= 14
TopTile		= 15
BottomTile	= 7

[Voxel_BrickSign]
VoxelValue	= 12
SideTile	= 32
TopTile		= 30
BottomTile	= 31

[Voxel_BankSign]
VoxelValue	= 13
SideTile	= 33
TopTile		= 35
BottomTile	= 36

[Voxel_LightBlock]
VoxelValue	= 14
SideTile	= 34
TopTile		= 35
BottomTile	= 36

[Voxel_Stalactites]
VoxelValue	= 15
SideTile	= 37
TopTile		= 38
BottomTile	= 39

[Voxel_Cyclopean_1]
VoxelValue	= 16
SideTile	= 40
TopTile		= 40
BottomTile	= 40

[Voxel_Cyclopean_2]
VoxelValue	= 17
SideTile	= 41
TopTile		= 41
BottomTile	= 41

[Voxel_Cyclopean_3]
VoxelValue	= 18
SideTile	= 42
TopTile		= 42
BottomTile	= 42

[Voxel_Cyclopean_4]
VoxelValue	= 19
SideTile	= 43
TopTile		= 43
BottomTile	= 43

[Voxel_DarkBrick_1]
VoxelValue	= 20
SideTile	= 44
TopTile		= 46
BottomTile	= 47

[Voxel_DarkBrick_2]
VoxelValue	= 21
SideTile	= 45
TopTile		= 46
BottomTile	= 47

# ******************************** Sand world ********************************

[Voxel_Exit_Well_Sand]
VoxelValue	= 130
SideTile	= 8
TopTile		= 9
BottomTile	= 10

[Voxel_Unbreakable_Sand]
VoxelValue	= 129
SideTile	= 62
TopTile		= 62
BottomTile	= 62

[Voxel_SandBlock_1]
VoxelValue	= 1
SideTile	= 11
TopTile		= 1
BottomTile	= 2

[Voxel_SandBlock_2]
VoxelValue	= 2
SideTile	= 12
TopTile		= 1
BottomTile	= 2

[Voxel_SandBlock_3]
VoxelValue	= 3
SideTile	= 13
TopTile		= 1
BottomTile	= 2

[Voxel_SandBlockDeco]
VoxelValue	= 4
SideTile	= 4
TopTile		= 1
BottomTile	= 2

[Voxel_SandBlockRug_1]
VoxelValue	= 5
SideTile	= 0
TopTile		= 5
BottomTile	= 2

[Voxel_SandBlockRug_2]
VoxelValue	= 6
SideTile	= 0
TopTile		= 6
BottomTile	= 2

[Voxel_Curtain]
VoxelValue	= 7
SideTile	= 7
TopTile		= 7
BottomTile	= 7

[Voxel_SandColumn_1]
VoxelValue	= 8
SideTile	= 0
TopTile		= 1
BottomTile	= 2

[Voxel_SandColumn_2]
VoxelValue	= 9
SideTile	= 3
TopTile		= 1
BottomTile	= 2

[Voxel_Screen]
VoxelValue	= 10
SideTile	= 14
TopTile		= 14
BottomTile	= 14

[Voxel_CryptBrick_1]
VoxelValue	= 11
SideTile	= 16
TopTile		= 16
BottomTile	= 16

[Voxel_CryptBrick_2]
VoxelValue	= 12
SideTile	= 17
TopTile		= 17
BottomTile	= 17

[Voxel_CryptBlock_1]
VoxelValue	= 13
SideTile	= 18
TopTile		= 25
BottomTile	= 25

[Voxel_CryptBlock_2]
VoxelValue	= 14
SideTile	= 24
TopTile		= 25
BottomTile	= 25

[Voxel_CryptColumn]
VoxelValue	= 15
SideTile	= 19
TopTile		= 20
BottomTile	= 20

[Voxel_CryptDeco_H]
VoxelValue	= 16
SideTile	= 21
TopTile		= 21
BottomTile	= 21

[Voxel_CryptDeco_V]
VoxelValue	= 17
SideTile	= 22
TopTile		= 22
BottomTile	= 22

[Voxel_CryptBrickBlue_1]
VoxelValue	= 18
SideTile	= 26
TopTile		= 16
BottomTile	= 16

[Voxel_CryptBrickBlue_2]
VoxelValue	= 19
SideTile	= 27
TopTile		= 17
BottomTile	= 17

[Voxel_CryptBlockBlue]
VoxelValue	= 20
SideTile	= 28
TopTile		= 28
BottomTile	= 28

[Voxel_CryptBlock_3]
VoxelValue	= 21
SideTile	= 25
TopTile		= 25
BottomTile	= 25

[Voxel_Ash_1]
VoxelValue	= 22
SideTile	= 32
TopTile		= 32
BottomTile	= 32

[Voxel_Ash_2]
VoxelValue	= 23
SideTile	= 33
TopTile		= 33
BottomTile	= 33

[Voxel_AshColumn]
VoxelValue	= 24
SideTile	= 41
TopTile		= 36
BottomTile	= 36

[Voxel_AshBlock]
VoxelValue	= 25
SideTile	= 37
TopTile		= 38
BottomTile	= 39

[Voxel_AshColumn_2]
VoxelValue	= 26
SideTile	= 40
TopTile		= 36
BottomTile	= 36

[Voxel_AshColumn_Top]
VoxelValue	= 27
SideTile	= 34
TopTile		= 35
BottomTile	= 36

[Voxel_SandShopSign]
VoxelValue	= 28
SideTile	= 15
TopTile		= 1
BottomTile	= 2

[Voxel_SandBankSign]
VoxelValue	= 29
SideTile	= 23
TopTile		= 1
BottomTile	= 2

# ******************************** Swamp world ********************************

[Voxel_Exit_Well_Swamp]
VoxelValue	= 130
SideTile	= 59
TopTile		= 60
BottomTile	= 61

[Voxel_Unbreakable_Swamp]
VoxelValue	= 129
SideTile	= 62
TopTile		= 62
BottomTile	= 62

[Voxel_SwampWater_1]
VoxelValue	= 1
SideTile	= 0
TopTile		= 1
BottomTile	= 2

[Voxel_SwampWater_2]
VoxelValue	= 2
SideTile	= 8
TopTile		= 9
BottomTile	= 10

[Voxel_SwampTree_1]
VoxelValue	= 3
SideTile	= 3
TopTile		= 12
BottomTile	= 11

[Voxel_SwampTree_2]
VoxelValue	= 4
SideTile	= 4
TopTile		= 12
BottomTile	= 11

[Voxel_SwampTree_Base]
VoxelValue	= 5
SideTile	= 13
TopTile		= 12
BottomTile	= 11

[Voxel_SwampBush_1]
VoxelValue	= 6
SideTile	= 5
TopTile		= 5
BottomTile	= 5

[Voxel_SwampBush_2]
VoxelValue	= 7
SideTile	= 6
TopTile		= 6
BottomTile	= 6

[Voxel_SwampWood_1]
VoxelValue	= 8
SideTile	= 16
TopTile		= 16
BottomTile	= 16

[Voxel_SwampWood_2]
VoxelValue	= 9
SideTile	= 17
TopTile		= 17
BottomTile	= 17

[Voxel_SwampWoodTrim_1]
VoxelValue	= 10
SideTile	= 18
TopTile		= 16
BottomTile	= 16

[Voxel_SwampWoodTrim_2]
VoxelValue	= 11
SideTile	= 19
TopTile		= 16
BottomTile	= 16

[Voxel_SwampWoodTrim_3]
VoxelValue	= 12
SideTile	= 24
TopTile		= 16
BottomTile	= 16

[Voxel_SwampWoodTrim_4]
VoxelValue	= 13
SideTile	= 25
TopTile		= 20
BottomTile	= 20

[Voxel_SwampRope]
VoxelValue	= 14
SideTile	= 26
TopTile		= 27
BottomTile	= 27

[Voxel_SwampMast_1]
VoxelValue	= 15
SideTile	= 21
TopTile		= 29
BottomTile	= 29

[Voxel_SwampMast_2]
VoxelValue	= 16
SideTile	= 28
TopTile		= 29
BottomTile	= 29

[Voxel_SwampTile_1]
VoxelValue	= 17
SideTile	= 32
TopTile		= 40
BottomTile	= 40

[Voxel_SwampTile_2]
VoxelValue	= 18
SideTile	= 33
TopTile		= 40
BottomTile	= 40

[Voxel_SwampTile_3]
VoxelValue	= 19
SideTile	= 34
TopTile		= 37
BottomTile	= 37

[Voxel_SwampTileTrim_1]
VoxelValue	= 20
SideTile	= 35
TopTile		= 40
BottomTile	= 40

[Voxel_SwampTileTrim_2]
VoxelValue	= 21
SideTile	= 36
TopTile		= 40
BottomTile	= 40

[Voxel_SwampTileTrim_3]
VoxelValue	= 22
SideTile	= 39
TopTile		= 40
BottomTile	= 40

[Voxel_SwampTileTrim_4]
VoxelValue	= 23
SideTile	= 41
TopTile		= 40
BottomTile	= 40

[Voxel_SwampTileTrim_5]
VoxelValue	= 24
SideTile	= 42
TopTile		= 40
BottomTile	= 40

[Voxel_SwampTileTrim_6]
VoxelValue	= 25
SideTile	= 43
TopTile		= 40
BottomTile	= 40

[Voxel_SwampTileTrim_7]
VoxelValue	= 26
SideTile	= 44
TopTile		= 40
BottomTile	= 40

[Voxel_SwampTentacle_1]
VoxelValue	= 27
SideTile	= 38
TopTile		= 47
BottomTile	= 46

[Voxel_SwampTentacle_2]
VoxelValue	= 28
SideTile	= 45
TopTile		= 47
BottomTile	= 46

[Voxel_SwampTentacle_3]
VoxelValue	= 29
SideTile	= 48
TopTile		= 47
BottomTile	= 49

[Voxel_SwampTentacle_4]
VoxelValue	= 30
SideTile	= 49
TopTile		= 49
BottomTile	= 49

[Voxel_SwampTentacle_5]
VoxelValue	= 31
SideTile	= 50
TopTile		= 49
BottomTile	= 46

[Voxel_SwampShopSign]
VoxelValue	= 32
SideTile	= 51
TopTile		= 40
BottomTile	= 40

[Voxel_SwampBankSign]
VoxelValue	= 33
SideTile	= 52
TopTile		= 40
BottomTile	= 40

[Voxel_SwampStars]
VoxelValue	= 34
SideTile	= 62
TopTile		= 62
BottomTile	= 62

# ******************************** Library world ********************************

[Voxel_Library_Unbreakable]
VoxelValue	= 129
SideTile	= 6
TopTile		= 7
BottomTile	= 14

[Voxel_Shelves_1]
VoxelValue	= 1
SideTile	= 0
TopTile		= 1
BottomTile	= 2

[Voxel_Shelves_2]
VoxelValue	= 2
SideTile	= 3
TopTile		= 4
BottomTile	= 5

[Voxel_WoodSpacer_1]
VoxelValue	= 3
SideTile	= 6
TopTile		= 7
BottomTile	= 14

[Voxel_WoodSpacer_2]
VoxelValue	= 6
SideTile	= 15
TopTile		= 7
BottomTile	= 14

[Voxel_WoodTile_1]
VoxelValue	= 7
SideTile	= 6
TopTile		= 1
BottomTile	= 2

[Voxel_WoodTile_2]
VoxelValue	= 8
SideTile	= 15
TopTile		= 4
BottomTile	= 5

[Voxel_Marble]
VoxelValue	= 131
SideTile	= 8
TopTile		= 8
BottomTile	= 8

[Voxel_DarkWoodSpacer_1]
VoxelValue	= 9
SideTile	= 9
TopTile		= 10
BottomTile	= 11

[Voxel_DarkWoodSpacer_2]
VoxelValue	= 10
SideTile	= 12
TopTile		= 10
BottomTile	= 11

[Voxel_WoodTrim1]
VoxelValue	= 11
SideTile	= 13
TopTile		= 7
BottomTile	= 14

[Voxel_WoodTrim2]
VoxelValue	= 12
SideTile	= 16
TopTile		= 7
BottomTile	= 14

[Voxel_WoodTrim3]
VoxelValue	= 13
SideTile	= 17
TopTile		= 7
BottomTile	= 14

[Voxel_Cushion]
VoxelValue	= 14
SideTile	= 18
TopTile		= 19
BottomTile	= 11

[Voxel_WoodPattern1]
VoxelValue	= 15
SideTile	= 20
TopTile		= 20
BottomTile	= 20

[Voxel_WoodPattern2]
VoxelValue	= 16
SideTile	= 21
TopTile		= 21
BottomTile	= 21

[Voxel_LibraryCarpet]
VoxelValue	= 17
SideTile	= 15
TopTile		= 22
BottomTile	= 14

[Voxel_LibraryCase]
VoxelValue	= 18
SideTile	= 23
TopTile		= 7
BottomTile	= 14

[Voxel_MarbleTrim1]
VoxelValue	= 19
SideTile	= 24
TopTile		= 24
BottomTile	= 24

[Voxel_MarbleTrim2]
VoxelValue	= 20
SideTile	= 25
TopTile		= 25
BottomTile	= 25

[Voxel_MarbleTrim3]
VoxelValue	= 21
SideTile	= 26
TopTile		= 26
BottomTile	= 26

[Voxel_DarkMarble]
VoxelValue	= 22
SideTile	= 27
TopTile		= 27
BottomTile	= 27

[Voxel_Stucco]
VoxelValue	= 23
SideTile	= 28
TopTile		= 28
BottomTile	= 28

[Voxel_StuccoTrim]
VoxelValue	= 24
SideTile	= 29
TopTile		= 29
BottomTile	= 29

[Voxel_Wallpaper]
VoxelValue	= 25
SideTile	= 30
TopTile		= 7
BottomTile	= 14

[Voxel_GreenTile]
VoxelValue	= 26
SideTile	= 31
TopTile		= 31
BottomTile	= 31

[Voxel_MarbleTrim4]
VoxelValue	= 27
SideTile	= 32
TopTile		= 8
BottomTile	= 8

[Voxel_MarbleTrim5]
VoxelValue	= 28
SideTile	= 33
TopTile		= 8
BottomTile	= 8

[Voxel_LibraryPainting1]
VoxelValue	= 29
SideTile	= 34
TopTile		= 28
BottomTile	= 28

[Voxel_LibraryPainting2]
VoxelValue	= 30
SideTile	= 35
TopTile		= 28
BottomTile	= 28

[Voxel_LibraryClock]
VoxelValue	= 31
SideTile	= 36
TopTile		= 7
BottomTile	= 14

[Voxel_Shadowbox]
VoxelValue	= 32
SideTile	= 37
TopTile		= 7
BottomTile	= 14

[Voxel_LibraryCurtain]
VoxelValue	= 33
SideTile	= 38
TopTile		= 7
BottomTile	= 14

[Voxel_LibraryWindow]
VoxelValue	= 34
SideTile	= 39
TopTile		= 7
BottomTile	= 14

[Voxel_LightMarble]
VoxelValue	= 35
SideTile	= 8
TopTile		= 8
BottomTile	= 8

[Voxel_FaceFountain]
VoxelValue	= 36
SideTile	= 40
TopTile		= 41
BottomTile	= 41

[Voxel_Planter]
VoxelValue	= 37
SideTile	= 27
TopTile		= 42
BottomTile	= 27

[Voxel_Mirror]
VoxelValue	= 38
SideTile	= 46
TopTile		= 7
BottomTile	= 14

# ******************************** MoM world ********************************

[Voxel_Unbreakable_MoM]
VoxelValue	= 129
SideTile	= 62
TopTile		= 62
BottomTile	= 62

[Voxel_MoM_IceBlock_1]
VoxelValue	= 1
SideTile	= 0
TopTile		= 0
BottomTile	= 0

[Voxel_MoM_IceBlock_2]
VoxelValue	= 2
SideTile	= 1
TopTile		= 1
BottomTile	= 1

[Voxel_MoM_Snow_1]
VoxelValue	= 3
SideTile	= 4
TopTile		= 2
BottomTile	= 2

[Voxel_MoM_Snow_2]
VoxelValue	= 4
SideTile	= 5
TopTile		= 3
BottomTile	= 3

[Voxel_MoM_SnowyIce_1]
VoxelValue	= 5
SideTile	= 6
TopTile		= 2
BottomTile	= 0

[Voxel_MoM_SnowyIce_2]
VoxelValue	= 6
SideTile	= 7
TopTile		= 3
BottomTile	= 1

[Voxel_MoM_BlackRock_1]
VoxelValue	= 7
SideTile	= 8
TopTile		= 8
BottomTile	= 8

[Voxel_MoM_BlackRock_2]
VoxelValue	= 8
SideTile	= 9
TopTile		= 9
BottomTile	= 9

[Voxel_MoM_BlackRock_3]
VoxelValue	= 9
SideTile	= 10
TopTile		= 10
BottomTile	= 10

[Voxel_MoM_BlackRockSnow_1]
VoxelValue	= 47
SideTile	= 56
TopTile		= 2
BottomTile	= 8

[Voxel_MoM_BlackRockSnow_2]
VoxelValue	= 48
SideTile	= 57
TopTile		= 3
BottomTile	= 9

[Voxel_MoM_BlackRockSnow_3]
VoxelValue	= 49
SideTile	= 58
TopTile		= 2
BottomTile	= 10

[Voxel_MoM_SnowyRock_1]
VoxelValue	= 10
SideTile	= 9
TopTile		= 11
BottomTile	= 9

[Voxel_MoM_SnowyRock_2]
VoxelValue	= 11
SideTile	= 10
TopTile		= 12
BottomTile	= 10

[Voxel_MoM_Tent_1]
VoxelValue	= 12
SideTile	= 13
TopTile		= 13
BottomTile	= 13

[Voxel_MoM_Tent_2]
VoxelValue	= 13
SideTile	= 14
TopTile		= 14
BottomTile	= 14

[Voxel_MoM_Tent_3]
VoxelValue	= 14
SideTile	= 15
TopTile		= 15
BottomTile	= 15

[Voxel_MoM_ObsTile_1]
VoxelValue	= 15
SideTile	= 16
TopTile		= 22
BottomTile	= 22

[Voxel_MoM_ObsTile_2]
VoxelValue	= 16
SideTile	= 17
TopTile		= 22
BottomTile	= 23

[Voxel_MoM_ObsTile_3]
VoxelValue	= 17
SideTile	= 18
TopTile		= 23
BottomTile	= 22

[Voxel_MoM_ObsColumn_1]
VoxelValue	= 18
SideTile	= 20
TopTile		= 22
BottomTile	= 22

[Voxel_MoM_ObsColumn_2]
VoxelValue	= 19
SideTile	= 21
TopTile		= 22
BottomTile	= 23

[Voxel_MoM_ObsTrim_1]
VoxelValue	= 20
SideTile	= 19
TopTile		= 22
BottomTile	= 22

[Voxel_MoM_ObsTrim_2]
VoxelValue	= 21
SideTile	= 24
TopTile		= 22
BottomTile	= 22

[Voxel_MoM_ObsTrim_3]
VoxelValue	= 22
SideTile	= 27
TopTile		= 22
BottomTile	= 22

[Voxel_MoM_ObsSign]
VoxelValue	= 23
SideTile	= 25
TopTile		= 22
BottomTile	= 22

[Voxel_MoM_ObsBank]
VoxelValue	= 24
SideTile	= 26
TopTile		= 22
BottomTile	= 22

[Voxel_MoM_ObsSnowy_1]
VoxelValue	= 25
SideTile	= 28
TopTile		= 2
BottomTile	= 22

[Voxel_MoM_ObsSnowy_2]
VoxelValue	= 26
SideTile	= 29
TopTile		= 3
BottomTile	= 23

[Voxel_MoM_ObsSnowy_3]
VoxelValue	= 27
SideTile	= 16
TopTile		= 30
BottomTile	= 22

[Voxel_MoM_ObsSnowy_4]
VoxelValue	= 28
SideTile	= 17
TopTile		= 31
BottomTile	= 23

[Voxel_MoM_ObsMonolith_1]
VoxelValue	= 29
SideTile	= 22
TopTile		= 22
BottomTile	= 22

[Voxel_MoM_ObsMonolith_2]
VoxelValue	= 30
SideTile	= 23
TopTile		= 23
BottomTile	= 23

[Voxel_MoM_CaveFloor_1]
VoxelValue	= 31
SideTile	= 32
TopTile		= 33
BottomTile	= 34

[Voxel_MoM_CaveFloor_2]
VoxelValue	= 32
SideTile	= 32
TopTile		= 41
BottomTile	= 42

[Voxel_MoM_CaveWall_1]
VoxelValue	= 33
SideTile	= 35
TopTile		= 34
BottomTile	= 34

[Voxel_MoM_CaveWall_2]
VoxelValue	= 34
SideTile	= 36
TopTile		= 34
BottomTile	= 34

[Voxel_MoM_CaveWall_3]
VoxelValue	= 35
SideTile	= 43
TopTile		= 42
BottomTile	= 42

[Voxel_MoM_CaveWall_4]
VoxelValue	= 36
SideTile	= 44
TopTile		= 42
BottomTile	= 42

[Voxel_MoM_CaveYellow]
VoxelValue	= 37
SideTile	= 37
TopTile		= 38
BottomTile	= 39

[Voxel_MoM_CaveIceBlock_1]
VoxelValue	= 38
SideTile	= 45
TopTile		= 45
BottomTile	= 45

[Voxel_MoM_CaveIceBlock_2]
VoxelValue	= 39
SideTile	= 46
TopTile		= 46
BottomTile	= 46

[Voxel_MoM_Crystal_1]
VoxelValue	= 40
SideTile	= 47
TopTile		= 55
BottomTile	= 55

[Voxel_MoM_Crystal_2]
VoxelValue	= 41
SideTile	= 54
TopTile		= 55
BottomTile	= 55

[Voxel_MoM_MushroomStalk_1]
VoxelValue	= 42
SideTile	= 48
TopTile		= 40
BottomTile	= 40

[Voxel_MoM_MushroomStalk_2]
VoxelValue	= 43
SideTile	= 49
TopTile		= 40
BottomTile	= 40

[Voxel_MoM_MushroomCap_1]
VoxelValue	= 44
SideTile	= 50
TopTile		= 50
BottomTile	= 50

[Voxel_MoM_MushroomCap_2]
VoxelValue	= 45
SideTile	= 51
TopTile		= 51
BottomTile	= 51

[Voxel_MoM_Fungus]
VoxelValue	= 46
SideTile	= 52
TopTile		= 53
BottomTile	= 53

[Voxel_MoM_Exit_Well]
VoxelValue	= 130
SideTile	= 59
TopTile		= 60
BottomTile	= 61

# ******************************** Ambient/global light defs ********************************

# TODO: Instead of min/max, define in terms of base (with no suffix) and range.
# Then, define lo in terms of the delta from (rolled) high.

# HSV values outside the range of 1.0 aren't guaranteed to work.
# It depends (as far as I can tell) on the difference between the
# max and min RGB components being no greater than 1.0.
[Light_Default]
HiColorH	= 1.11	# > 1 so it interpolates properly to lo color
HiColorS	= 0.25
HiColorV	= 1.2
LoColorH	= 0.67
LoColorS	= 0.4
LoColorV	= 0.5
AOColorV	= 0.2

[Light_Dim]
HiColorH	= 0.667
HiColorS	= 0.5
HiColorV	= 0.4
LoColorH	= 0.667
LoColorS	= 0.47
LoColorV	= 0.1
AOColorV	= 0.02

[Light_LessDim]
HiColorH	= 0.667
HiColorS	= 0.5
HiColorV	= 0.6
LoColorH	= 0.667
LoColorS	= 0.47
LoColorV	= 0.15
AOColorV	= 0.03

[Light_Library]
HiColorH			= 0.05
HiColorHRange		= 0.1
HiColorS			= 0.4
HiColorSRange		= 0.3
HiColorV			= 0.4
HiColorVRange		= 0.1
LoColorH			= -0.2
LoColorS			= 0.1
LoColorV			= 0.1
AOColorV			= 0.05
AOColorVRange		= 0.05

[Light_Water]
HiColorH			= 0.45
HiColorHRange		= 0.3
HiColorS			= 0.4
HiColorSRange		= 0.2
HiColorV			= 0.35
HiColorVRange		= 0.25
LoColorDeltaH		= -0.15
LoColorDeltaHRange	= 0.3
LoColorDeltaS		= -0.1
LoColorDeltaSRange	= 0.0
LoColorDeltaV		= -0.25
LoColorDeltaVRange	= 0.05
AOColorV			= 0.02
AOColorVRange		= 0.02

[Light_Sand]
HiColorH			= -0.05
HiColorHRange		= 0.15
HiColorS			= 0.2
HiColorSRange		= 0.6
HiColorV			= 0.5
HiColorVRange		= 0.2
LoColorH			= -0.35
LoColorDeltaS		= 0.0
LoColorDeltaSRange	= 0.0
LoColorV			= 0.1
MidColorAlphaXH		= 0.1		# Bias interpolation toward hi color hue
MidColorAlphaYH		= 0.2		# Bias interpolation toward hi color hue
AOColorV			= 0.02
AOColorVRange		= 0.02

[Light_Swamp]
HiColorH			= 0.15
HiColorHRange		= 0.3
HiColorS			= 0.3
HiColorSRange		= 0.3
HiColorV			= 0.35
HiColorVRange		= 0.25
LoColorDeltaH		= 0.15
LoColorDeltaHRange	= 0.0
LoColorDeltaS		= -0.2
LoColorDeltaSRange	= 0.1
LoColorDeltaV		= -0.25
LoColorDeltaVRange	= 0.05
AOColorV			= 0.04
AOColorVRange		= 0.04

[Light_Endgame]
HiColorH			= -0.15
HiColorHRange		= 0.2
HiColorS			= 0.0
HiColorSRange		= 0.2
HiColorV			= 0.5
HiColorVRange		= 0.5
LoColorDeltaH		= -0.4
LoColorDeltaHRange	= 0.2
LoColorDeltaS		= 0.0
LoColorDeltaSRange	= 0.3
LoColorDeltaV		= -0.45
LoColorDeltaVRange	= 0.15
AOColorV			= 0.04
AOColorVRange		= 0.04

[Light_Subspace]
HiColorH			= 0.0
HiColorS			= 0.0
HiColorV			= 1.0
LoColorH			= 0.0
LoColorS			= 0.0
LoColorV			= 0.25
MidColorAlphaXH		= 0.1666	# Bias interpolation toward hi color value
MidColorAlphaYH		= 0.3333	# Bias interpolation toward hi color value
AOColorV			= 0.0

[Light_MoM_Snow]
HiColorH			= 0.6
HiColorHRange		= 0.0
HiColorS			= 0.0
HiColorSRange		= 0.2
HiColorV			= 0.75
HiColorVRange		= 0.25
LoColorDeltaH		= 0.0
LoColorDeltaHRange	= 0.0
LoColorDeltaS		= 0.6
LoColorDeltaSRange	= 0.2
LoColorDeltaV		= -0.65
LoColorDeltaVRange	= 0.0
AOColorV			= 0.05
AOColorVRange		= 0.05

[Light_MoM_City]
HiColorH			= 0.0
HiColorHRange		= 0.0
HiColorS			= 0.0
HiColorSRange		= 0.0
HiColorV			= 1.0
HiColorVRange		= 0.0
LoColorDeltaH		= 0.0
LoColorDeltaHRange	= 0.0
LoColorDeltaS		= 0.0
LoColorDeltaSRange	= 0.0
LoColorDeltaV		= -0.75
LoColorDeltaVRange	= 0.00
AOColorV			= 0.02
AOColorVRange		= 0.02

[Light_MoM_Caves]
HiColorH			= 0.2
HiColorHRange		= 0.1
HiColorS			= 0.5
HiColorSRange		= 0.5
HiColorV			= 0.3
HiColorVRange		= 0.2
LoColorDeltaH		= 0.0
LoColorDeltaHRange	= 0.0
LoColorDeltaS		= 0.0
LoColorDeltaSRange	= 0.0
LoColorV			= 0.02
LoColorVRange		= 0.0
MidColorAlphaXV		= 0.25
MidColorAlphaYV		= 0.5
AOColorV			= 0.01
AOColorVRange		= 0.01

[Light_MoM_Boss]
HiColorH			= 0.65
HiColorHRange		= 0.1
HiColorS			= 0.8
HiColorSRange		= 0.2
HiColorV			= 0.1
HiColorVRange		= 0.2
LoColorDeltaH		= 0.35
LoColorDeltaHRange	= 0.0
LoColorDeltaS		= -0.5
LoColorDeltaSRange	= 0.5
LoColorDeltaV		= 0.7
LoColorDeltaVRange	= 0.0
MidColorAlphaXH		= 0.8		# Bias interpolation toward lo color hue
MidColorAlphaYH		= 0.9		# Bias interpolation toward lo color hue
AOColorV			= 0.02
AOColorVRange		= 0.02

# Fully lit/hard AO colors
[Light_Fullbright]
HiColorH	= 0.0
HiColorS	= 0.0
HiColorV	= 1.0
LoColorH	= 0.0
LoColorS	= 0.0
LoColorV	= 1.0
AOColorV	= 0.0

# Half lit/hard AO, better for seeing dynamic lights
[Light_Halfbright]
HiColorH	= 0.0
HiColorS	= 0.0
HiColorV	= 0.5
LoColorH	= 0.0
LoColorS	= 0.0
LoColorV	= 0.5
AOColorV	= 0.0

# ******************************** Fog defs ********************************

[Fog_Default]
Near	= 5.0
Far		= 25.0
Texture	= "Textures/Post/fog-default_NODXT.tga"

[Fog_Library]
Near	= 5.0
Far		= 25.0
Texture	= "Textures/Post/fog-library_NODXT.tga"

[Fog_Water]
Near	= 5.0
Far		= 20.0
Texture	= "Textures/Post/fog-water_NODXT.tga"

[Fog_Water_Final]
Near	= 0.0
Far		= 15.0
Texture	= "Textures/Post/fog-water_NODXT.tga"

[Fog_Sand]
Near	= 5.0
Far		= 20.0
Texture	= "Textures/Post/fog-sand_NODXT.tga"

[Fog_Sand_Final]
Near	= 0.0
Far		= 20.0
Texture	= "Textures/Post/fog-sand_NODXT.tga"

[Fog_Swamp]
Near	= 0.0
Far		= 30.0
Texture	= "Textures/Post/fog-swamp_NODXT.tga"

[Fog_Swamp_Final]
Near	= 0.0
Far		= 20.0
Texture	= "Textures/Post/fog-swamp_NODXT.tga"

[Fog_Endgame]
Near	= 1.0
Far		= 25.0
Texture	= "Textures/Post/fog-endgame_NODXT.tga"

[Fog_Subspace]
Near	= 0.0
Far		= 15.0
Texture	= "Textures/Post/fog-subspace_NODXT.tga"

[Fog_MoM_Snow]
Near	= 0.0
Far		= 15.0
Texture	= "Textures/Post/fog-mom-snow_NODXT.tga"

[Fog_MoM_City]
Near	= 5.0
Far		= 20.0
Texture	= "Textures/Post/fog-mom-city_NODXT.tga"

[Fog_MoM_Caves]
Near	= 0.0
Far		= 20.0
Texture	= "Textures/Post/fog-mom-caves_NODXT.tga"

[Fog_MoM_Boss]
Near	= 0.0
Far		= 30.0
Texture	= "Textures/Post/fog-mom-boss_NODXT.tga"